<!--item-->
<div class="card card_color color-black pink">
    <div class="card__info">
        <div class="card__info__top">
            <span class="card__label">
                Факты об Иркутске
            </span>
            <span class="card__number">
                #{{ fact.number }}
            </span>
        </div>
        <div class="card__info__bottom">
            <div class="card__desc">
                {{ fact.content }}
            </div>
            <a href="#" class="card__button j-fact-button" data-url="{% url 'irkutsk360:next_fact' fact.number %}">
                Следующий факт
            </a>
        </div>
    </div>
</div>
<!--item close-->