{% extends "tourism/layout_lc.html" %}

{% load staticfiles media_utils str_utils thumbnail comments_tags pytils_dt tourism_tags %}

{% block title %}Электрички - онлайн табло | {{ block.super }}{% endblock %}

{% block content %}

    <section class="b-content-block b-tourism-schedule-block">
        <header class="g-title">
            <h1>Расписание движения электричек в Иркутске</h1>
            <div class="b-schedule-switcher">
                {% spaceless %}
                <span class="g-selected g-stroke g-bg-creamy">онлайн табло</span>
                {% comment %}
                <a href="?direction=east">на восток</a> <a href="?direction=west">на запад</a>
                <a href="{% url 'tourism:transport_etrains_tickets' %}">цена проезда</a>
                {% endcomment %}
                {% endspaceless %}
            </div>
        </header>

        <article>
            <iframe width="700" height="949" frameborder="0" style="overflow: hidden; border: 0; -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);" src="{{ request.scheme }}://rasp.yandex.ru/informers/station/2054001/?size=25&amp;color=7&amp;type=suburban"></iframe>
        </article>
    </section>
{% endblock content %}
