{% extends "tourism/layout_lc.html" %}

{% load staticfiles media_utils str_utils thumbnail comments_tags pytils_dt tourism_tags  %}

{% block title %}Поезда {% if direction == 'east' %}на восток{% else %}на запад{% endif %} | {{ block.super }}{% endblock %}


{% block content %}
<section class="b-content-block b-tourism-schedule-block">

    <header class="g-title">
        <h1>Расписание движения поездов в Иркутске</h1>

        <div class="b-schedule-switcher">
            {% spaceless %}
            <a href="{% url 'tourism:transport_trains' %}">онлайн табло</a>
            {% if direction == 'east' %}
                <span class="g-selected g-stroke g-bg-creamy">на восток</span><a href="?direction=west">на запад</a>
            {% else %}
                <a href="?direction=east">на восток</a><span class="g-selected g-stroke g-bg-creamy">на запад</span>
            {% endif %}
            {% endspaceless %}
        </div>
    </header>

    <article>
        <p class="g-color-gray">Время московское. Расписание движения по станции «Иркутск-Пассажирский». Перевозки осуществляет Восточно-Сибирская железная дорога. Справочное бюро вокзала «Иркутск-Пассажирский»: (3952) 39-47-47, 63-22-87. Сервис Центр (заказ и бронирование ж/д билетов): (3952) 63-65-01, 63-71-12.</p>
        {% if last_update %}<p class="g-color-gray">Дата последнего обновления: {{ last_update|ru_strftime:"%d %B %Y г." }}</p>{% endif %}

        <table class="b-table">
            <tbody>
                <tr class="thead">
                    <th>№</th>
                    <th>Вид</th>
                    <th>Прибытие</th>
                    <th>Отправление</th>
                    <th>Следует из</th>
                    <th>Следует в</th>
                    <th>Дни следования</th>
                </tr>
                {% for train in trains %}
                <tr class="{% cycle 'g-odd' 'g-even' %}">
                    <td>{{ train.number }}</td>
                    <td>{{ train.get_type_display }}</td>
                    <td>{% if train.arrival_time %}{{ train.arrival_time|time:"H:i" }}{% else %}–{% endif %}</td>
                    <td>{% if train.dispatch_time %}{{ train.dispatch_time|time:"H:i" }}{% else %}–{% endif %}</td>
                    <td>{{ train.dispatch }}</td>
                    <td>{{ train.arrival }}</td>
                    <td>{{ train.days }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>
{% endblock %}
