{% extends "admin/base_site.html" %}

{% load thumbnail i18n staticfiles media_utils admin_urls str_utils %}
{% load render_bundle from webpack_loader %}

{% block title %}Статистика рекламных позиций{% endblock %}

{% block extrahead %}
<script>
    var PLACE_REPORT_URL = '{% url 'admin_adv_places_json' %}';
</script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' app_label='adv' %}">Adv</a>
        &rsaquo; Статистика рекламных позиций
    </div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div id="app_container" class="module">
        <h1>Места размещения</h1>

        {% verbatim %}
            <div>
                Период: <date-picker v-on:input="onDateChange" v-model="dateRange" range></date-picker>
            </div>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Позиция</th>
                        <th>Показы видимые</th>
                        <th>Показы</th>
                    </tr>
                </thead>
                <tbody v-if="status == 'no'">
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </tbody>
                <tbody v-if="status == 'loading'">
                    <tr>
                        <td colspan="4">Загрузка...</td>
                    </tr>
                </tbody>
                <tbody v-if="status == 'loaded' && rows.length > 0">
                    <tr v-for="row in rows">
                        <td>{{ row.PlaceId }}</td>
                        <td :data-place-id="row.PlaceId">{{ row.PlaceTitle }}</td>
                        <td>{{ row.EventType2Count }}</td>
                        <td>{{ row.EventType1Count }}</td>
                    </tr>
                </tbody>
                <tbody v-if="status == 'loaded' && rows.length == 0">
                    <tr>
                        <td colspan="3">Нет данных для отображения</td>
                    </tr>
                </tbody>
            </table>
        {% endverbatim %}
    </div>
</div>

{% render_bundle 'adv_admin_stat' %}

{% endblock %}
