{% load adv_tags staticfiles media_utils news_tags str_utils comments_tags thumbnail pytils_dt adwords_tags experts_tags blogs_tags date_tags polls_tags utils_tags pytils_numeral %}

{% if category_slug == "crime" or category.slug == "crime" %}
    {% include 'news-less/base/banner/b-banner-200x200-crime.html' %}
{% else %}
    {% include 'news-less/base/banner/b-banner-200x200.html' %}
{% endif %}

{% if category_slug == "finance" %}
    {% currency_calculator %}
{% endif %}

<div class="j-transform-container j-transform-container-main-mobile_768 j-transform-container-main-desktop"></div>
{% include 'news-less/snippets/important_materials.html' with transform_target='main' %}

{# Адаптивный баннер перед блоком народных новостей #}
{% adaptive_banner mobile_id=559 template='adv/adaptive_banner_content.html' as adaptive_banner_320_3 %}
{% if adaptive_banner_320_3 %}
    <div class="b-banners-adaptive_320x320-container g-margin-bottom-20 g-mobile_320 g-mobile_480 g-mobile_768">
        <div class="b-banners-adaptive_320x320 g-height-auto">{{ adaptive_banner_320_3 }}</div>
    </div>
{% endif %}

{# Народные новости #}
{% news_flash 1 %}

{# Материалы #}
{% if sidebar_materials %}
    <section class="b-news-aside-article-list g-aside-block">
        <h3 class="g-hide">Материалы</h3>
        <ul>
            {% for entry in sidebar_materials %}
                <li class="g-indent">
                    {% material_card is_light=True entry metrika_goal='news_index_top5' is_wide=True %}
                </li>
                {% if forloop.counter == 2 %}
                    <li>
                        {% if category_slug == "crime" or category.slug == "crime" %}
                            {# Баннер 300х200 id=460 #}
                            {% include 'news-less/base/banner/b-banner-300x200-crime.html' %}
                        {% else %}
                            {# Баннер 300х200 id=459 #}
                            {% include 'news-less/base/banner/b-banner-300x200.html' %}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{% endif %}

{# Блоги #}
{% blog_sidebar_block limit=2 %}

<div class="g-aside-block g-bordered b-igrajdanin-aside-container">
    <a class="b-igrajdanin-aside-logo" href="https://igrajdanin.ru/"><img src="{% static 'news/img/igrajdanin.png' %}" srcset="{% static 'news/img/igrajdanin@2x.png' %} 2x" alt="Я гражданин"></a>
    <h4 class="b-igrajdanin-aside-text">
        Составьте свою карту главных городских проблем, обратите внимание властей и других горожан — вместе мы можем всё исправить.
    </h4>
    <div class="b-igrajdanin-aside-footer">
        <a href="https://www.irk.ru/igrajdanin/" class="b-igrajdanin-aside-button">Сообщить о проблеме</a>
    </div>
</div>

{# баннер 240х400 с рамкой #}
{% include 'news-less/base/banner/b-banner-240x400.html' %}
