{% load staticfiles media_utils %}

<script type="text/javascript" src="{% static 'js/lib/jquery.placeholder.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.j-widget-search-news').each(function () {
            var $that = $(this),
                $searchField = $('input[type="text"]', $that);

            $that.on('click', '.j-search-submit', function (e) {
                e.preventDefault();
                $that.submit();
            });

            $searchField.placeholder();
        });
    });
</script>

<div class="b-widget-search-news-wrapper">
    <div class="b-widget-search-news-form j-toggle-target-search {% if q %}{% if q != "" %}show{% endif %}{% endif %}" data-toggle-class="show">
        <form class="b-widget-search-news j-widget-search-news" action="{% url 'news:search' %}" method="GET">
            <span class="b-widget-search-news-button j-search-submit"></span>
            <input name="q" type="text" placeholder="Найти..." value="{{q}}">
        </form>
    </div>
    <a href="#" class="b-widget-search-news-toggle j-toggle-button j-toggle-target-search {% if q %}{% if q != "" %}opened{% endif %}{% endif %}" data-toggle-class="opened" data-toggle-target="search"></a>
</div>
