{% extends 'auth/layout.html' %}
{% load thumbnail staticfiles  %}

{% block title %}Редактирование профиля | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'fileupload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'fileupload/js/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'fileupload/js/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'auth/js/auth.js' %}"></script>
{% endblock %}

{% block b-content %}
    <form id="auth-profile-edit" class="b-auth-profile-edit g-after-clear" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if user_messages %}
            {% for message in user_messages %}
                <div class="b-content-block g-color-green">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <ul class="b-list-v g-indent-small">
            <li>
                <h1><a href="{{ user.profile.get_absolute_url }}">{{ user }}</a></h1>
                <label for="id_image">Аватар</label>
                <div class="image_loader">
                    {{ form.image }}
                    <label class="jsLink" for="id_image">изменить аватар</label>
                    <span class="g-color-gray">jpg, png, 100×100 px, не более 100кб</span>
                    <span class="g-color-red" id="id_image_error"></span>
                </div>

                <div id="progress">
                    <div class="progress-bar" style="width: 0%;"></div>
                </div>
            </li>
            <li>
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}<span class="g-color-red">{{ form.email.errors }}</span>{% endif %}
            </li>
            <li class="gender">
                {{ form.gender.label_tag }}
                {{ form.gender }}
            </li>
            <li class="g-last">
                {{ form.birthday.label_tag }}
                {{ form.birthday }}
            </li>
        </ul>
        <ul class="b-list-v g-second g-indent-small">
            {% comment %}
            <li>
                <h4>Мобильный телефон:</h4>
                {% if user.profile.is_personal %}
                    {% if user.profile.phone %}<span class="phone_number">{{ user.profile.phone }}</span><a href="{% url 'authentication.views.profile.phone.link' %}">Изменить</a>{% else %}<a href="{% url 'authentication.views.profile.phone.link' %}">Привязать телефон</a>{% endif %}
                {% else %}
                    <span class="phone_number">{{ user.profile.phone }}</span>
                {% endif %}
            </li>
            {% endcomment %}
            {% if user.has_usable_password %}
                <li>
                    <h4>Безопасность</h4>
                    <a href="{% url 'authentication:profile:password' %}">Изменить пароль моего аккаунта</a>
                    <br />
                    <a href="/conf/">Политика конфиденциальности</a>
                </li>
            {% endif %}
            <li>
                <h4>Подписка:</h4>
                <ul>
                    <li><label for="id_subscribe">{{ form.subscribe }}{{ form.subscribe.label }}</label></li>
                    <li><label for="id_comments_notify">{{ form.comments_notify }}{{ form.comments_notify.label }}</label></li>
                </ul>
            </li>
        </ul>
        <div class="footer g-clear">
            <input type="submit" value="Сохранить">
        </div>
    </form>

{% endblock %}
