{% load date_tags %}{% spaceless %}

<script type="text/javascript">
    $(document).ready(function(){
        var Calendar = $('#id_calendar');
        $('.b-calendar-close').on('click', function(){
            Calendar.animate({opacity: "hide"}, 100).empty();
            return false;
        });
        $('.b-calendar-month li a').on('click', function(){
            var data_date = $(this).attr('data-date');
            var data_highlight = $(this).attr('data-highlight');
            Calendar.children('article').animate({opacity: "hide"}, 100, function(){
                Calendar.empty();
                $.get('{% url 'news:calendar' %}', {
                    date: data_date,
                    highlight: data_highlight,
                    link: {{ highlight_link|yesno:'true,false' }}
                }, function(response) {
                    Calendar.append(response).find('article').animate({opacity: "show"}, 100);
                });
            });
            return false;
        });
    });
</script>
<article>
    <a href="#" class="b-calendar-close"></a>
    <a class="b-calendar-archive" href="{% block calendar-date %}{{ archive_url }}{% endblock %}">Архив новостей</a>
    <ul class="b-list-h b-calendar-month">
        {% spaceless %}
            {% if previous_month %}
                <li><a data-date="{{ previous_month|date:'Ymd' }}" data-highlight="{{ highlight|date:'Ymd' }}" href="{{ previous_month_url }}" title="{{ previous_month|ru_strftime_flat:'%B'|capfirst }}">{{ previous_month|ru_strftime_flat:'%B' }}</a></li>
            {% endif %}
            <li class="g-active">{{ month|ru_strftime_flat:'%B' }}</li>
            {% if next_month %}
                <li><a data-date="{{ next_month|date:'Ymd' }}" data-highlight="{{ highlight|date:'Ymd' }}" href="{{ next_month_url }}" title="{{ next_month|ru_strftime_flat:'%B'|capfirst }}">{{ next_month|ru_strftime_flat:'%B' }}</a></li>
            {% endif %}
        {% endspaceless %}
    </ul>

    <table class="t-calendar">
        <thead>
        <tr>
            <th>пн</th>
            <th>вт</th>
            <th>ср</th>
            <th>чт</th>
            <th>пт</th>
            <th>сб</th>
            <th>вс</th>
        </tr>
        </thead>
        <tbody>
        {% for week in weeks %}
            <tr>
                {% for day, is_exists, url in week %}
                    <td {% if day == highlight %}class="g-active"{% endif %}>
                        {% if is_exists %}
                            {% if day == highlight and not highlight_link %}
                                <span>{{ day.day }}</span>
                            {% else %}
                                <a href="{{ url }}">{{ day.day }}</a>
                            {% endif %}
                        {% else %}
                            <span>{{ day.day }}</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
{% endspaceless %}
