{% load news_tags %}
{% load randchoice from math_utils %}

<section class="b-widget-article-list g-content-block j-article-scrollDepth-end">
    <h3 class="g-title-noborder">{{ block.name }}</h3>
    <ul id="news-extra-materials" {% if request.user_agent.is_gadget %}class="g-centered-div"{% endif %}>
        {%  if wide == True %}
            {% randchoice 3 5 as random_banner_position %}
            {% for material in materials %}
                {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 4 %}
                    <li class="double">{% material_card material is_double=True metrika_goal='news_more_articles' audit_material=audit_material audit_goal=audit_goal %}</li>
                {% elif forloop.counter == random_banner_position %}
                    <li style="max-width:280px">

                        <!-- CLICKIO AdFox unit 666762 -->
                        <div id='adfox_16022455012554762'></div>
                        <script>
                            (function(w, n) {
                        w[n] = w[n] || [];
                        w[n].push([{
                                ownerId: 257193,
                                containerId: 'adfox_16022455012554762',
                                        params: {
                                    pp: 'wzz',
                                    ps: 'djmk',
                                    p2: 'gqpf'
                                }
                            }, [ 'desktop', 'tablet',], {
                                tabletWidth: 1024,
                                phoneWidth: 767,
                                isAutoReloads: false
                            }]);})(window, 'adfoxAsyncParamsAdaptive');
                        </script>

                    </li>
                {% else %}
                    <li>{% material_card material is_light=True metrika_goal='news_more_articles' audit_material=audit_material audit_goal=audit_goal %}</li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for material in materials %}
                {% if forloop.counter == 4 %}
                    <li class="double">{% material_card material is_double=True metrika_goal='news_more_articles' audit_material=audit_material audit_goal=audit_goal %}</li>
                {% else %}
                    <li>{% material_card material is_light=True is_wide=True metrika_goal='news_more_articles' audit_material=audit_material audit_goal=audit_goal %}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</section>
