{% load thumbnail staticfiles media_utils str_utils %}

<section class="b-aside-block b-news-aside-rubrics-block">
    <ul class="b-list-v b-rubrics-list">
        <li{% if is_index %} class="g-active"{% endif %}>
            {% if not is_index %}<a href="{{ index_url }}">{% endif %}
                <span><img src="{% static 'img/news-rubric-01.png' %}" alt="{% if type == 'news' %}Все новости{% else %}Все{% endif %}" style="width: 45px; height: 15px;"></span>
                {% if type == 'news' %}Все новости{% else %}Все{% endif %}
            {% if not is_index %}</a>{% endif %}
        </li>
        {% for category, is_current, is_clickable, url in objects %}
        <li{% if is_current %} class="g-active"{% endif %}>
            {% if is_clickable %}<a href="{{ url }}">{% endif %}
            <span>{% if category.image %}<img src="{{ category.image.url }}" style="width: {{ category.image.width }}px; height: {{ category.image.height }}px;">{% endif %}</span>
            {{ category.title|typograf:'title'|safe }}
            {% if is_clickable %}</a>{% endif %}
        </li>
        {% endfor %}
    </ul>
</section>
