{% load str_utils comments_tags thumbnail pytils_dt %}

{% if objects %}
<section class="b-widget-list-cite g-aside-block">
    <h3 class="g-hide"><a href="{% url 'news:flash:index' %}" class="g-title-link">Народные новости</a></h3>

    <ul>
        {% for object in objects %}
            <li class="b-widget-list-cite-item">
                <a href="{{ object.get_absolute_url }}" class="g-hover b-widget-list-cite-item-balloon g-block">
                    {% if object.video_thumbnail %}
                        {% thumbnail object.video_thumbnail 260x96 as thumb %}
                        <div class="b-widget-list-cite-item-preview-video icon-block icon-video">
                            <img src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                        </div>
                    {% elif object.gallery.main_gallery %}
                        <div class="b-widget-list-cite-item-preview-photo">
                            <ul>
                                {% for item in object.gallery.main_gallery|slice:':3' %}
                                    {% thumbnail item.image 86x64 crop as thumb %}
                                    <li><img src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px"></li>
                                {% endfor %}
                            </ul>
                            {% if object.gallery.main_gallery|length > 3 %}<span class="b-widget-material-label b-widget-article-photos">{{ object.gallery.main_gallery|length }} фото</span>{% endif %}
                        </div>
                    {% endif %}
                    <q class="g-clear-left">{{ object|truncatechars:150|typograf }}</q>
                </a>
                <a href="{% url 'news:flash:index' %}">народные новости</a>
                <time class="g-color-gray" datetime="{{ object.created|date:"Y-m-d H:i" }}">{{ object.created|ru_strftime:'%d %B %H:%M' }}</time>
                {% comments_cnt object new_layout=True %}
            </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
