{% extends "to_moder.html" %}

{% load site_utils pytils_numeral %}

{% block body_letter %}
	<h3>Народная новость</h3>
	<p>Добавлена через {{ instance.get_type_display|lower }}</p>
	{% if instance.is_tweet %}
		<p>Автор: <a href="http://twitter.com/{{ instance.username }}">{{ instance.username }}</a></p>
		<p>Текст: {{ instance.content }}</p>
		<div><a href="https://{% get_site_url www %}/adm/news/flashblock/add/">Забанить</a></div>
	{% endif %}
	{% if instance.is_site %}
		<p>Автор: {{ instance.author }}</p>
		<div>Заголовок: {{ instance.title }}</div>
		<div>Содержание:<br>{{ instance.content|linebreaks|safe }}</div>
		<div><a href="https://{% get_site_url www %}/adm/profiles/profilebanneduser/add/">Забанить</a></div>
	{% endif %}
	{% if instance.is_sms %}
		<p>Номер: {{ instance.username }}</p>
		<div>Содержание:<br>{{ instance.content|linebreaks|safe }}</div>
		<div><a href="https://{% get_site_url www %}/adm/news/flashblock/add/">Забанить</a></div>
	{% endif %}
{% endblock %}