{% load str_utils afisha_tags %}
{% for category, events in schedule %}
    <div class="b-afisha-film-sked-hall"{% if by_hall %} data-hall="{{ category.id }}"{% endif %}>
        {% if by_hall %}<h3>{{ category }}</h3>{% endif %}
        <table class="cinema-table cinema-table_guide">
            <tbody>
            {% for event, sessions_info in events %}
                <tr class="cinema-table__tr cinema-table__mobile-block">
                    <th class="cinema-table__th cinema-table__mobile-block">
                        <a href="{{ event.get_absolute_url }}">{{ event|typograf|safe }}</a>
                    </th>
                    <td class="cinema-table__td">
                        {% with sessions_info.sessions as sessions %}
                            {% if sessions %}
                            <ul class="time-list">
                                {% for session in sessions %}
                                    <li class="time-list__item {% if session.is_3d %}j-3d{% else %}j-2d{% endif %}">
                                        {% include 'afisha/snippets/schedule_item_time.html' %}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                уточняется
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td class="cinema-table__td cinema-table__td_price">
                        {% afisha_min_price sessions_info.sessions %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
