{% load thumbnail staticfiles media_utils %}

{% if value %}
	{% thumbnail value.image 100x10000 as thumb %}
	<div class="image">
		<div class="b-thumb__preview__pic{% if thumb.height > 75 %} crop{% endif %}"><img alt="{{ value.title }}" title="{{ value.title }}" src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}" /></div>
		<p>{{ value.image.width }}x{{ value.image.height }} пикс.</p>
	</div>
{% endif %}
{{ fields.0 }}
{{ fields.1 }}
<div class="pic-title inline-block">
{{ fields.2 }}
</div>
