{% load str_utils comments_tags pytils_dt %}

{% for object in object_list %}
    <li class="b-podcast-list-item">
        <div class="b-podcast-list-item-frame">
            <iframe class="j-irk-lazy-src" width="100%" height="167" scrolling="no" frameborder="no" data-src="{{ object.link }}"></iframe>
        </div>
        <div class="b-podcast-list-item-info g-relative">
            <a class="g-all-block-link" href="{{ object.get_absolute_url }}"></a>
            <div class="b-podcast-list-item-info-counter">№{{ object.number }}</div>
            <div class="b-podcast-list-item-info-caption">{{ object.title|typograf }}</div>
            <div class="b-podcast-list-item-info-footer">
                <span>{{ object.stamp|ru_strftime:'%d %B %Y г.' }} ·</span>
                {% comments_cnt object new_layout=True %}
            </div>
        </div>
    </li>
{% endfor %}
