{% load staticfiles media_utils pytils_numeral str_utils %}

<script>
    window.FileAPI = {
          debug: false // debug mode
        , staticPath: "{% static 'js/lib/FileAPI/' %}" // path to *.swf
    };
</script>
<script src="{% static 'js/lib/FileAPI/FileAPI.js' %}"></script>
<script src="{% static 'js/lib/FileAPI/FileAPI.exif.js' %}"></script>
<script src="{% static 'js/lib/jquery.fileapi.js' %}"></script>

<div class="b-upload-lastsession">
    {% for form in formset|slice:"0:" %}
        {% if form.instance.pk %}
        <div id="file_{{ forloop.counter0 }}" class="js-file-tpl b-thumb{% if form.instance.main %} main{% endif %}" data-id="<%=uid%>">
{#            <label class="b-thumb__reload" for="id_gallerypicture_set-{{ forloop.counter0 }}-picture_0"></label>#}
            {{ form.picture }}
            <div class="b-thumb__name"></div>
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
                {% if form.instance.pk %}
                <div class="gallery-bb-input">
                    <input type="text" value="[image {{ form.instance.pk }}]">
                </div>
                {% endif %}
            <div data-counter="{{ forloop.counter0 }}" class="thumb__main j-thumb__main" title="Главная">главная</div>
            <div data-counter="{{ forloop.counter0 }}" class="thumb__del j-thumb__del" title="Удалить">удалить</div>
            {% if form.errors %}
                <div class="pic-error"><span class="g-color-red">Вы забыли загрузить фотографию</span></div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="b-upload b-upload_dnd" id="multiupload">
    {{ formset.management_form }}
    <div class="js-files b-upload__files">
        <div class="js-file-tpl b-thumb" data-id="<%=uid%>">
            <div class="image">
                <div class="b-thumb__preview__pic"></div>
                <div data-fileapi="file.rotate.cw" class="b-thumb__rotate"></div>
            </div>
            <div data-fileapi="file.remove" class="b-thumb__del" title="Удалить">удалить</div>
            <div class="b-thumb__progress progress progress-small"><div class="bar"></div></div>
            <div class="b-thumb__name"></div>
        </div>
    </div>
    <div class="b-upload__hint">jpg, jpeg, png, gif, bmp; не более 5 мб.</div>
{#    <div class="b-upload__dnd">Перетащите сюда файлы, для их загрузки.</div>#}
    <div class="btn btn-add js-fileapi-wrapper">
        <span>Добавить</span>
        <input type="file" name="Filedata">
    </div>
    <div class="js-upload btn btn-success btn-small">
        <span>Загрузить</span>
    </div>
    <ul class="b-list-v errorlist j-upload-errorlist">
    </ul>
</div>
<script type="text/javascript">
    jQuery(function ($){
        var $body = $('body'),
            lastSessionBox = $('.b-upload-lastsession'),
            uploadBox = $('.b-upload__files'),
            initialForms = $('#id_gallerypicture_set-INITIAL_FORMS'),
            newImagePosition = 0, // счетчик количества фотографий только новых фотографий в uploadBox
            errorList = $('.j-upload-errorlist');

        // общее количество старых и новых боксов с фотографиями
        window.irk.vars.galleryImageLength = lastSessionBox.find('.js-file-tpl').length + uploadBox.find('.js-file-tpl').length - 1;

        var uploadShowErrorlist = function(error) {
            errorList.append('<li>'+error+'</li>');
        }
        initialForms.val(window.irk.vars.galleryImageLength);
        $('#multiupload').fileapi({
            url: '{% url 'gallery:multiupload_handler' %}',
            multiple: true,
            autoUpload: true,
            maxSize: FileAPI.MB*5,
            maxFiles: 48,
            imageSize: {
                maxWidth: 8192,
                maxHeight: 4320
            },
            data:{{ upload_data|json }},
            elements: {
                ctrl: { upload: '.js-upload' },
                empty: { show: '.b-upload__hint' },
                emptyQueue: { hide: '.js-upload' },
                list: '.js-files',
                file: {
                    tpl: '.js-file-tpl',
                    preview: {
                        el: '.image',
                        width: 100,
                        height: 100
                    },
                    upload: { show: '.progress', hide: '.b-thumb__rotate' },
                    complete: { hide: '.progress' },
                    progress: '.progress .bar'
                }
                {% comment %} drag and drop
                dnd: {
                    el: '.b-upload__dnd',
                    hover: 'b-upload__dnd_hover',
                    fallback: '.b-upload__dnd-not-supported'
                }
                {% endcomment %}
            },
            onSelect: function(evt, data) {
                errorList.html('');
                if( data.other.length ){
                    var errors = data.other[0].errors;
                    if (typeof (errors.maxSize) != "undefined") {
                        uploadShowErrorlist('Файл должен быть не более 5 мб.');
                    }
                    if (typeof (errors.minHeight) != "undefined" || typeof (errors.minWidth)) {
                        uploadShowErrorlist('Размер изображения не должен превышать 8192x4320 пикселей');
                    }
                    if (typeof (errors.maxFiles) != "undefined") {
                        uploadShowErrorlist('Можно загрузить не более 48 фотографий');
                    }
                }
            },
            onFileComplete: function(err, upload) {
                var input1 = '<input class="main_input" id="id_gallerypicture_set-'+window.irk.vars.galleryImageLength+'-main" name="gallerypicture_set-'+window.irk.vars.galleryImageLength+'-main" type="hidden" value="false">',
                    input2 = '<input id="id_gallerypicture_set-'+window.irk.vars.galleryImageLength+'-id" name="gallerypicture_set-'+window.irk.vars.galleryImageLength+'-id" type="hidden" value="'+upload.result.gallerypicture+'">',
                    input3 = '<input class="delete_input" id="id_gallerypicture_set-'+window.irk.vars.galleryImageLength+'-DELETE" name="gallerypicture_set-'+window.irk.vars.galleryImageLength+'-DELETE" type="hidden">',
                    input4 = '<input data-has-value="0" id="id_gallerypicture_set-'+window.irk.vars.galleryImageLength+'-picture_1" name="gallerypicture_set-'+window.irk.vars.galleryImageLength+'-picture_1" type="hidden" value="'+upload.result.picture+'">',
                    input5 = '<input data-has-value="0" id="id_gallerypicture_set-'+window.irk.vars.galleryImageLength+'-picture_2" name="gallerypicture_set-'+window.irk.vars.galleryImageLength+'-picture_2" type="text">',
                    input6 = '<div class="gallery-bb-input"><input type="text" value="[image '+upload.result.gallerypicture+']"></div>',
                    input7 = '<input id="id_gallerypicture_set-'+window.irk.vars.galleryImageLength+'-gallery" name="gallerypicture_set-'+window.irk.vars.galleryImageLength+'-gallery" type="hidden" value="'+upload.result.gallery+'">',
                    deleteButton = '<div data-counter="'+window.irk.vars.galleryImageLength+'" class="thumb__del j-thumb__del j-thumb-uploadBox" title="Удалить">удалить</div>',
                    mainButton = '<div data-counter="'+window.irk.vars.galleryImageLength+'" class="thumb__main j-thumb__main j-thumb-uploadBox" title="Главная">главная</div>';
                uploadBox.find('.js-file-tpl').eq(newImagePosition).attr('id', "file_"+window.irk.vars.galleryImageLength).append(input7, input5, input6, input4, input3, input2, input1, mainButton, deleteButton);
                window.irk.vars.galleryImageLength = window.irk.vars.galleryImageLength + 1;
                newImagePosition = newImagePosition + 1;
                initialForms.val(window.irk.vars.galleryImageLength);
            }
        });
        $body.on('click', '.j-thumb__del', function() {
            var $this = $(this),
                id = parseInt($this.attr('data-counter'), 10),
                image_id = $('#id_gallerypicture_set-'+id+'-picture_1').val();
            $.ajax({
                url: "{% url 'gallery:delete_image' %}",
                data: {'id': image_id},
                dataType: 'json',
                type: "POST",
                success: function(data, textStatus, jqXHR){
                    if (textStatus === "success") {
                        if ($this.hasClass('j-thumb-uploadBox')) {
                            newImagePosition = newImagePosition - 1;
                            $('#file_'+id).find('.b-thumb__del').click();
                        } else {
                            $('#file_'+id).remove();
                        }
                        window.irk.vars.galleryImageLength = window.irk.vars.galleryImageLength - 1; // обновляем счетчик картинок
                        // находим порядковый номер последней картинки и меняем все её инпуты и параметры на тот, что был удалён
                        if (id !== window.irk.vars.galleryImageLength) { // если удаленная картинка последняя в списке, то удаляем без лишних манипуляций
                            var item = $('#file_'+window.irk.vars.galleryImageLength);
                            item.attr('id', 'file_'+id)
                                .find('input')
                                .each(function(){
                                    var self = $(this),
                                        name = self.attr('name');
                                        if (name !== undefined) { // если поле без названия, то манипуляций с ним не требуется
                                            name = name.split('-');
                                            name = name[0]+'-'+id+'-'+name[2];
                                            self.attr('id', 'id_'+name)
                                                .attr('name', name);
                                        }
                                });
                            item.find('.j-thumb__main, .j-thumb__del')
                                .attr('data-counter', id);
                        }
                        initialForms.val(window.irk.vars.galleryImageLength);
                    }
                }
            });
            return false;
        });

        $body.on('click', '.j-thumb__main', function() {
            var $this = $(this),
                id = parseInt($this.attr('data-counter'), 10),
                image_id = $('#id_gallerypicture_set-'+id+'-picture_1').val();
            $.ajax({
                url: "{% url 'gallery:main_image' %}",
                data: {'id': image_id},
                success: function(data, textStatus, jqXHR){
                    $('input.main_input').removeAttr('value');
                    $('#id_gallerypicture_set-'+id+'-main').val(1);
                    $('.js-file-tpl').removeClass('main');
                    $('#file_'+id).addClass('main');
                }
            });
            return false;
        });
    });
</script>