{% extends 'experts/layout_cr.html' %}

{% load thumbnail site_utils str_utils pytils_dt staticfiles media_utils paginator_utils experts_tags news_tags %}

{% block title %}Архив | {{ category.title|typograf|safe }} | {{ block.super }}{% endblock %}

{% block b-content-cr %}
    <section class="b-content-block">
        <ul class="b-list-h b-expert-list-h">
            <li>
                <div class="column">
                    <h3 class="g-title">Конференции</h3>
                    <ul class="b-list-v">
                        {% for conference in objects|slice:'::2' %}
                            {% if forloop.first %}
                                <li>
                                    {% expert_big_block conference %}
                                </li>
                            {% else %}
                                <li>
                                    {% if forloop.counter <= 3 %}
                                        {% expert_small_block conference show_image=1 %}
                                    {% else %}
                                        {% expert_small_block conference %}
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <div class="column">
                    <h3 class="g-title">Консультации</h3>
                    <ul class="b-list-v">
                        {% for conference in objects|slice:'1::2' %}
                            {% if forloop.first %}
                                <li>
                                    {% expert_big_block conference %}
                                </li>
                            {% else %}
                                <li>
                                    {% if forloop.counter <= 3 %}
                                        {% expert_small_block conference show_image=1 %}
                                    {% else %}
                                        {% expert_small_block conference %}
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        <footer>
            {% paginator objects limit template='paginator/layout.html' name='организаций' %}
        </footer>
    </section>

{% endblock %}
