{% extends 'experts/layout_cr.html' %}

{% load staticfiles thumbnail site_utils str_utils pytils_dt media_utils paginator_utils experts_tags adv_tags news_tags %}

{% block style %}
    {{ block.super }}
{% endblock style %}

{% block title %}{{ block.super }}{% endblock %}

{% block b-content-cr %}

<div class="search_result simple-list b-content-block">

    <h1>Результаты поиска</h1>

    {% include 'experts/base/search.html' %}

    {% if objects.object_list %}

    <ol start="{{ start }}" style="margin:20px 0 0;">
    {% for entry in objects.object_list %}
        <li>
		    {% if entry.image %}
		        {% thumbnail entry.image 100x10000 as thumb %}
                <a href="{{ entry.get_absolute_url }}"><img align="left" src="{{ thumb }}" style="width:100px;height:{{ thumb.height }}px; margin:0 10px 0 0;" alt="{{ entry.title|typograf:"title"|safe }}" /></a>
            {% endif %}

            <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title|typograf|safe }}</a></h3>
            <article>
                <p><i>{{ entry.specialist|typograf|safe }}</i></p>
                {{ entry.caption|typograf:'admin'|safe }}
                <small class="g-color-gray">http://{% get_site_url www %}{{ entry.get_absolute_url }}</small>
            </article>
        </li>
    {% endfor %}
    </ol>
    {% paginator objects q name='конференций' %}

	{% else %}
        <p>Извините, по Вашему запросу ничего не найдено.</p>
    {% endif %}
</div>

{% endblock %}
