{% extends 'magazine/layout.html' %}

{% load staticfiles media_utils thumbnail cache_tags %}

{% block adblock-message %}{% endblock %}

{% block style_adaptive %}
    {{ block.super }}
    {% less '/less/compile/adaptive/apps/testing.less' media='all' %}
{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'test.instance.meta' vary='test.id,social_card' tags='test' %}{% spaceless %}
        {% if social_card %}
            {% include 'share_meta.html' with url=social_card.url title=test.title description=test.content media_image=social_card %}
        {% else %}
            {% include 'share_meta.html' with url=test.get_absolute_url title=test.title description=test.content object=test %}
        {% endif %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'testing/js/testing.js' %}"></script>
    <script type="text/javascript">
        irk.apps.testing.url = {
            start: '{% url 'testing:test_start' %}',
            next: '{% url 'testing:test_question' %}',
            answer: '{% url 'testing:test_send_answer' %}',
            result: '{% url 'testing:test_result' %}',
            restart: '{% url 'testing:test_restart' %}'
        };
    </script>
    <script type="text/javascript"> irk.apps.testing.id = {{ test.id }};</script>
{% endblock %}

{% block promo_A %}
    {% if test.branding %}
        {% thumbnail test.branding 1920x1080 as thumb %}
        <div class="b-testing-background j-testing-background">
            <img class="g-block image" src="{{ thumb }}" alt="">
        </div>
    {% endif %}
{% endblock %}

{% block body-add-class %}{% if test.branding %}b-testing-background-body{% else %}light-gray{% endif %}{% endblock body-add-class %}

{% block container %}
    {% include 'testing/snippets/read_base.html' %}
{% endblock %}
