{% extends 'irkutsk360/index.html' %}
{% load static staticfiles media_utils str_utils thumbnail paginator_utils irkutsk360_tags date_tags comments_tags gallery_tags %}

{% block bg_header %}gallery{% endblock %}

{% block active_link %}gallery{% endblock %}

{% block content_page %}
<div class="anniversary__inner">
    <div class="gallery" id="gallery-list" data-page="2">
        {% include 'irkutsk360/gallery_list.html' %}
    </div>
    <div class="anniversary__buttons">
        <div class="g-loading-button">
            <span class="g-loading-button__more g-height-60 g-line-height-60 g-font-bold j-showmore" data-type="json" data-target="gallery-list">
                <span>Показать еще</span>
            </span>
        </div>
    </div>
</div>
{% endblock %}