{% spaceless %}
    {% if comment.is_visible %}
        <a class="list-comments__footer-link j-comment-delete" href="{% url 'comments:delete' comment.pk %}" data-id="{{ comment.pk }}" data-url="{% url 'comments:restore' comment.pk %}">удалить</a>
    {% else %}
        <a class="list-comments__footer-link j-comment-restore" href="{% url 'comments:restore' comment.pk %}" data-id="{{ comment.pk }}" data-url="{% url 'comments:delete' comment.pk %}">восстановить</a>
    {% endif %}
    {% if has_history %}
        &nbsp;<a class="list-comments__footer-link j-comment-history" href="{% url 'comments:history' comment.pk %}">история</a>
    {% endif %}
{% endspaceless %}
