{% load pytils_numeral site_utils %}

{% if user.pk %}
    {% spaceless %}
        {% comment %}
        <span class="i-forum-author">
            <a href="{{ user.profile.get_absolute_url }}"
               class="b-user_menu user{% if user.profile.is_banned %} banned{% endif %} jsLink">{{ user }}
            </a>
        </span>
        {% endcomment %}
        <a href="{{ user.profile.get_absolute_url }}" class="b-user_menu {% if user.profile.is_banned %}banned{% endif %} list-comments__username j-comment-user" data-id="{{ comment.pk }} jsLink">
            <span>{{ user }}</span>
        </a>
        <div class="b-user-menu-container" data-user="{{ user.pk }}">
            <div class="b-user_menu_block j-user_menu_block b-user-menu-block-{{ user.pk }}">
                <div><a href="#" class="b-user_menu_close mnem_bad jsLink"></a></div>
                <ul class="b-list-v j-user_menu_block-options">
                    <li class="j-user-menu-list {% if not user.profile.is_banned %}g-hide{% endif %}">
                        <a class="unban-action" href="{% url 'profiles:ban' user.pk %}"
                           data-action="unban"
{#                           data-next="{{ next|urlencode }}"#}
                           >
                            Разблокировать
                        </a>
                    </li>
                    {% for period in periods %}
                        <li class="j-user-menu-list {% if user.profile.is_banned %}g-hide{% endif %}">
                            <a class="ban-action"
                               href="{% url 'profiles:ban' user.pk %}"
                               data-action="ban"
                               data-period="{{ period }}"
                               data-username="{{ user.get_full_name }}"
                               data-comment="{{ comment.pk }}"
{#                                   data-next="{{ next|urlencode }}"#}
                               >
                                {% if period %}
                                    Забанить на {{ period|get_plural:"день,дня,дней" }}
                                {% else %}
                                    Забанить навсегда
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="j-user-menu-list {% if user.profile.is_banned %}g-hide{% endif %}">
                        <a class="ban-action" href="{% url 'profiles:ban' user.pk %}" data-action="spam"
                           data-username="{{ user.get_full_name }}"
{#                           data-next="{{ next|urlencode }}"#}
                           >
                            Забанить за спам
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'profiles:avatar_remove' user.pk %}?next={{ next|urlencode }}">
                            Удалить аватар
                        </a>
                    </li>
                    <li><a href="{{ user.profile.get_absolute_url }}">На страницу пользователя</a></li>
                </ul>
            </div>
        </div>
    {% endspaceless %}
{% endif %}
