{% extends 'news-less/layout_cr.html' %}

{% load staticfiles media_utils thumbnail str_utils share_utils news_tags comments_tags cache_tags date_tags site_utils utils_tags adv_tags %}

{% block title %}{{ subject.title|typograf }} | Сюжеты | {{block.super}}{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'subject.instance.meta' vary='subject.id' tags='subject' %}{% spaceless %}
        {% include 'share_meta.html' with object=subject url=subject.get_absolute_url title=subject.title description=subject.caption image=subject.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block style %}
    {{ block.super }}
    {% less '/less/compile/newyear/ny2019.less' %}
{% endblock %}

{% block layout-base-class %}layout-fixed black{% endblock layout-base-class %}

{% block promo_A %}{% endblock %}

{% block text_widget %}{% endblock %}
{% block top_banner %}{% endblock %}
{% block adblock-message %}{% endblock %}

{% block container %}
    <div class="newyear">

        {% ibanner ID=583 as branding_banner %}
        {% if branding_banner %}
            <div class="newyear__branding">
                {{ branding_banner }}
            </div>
        {% endif %}

        <div class="newyear__inner">
            <div class="newyear__logo">
                <img src="{% static 'img/ny2019/logo.png' %}">
            </div>
        </div>

        <div class="b-container b-container_ny {% block container-class %}{% endblock %}">
            {% block b-notification %}
                <ul class="b-notification j-notification">
                    {% block b-notification-blank %}
                        <li class="j-notification-blank">
                            <span class="b-notification-text j-notification-text"></span>
                            <span class="b-notification-close j-notification-close"></span>
                        </li>
                    {% endblock %}
                    {% if user_messages %}
                        {% for message in user_messages %}
                            <li class="show {{ message.tags }}">
                                <span class="b-notification-text j-notification-text">{{ message }}</span>
                                <span class="b-notification-close j-notification-close"></span>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endblock %}

            {% block b-adword-header %}{% endblock b-adword-header %}

            {% block b-content-parent %}
                <article class="b-content{% block b-content-class %}{% endblock %}">
                    {% block b-content-header %}{% endblock b-content-header %}
                    {% block b-content %}
                        {% cache 86400 'news.subjects.instance' vary='subject.id,show_hidden' tags='material,subjects' %}
                            <div class="b-widget-article-list g-content-block">
                                <ul>
                                    {% for article in main_materials %}
                                        <li>{% material_card article is_big_image=True %}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="b-content-cr j-article-aside-float-target j-article-aside-float-target-content">
                                <ul class="ny-materials-list g-indent j-subject-materials-showmore-article-list" data-url="{{ request.path }}" id="subject-materials" data-page="1" data-url="{{ request.path }}" data-page="1" data-start="{{ page_info.next_start_index }}" data-limit="{{ page_info.next_limit }}" data-content="true">
                                    {% include 'news-less/subjects/snippets/ribbon_newyear_materials_list.html' %}
                                </ul>
                                {% if page_info.has_next %}
                                    <div class="g-show-more padding cursor-default j-subject-materials g-indent j-showmore" data-type="json" data-target="subject-materials">
                                        <span class="centered"><a href="#" class="g-jlink">Показать еще</a></span>
                                    </div>
                                {% endif %}
                            </div>

                            <aside class="b-aside-r j-article-aside-float" data-float-target="content">

                                {% ibanner ID=581 as banner_1 %}
                                {% if banner_1 %}
                                    <div class="g-indent">
                                        {{ banner_1 }}
                                    </div>
                                {% endif %}

                                {% include 'news-less/subjects/snippets/newyear_important_materials.html' %}

                                {% ibanner ID=582 as banner_2 %}
                                {% if banner_2 %}
                                    <div class="g-indent j-article-aside-float-block g-accelerate">
                                        {{ banner_2 }}
                                    </div>
                                {% endif %}
                            </aside>

                            <div class="g-clear"></div>
                        {% endcache %}
                    {% endblock %}
                    {% block b-content-footer %}{% endblock b-content-footer %}
                </article>
            {% endblock b-content-parent %}

            {% block b-footer-layout-banner %}
                {% ibanner id=464 as branding_footer %}
                {% ibanner id=120 as banner %}
                {% ibanner id=544 as programmatic_footer %}
                {% if request.user_agent.is_gadget and programmatic_footer %}
                     <div class="g-margin-bottom-20 g-centered-div g-not-desktop">{{ programmatic_footer }}</div>
                {% elif banner and not branding_footer %}
                    <div class="b-footer-layout-banner g-desktop">{{ banner }}</div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="newyear__gift newyear__gift_left"></div>
        <div class="newyear__gift newyear__gift_right"></div>
        <div class="newyear__trees"></div>
    </div>
{% endblock %}
