<tr class="form-row row1 has_original dynamic-gallerypicture_set" id="{{ prefix }}-[position]">
    <td class="original">
        <p>
            {{ gpic }}
        </p>
        <input id="id_{{ prefix }}-[position]-id" name="{{ prefix }}-[position]-id" type="hidden" value="{{ gpic.pk }}"/>
        <input id="id_{{ prefix }}-[position]-gallery" name="{{ prefix }}-[position]-gallery" type="hidden" value="{{ gallery.pk }}"/>
    </td>

    <td class="field-picture">
             {{ form }}
    </td>

    <td class="field-main">
        <input id="id_{{ prefix }}-[position]-main" name="{{ prefix }}-[position]-main" type="checkbox"/>
    </td>

    <td class="delete">
        <input id="id_{{ prefix }}-[position]-DELETE" name="{{ prefix }}-[position]-DELETE" type="checkbox"/>
    </td>

    <td><input type="text" value="[image {{ pic.pk }}]"></td>
</tr>
