{% extends "afisha/index.html" %}

{% comment %}
    @name=Афиша главная
{% endcomment %}

{% load event_admin profile_utils thumbnail site_utils str_utils pytils_dt adv_tags comments_tags cache_tags news_tags afisha_tags %}

{% block title %}{{ event_type }} | {{ block.super }}{% endblock %}

{% block b-content-parent %}
<div class="grid-wrapper">

    {% if object_list %}
    {% announce_slider event_type %}

        <div class="b-afisha-events-container g-indent g-relative g-after-clear">
            <section class="afisha-section">
                <div class="grid-inner">
                    {% include 'afisha/base/banner/through_banner.html' %}
                    {% block b-content-cr %}
                        <header class="b-afisha-events-header">
                            {% block days %}
                                {% filter_choices view filters.time 'choices' %}
                                {% filter_choices view filters.date 'choices' %}
                                 <ul class="g-button-group g-left g-margin-right-20 afisha-filter-group j-event-filter j-event-filter-date j-calendar-url" data-url="/afisha/events/">
                                    {% block days-items %}
                                        <li><span class="g-active">Все</span></li>
                                        {% if choices.today %}<li class="j-filter-date"><span data-date="{{ choices.today|date:"Ymd" }}">Сегодня</span></li>{% endif %}
                                        {% if choices.tomorrow %}<li class="j-filter-date"><span data-date="{{ choices.tomorrow|date:"Ymd" }}">Завтра</span></li>{% endif %}
                                        {% if choices.week %}<li class="g-not-mobile_320 j-filter-date"><span data-date="week">Неделя</span></li>{% endif %}
                                        <li class="j-filter-date"><span data-date="30day">Месяц</span></li>
                                        <li class="j-filter-date"><span data-date="friday">Пятница</span></li>
                                        <li class="j-filter-date"><span data-date="saturday">Суббота</span></li>
                                        <li class="j-filter-date"><span data-date="sunday">Воскресенье</span></li>
                                        <li class="b-calendar-open j-calendar-open">
                                            <span><span class="icon-calendar-new"></span></span>
                                            <div class="b-calendar">
                                                <a href="#" class="b-calendar-close"></a>
                                                <article></article>
                                            </div>
                                        </li>
                                    {% endblock days-items %}
                                </ul>
                                {% block time %}
                                    {% filter_choices view filters.time 'choices' %}
                                    {% if choices|length > 1 %}
                                        <ul class="b-afisha-guide-filter-dropmenu g-button-group g-margin-right-20 g-left j-event-filter afisha-filter-group">
                                            <li><span class="g-active">Весь день</span></li>
                                            {% for time_choice, time_name in choices %}
                                                <li class="j-filter-time"><span data-time="{{ time_name }}">{{ time_choice }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endblock time %}
                            {% endblock days %}
                            {% block aside_category %}
                                <ul class="b-afisha-events-category g-font-size-16 g-clear-left g-margin-bottom-15 j-event-filter afisha-filter-group">
                                    <li class="j-filter-genre"><span class="g-jlink g-active">Что угодно</span></li>
                                    {% filter_choices view filters.genre 'choices' %}
                                    {% for genre in choices %}
                                        <li class="j-filter-genre"><span class="g-jlink" data-id="{{ genre.id }}">{{ genre }}</span></li>
                                    {% endfor %}
                                    {# <li class="j-filter-guide"><span data-id="all">Другие сцены</span></li> #}
                                </ul>
                            {% endblock %}
                        </header>
                        <div class="g-afisha-preloader">
                            <ul class="grid-list grid-list_white j-afisha-events" data-type="{{ event_type.id }}">
                                {% include "afisha/event/list.html" with banner_insert=True other_indexes=True %}
                            </ul>
                            {% if is_paginated %}

                                <div class="afisha-more j-afisha-events-show">
                                    <span class="afisha-more__link">
                                        Больше интересного
                                    </span>
                                </div>

                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </section>
            <aside class="b-aside-r g-mobile_320 g-mobile_480 g-indent j-transform-container j-transform-container-aside-mobile_320 j-transform-container-aside-mobile_480"></aside>
        </div>
    {% else %}
        <div class="grid-inner">
            <h1 class="g-title">В данном разделе событий нет</h1>
        </div>
    {% endif %}

    {% include 'afisha/base/banner/banner_507.html' %}
    {% block afisha-extra %}
        {% afisha_extra_announcements event_type %}
    {% endblock %}
</div>
{% endblock %}
