{% load staticfiles media_utils str_utils pytils_dt thumbnail adv_tags %}

{% for event in object_list %}

    {% if page_obj %}
        <li class="grid-list__item" value="{{ forloop.counter0|add:page_obj.start_index }}" {% if forloop.last and page_obj.has_next %}data-next-page="{{ page_obj.next_page_number }}"{% endif %}>
    {% else %}
        <li class="grid-list__item">
    {% endif %}
            {% include 'afisha/event/list_item.html' with has_guide=True %}
        </li>

    {% if banner_insert %}
        {% ibanner id=547 as banner_547 %}
        {% if banner_547 %}
            {% if page_obj.number == 1 %}
                {% if not other_indexes %}
                    {% if forloop.counter == 3 %}
                        <li class="grid-list__item g-desktop">
                            {% include 'afisha/base/banner/b-banner-200x300.html' %}
                        </li>
                    {% endif %}

                    {% include 'afisha/base/banner/list_banner.html' with place_number=7 %}
                {% else %}
                    {% include 'afisha/base/banner/list_banner.html' with place_number=8 %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if page_obj.number == 1 %}

        {% if forloop.counter == 3 %}
            {# мобильный баннер после 3го события #}
            {% adaptive_banner mobile_id=586 template='adv/adaptive_banner_content.html' as adaptive_banner_1 %}
            {% if adaptive_banner_1 %}
                <li class="grid-list__item b-banners-adaptive_320x320-container g-mobile_320">
                    <div class="b-banners-adaptive_320x320">{{ adaptive_banner_1 }}</div>
                </li>
            {% endif %}
        {% endif %}

        {% if forloop.counter == 8 %}
            {# мобильный баннер после 8го события #}
            {% adaptive_banner mobile_id=587 template='adv/adaptive_banner_content.html' as adaptive_banner_2 %}
            {% if adaptive_banner_2 %}
                <li class="grid-list__item b-banners-adaptive_320x320-container g-mobile_320">
                    <div class="b-banners-adaptive_320x320">{{ adaptive_banner_2 }}</div>
                </li>
            {% endif %}
        {% endif %}

    {% endif %}

{% endfor %}
