{% extends "afisha/event/read.html" %}

{% load event_admin profile_utils thumbnail site_utils str_utils pytils_dt adv_tags comments_tags cache_tags news_tags afisha_tags staticfiles %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.dropkick.js' %}"></script>
{% endblock %}

{% block afisha_extra_materials %}

<section class="afisha-section afisha-section_gray j-article-scrollDepth-end">
    <div class="grid-inner">

        <header class="b-afisha-events-header">
            {% block days %}
                {% filter_choices view filters.time 'choices' 'event_type'%}
                {% filter_choices view filters.date 'choices' 'event_type'%}
                 <ul class="g-button-group g-left g-margin-right-20 afisha-filter-group j-event-filter j-event-filter-date j-calendar-url" data-url="/afisha/events/">
                    {% block days-items %}
                        <li><span class="g-active">Все</span></li>
                        {% if choices.today %}<li class="j-filter-date"><span data-date="{{ choices.today|date:"Ymd" }}">Сегодня</span></li>{% endif %}
                        {% if choices.tomorrow %}<li class="j-filter-date"><span data-date="{{ choices.tomorrow|date:"Ymd" }}">Завтра</span></li>{% endif %}
                        {% if choices.week %}<li class="g-not-mobile_320 j-filter-date"><span data-date="week">Неделя</span></li>{% endif %}
                        <li class="j-filter-date"><span data-date="30day">Месяц</span></li>
                        <li class="j-filter-date"><span data-date="friday">Пятница</span></li>
                        <li class="j-filter-date"><span data-date="saturday">Суббота</span></li>
                        <li class="j-filter-date"><span data-date="sunday">Воскресенье</span></li>
                        <li class="b-calendar-open j-calendar-open">
                            <span><span class="icon-calendar-new"></span></span>
                            <div class="b-calendar">
                                <a href="#" class="b-calendar-close"></a>
                                <article></article>
                            </div>
                        </li>
                    {% endblock days-items %}
                </ul>
                {% block time %}
                    {% filter_choices view filters.time 'choices' 'event_type'%}
                    {% if choices|length > 1 %}
                        <ul class="b-afisha-guide-filter-dropmenu g-button-group g-margin-right-20 g-left j-event-filter afisha-filter-group">
                            <li><span class="g-active">Весь день</span></li>
                            {% for time_choice, time_name in choices %}
                                <li class="j-filter-time"><span data-time="{{ time_name }}">{{ time_choice }}</span></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock time %}
            {% endblock days %}
            {% block aside_category %}
                <select class="g-indent j-filter-guide afisha-filter-group" name="guide_choices" id="id_guide">
                    <option value="{{ guide.id }}" selected="selected">Где угодно</option>
                    {% filter_choices view filters.guide 'choices' 'event_type'%}
                    {% for guide in choices %}
                        <option value="{{ guide.id }}"{% if order_by == "date" %} selected="selected"{% endif %}>{% if guide.title_short %}{{ guide.title_short|typograf }}{% else %}{{ guide.name|typograf }}{% endif %}</option>
                    {% endfor %}
                </select>
            {% endblock %}
        </header>

    <ul class="grid-list j-afisha-events j-afisha-events-inner" data-type="{{ event_type.id }}"></ul>

    <div class="afisha-more j-afisha-events-show j-autoload">
        <span class="afisha-more__link">
            Больше интересного
        </span>
    </div>

</div>
</section>

{% endblock %}
