{% extends "auth/layout.html" %}
{% load thumbnail staticfiles %}

{% block title %}Завершение регистрации | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'fileupload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'fileupload/js/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'fileupload/js/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'auth/js/auth.js' %}"></script>
{% endblock %}

{% block h1 %}Подтверждение регистрации{% endblock %}

{% block main_content %}
    <ul class="b-list-h b-auth-breadcrumbs">
        <li><span>1 Тип регистрации</span></li>
        <li><span>2 Данные профиля</span></li>
        <li class="g-last g-active">3 Окончание регистрации</li>
    </ul>
    <section class="b-auth-register">
        <header>
            <h2>Поздравляем, регистрация прошла успешно!</h2>
        </header>
        <form class="b-auth-register-ava" action="{% url 'authentication:profile:update' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="row">
                <div class="info">
                    <div class="image_loader">
                        <div class="avatar" data-reload="{{ check_avatar|stringformat:'s'|lower }}" data-reload-url="{% url 'authentication:register:check_avatar_load' %}">
                            {% thumbnail user.profile.avatar 50x50 crop="50x50" as thumb %}
                            <img class="b-auth-user-avatar" src="{{ thumb }}" alt="{{ user.profile.full_name }}"/>
                        </div>

                        <div style="display: none;">
                            {{ form.image }}
                        </div>
                        <h3>{{ user.profile.full_name }}</h3>
                        <label class="jsLink" for="id_image">загрузить другой аватар</label>
                        <span class="g-color-gray">jpg, png, 100×100 px, не более 100 кб</span>
                        <span class="g-color-red" id="id_image_error"></span>
                    </div>
                    <div id="progress">
                        <div class="progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="/">Вернуться на главную</a>
                <input type="submit" value="Пройти дальше"/>
            </div>
        </form>
    </section>
{% endblock %}
