{% load pytils_numeral %}
<div class="b-like">
    {% if not user.is_authenticated %}
        <span id="id_like-submit" class="auth-link b-like-button b-like-star">Это интересно</span>
    {% elif not is_rated %}
		<form id="id_like-form" action="{% url 'ratings:rate' %}" method="post" href="{% url 'ratings:rate' %}">
			<input type="hidden" name="ct" value="{{ content_type.pk }}">
			<input type="hidden" name="obj" value="{{ obj.pk }}">
			<input type="hidden" name="value" value="1">
            <a id="id_like-submit" href="/" class="b-like-button b-like-star">Это интересно</a>
		</form>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#id_like-submit').click(function(e){
                    e.preventDefault();
                    var _url = $(this).parent().attr('href');
                    var data_form = {};
                    data_form.ct = $(this).parent().find('input[name="ct"]').val();
                    data_form.obj = $(this).parent().find('input[name="obj"]').val();
                    data_form.value = $(this).parent().find('input[name="value"]').val();

                    $.ajax({
                        type: 'post',
                        url: _url,
                        data: data_form,
                        success: function (data) {
                            if ( data.status == 200 ) {
                                $('.b-like').html(data.content);
                            } else {
                                $('.b-like').html('Перезагрузите страницу, произошла непредвиденная ошибка.')
                            }
                        }
                    });
                });
            });
        </script>
        {% if rating %}<span class="g-color-gray g-font-size-13 g-font-base">{{ rating.total_cnt|choose_plural:"считает,считают,считают" }} интересным {{ rating.total_cnt }} {{ rating.total_cnt|choose_plural:"человек,человека,человек" }}</span>{% endif %}
    {% elif rating %}
        <div class="b-like-label b-like-star">{{ rating.total_cnt|choose_plural:"Считает,Считают,Считают" }} интересным {{ rating.total_cnt }} {{ rating.total_cnt|choose_plural:"человек,человека,человек" }}</div>
	{% endif %}
</div>
