{% spaceless %}
    <button class="b-like-button-small
     {% if closed %}disabled{% endif %}
     {% if is_rated %}g-active{% endif %}
     {% if user.is_authenticated %}
     {% if not is_rated and not closed %}j-contests-like-button{% endif %}
     {% else %}auth-link{% endif %}"
        {% if not is_rated and not closed %}
            data-ct="{{ content_type.pk }}"
            data-obj="{{ obj.pk }}"
            data-value="1"
        {% endif %}
        >
        <span class="b-like-button-title">
            {% if is_rated and not closed %}
                Голосов
            {% elif not closed %}
                Нравится
            {% endif %}
        </span>
        <span class="b-like-button-small-counter j-contests-like-button-counter">{{ rating.total_cnt|default:"0" }}</span>

    {% comment %}
        {% if not user.is_authenticated %}
            <span class="wrap-icon-count">
        {% else %}
            {% if not is_rated and not closed %}
                <a href="/" data-ct="{{ content_type.pk }}" data-obj="{{ obj.pk }}" data-value="1"><span class="wrap-icon-count">
                {% else %}
                <span class="wrap-icon-count disabled">
            {% endif %}
        {% endif %}
        <span class="count-like">{{ rating.total_cnt|default:"0" }}</span>
        {% if not user.is_authenticated %}
            <span class="text-like">Голосов</span>
        {% else %}
            {% if not is_rated and not closed %}
                <span class="icon-like">Нравится</span></span></a>
            {% else %}
                <span class="text-like">Голосов</span></span>
            {% endif %}
        {% endif %}
    {% endcomment %}
    </button>
{% endspaceless %}
