<div class="b-like-small-block big {% if not user.is_authenticated %}auth-link{% endif %}" xmlns="http://www.w3.org/1999/html">
    {% if not user.is_authenticated %}
        <span class="wrap-icon-count">
    {% else %}
        {% if not is_rated and not closed %}
            <a href="/" data-ct="{{ content_type.pk }}" data-obj="{{ obj.pk }}" data-value="1"><span class="wrap-icon-count">
        {% else %}
            <span class="wrap-icon-count disabled">
        {% endif %}
    {% endif %}
    <span class="count-like">{{ rating.total_cnt|default:"0" }}</span>
    {% if not user.is_authenticated %}
        <span class="text-like">Голосов</span>
    {% else %}
        {% if not is_rated and not closed %}
            <span class="icon-like">Нравится</span></span></a>
        {% else %}
            <span class="text-like">Голосов</span></span>
        {% endif %}
    {% endif %}
</div>
