{% extends "admin/app_index.html" %}

{% block sidebar %}
    {% if perms.news.change_news %}
        <div id="content-related">
            <div class="module" id="recent-actions-module">
                <h2>Управление материалами</h2>
                <h3><a href="{% url 'admin_material_home_positions' %}">Материалы на главной</a></h3>
                <h3><a href="{% url 'admin_article_index' %}">Индекс статей</a></h3>
                <h3><a href="{% url 'admin_daily_newsletter' %}">Ежедневная рассылка</a></h3>
                <h3><a href="{% url 'admin_weekly_newsletter' %}">Еженедельная рассылка</a></h3>
                <h3><a href="{% url 'admin_social_pult' %}">Редактор соцсетей</a></h3>
            </div>
        </div>
    {% endif %}
{% endblock %}
