{% load staticfiles media_utils str_utils thumbnail phones_tags cache_tags adv_tags tourism_tags news_tags %}

{% ibanner ID=184 template='adv/div.html' as banner184 %}
{% if banner184 %}
    <div class="b-aside-block">{{ banner184 }}</div>
{% endif %}

<div class="b-aside-block">
    <nav>
        <h4>Расписание</h4>

        <ul class="b-list-v">
            <li>
                {% if etrains %}
                    <span class='g-stroke g-bg-creamy'>Электрички</span>
                {% else %}
                    <a href="{% url 'tourism:transport_etrains' %}">Электрички</a>
                {% endif %}
            </li>
            <li>
                {% if trains %}
                    <span class='g-stroke g-bg-creamy'>Поезда</span>
                {% else %}
                    <a href="{% url 'tourism:transport_trains' %}">Поезда</a>
                {% endif %}
            </li>
            <li>
                {% if air_board %}
                    <span class='g-stroke g-bg-creamy'>Самолеты</span>
                {% else %}
                    <a href="{% url 'tourism:airport' %}">Самолеты</a>
                {% endif %}
            </li>
            <li>
                {% url 'tourism:aviasales' as aviasales_url %}
                {% if request.path == aviasales_url %}
                    <span class='g-stroke g-bg-creamy'>Купить авиабилет</span>
                {% else %}
                    <a href="{% url 'tourism:aviasales' %}">Купить авиабилет</a>
                {% endif %}
            </li>
            {% get_seasons "is_summer_season" "is_winter_season" %}
        </ul>
    </nav>
</div>

{% if news_index %}
    {% news_sidebar_block 'news' limit=5 %}
{% endif %}
