{% extends 'adv_cabinet/layout.html' %}

{% load static thumbnail %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="page">
    <div class="page__inner">
        <div class="page__header">
            <a class="arrow" href="{% url 'adv_cabinet:banners' %}">Список размещений</a>
            <h1>Размещение №{{ banner.id }}</h1>
        </div>
        <div class="page__columns">
            <div class="page__left">
                <div class="banners sticky">
                    <h4 class="small">
                        Макеты
                    </h4>
                    {% for file in files %}
                    <div class="banners__item">
                        {% thumbnail file.main 205x999 as thumb %}
                        <img src="{{ thumb }}" width="205" />
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="app" class="page__right">
                <page-banner-details></page-banner-details>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
    <script>
        var PAGE_SETTINGS = {
            'api_url': "{% url 'adv_cabinet:api.banner' banner.pk %}"
        };
    </script>

    {% render_bundle 'adv_cabinet' %}

{% endblock %}
