{% load staticfiles news_tags str_utils comments_tags thumbnail date_tags utils_tags pytils_numeral cache_tags rating_tags %}

{% comment %}
Кнопка "Купить билет"
    inputs:
        session - сеанс на который покупается билет
        additional_class - дополнительный класс css
        metrika - цель для Яндекс.Метрики
{% endcomment %}

<rb:rich key="{{ settings.RAMBLER_WIDGET_KEY }}" xmlns:rb="//kassa.rambler.ru"></rb:rich>
<script src="https://kassa.rambler.ru/s/widget/js/TicketManager.js"></script>

{% if settings.TICKETS_ENABLED and event.is_tickets_exist %}
    <button class="g-button_orange h30 j-afisha-cinema-ticket-layer-opener {{ additional_class }} {% if metrika %}j-metrika-goal{% endif %}"
            {% if metrika %}data-metrika-goal="{{ metrika }}"{% endif %}
            type="button"
            data-event-id="{{ event.id }}"
            data-event-date="{{ event.current_date }}"
            data-ticket-layer-title="{{ event.title|typograf }}"
            data-ticket-layer-url="{% url 'afisha:events_calendar_carousel' %}"
            data-stat-url="{% url 'afisha:buy_button_click' %}">
        Купить билет
    </button>
{% endif %}
