<nav class="b-auth-nav">

    <ul>
        {% for url, title, is_current, show_marker in urls %}
            <li class="b-auth-nav-item{% if show_marker %} g-active{% endif %}">
                {% if is_current %}
                    <span>{{ title }}</span>
                {% else %}
                    <a href="{{ url }}">{{ title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        {% if not user.profile.is_verified %}
            <li class="b-auth-nav-item">
                <a href="/verification/">Как верифицировать аккаунт?</a>
            </li>
        {% endif %}
    </ul>
</nav>
