{% load site_utils staticfiles %}

<div id="login-form" class="b-overlay-login j-auth-login-container">
    <a href="#" class="b-overlay-login-close close"><img src="{% static 'tourism/img/close.png' %}" alt="" /></a>
    <section id="login-block">
        <header class="g-title">
            <h5>Вход</h5>
            <div class="b-overlay-login-error"></div>
        </header>
        <form class="j-login-block" method="post" action="{% url 'authentication:login' %}?next={{ request.get_full_path|urlencode }}" id="form-login">{% csrf_token %}
            <fieldset>
                <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}">
                <ul class="b-list-v">
                    <li>
                        <label for="user-phone_email">Телефон или E-mail</label>
                        <input type="text" name="phone_email" id="user-phone_email" />
                    </li>
                    <li>
                        <label for="user-pass">пароль</label>
                        <input type="password" name="password" autocomplete="off" id="user-pass" />
                    </li>
                    <li class="g-enlarge">
                        <button class="g-button_type03" type="submit">Войти</button>
                        <label for="user-rem" title="Не нужно будет вводить логин и пароль повторно. В вашем браузере должны быть включены cookies."><input type="checkbox" name="remember" class="check" checked="checked" id="user-rem" />&nbsp;запомнить меня</label>
                    </li>
                    <li class="j-social-auth-down">
                        <a href="{% url 'authentication:register:index' %}?next={{ request.get_full_path|urlencode }}" title="Если у вас нет логина на сайте" rel="nofollow">Зарегистрироваться</a>
                        <a class="g-right" href="{% url 'authentication:remind' %}?next={{ request.get_full_path|urlencode }}" title="Если у вы забыли логин или пароль" rel="nofollow">Я забыл пароль</a>
                    </li>
                    <li class="g-social j-auth-social">
                        <span>Вход через социальные сети</span>
                        <ul class="b-list-h g-right">
                            <li>
                                <a class="g-social-vk" data-width="624" data-height="324" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.get_full_path|urlencode }}" rel="nofollow"></a>
                            </li>
                            {% comment %}
                            <li>
                                <a class="g-social-twitter" data-width="800" data-height="800" href="{% url 'social:begin' 'twitter' %}?next={{ request.get_full_path|urlencode }}" rel="nofollow"></a>
                            </li>
                            {% endcomment %}
                            <li>
                                <a class="g-social-fb" data-width="524" data-height="300" href="{% url 'social:begin' 'facebook' %}?next={{ request.get_full_path|urlencode }}" rel="nofollow"></a>
                            </li>
                            <li>
                                <a class="g-social-ok" data-width="800" data-height="800" href="{% url 'social:begin' 'odnoklassniki-oauth2' %}?next={{ request.get_full_path|urlencode }}" rel="nofollow"></a>
                            </li>
                        </ul>
                        <div class="g-margin-top-20">Нажимая на кнопку авторизации через выбранную мною социальную сеть, я соглашаюсь на хранение и использование моих персональных данных согласно <a href="/conf">Политике конфиденциальности</a></div>
                    </li>
                </ul>
            </fieldset>
        </form>
    </section>
    <section class="j-remind-block" id="remind-block">
        <header class="g-title">
            <h5>Восстановление пароля</h5>
            <div class="b-overlay-login-error g-whole"></div>
        </header>
        <form class="j-remind-block-form" method="post" action="" id="form-remind">{% csrf_token %}
            <fieldset>
                <ul class="b-list-v">
                    <li>
                        <label for="user-remind">e-mail или мобильный телефон:</label>
                        <input type="text" name="phone_email" id="user-remind" placeholder="" />
                    </li>
                    <li class="g-enlarge">
                        <a class="j-remind-link" href="{% url 'authentication:login' %}?next={{ request.get_full_path|urlencode }}" rel="nofollow" style="display: none;">Я вспомнил пароль</a>
                        <button class="g-button_type03" type="submit">Восстановить</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </section>
</div>
