{% load staticfiles str_utils comments_tags thumbnail paginator_utils news_tags date_tags rating_tags %}
{% for object in objects %}
    <li class="b-news-blogs-author-list-item{% if forloop.last and not objects.has_next %} g-last{% endif %}">
        <article>
            <header>
                <a href="{% url 'news:blogs:author' object.author.username %}">
                    <figure>
                        {% thumbnail object.profile.avatar 100x1000 as thumb %}
                        <img src="{{ thumb }}" alt="{{ object.author.get_full_name|typograf:'title'|safe }}" width="{{thumb.width}}px" height="{{thumb.height}}px">
                    </figure>
                    <h2>{{ object.author.get_full_name|typograf }}</h2>
                </a>
            </header>
            <div class="g-overflow">
                <p class="icon-inline icon-left icon-write">постов: {{ object.author.entries_cnt }}</p>
                <p class="icon-inline icon-left icon-comment">комментариев к постам: {{ object.author.comments_cnt }}</p>
                {% if object.author.profile.signature %}
                    {{ object.author.profile.description|typograf:"user" }}
                {% endif %}
            </div>
        </article>
    </li>
{% endfor %}
