{% extends 'irkutsk360/index.html' %}
{% load static staticfiles media_utils str_utils thumbnail paginator_utils irkutsk360_tags %}

{% block bg_header %}congratulation{% endblock %}

{% block active_link %}congratulation{% endblock %}

{% block content_page %}

<div class="anniversary__inner">
    <div class="anniversary__buttons">
        <span class="button-history j-history">
            Поздравить Иркутск!
        </span>
    </div>

    <div class="spoiler j-spoiler">
        <div class="form">
            <form action="{% url 'irkutsk360:congratulations:add' %}" method="post" class="anniversary__form j-form">
                {% csrf_token %}

                <div class="form__flex">
                    <div class="form__flex__left">
                        <input type="text" name="name" required="required" id="id_name" class="anniversary__form__input g-margin-bottom-30" placeholder="Ваше имя" />
                        <input type="text" name="contact" required="required" id="id_contact" class="anniversary__form__input g-margin-bottom-30" placeholder="Ваш e-mail или номер телефона" />
                        <input type="text" name="position" required="required" id="id_position" class="anniversary__form__input" placeholder="Должность" />

                        <div class="form__flex__left__description">
                            Ваши контактные данные используются для обратной связи (на сайте не публикуются)
                        </div>

                        <input type="checkbox"
                               name="personal_data"
                               id="form_checkbox"
                               class="anniversary__form__checkbox"
                               onchange="if(this.checked){$('.j-doctor-submit').removeAttr('disabled')} else {$('.j-doctor-submit').attr('disabled','disabled')}" />

                        <label for="form_checkbox" class="anniversary__form__checkbox__label">Я согласен на обработку персональных данных</label>
                        <input type="submit" class="anniversary__form__submit j-doctor-submit" value="Отправить" disabled="disabled" />
                    </div>
                    <div class="form__flex__right">
                        <textarea class="anniversary__form__textarea" name="content" id="id_content" placeholder="Ваше поздравление" required="required"></textarea>
                    </div>
                </div>
            </form>

            <div class="form__description">
                Редакция оставляет за собой право вносить грамматические, орфографические, стилистические, пунктуационные правки в текст, не меняя сути содержания.
            </div>
        </div>
    </div>

    <div class="success j-success g-hide">
        <div class="success__message">
            <h3 class="success__message__title">
                Ваше поздравление отправлено!
            </h3>
            <div class="success__message__text">
                Перед публикацией на сайте IRK.ru все поздравления проходят модерацию.
            </div>
        </div>
    </div>

</div>

<div class="congratulation-list">
    <div class="anniversary__inner">
        <div class="anniversary__grid-wrapper">
            <div class="grid">
            {% for congratulation in object_list %}
                <div class="grid__item">
                    {% include 'irkutsk360/card_congratulation.html' with button='hide' %}
                </div>
            {% endfor%}
            </div>
        </div>
    </div>
</div>

{% endblock %}
