{% extends 'news-less/layout_cr.html' %}

{% load staticfiles media_utils news_tags str_utils gallery_tags form_tags %}
{% block title %}{{ request.user.get_full_name }} | Блоги | {{ block.super }}{% endblock %}

{% block b-content %}
<section class="b-content b-blogs-post-create g-content-resp g-worubrics">
    {# Правая колонка #}
    <aside class="b-aside-r j-resp-protected">
        {% include 'news-less/blogs/b-aside-r.html' %}
    </aside>
    <section class="b-content-cr">
        <header class="g-title"><h1>{% block content-header %}Создание новой записи в блоге{% endblock %}</h1></header>
        <article class="b-content-block">
            <form action="." name="" method="post" enctype="multipart/form-data" class="b-createform" id="blogs-create-form">
                {% csrf_token %}
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    {% form_table_row form.title %}
                    {% form_table_row form.caption %}
                    {% form_table_row form.content %}
                    <tr>
                        <th></th>
                        <td>
                            <div class="b-post-create-help">
                                <strong>Как добавить фото в текст?</strong>
                                <p>После загрузки изображения должен появиться его bb-код (например, <code style="color:#805700;">[image 12345]</code>).Воспользуйтесь этим кодом для вставки изображения в текст поста.</p>
                                <strong>Как добавить видео в блог?</strong>
                                <p>Нужно вставить в содержание поста bb-код видео с <a href="http://www.youtube.com">youtube.com</a> или <a href="http://www.vimeo.com">vimeo.com</a>.
                                   Например, <code style="color:#805700;">[video http://www.youtube.com/watch?v=fpsj22a20NU]</code>.
                                   Тег для ролика с vimeo.com <code style="color:#805700;">[video http://vimeo.com/37723939]</code>.</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Фотографии
                        </th>
                        <td>
                            {% gallery_formset gallery_form %}
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <button class="b-button" type="submit">{% block add_button %}Добавить{% endblock %} запись</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </article>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".b-createform tr:nth-child(odd)").addClass("g-odd");
        });
    </script>
</section>
{% endblock b-content %}
