{% extends 'news-less/layout_cr.html' %}

{% load thumbnail cache_tags pytils_numeral staticfiles media_utils str_utils comments_tags share_utils site_utils news_tags rating_tags date_tags %}

{% block title %}{{ entry.title|typograf }} | Блоги | {{ block.super }}{% endblock title %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'blogs.instance.meta' vary='entry.id' tags='blogs' %}{% spaceless %}
        {% include 'share_meta.html' with url=entry.get_absolute_url title=entry.title description=entry.caption image=entry.gallery.main_image.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block b-content-class %}{{ block.super }} blogs{% endblock %}

{% block b-content-header %}
    <header class="b-news-content-header g-margin-bottom-25">
        {% include 'news-less/base/search.html' %}

        {% news_rubricator %}
    </header>
{% endblock %}

{% block b-content-cr %}
    <article class="b-content-article g-content-block">
        <header>
            {% if user_is_author %}
                <div class="g-after-clear g-margin-bottom-15">
                    <a class="b-blogs-add-button g-right" href="{% url 'news:blogs:update' author.username entry.pk %}">Редактировать пост</a>
                    {% if not entry.visible %}
                        <span>Это черновик записи. Хотите <a href="{% url 'news:blogs:publish' author.username entry.pk %}">опубликовать его</a>?</span>
                    {% endif %}
                </div>
            {% endif %}
            <h1>{{ entry.title|typograf }}</h1>
            <p class="g-subtitle g-color-lightgray_2">
                <time datetime="{{ entry.created|date:'Y-m-d H:i' }}" class="g-margin-right-5">{{ entry.created|dates:'%d %B в %H:%M|%d %B %Y в %H:%M' }}</time>
                {% if entry.view_cnt %}<span class="icon-inline icon-left icon-visits">{{ entry.view_cnt }}&nbsp;{{ entry.view_cnt|choose_plural:'просмотр, просмотра, просмотров' }}</span>{% endif %}
            </p>
        </header>
        <div class="b-content-article-text j-copyright-insert" data-url="http://{% get_site_url 'www' %}{{ entry.get_absolute_url }}">{{ entry.content|typograf:'user,image=880x1000xscalable' }}</div>
        <footer>
            {% rating entry 'ratings/widgets/like_blogs.html' %}
            {% if not entry.is_hidden %}
                <div class="g-margin-bottom-15">{% share_custom url=entry.get_absolute_url description=entry.title %}</div>
            {% endif %}
            <p class="g-color-lightgray_2 g-not-mobile">URL: http://{% get_site_url www %}{{ entry.get_absolute_url }}</p>
        </footer>
    </article>
    {% comments entry %}
{% endblock %}

{% block b-aside-r %}
    {% if user_is_author %}
        <div class="g-aside-block">
            <a href="{% url 'news:blogs:create' request.user.username %}" class="b-blogs-add-button">Добавить пост</a>
        </div>
    {% endif %}
    {% include 'news-less/blogs/snippets/b-author.html' with author=entry.author %}
    {% include 'news-less/blogs/b-aside-r.html' %}
{% endblock %}
