{% extends "letter.html" %}
{% load site_utils %}
{% block content %}

Здравствуйте, {{ profile.user }}!<br/> 

Данное письмо отправлено автоматически, отвечать на него НЕ НУЖНО.<br/>

Вы успешно зарегистрировались на сайте «Твой Иркутск» (IRK.ru)!<br/>

Чтобы подтвердить регистрацию нажмите на эту ссылку:<br/>
<a href="http://{% get_site_url www domain %}{% url 'authentication:register:confirm_email' %}?hash={{ profile.hash }}">http://{% get_site_url www domain %}{% url 'authentication:register:confirm_email' %}?hash={{ profile.hash }}</a><br/>
или просто скопируйте ее в свой браузер.<br/>

<p>Если вы не подтвердите регистрацию в течение двух дней, то ваш профиль будет удален.</p>
{% endblock %}
