{% extends "letter.html" %}
{% load site_utils %}
{% block content %}
    Здравствуйте, {{ profile.user }}!

    Данное письмо отправлено автоматически, отвечать на него НЕ НУЖНО.

    На сайте "Твой Иркутск" (IRK.ru) был получен запрос на восстановление<br/>
    регистрационного пароля.<br/>

    Вы можете создать новый пароль, для этого нажмите на эту ссылку:<br/>
    <a href="http://{% get_site_url www domain %}{% url 'authentication:profile:password' %}?hash={{ profile.hash }}">http://{% get_site_url www domain %}{% url 'authentication:profile:password' %}?hash={{ profile.hash }}</a>
    <br/>
    или просто скопируйте ее в свой браузер.<br/>

    Если вам не нужно ничего менять, и вы помните свой текущий пароль, просто проигнорируйте это письмо.<br/>

{% endblock %}
