{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils utils_tags thumbnail phones_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <title>Задать вопрос губернатору  | Твой Иркутск</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />
    {% include 'share_meta.html' with url='/questions-governor/' title='Задать вопрос губернатору ' description='Задать вопрос губернатору ' static_image='img/landing_pages/thanks/share.jpg' static_image_width=800 static_image_height=420 %}

    {% block style %}
        {% less '/less/compile/landings/governor.less' %}
    {% endblock style %}

    {% if settings.DEBUG_ADAPTIVE or request.user_agent.is_gadget %}
        {% block style_adaptive %}
            {% less '/less/compile/adaptive/landings/governor.less' media='all' %}
        {% endblock style_adaptive %}
    {% endif %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
        </script>

        <script type="text/javascript" src="{% static 'js/lib/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/landing/governor.js' %}"></script>
    {% endblock js %}

    {% include 'google_analytics.html' %}
</head>
<body class="j-toggle-target-bodyhide" data-toggle-class="b-main-menu-opened">

{% include 'yandex_metrika.html' %}
{% include 'snippets/header.html' %}

<div class="governor">
    <div class="governor__inner">
        <div class="formblock">
            <h1 class="formblock__title">
                Задать вопрос губернатору
            </h1>
            <div class="formblock__form j-formblock">
                <form action="{% url 'landings_questions-governor' %}" class="form j-form" method="post">
                    {% csrf_token %}
                    <div class="form__section">
                        <label class="form__label">
                            Email или телефон:
                        </label>
                        <input type="text" name="contact" id="id_contact" maxlength="255" class="form__input" placeholder="Как с вами связаться?" required="required" />
                    </div>
                    <div class="form__section">
                        <label class="form__label">
                            Населённый пункт:
                        </label>
                        <input type="text" name="locality" id="id_locality" maxlength="255" class="form__input" placeholder="Где вы живёте?" required="required" />
                    </div>
                    <div class="form__section">
                        <label class="form__label">
                            Ваш вопрос:
                        </label>
                        <textarea class="form__textarea" name="text" maxlength="5000" id="id_text" required="required"></textarea>
                    </div>
                    <div class="form__section">
                        <input type="submit" value="отправить вопрос" class="form__submit j-submit" />
                    </div>
                </form>
            </div>

            <div class="formblock__success j-success">
                <p class="formblock__text">
                    Ваш вопрос отправлен. В ближайшее время вам ответят.
                </p>
                <a href="/">Перейти на главную страницу</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
