{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils share_utils %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <title>Ищем менеджера по продажам</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'share_meta.html' with url='/salesman/' title='Ищем менеджера по продажам' description='В отдел продаж требуется менеджер по продажам.' static_image='img/landing_pages/resume/share.jpg' static_image_width=800 static_image_height=420 %}


    {% block style %}
        {% less '/less/compile/landings/resume/resume.less' %}
        {% less '/less/compile/landings/resume/slick-theme.less' %}
        {% less '/less/compile/landings/resume/slick.less' %}
    {% endblock style %}

    {% if settings.DEBUG_ADAPTIVE or request.user_agent.is_gadget %}
        {% block style_adaptive %}
            {% less '/less/compile/adaptive/landings/resume.less' media='all' %}
        {% endblock style_adaptive %}
    {% endif %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
            var _url = DOMAIN_MEDIA + 'salesman/';
        </script>
        <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        {% if settings.DEBUG %}<script type="text/javascript" src="{% static 'js/apps-js/debug.js' %}"></script>{% endif %}
        <script type="text/javascript" src="{% static 'js/lib/slick.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/landing/resume.js' %}"></script>
        <script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>
    {% endblock js %}
    {% include 'google_analytics.html' %}

</head>
<body class="j-body {% if request.user_agent.is_gadget %}body_mobile{% endif %}">
{% include 'yandex_metrika.html' %}
<div class="page j-page">
    {% if request.user_agent.is_gadget %}
        <div class="button-mobile j-mobile-button">
            <a href="#" class="button j-button">
                Откликнуться на вакансию
            </a>
        </div>
    {% endif %}
    <section class="header {% if request.user_agent.is_gadget %}header_mobile{% else %}j-header{% endif %}">
        <div class="page__inner page__inner_flex page__inner_flex_center {% if request.user_agent.is_gadget %}page__inner_flex_column{% endif %}">
            <div class="page__column page__column_content {% if not request.user_agent.is_gadget %}j-logo{% endif %}">
                <span class="logo">
                    Привет, мы <a href="/">IRK.RU</a>, и нам нужен<br />
                    специалист по активным<br />
                    продажам
                </span>
                <img src="{% static 'img/landing_pages/resume/top.png' %}" alt="logo" class="logo-img" />
            </div>
            <div class="page__column page__column_slider page__column_slider_right j-column">
                <div class="action j-action">
                    <a href="#" class="button j-button">
                        Откликнуться на вакансию
                    </a>
                </div>
                {% if not request.user_agent.is_gadget %}
                    <div class="descriptor j-desc">
                        У тебя все получится!
                        Мы поддержим.
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="content">
        <div class="page__inner page__inner_flex">
            <div class="page__column page__column_content">
                <div class="title-column title-column_pl">
                    <strong>
                    Ты активный, умный и энергичный, готов работать и генерировать идеи?
                    IRK.ru ищет именно таких менеджеров по продажам рекламы.
                    </strong>
                </div>
                <!--item-->
                <div class="advant">
                    <h4 class="advant__title">
                        В нашей команде ты будешь:
                    </h4>
                    <ul class="list-advant">
                        <li class="list-advant__item">
                            Искать новых клиентов: звонить и встречаться, готовить презентации и предложения, запускать рекламные кампании и оценивать их эффективность.
                        </li>
                        <li class="list-advant__item">
                            Работать с существующей базой партнеров. Среди наших клиентов крупнейшие компании региона с интересными задачами.
                        </li>
                        <li class="list-advant__item">
                            Разрабатывать и реализовывать с командой IRK.ru рекламные проекты на уровне города и региона.
                        </li>
                        <li class="list-advant__item">
                            Много учиться и совершенствоваться, чтобы стать первоклассным специалистом. Мы поможем.
                        </li>
                        <li class="list-advant__item">
                            Пробовать, экспериментировать и побеждать!
                        </li>
                    </ul>
                </div>
                <!--item-->

                <!--item-->
                <div class="advant">
                    <h4 class="advant__title">
                        Мы предлагаем тебе:
                    </h4>
                    <ul class="list-advant">
                        <li class="list-advant__item">
                            Официальное трудоустройство с первого дня работы и конкурентную заработную плату: оклад и процент от личных продаж.
                        </li>
                        <li class="list-advant__item">
                            Наработанную базу клиентов и возможности для успешного поиска новых.
                        </li>
                        <li class="list-advant__item">
                            Комфортный и уютный офис.
                        </li>
                        <li class="list-advant__item">
                            Оборудованное рабочее место.
                        </li>
                        <li class="list-advant__item">
                            Программы обучения и адаптации, в том числе для сотрудников без опыта работы в продажах.
                        </li>
                    </ul>
                </div>
                <!--item-->

                <!--item-->
                <div class="advant">
                    <h4 class="advant__title">
                        Ты получишь:
                    </h4>
                    <ul class="list-advant">
                        <li class="list-advant__item">
                            Интересную жизнь в молодом коллективе.
                        </li>
                        <li class="list-advant__item">
                            Много результативной работы.
                        </li>
                        <li class="list-advant__item">
                            Развитие и карьерный рост.
                        </li>
                    </ul>
                </div>
                <!--item-->

                <!--item-->
                <div class="advant advant_yellow">
                    <div class="user">
                        <div class="user__avatar">
                            <img src="{% static 'img/landing_pages/resume/venera.jpg' %}" alt="Венера Ивашкова" />
                        </div>
                        <div class="user__name">
                            Венера Ивашкова<br />
                            <em>руководитель рекламной службы</em>
                        </div>
                    </div>
                    <p>
                        Мы ждем людей, способных добиваться результата. Тех, кто любит пробовать новое, генерирует идеи и с радостью берется за их реализацию. Работа в IRK.ru – это постоянное движение, и мы помогаем двигаться вперед!
                    </p>
                </div>
                <!--item-->

                <!--item-->
                <div class="advant advant_yellow">
                    <div class="user">
                        <div class="user__avatar">
                            <img src="{% static 'img/landing_pages/resume/anna.png' %}" alt="Анна Суркова" />
                        </div>
                        <div class="user__name">
                            Анна Суркова<br />
                            <em>генеральный директор</em>
                        </div>
                    </div>
                    <p>
                            За 10 лет работы в IRK.ru я убедилась, что реклама — это не только звонки, встречи, переговоры. Да, здесь очень важен результат, и мы любим его добиваться! Но также важен и процесс. Мы с удовольствием придумываем спецпроекты и хорошо понимаем, что такое нативная реклама, каждый день стараемся максимально эффективно решать задачи клиентов, а выбрать есть из чего! Соискателям перед собеседованием рекомендую посмотреть <a href="/about/mediakit/">статистику сайта и прайс</a>,
                            чтобы говорить с нами на одном языке. Желаю удачи!
                    </p>
                </div>
                <!--item-->

                <div class="advant">
                    Все описанное выше про тебя? Тогда смело пробуй! С радостью ждем на собеседовании в нашем офисе по адресу: ул. Дзержинского, 10, 2-й этаж. Резюме присылай на <a href="mailto:vacancy@irk.ru?subject=%D0%9C%D0%B5%D0%BD%D0%B5%D0%B4%D0%B6%D0%B5%D1%80%20%D0%BF%D0%BE%20%D0%BF%D1%80%D0%BE%D0%B4%D0%B0%D0%B6%D0%B0%D0%BC">vacancy@irk.ru</a>.
                </div>

            </div>
            <div class="page__column page__column_slider">
                <h4 class="title-column">
                    Что тебя ждет, если мы подружимся:
                </h4>
                <div class="slider">
                    <div class="slider__nav">
                        <a href="#" class="slider__arrow slider__arrow_left j-prev"></a>
                        <a href="#" class="slider__arrow slider__arrow_right j-next"></a>
                    </div>
                    <div class="slider__images j-slider">
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/1.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/2.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/3.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/4.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/5.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/6.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/7.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/8.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/9.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/10.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/11.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/12.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/13.jpg' %}" alt="slide" /></div>
                        <div class="slider__item"><img src="{% static 'img/landing_pages/resume/14.jpg' %}" alt="slide" /></div>
                    </div>
                </div>
                <div class="social">
                    {% share_custom url='/salesman/' description='Ищем менеджера по продажам' %}
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal j-modals">
    <span class="modal__close j-modal-close"></span>
    <div class="modal__form j-modal j-modal-form">
        <form class="form j-form" action="{% url 'landings_salesman' %}" method="post" enctype="multipart/form-data">
            <label class="form__label">
                Имя, фамилия
            </label>
            <input type="text" name="name" class="form__input j-form-name" required />
            <label class="form__label">
                Как с вами связаться? Телефон или e-mail
            </label>
            <input type="text" name="contact" class="form__input j-form-contact" required />
            <label class="form__label">
                Вставьте ссылку на резюме или прикрепите файл
            </label>
            <input type="text" name="link" class="form__input form__input_mb j-form-link" />

            <div class="form__file">
                <div class="form__file-name j-filename">Файл резюме</div>
                <label for="form-file" class="form__file-label j-label-upload">
                    <input id="form-file" name="attach_0" type="file" class="form__file-input j-upload-file" />
                    <span class="form__file-upload j-attach">Прикрепить</span>
                </label>
            </div>

            <label class="form__label">
                Необязательный вопрос или сообщение
            </label>
            <textarea class="form__textarea j-form-content" name="content"></textarea>

            {% if not user.is_authenticated %}
                <div class="form__captcha">
                    <div class="form__captcha__error j-captcha-error"></div>
                    {{ form.captcha }}
                </div>
            {% endif %}

            {% csrf_token %}
            <input type="submit" class="form__submit j-submit" />
        </form>
        <div class="cat">
            <img src="{% static 'img/landing_pages/resume/bottom.jpg' %}" alt="талисман" />
        </div>
    </div>
    <div class="modal__success j-modal j-modal-success">
        <div class="modal__ok">
            Спасибо, что откликнулись,<br />
            мы свяжемся с вами<br />
            в ближайщее время.<br />
            Всего доброго!
        </div>
        <a href="{% url 'home_index' %}" class="modal__irk">
            На главную IRK.ru
        </a>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/apps-js/landing/resume_irk.js' %}"></script>
{% include 'liveinternet_counter.html' %}
</body>
</html>
