{% extends 'layout_lc.html' %}
{% load staticfiles media_utils site_utils options adv_tags cache %}

{% block style %}
    {% less '/less/compile/apps/polls.less' %}
{% endblock style %}

{% block js %}
    {{ block.super }}
{% endblock js %}

{% block text_widget %}{% ibanner id=302 template='adv/banners/text_widget_layout.html' %}{% endblock %}

{% block b-content %}
    <aside class="b-aside-l">
        {% block b-aside-l %}
            <section class="b-polls_years">
                <h3>Архив голосований:</h3>
                <ul class="b-list-v b-poll-v">
                    {% for year in years %}
                        {% if year|date:"Y" == curr_year %}
                            <li class="selected">{{ year.year }}</li>
                        {% else %}
                            {% if poll and poll.end|date:"Y" == year|date:"Y" %}
                                <li class="selected"><a href="{% url 'polls:year' year.year %}">{{ year.year }}</a></li>
                            {% else %}
                                <li><a href="{% url 'polls:year' year.year %}">{{ year.year }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            {% ibanner ID=10 template='adv/div.html' %}
        {% endblock b-aside-l %}
    </aside>

    <article class="b-content-lc">
        {% block content %}Center column{% endblock content %}
    </article>
{% endblock b-content %}