{% load staticfiles cache_tags str_utils thumbnail comments_tags share_utils site_utils news_tags polls_tags pytils_dt pytils_numeral %}

<article class="b-content-article type_2 g-content-block">
    <header class="b-content-article-header">
        <h1>{{ object.title|typograf }}</h1>
        <div class="g-subtitle g-color-gray g-after-clear">
            <time datetime="{{ object.stamp|date:'Y-m-d' }}" class="g-margin-right-10">{{ object.stamp|ru_strftime:'%d %B %Y г.' }}</time>
            {% if object.comments_cnt %}<a href="#comments" class="g-hover">{{ object.comments_cnt|get_plural:'комментарий,комментария,комментариев' }}</a>{% endif %}
        </div>
        {% if object.show_image_on_read and object.image %}
            <figure>
                {% block b-content-article-header-image %}
                    {% thumbnail object.image 805x1000 quality=92 stretch=1 as thumb %}
                    <img src="{{ thumb }}" alt="{% if object.image_label %}{{ object.image_label|typograf }}{% else %}{{ object.title|typograf }}{% endif %}" width="{{ thumb.width }}px">
                {% endblock %}
                {% if object.image_label %}<figcaption class="g-color-gray g-font-base">{{ object.image_label|typograf }}</figcaption>{% endif %}
            </figure>
        {% endif %}
    </header>

    <div class="b-content-article-text g-relative" data-url="http://{% get_site_url 'www' %}{{ object.get_absolute_url }}">
        {% block b-content-article-text %}
            {% if object.content %}
                {{ object.content|typograf:"admin,image=620x1000" }}
            {% else %}
                {{ object.caption|typograf:"admin,image=620x1000" }}
            {% endif %}
        {% endblock %}
    </div>

    {% include 'polls/snippets/related_poll_less.html' with is_material_page=True %}

    <footer class="b-content-article-footer j-article-scrollDepth-point_4">
        {% if object.author %}<div class="b-content-article-author">{{ object.author|typograf:'admin' }}</div>{% endif %}

        <div class="g-right g-color-lightgray_2 g-not-mobile">
            <p>URL: http://{% get_site_url www %}{{ object.get_absolute_url }}</p>

            <p class="MisprintSnippet">Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd></p>
            <script type="text/javascript">
                $(document).ready(function () {
                    window.irk.misprintEngine.init();
                });
            </script>
        </div>

        {% if not object.is_hidden %}
            {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp %}
        {% endif %}
    </footer>
</article>

{% comments object %}
