{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils utils_tags thumbnail phones_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <title>Актуальные данные по коронавирусу  | Твой Иркутск</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />
    {% include 'share_meta.html' with url='/covid/' title='Актуальные данные по коронавирусу ' description='Актуальные данные по коронавирусу ' static_image='img/landing_pages/covid/share.jpg' static_image_width=800 static_image_height=420 %}

    {% block style %}
        {% less '/less/compile/landings/covid.less' %}
    {% endblock style %}

    {% if settings.DEBUG_ADAPTIVE or request.user_agent.is_gadget %}
        {% block style_adaptive %}
            {% less '/less/compile/adaptive/landings/covid.less' media='all' %}
        {% endblock style_adaptive %}
    {% endif %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
        </script>

        <script type="text/javascript" src="{% static 'js/lib/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        <script src="{% static 'js/lib/jquery.swiper.3.0.5.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/landing/covid.js' %}"></script>
    {% endblock js %}

    {% include 'google_analytics.html' %}
</head>
<body class="j-toggle-target-bodyhide" data-toggle-class="b-main-menu-opened">

{% include 'yandex_metrika.html' %}
{% include 'snippets/header.html' %}

<div class="covid-wrapper">
    <div class="covid">
        <div class="covid__content">
            <h1 class="covid__title">
                Актуальные данные по коронавирусу
            </h1>
            <h3 class="covid__subtitle">
                Информацию предоставил межведомственный оперативный штаб по предотвращению завоза
                и распространения на территории Иркутской области коронавирусной инфекции
            </h3>

            {% if fixed_materials %}
            <div class="covid__fixed">
                <span class="covid__fixed__arrows">
                    <span class="covid__fixed__arrow covid__fixed__arrow_left j-fixed-slider-prev"></span>
                    <span class="covid__fixed__arrow covid__fixed__arrow_right j-fixed-slider-next"></span>
                </span>
                <div class="fixed j-fixed-slider">
                    <div class="fixed-wrapper swiper-wrapper">

                        {% for material in fixed_materials %}

                        <div class="fixed__item swiper-slide">
                            {% thumbnail material.standard_image 500x500 as thumb %}
                            <a href="{{ material.get_absolute_url }}" class="fixed__item__link" style="background-image: url('{{ thumb }}')">
                                <span class="fixed__item__link__title">
                                    {{ material.title|typograf }}
                                </span>
                            </a>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endif %}

            <div id="cards-list-ajax" data-page="1" data-url="{{ page.get_absolute_url }}">
                <!-- контент страницы -->
                {{ page.content|typograf:"admin,nolinebreaks,image=655x1000,gallery=655x1000" }}
            </div>

            <div class="covid__pagination">
                <div class="g-loading-button">
                    <span class="g-loading-button__more g-height-60 g-line-height-60 g-font-bold j-showmore" data-target="cards-list-ajax">
                        <span>Показать еще</span>
                    </span>
                </div>
            </div>
        </div>
        <aside class="covid__aside">
            <div class="covid__sticky">
                <h3 class="aside-title">
                    Статистика заражений
                </h3>
                <div class="aside">
                    <div class="aside__list">
                        <span class="aside__list__item active j-aside-link" data-id="1">
                            Иркутская область
                        </span>
                        <span class="aside__list__item j-aside-link" data-id="2">
                            Россия
                        </span>
                        <span class="aside__list__item j-aside-link" data-id="3">
                            Мир
                        </span>
                    </div>
                    <div class="aside__content">
                        <!--slide-->
                        <div class="aside__content__slide j-aside-slide" data-id="1">
                            <div>
                                <span>{{ page.get_postmeta.irk_cases|default:'–' }}</span>
                                <span>Заражено</span>
                            </div>
                            <div>
                                <span>{{ page.get_postmeta.irk_recovered|default:'–' }}</span>
                                <span>Выздоровело</span>
                            </div>
                            <div>
                                <span>{{ page.get_postmeta.irk_deaths|default:'–' }}</span>
                                <span>Умерло</span>
                            </div>
                        </div>
                        <!--slide-->
                        <!--slide-->
                        <div class="aside__content__slide hide j-aside-slide" data-id="2">
                            <div>
                                <span>{{ page.get_postmeta.ru_cases|default:'–' }}</span>
                                <span>Заражено</span>
                            </div>
                            <div>
                                <span>{{ page.get_postmeta.ru_recovered|default:'–' }}</span>
                                <span>Выздоровело</span>
                            </div>
                            <div>
                                <span>{{ page.get_postmeta.ru_deaths|default:'–' }}</span>
                                <span>Умерло</span>
                            </div>
                        </div>
                        <!--slide-->
                        <!--slide-->
                        <div class="aside__content__slide hide j-aside-slide" data-id="3">
                            <div>
                                <span>{{ page.get_postmeta.world_cases|default:'–' }}</span>
                                <span>Заражено</span>
                            </div>
                            <div>
                                <span>{{ page.get_postmeta.world_recovered|default:'–' }}</span>
                                <span>Выздоровело</span>
                            </div>
                            <div>
                                <span>{{ page.get_postmeta.world_deaths|default:'–' }}</span>
                                <span>Умерло</span>
                            </div>
                        </div>
                        <!--slide-->
                    </div>
                </div>

                <div class="aside aside_block">
                    <div class="aside__content aside__content_tel g-centered-text">
                        Жители региона могут проконсультироваться по вопросам коронавирусной инфекции по телефону:
                        <div class="aside__tel">
                            +7 (3952) 39-99-99
                        </div>
                        Режим работы: 08:00 - 24:00
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
</div>


{% include 'snippets/footer.html' %}
{% include 'liveinternet_counter.html' %}
</body>

