{% load staticfiles media_utils str_utils comments_tags thumbnail paginator_utils news_tags date_tags %}

{% for block in layout_groups %}

    {% if block.type == 'gold4' %}
        {% include 'news-less/article/blocks/gold4.html' with materials=block.materials %}
    {% elif block.type == 'photo'%}
        {% include 'news-less/article/blocks/photo.html' with photos=block.materials %}
    {% elif block.type == 'fullwidth'%}
        {% include 'news-less/article/blocks/fullwidth.html' with materials=block.materials %}
    {% elif block.type == 'row4'%}
        {% include 'news-less/article/blocks/row4.html' with materials=block.materials %}
    {% elif block.type == 'row2'%}
        {% include 'news-less/article/blocks/row2.html' with materials=block.materials %}
    {% endif %}

{% endfor %}
