{% load news_tags %}

{% similar_materials object as similars %}
{% include 'news-less/tags/news-similar-materials.html' with materials=similars direction="vertical" article_read_page=True metrika_goal='news_page_right' %}

<div class="j-article-aside-float" data-float-target="comments">
    <div class="sticky j-article-aside-float-block g-accelerate">
        {% hot_discussion current_object=object %}
        {# Баннер под горячими обсуждениями, если комментов первго уровня >= 2 #}
        {% include 'news-less/base/banner/under-hot-discussion.html' %}
    </div>
</div>
