{% load str_utils thumbnail %}
{% for item in gallery %}
    {% if size %}
        {% thumbnail item.image size quality=92 x=item.watermark as thumb %}
    {% else %}
        {% thumbnail item.image 960x660 quality=92 x=item.watermark as thumb %}
    {% endif %}
    <div id="slide-{{ forloop.counter }}">
        <div class="container image-thumb j-photo-slide-{{ forloop.counter }}" title="{{ item.alt|typograf }}" data-item-id="{{ item.id }}" rev="{{ forloop.counter }}"{% if not request.user_agent.is_mobile and not request.user_agent.is_tablet %} style="height: {{ thumb.height }}px"{% endif %}>
            <img {% if forloop.counter > 1 %}class="owl-lazy" data-src="{{ thumb }}"{% else %}src="{{ thumb }}"{% endif %} width="{{ thumb.width }}" alt="{% if item.alt %}{{ item.alt|typograf }}{% endif %}" />
            {% if item.alt %}
                <span class="g-alt"><span>{{ item.alt|typograf }}</span></span>
            {% endif %}
        </div>
    </div>
{% endfor %}