{% load str_utils thumbnail %}
{% for item in gallery %}
    {% thumbnail item.image 960x660 quality=92 x=item.watermark as thumb %}
    <li id="slide-{{ forloop.counter }}"{% if forloop.first %} class="selected"{% else %} class="j-emptybox"{% endif %}>
        {% if forloop.first %}
            <a href="{{ thumb }}" class="overlayBigPhoto image-thumb" title="{{ item.alt|typograf|safe }}" data-id="{{ item.id }}" rev="{{ forloop.counter }}" style="min-height: {{ thumb.height }}px; width: {{ thumb.width }}px;">
                <img src="{{ thumb }}" style="height: {{ thumb.height }}px; width: {{ thumb.width }}px;" alt="{% if item.alt %}{{ item.alt|typograf:"title"|safe }}{% endif %}" />
                {% if item.alt %}
                    <span class="g-alt"><span>{{ item.alt|typograf:"title"|safe }}</span></span>
                {% endif %}
            </a>
        {% else %}
            <a href="{{ thumb }}" class="overlayBigPhoto image-thumb" style="min-height: {{ thumb.height }}px; width: {{ thumb.width }}px;" data-id="{{ item.id }}" title="{% if item.alt %}{{ item.alt|typograf|safe }}{% endif %}" rev="{{ forloop.counter }}">
                {% if item.alt %}
                    <span class="g-alt"><span>{{ item.alt|typograf:"title"|safe }}</span></span>
                {% endif %}
            </a>
        {% endif %}
    </li>
{% endfor %}
