{% load cache_tags str_utils gallery_tags comments_tags share_utils site_utils news_tags date_tags admin_utils %}

<article class="b-content-article photo b-photo-page g-content-block">
    {% cache 86400 "photo.instance.read" vary="object.id,request.user_agent.is_gadget,show_photo_fullscreen_hint,is_moderator" tags="object" %}
    <header class="b-content-article-header">
        <h1>
            {{ object.title|typograf }}
            {% get_object_admin_link object %}
        </h1>
        <time class="g-color-lightgray_2">{{ object.stamp|dates:"%d.%m|%d.%m.%Y" }}</time>
    </header>
    <div id="wide-slider" class="b-wide-slider loading g-content-block j-wide-slider" data-owl-carousel-counter="true" data-fullscreen-init="true">
        {% include "news-less/photo/gallery_inline_owl.html" with gallery=object.gallery.main_gallery_pictures mobileShowLimit=5 other=other %}
        {% if request.user_agent.is_gadget %}
            <div class="g-show-more j-wide-slider-showmore g-hide">
                <span class="g-jlink">
                    Показать все
                </span>
            </div>
        {% endif %}
    </div>

    <div class="b-photo-share g-margin-bottom-25 g-after-clear">
        {% if not request.user_agent.is_gadget %}
            {% if not object.is_hidden %}
                <div class="b-wide-slider-share g-left j-wide-slider-share">
                    <h6>{{ object.share_text|default:'Друзьям тоже понравится:' }}</h6>
                    {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp object=object %}
                </div>
            {% endif %}

            <div class="b-wide-slider-caption g-overflow g-hide j-wide-slider-caption"></div>
        {% endif %}
    </div>

    <div class="b-content-cr {{ content_class }} j-copyright-insert j-article-aside-float-target j-article-aside-float-target-comments" data-url="http://{% get_site_url 'www' %}{{ object.get_absolute_url }}">
        <div id="fullscreen-swiper" class="b-fullscreen-container">
            {% if not request.user_agent.is_gadget %}
            <span class="b-fullscreen-close j-fullscreen-close" data-target="fullscreen-swiper"></span>
            <div class="b-fullscreen">
                <aside class="b-aside-r b-fullscreen-swiper-aside">
                    <div class="b-fullscreen-swiper-counter j-fullscreen-swiper-counter">
                        1 из 32
                    </div>
                    <div class="b-fullscreen-swiper-aside-hint scroll" title="Кроме того, работают кнопки HOME и END">
                        используйте колёсико мыши или стрелки клавиатуры для листания фотографий
                    </div>
                    {% if not object.is_hidden %}
                        <div class="b-wide-slider-share g-left j-wide-slider-share">
                            <h6>Друзьям тоже понравится:</h6>
                            {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp object=object %}
                        </div>
                    {% endif %}
                </aside>
                <div class="swiper-container b-fullscreen-swiper-container j-fullscreen-swiper-container">
                    <div class="swiper-wrapper j-fullscreen-swiper-wrapper"></div>

                    <div class="swiper-button-prev j-fullscreen-swiper-button-prev"></div>
                    <div class="swiper-button-next j-fullscreen-swiper-button-next"></div>
                </div>
            </div>
            {% endif %}
            {% if not request.user_agent.is_gadget %}
                <div class="b-content-block b-photo-gallery-4 contestGallery j-fullscreen-swiper-photo-paginator">
                    {% gallery object.gallery.main_gallery_pictures "115x88" crop="115x88" class="b-list-h" template="gallery/gallery_content2.html" %}
                </div>
            {% endif %}
        </div>

        <div class="b-content-article-text">{{ object.content|typograf:"admin" }}</div>

        <footer class="b-content-article-footer g-content-block">
            {% if object.author %}<div class="b-content-article-author">{{ object.author|typograf:'admin' }}</div>{% endif %}

            <div class="g-color-lightgray_2 g-indent g-font-base g-font-size-12 g-not-mobile">
                <p class="g-margin-bottom-5">URL:&nbsp;http://{% get_site_url www %}{{ object.get_absolute_url }}</p>

                <p class="MisprintSnippet">Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd></p>
                <script type="text/javascript">
                    $(document).ready(function () {
                        window.irk.misprintEngine.init();
                    });
                </script>
            </div>

            {% if not object.is_hidden %}
                {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp object=object %}
            {% endif %}
            {% include 'news-less/subjects/snippets/subject_link.html' %}
        </footer>
    {% endcache %}
        <div class="">{% comments object %}</div>
    </div>

    <aside class="b-aside-r">
        {% include 'news-less/photo/b-aside-r.html' %}
    </aside>
</article>
{% if wide == True %}
    {% news_extra_materials wide=True %}
{% else %}
    {% news_extra_materials %}
{% endif %}
