{% extends 'auth/layout.html' %}

{% load staticfiles %}

{% block title %}Изменение пароля | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'auth/js/auth.js' %}"></script>
{% endblock %}

{% block h1 %}Изменение пароля {% endblock %}

{% block main_content %}
    <section class="b-auth-register">
        <form id="form-update-response" class="b-auth-register-phone" action="" method="post">{% csrf_token %}
            <div class="error_box">{{ form.errors.password }}</div>
            <div class="row">
                {{ form.password.label_tag }}
                {{ form.password }}
                <input id="id_password_show" name="password_show" type="checkbox">
                <label class="password_show" for="id_password_show">
                    показать пароль
                </label>
            </div>
            <div class="footer">
                <button type="submit">Изменить пароль</button>
            </div>
        </form>
    </section>
{% endblock %}
