{% load staticfiles media_utils %}

{{ address_form.management_form }}

{% for form_address in address_form.forms %}
    {{ form_address.id }}
{#            {{ form_address.point }}#}

    <div class="b-form-row">
        <label for="{{ form_address.city_id.id_for_label }}"{% if form_address.city_id.field.required %} class="required"{% endif %}>{{ form_address.city_id.label }} {% if form_address.city_id.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
        {{ form_address.city_id.errors }}
        {{ form_address.city_id }}
    </div>

    <div class="b-form-row">
        <label for="{{ form_address.name.id_for_label }}"{% if form_address.name.field.required %} class="required"{% endif %}>{{ form_address.name.label }} {% if form_address.name.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
        {{ form_address.name.errors }}
        {{ form_address.name }}
    </div>

    <div class="b-form-row">
        <label for="{{ form_address.phones.id_for_label }}"{% if form_address.phones.field.required %} class="required"{% endif %}>{{ form_address.phones.label }} {% if form_address.phones.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
        {{ form_address.phones.errors }}
        {{ form_address.phones }}
    </div>

    <div class="b-form-row">
        <label for="{{ form_address.day0_start.id_for_label }}">Часы работы</label>
        <div class="b-form-worktime j-form-worktime">
            <ul>
                <li>
                    {{ form_address.day0_start.errors }}{{ form_address.day0_end.errors }}
                    <label class="b-form-worktime-weekday" for="{{ form_address.day0_start.id_for_label }}" >Пн</label>{{ form_address.day0_start }} &mdash; {{ form_address.day0_end }}
                </li>
                <li>
                    {{ form_address.day1_start.errors }}{{ form_address.day1_end.errors }}
                    <label class="b-form-worktime-weekday" for="{{ form_address.day1_start.id_for_label }}">Вт</label>{{ form_address.day1_start }} &mdash; {{ form_address.day1_end }}
                </li>
                <li>
                    {{ form_address.day2_start.errors }}{{ form_address.day2_end.errors }}
                    <label class="b-form-worktime-weekday" for="{{ form_address.day2_start.id_for_label }}">Ср</label>{{ form_address.day2_start }} &mdash; {{ form_address.day2_end }}
                </li>
                <li>
                    {{ form_address.day3_start.errors }}{{ form_address.day3_end.errors }}
                    <label class="b-form-worktime-weekday" for="{{ form_address.day3_start.id_for_label }}">Чт</label>{{ form_address.day3_start }} &mdash; {{ form_address.day3_end }}
                </li>
                <li>
                    {{ form_address.day4_start.errors }}{{ form_address.day4_end.errors }}
                    <label class="b-form-worktime-weekday" for="{{ form_address.day4_start.id_for_label }}">Пт</label>{{ form_address.day4_start }} &mdash; {{ form_address.day4_end }}
                </li>
                <li>
                    {{ form_address.day5_start.errors }}{{ form_address.day5_end.errors }}
                    <label class="b-form-worktime-weekday" for="{{ form_address.day5_start.id_for_label }}">Сб</label>{{ form_address.day5_start }} &mdash; {{ form_address.day5_end }}
                </li>
                <li>
                    {{ form_address.day6_start.errors }}{{ form_address.day6_end.errors }}
                    <label class="b-form-worktime-weekday" for="{{ form_address.day6_start.id_for_label }}">Вс</label>{{ form_address.day6_start }} &mdash; {{ form_address.day6_end }}
                </li>
            </ul>
            <div class="b-form-worktime-everyday">
                <label class="j-form-worktime-everyday g-indent-right"><input type="checkbox"> Ежедневно</label>
                <span class="g-hide b-form-worktime-everyday-time j-form-worktime-everyday-time"><input type="time" class="j-form-worktime-everyday-time-start"> &mdash; <input type="time" class="j-form-worktime-everyday-time-end"></span>
                <label for="{{ form_address.twenty_four_hour.id_for_label }}" class="j-form-worktime-alltime">{{ form_address.twenty_four_hour }} {{ form_address.twenty_four_hour.label }}</label>
            </div>
        </div>
    </div>
{% endfor %}