{% extends 'layout.html' %}
{% load site_utils staticfiles media_utils adv_tags auth_tags %}

{% block style %}
    {% less '/less/compile/apps/auth.less' %}
{% endblock style %}

{% block b-content-header %}
    {% if request.user.is_authenticated %}{% auth_tabs %}{% endif %}
{% endblock b-content-header %}

{% block b-content %}
    <section class="b-auth">
        <header class="b-content-block">
            <h1>{% block h1 %}{% endblock %}</h1>
        </header>
        {% block main_content %}{% endblock %}
    </section>
{% endblock b-content %}

{% block b-footer-layout-banner %}{% endblock %}
