{% load gallery_tags staticfiles media_utils %}
<div class="b-content-block">
    {% if not user.profile.is_banned %}
        {% if not user.is_authenticated %}
            <div class="g-answer-block g-indent">
                <a href="{% url 'authentication:login' %}" class="auth-link" rel="nofollow">Войдите</a> или <a href="{% url 'authentication:register:index' %}" rel="nofollow">зарегистрируйтесь</a> чтобы добавить новость
            </div>
        {% else %}
            <form action="." method="post" name="" enctype="multipart/form-data" class="b-news-flash-add-item">
            {% csrf_token %}
                {{ form.title }}

                <ul id="additional-form-elements" class="b-list-v">
                    <li id="add-long-description" class="g-color-gray"><a href="#" class="icon-inline icon-left icon-add-long-descr">Добавить подробное описание</a></li>
                    <li id="long-description">{{ form.content }}</li>
                    <li id="add-flash-news-files" class="g-color-gray"><a href="#" class="icon-inline icon-left icon-add-news-files">Прикрепить фотографии</a></li>
                    <li id="flash-news-files">
                        <ul class="b-list-v">{% gallery_form_new gallery_form 20 %}</ul>
                    </li>
                    <li id="add-flash-news-button"><button type="submit" class="b-button" disabled="disabled">Опубликовать</button></li>
                </ul>

                <p><span class="g-color-gray">Перед размещением новости ознакомьтесь, пожалуйста, с</span> <a href="/news/regulations/">правилами публикации</a></p>
            </form>
        {% endif %}
    {% endif %}
</div>
