{% load adv_tags cache_tags %}

{% include 'news-less/base/banner/b-banner-200x200-flash.html' %}

<div class="b-news-flash-hint g-aside-block">
    <h4>Как написать из твиттера</h4>
    <p>Чтобы ваше сообщение из твиттера попало в нашу ленту, используйте хэштег <a href="http://twitter.com/#!/search/%23irkru">#irkru</a>.</p>
</div>

<div class="b-news-flash-hint g-aside-block">
    <h4>Мнение редакции может не совпадать с мнениями авторов Народных новостей.</h4>
</div>

<div class="b-news-flash-hint g-aside-block">
    <p>Если вы стали свидетелем аварии, пожара, необычного погодного явления, провала дороги или прорыва теплотрассы, сообщите об этом в ленте народных новостей. Загружайте фотографии через специальную форму.</p>
</div>

{# Баннер 300х200 id 461 #}
{% include 'news-less/base/banner/b-banner-300x200-flash.html' %}

{# Баннер 300х300 id 443 #}
{% include 'news-less/base/banner/b-banner-300x300-flash.html' %}

{# пока убираем ленту дтп #}
{% comment %}
{% if sidebar_list %}
    {% include 'news-less/flash/snippets/sidebar_entries.html' %}
{% endif %}
{% endcomment %}