{% load static staticfiles media_utils cache_tags %}
{% cache 3600 options:less_header_menu vary="request.csite.site.pk,is_home,site_index,site_inner" tags="options" %}
<div class="b-main-menu j-toggle-target-mainmenu" data-toggle-class="b-main-menu-toggle">
    <div class="b-main-menu-button j-toggle-button-touch" data-toggle-target="mainmenu bodyhide">
        <div class="b-main-menu-button-inner">
            <div class="b-main-menu-line b-main-menu-line-top"></div>
            <div class="b-main-menu-line b-main-menu-line-middle"></div>
            <div class="b-main-menu-line b-main-menu-line-bottom"></div>
        </div>
    </div>
    <nav>
        <ul class="b-list-main-menu">
            {% for site in sites %}
            <li class="menu{{ forloop.counter }}{% if request.csite.site == site %} b-selected{% endif %}">
                {% if site.url == request.path %}
                    <span class="b-list-main-menu-selected">{{ site.name }}</span>
                {% else %}
                    <a class="menu-{{ site.menu_class }}" href="{{ site.url }}">{{ site.name }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endcache %}
