{% load str_utils thumbnail date_tags comments_tags utils_tags cache_tags pytils_numeral pytils_dt %}

{% cache 21600 'news.material_list_item' vary='material.pk,main,showType,expert_index' tags='material' %}
    {% with material|classname as type %}
        <li class="b-news-article-list-item {% if main %}main{% endif %} {% if material.is_hidden %}g-hidden-material{% endif %}">
            <article>
                <header>
                    <a href="{{ material.get_absolute_url }}">
                        {% if material.thumbnail %}
                            {% if main %}
                                {% thumbnail material.thumbnail 300x1000 as thumb %}
                            {% else %}
                                {% thumbnail material.thumbnail 280x1000 as thumb %}
                            {% endif %}
                            <figure><img src="{{ thumb }}" title="{{ material.title|typograf }}" alt="{{ material.title|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px"></figure>
                        {% elif material.gallery.main_image.image %}
                            {% if main %}
                                {% thumbnail material.gallery.main_image.image 300x1000 as thumb %}
                            {% else %}
                                {% thumbnail material.gallery.main_image.image 280x1000 as thumb %}
                            {% endif %}
                            <figure class="{% if type == 'Video' %}icon-block icon-video{% endif %}">
                                <img src="{{ thumb }}" title="{{ material.gallery.main_image.alt|typograf }}" alt="{{ material.gallery.main_image.alt|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                {% if type == 'Photo' %}<span class="b-widget-material-label">{{ material.gallery.main_gallery_pictures|length }} ФОТО</span>{% endif %}
                            </figure>
                        {% elif material.standard_image %}
                            {% if main %}
                                {% thumbnail material.standard_image 300x1000 as thumb %}
                            {% else %}
                                {% thumbnail material.standard_image 280x1000 as thumb %}
                            {% endif %}
                            <figure{% if not expert_index and type == 'Expert' %} class="icon-block"{% endif %}>
                                <img src="{{ thumb }}" title="{{ material.standard_image.alt|typograf }}" alt="{{ material.standard_image.alt|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                {% if type == "Poll" %}
                                    <span class="b-widget-article-poll">Голосование</span>
                                {% endif %}
                                {% if not expert_index and type == 'Expert' %}<span class="b-widget-material-label b-widget-article-expert">эксперт</span>{% endif %}
                            </figure>
                        {% elif type == 'Expert' %}
                            {% if expert_index %}
                                {% thumbnail material.image 100x200 as thumb %}
                            {% elif type == 'Expert' %}
                                {% if main %}
                                    {% thumbnail material.image 300x1000 as thumb %}
                                {% else %}
                                    {% thumbnail material.image 280x1000 as thumb %}
                                {% endif %}
                            {% endif %}
                            <figure{% if not expert_index %} class="icon-block"{% endif %}>
                                <img src="{{ thumb }}" title="{{ material.gallery.main_image.alt|typograf }}" alt="{{ material.gallery.main_image.alt|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                {% if not expert_index %}<span class="b-widget-material-label b-widget-article-expert">эксперт</span>{% endif %}
                            </figure>
                        {% endif %}
                        <h2>{{ material.title|typograf }}</h2>
                    </a>
                </header>
                <div class="g-overflow">
                    <p>{{ material.caption|typograf }}</p>
                    <footer class="g-color-gray">
                        {% if material.has_video %}
                            <span class="icon-inline-svg video"></span>
                        {% endif %}
                        {% if material.has_audio %}
                            <span class="icon-inline-svg icon-inline-svg-audio g-margin-right-5"></span>
                        {% endif %}
                        {% if expert_index %}
                            <span class="g-label-inline g-label-inline_expert {% if material.is_active %}green{% elif material.is_finish %}yellow{% endif %}">{% if material.is_active %}спрашивайте до {{ material.stamp_end|ru_strftime:"%d %B" }}{% elif material.is_finish %}дадим ответы {{ material.stamp_publ|ru_strftime:"%d %B" }}{% else %}ответы даны {{ material.stamp_publ|ru_strftime:"%d %B" }}{% endif %}</span>
                            {% if material.questions|length > 0 %}<span class="g-font-size-16">{{ material.questions|length }} {% if material.is_published %}{{ material.questions|length|choose_plural:'ответ, ответа, ответов' }}{% else %}{{ material.questions|length|choose_plural:'вопрос, вопроса, вопросов' }}{% endif %}</span>{% endif %}
                        {% else %}
                            {% if material.published_time %}
                                <time datetime="{{ material.stamp|date:"Y-m-d" }} {{ material.published_time|date:"H:i" }}">{% if material.stamp != today %}<span class="g-margin-right-5">{{ material.stamp|dates:"%d %B|%d %B %Y" }}</span> {% endif %}{% if material.stamp == today %}{{ material.published_time|date:"H:i" }}{% endif %}</time>
                            {% else %}
                                <time>{{ material.stamp|dates:"%d %B|%d %B %Y" }}</time>
                            {% endif %}
                            {% if showType %}
                                {% if type == 'Review' %}<a href="{% url 'afisha:review:index' %}">Рецензии</a>{% endif %}
                                {% if type == 'Article' %}<a href="{% url 'news:article:index' %}">Статьи</a>{% endif %}
                                {% if type == 'Photo' %}<a href="{% url 'news:photo:index' %}">Фоторепортажи</a>{% endif %}
                                {% if type == 'Video' %}<a href="{% url 'news:video:index' %}">Видео</a>{% endif %}
                                {% if type == 'Infographic' %}<a href="{% url 'news:infographic:index' %}">Инфографика</a>{% endif %}
                                {% if type == 'Expert' %}<a href="{% url 'news:experts:index' %}">Эксперты</a>{% endif %}
                            {% endif %}
                            {% comments_cnt material new_layout=True extra_class='noicon' %}
                            {% if material.search_label %}<span class="b-search-label {{ material.search_label.slug|lower }}">{{ material.search_label.title|lower }}</span>{% endif %}
                        {% endif %}
                    </footer>
                </div>
            </article>
        </li>
    {% endwith %}
{% endcache %}
