{% load thumbnail %}
<div class="offcomment-wrapper" id="official-comment">
    <h5>
        Официальный комментарий
    </h5>
    <div class="offcomment">
        <div class="offcomment__header">
            {% thumbnail object.official_comment_logo 60x60 as avatar %}
            {%if avatar %}
            <span class="offcomment__avatar">
                <img src="{{ avatar }}" class="offcomment__avatar__img" alt="avatar" />
            </span>
            {% endif %}
            <span class="offcomment__name">
                {{ object.official_comment_name }}
            </span>
        </div>
        <div class="offcomment__text">
            {{ object.official_comment_text }}
        </div>
        <div class="offcomment__link">
            <a href="{{ object.official_comment_link }}" target="_blank" title="{{ object.official_comment_link }}">
                Источник: {{ object.official_comment_link }}
            </a>
        </div>
    </div>
</div>
