{% extends 'experts/layout_cr.html' %}

{% load thumbnail str_utils staticfiles media_utils pytils_dt news_tags experts_tags site_utils adv_tags rating_tags gallery_tags paginator_utils cache_tags date_tags comments_tags share_utils polls_tags admin_utils %}

{% block title %}{{ expert.title|typograf }} | {{ block.super }}{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'experts.instance.meta' vary='expert.id' tags='expert' %}{% spaceless %}
        {% include 'share_meta.html' with url=expert.get_absolute_url title=expert.title description=expert.caption image=expert.gallery.main_image.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% if not request.user.is_authenticated %}
    {% block js %}
        {{ block.super }}
        <script>
            $(function() {
                window.irk.subscribe.init($('.b-subscribe-horisontal').find('form'));
            });
        </script>
    {% endblock %}
{% endif %}

{% block b-content-cr %}
    <!-- Контент страницы -->
    <article class="b-content-article g-content-block">
        {% cache 86400 "experts.materials.read.head" vary='expert.id,is_moderator' tags="expert" %}
            <header>
                <h1>
                    {{ expert.title|typograf }}
                    {% get_object_admin_link expert %}
                </h1>
                <div class="g-indent">
                    {% if show_date %}<time class="g-color-lightgray_2 g-subtitle" datetime="{{ expert.stamp|date:"Y-m-d" }} {{ expert.published_time|date:"H:i" }}">{{ expert.stamp|dates:"%d %B|%d %B %Y" }} {{ expert.published_time|date:"H:i" }}</time>{% endif %}
                    <span class="icon-inline icon-left {% if expert.is_finish %}icon-clock{% elif not expert.is_active %}icon-lock{% endif %} g-label-inline {% if expert.is_active %}green{% elif expert.is_finish %}biege{% else %}blue{% endif %}">
                        {% if expert.is_active %}спрашивайте до {{ expert.stamp_end|ru_strftime:"%d %B" }}
                        {% elif expert.is_finish %}дадим ответы {{ expert.stamp_publ|ru_strftime:"%d %B" }}
                        {% elif not expert.is_active %}ответы даны {{ expert.stamp_publ|ru_strftime:"%d %B" }}
                        {% endif %}
                    </span>
                    {% if expert.is_active and expert.stamp_publ %}<span class="icon-inline icon-left icon-clock g-label-inline biege">
                         ответы будут даны {{ expert.stamp_publ|ru_strftime:"%d %B" }}
                    </span>
                    {% endif %}
                </div>

                <div class="expert-author">
                    {% if expert.image %}
                        {% thumbnail expert.image 250x150 as thumb %}
                        <div class="b-expert-author-image">
                            <img class="g-indent" alt="{{ expert.image.alt|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                        </div>
                    {% endif %}
                    <div class="b-expert-author">
                        <div class="title g-font-italic">На ваши вопросы отвечает</div>
                        {{ expert.specialist|typograf }}
                    </div>
                </div>
            </header>

            <div class="b-content-article-text j-copyright-insert" data-url="http://{% get_site_url 'www' %}{{ expert.get_absolute_url }}">{{ expert.content|typograf:"admin,image=620x1000" }}</div>
        {% endcache %}

            {% if not is_announced %}
                {% if is_subscribed %}
                    <div class="g-indent">Вы подписались на получение уведомлений об ответах</div>
                {% elif not expert.is_answered %}
                    <div class="b-subscribe-horisontal j-subscribe-block j-subscribe-success-block">
                        {% if request.user.is_authenticated %}
                            <form action="{% url 'news:experts:subscription' %}" method="post"
                                  data-id="{{ expert.pk }}">
                                {% csrf_token %}
                                <span class="g-margin-right-5">Хотите получить уведомление об ответах на электронную почту?</span>
                                <input type="hidden" name="id" value="{{ expert.id }}">
                                <button type="submit">Подписаться</button>
                            </form>
                        {% else %}
                            <form id="id_expert_subscribe" action="{% url 'news:experts:subscription' %}" method="post"
                                  data-id="{{ expert.pk }}">
                                {% csrf_token %}
                                Получить уведомление об ответах на электронную почту:
                                <div>
                                    <input type="hidden" name="id" value="{{ expert.id }}">
                                    <input type="text" name="email" value="">
                                    <button class="g-button_white" type="submit">Подписаться</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

        {% cache 86400 "experts.materials.read.bottom" vary='expert.id' tags="expert" %}
            <div class="g-color-gray b-expert-separator g-margin-bottom-25">{{ expert.contacts|typograf|linebreaks }}</div>

            {% related_live_news expert %}

            <footer class="b-expert-separator g-indent">
                <div class="g-indent">
                    {% if not expert.is_hidden %}
                        {% share_custom obj_pk=expert.pk url=expert.get_absolute_url description=expert.title stamp=expert.stamp object=expert %}
                    {% endif %}
                </div>
                <div class="g-color-lightgray_2 g-clear g-font-base g-not-mobile g-margin-bottom-15">
                    <p>URL:&nbsp;http://{% get_site_url www %}{{ expert.get_absolute_url }}</p>

                    <p class="MisprintSnippet">Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd></p>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            window.irk.misprintEngine.init();
                        });
                    </script>
                </div>
            </footer>

        {% endcache %}

{#        {% expert_status expert %}#}

        <div class="g-relative">
            <a name="questions" class="g-anchor"></a>
        </div>
        {% if question_form %}
            {% include 'experts/snippets/question_form.html' %}
        {% endif %}
        <div class="b-expert-questions">
            {% if banner135 or banner244 or banner245 or is_announced %}
            <div class="block{% if banner135 or banner244 or banner245 %} with-banner{% endif %}">
                {% if is_announced %}
                Вопросы можно будет задавать с {{ expert.stamp|ru_strftime:"%d %B"|capfirst }}
                {% endif %}
            </div>
            {% endif %}
            {{ question_id }}
            <ul class="b-expert-questions-list">
                {% for question in objects.object_list %}
                <li id="question-{{ question.pk }}" {% if question.pk == highlight_id %}class="highlight"{% endif %}>
                    <div class="b-expert-questions-info g-indent-small">
                        {% thumbnail question.user.profile.avatar 50x50 crop="30x30" as thumb %}
                        <a class="b-expert-questions-avatar" href="{{ question.user.profile.get_absolute_url }}">
                            <img src="{{ thumb }}" alt="{{ question.user }}" width="30px" height="30px" />
                        </a>
                        <h5><a class="b-expert-questions-user g-hover" href="{{ question.user.profile.get_absolute_url }}">
                            {{ question.user.get_full_name }}
                        </a></h5>
                        <time datetime="{{ question.created|date:"Y-m-d H:i" }}">
                            {{ question.created|ru_strftime:"%d %B %Y в %H:%M" }}
                        </time>
                        {# Ссылка «ответить» #}
                        {% if not question.answer and question.pk != question_id and can_reply %}{# Общие условия для показа ссылки #}
                            {% if expert.is_consultation %}{# Для консультаций показывается всё время #}
                                <a class="j-expert-answer-add g-jLink mnem_good" href="{{ expert.get_absolute_url }}?question={{ question.pk }}#question-{{ question.pk }}" rev="{{ question.pk }}">ответить</a>
                            {% else %}
                                {% if not expert.is_answered %}{# Для пресс-конференций можно отвечать только если ответы не опубликованы #}
                                    <a class="j-expert-answer-add g-jLink mnem_good" href="{{ expert.get_absolute_url }}?question={{ question.pk }}#question-{{ question.pk }}" rev="{{ question.pk }}">ответить</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if can_delete %}<a href="{% url 'news:experts:question_delete' category.slug expert.pk question.pk %}" class="mnem_bad j-expert-answer-remove g-color-red">удалить</a>{% endif %}
                    </div>
                    <div class="b-expert-questions-container {% if not question.answer or question.identical.all|length > 0 %}b-expert-separator{% endif %}">
                        {{ question.question|typograf:'user'|safe }}
                    </div>
                    {% if question.identical.all|length > 0 %}
                    <ul class="b-expert-questions-list b-expert-questions-container">
                        {% for same_as in question.identical.all %}
                            <li>
                                <div class="b-expert-questions-info g-indent-small">
                                    {% thumbnail same_as.user.profile.avatar 50x50 crop="30x30" as thumb %}
                                    <a class="b-expert-questions-avatar" href="{{ same_as.user.profile.get_absolute_url }}">
                                        <img src="{{ thumb }}" alt="{{ same_as.user }}" width="30px" height="30px" />
                                    </a>
                                    <h5><a class="b-expert-questions-user g-hover" href="{{ same_as.user.profile.get_absolute_url }}">
                                        {{ same_as.user.get_full_name }}
                                    </a></h5>
                                    <time datetime="{{ same_as.created|date:"Y-m-d H:i" }}">
                                        {{ same_as.created|ru_strftime:"%d %B %Y в %H:%M" }}
                                    </time>
                                </div>
                                <div class="b-expert-questions-container {% if not forloop.last %}b-expert-separator{% endif %} g-indent">
                                    {{ same_as|typograf:'user'|safe }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if question.answer %}
                        <div class="b-expert-questions-container b-expert-questions-answer" id="answer-block-{{ question.pk }}"{% if not question.answer %} style="display:none;"{% endif %}>
                            <div class="b-expert-questions-info g-indent-small">
                                {% if expert.avatar %}
                                    {% thumbnail expert.avatar 50x50 crop="30x30" as thumb %}
                                    <span class="b-expert-questions-avatar">
                                        <img src="{{ thumb }}" alt="{{ expert.signature }}" width="30px" height="30px" />
                                    </span>
                                {% endif %}
                                {% if expert.signature %}
                                    <h5><span class="b-expert-questions-user">
                                        {{ expert.signature }}
                                    </span></h5>
                                {% endif %}
                            </div>
                            <div class="b-expert-questions-container" id="answer-{{ question.pk }}">
                                {{ question.answer|typograf:'admin'|safe }}

                                {% gallery question.gallery.main_gallery preview='150x100' %}
                                <div class="g-clear-left"></div>
                                {% if can_reply %}<a href="{{ expert.get_absolute_url }}?question={{ question.pk }}{% if page %}&amp;page={{ page }}{% endif %}#question-{{ question.pk }}" class="g-jLink edit_answer j-expert-answer-edit" rev="{{ question.pk }}">редактировать</a>{% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div id="answer-form-{{ question.pk }}" class="b-expert-answer answer_form">
                        {% if question_id == question.pk %}
                            {% include 'experts/snippets/answer_form.html' %}
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            {% paginator objects template='paginator/legacy.html' name='вопросов' %}
        </div>
    </article>
    <!-- /Контент страницы -->
{% endblock %}
