{% load staticfiles media_utils %}

{{ form_address.id }}
<div class="address-item" id="address-item-{{ forloop.counter }}" data-form-number="{{ forloop.counter }}" data-is-new="{% if forloop %}0{% else %}1{% endif %}">
    <div class="gray-border-block top">
        <div class="body">
            <div class="action">
                {% if form_address.instance.pk %}
                    <a id="del-address-{{ form_address.instance.pk }}" ref="address-item-{% if forloop %}{{ forloop.counter }}{% else %}__jsprefix__{% endif %}" class="noLink del-address" href="{% if form_address.instance.pk %}{{ firm.get_absolute_url }}edit/?delete_addr={{ form_address.instance.pk }}{% endif %}">
                        <img alt="удалить" src="{% static 'tourism/img/action-delete.png' %}" align="absmiddle" />
                    </a>
                    <a id="re-address-{{ form_address.instance.pk }}" ref="address-item-{% if forloop %}{{ forloop.counter }}{% else %}__jsprefix__{% endif %}" class="noLink re-address" href="" style="display: none;">
                        <img alt="востановить" src="{% static 'tourism/img/action-restore.png' %}" align="absmiddle" />
                    </a>    
                    <input type="hidden" value="" name="delete_addr" class="delete-addr" id="delete_addr{{ form_address.instance.pk }}" />
                    <input type="hidden" value="{{ form_address.instance.pk }}" class="inst-id"/>
                {% else %}
                    {% if not forloop.first %}
                        <a class="noLink del-address" ref="address-item-{% if forloop %}{{ forloop.counter }}{% else %}__jsprefix__{% endif %}" href="{% if form_address.instance.pk %}{{ firm.get_absolute_url }}edit/?delete_addr={{ form_address.instance.pk }}{% endif %}">
                            <img alt="удалить" src="{% static 'tourism/img/action-delete.png' %}" align="absmiddle" />
                        </a>    
                    {% endif %}
                {% endif %}
            </div>
            
            <div class="address-info">
                <span id="{{ form_address.city_id.name }}" class="required form city">{{ form_address.city_id }}</span>
                <span class="nobr">
                    <span class="label">{{ form_address.streetname.label }}</span>
                    <span class="form street">{{ form_address.streetname }}</span>{{ form_address.streetid }}
                </span>
                <span class="nobr">
                    <span class="label">{{ form_address.location.label }}</span>
                    <span class="form location">{{ form_address.location }}</span>
                </span>
                <span class="nobr">
                    <span class="label">{{ form_address.officenumber.label }}</span>
                    <span class="form number">{{ form_address.officenumber }}</span>
                </span>
            </div>
            
            <div class="search-info">
                <span class="flabel">{{ form_address.descr.label }}</span><span class="form descr">{{ form_address.descr }}</span><span class="help-text">{{ form_address.descr.help_text }}</span>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="gray-border-block bottom">
        <div class="body">
            <div class="nobr">
                <span class="flabel">{{ form_address.phones.label }}</span>
                <span class="form phones">{{ form_address.phones }}</span>
            </div>
            <div class="nobr">
                <span class="label">{{ form_address.worktime.label }}</span>
                <span class="form worktime">{{ form_address.worktime }}</span>
            </div>
            {% if address_form.max_num != 1 %}
            <div class="nobr">
                <span classs="label">{{ form_address.is_main.label }}</span>
                <span class="form worktime">{{ form_address.is_main }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>