<div class="b-form-row b-currency-form-address_set j-currency-form-address_set">
    {{ address_form.management_form }}

{#    <div class="g-hide j-currency-form-address_set-blank">#}
{#        {% include 'form/currency_address_set_entry.html' with form_address=address_form.empty_form %}#}
{#        <div class="b-currency-form-row"><span class="g-jlink j-currency-form-address_set-add">Добавить</span></div>#}
{#    </div>#}

    {% for form_address in address_form.forms %}
        {% include 'form/currency_address_set_entry.html' %}
    {% endfor %}
</div>

