{% load str_utils staticfiles media_utils thumbnail comments_tags news_tags cache_tags %}

{% for article in object_list %}
    <li class="tourism-list__item{% if forloop.last %} g-last{% endif %}">
        <a class="tourism-list__link" href="{{ article.get_absolute_url }}" title="{{ article.gallery.main_image.alt|default:article.title|typograf:"title"|safe }}">
            <div class="tourism-list__image">
                {% thumbnail article.image 805x700 as thumb %}
                <img class="tourism-list__img" src="{{ thumb }}" alt="{{ article.image.alt|typograf:"title"|safe }}" />
            </div>
            <h5 class="tourism-list__title">
                {{ article.title|typograf:'title'|safe }}
            </h5>
        </a>
        <p class="tourism-list__caption">
            {{ article.caption|typograf|safe }}
            {% comments_cnt article new_layout=True extra_class="tourism-list__comments" %}
        </p>
    </li>
{% endfor %}

