{% extends 'news-less/article/read_base_afisha.html' %}

{% load str_utils thumbnail news_tags %}

{% block b-content-article-header-image %}
    {% thumbnail object.image 880x1000 quality=92 stretch=1 as thumb %}
    <img src="{{ thumb }}" alt="{% if object.image_label %}{{ object.image_label|typograf }}{% else %}{{ object.title }}{% endif %}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
{% endblock %}

{% block b-content-article-text %}{{ object.content|typograf:"admin,image=730x1000,gallery=730x1000" }}{% endblock %}

{% block b-aside-r %}
    {% include 'afisha/base/banner/b-banner-200x300.html' %}

    {% if not object.is_advertising %}
        {% similar_materials object as similars %}
        {% include 'news-less/tags/news-similar-materials.html' with materials=similars direction="vertical" article_read_page=True metrika_goal='news_page_right' audit_material=object.id audit_goal='similar_clicks' %}
    {% endif %}
{% endblock %}
