{% extends "afisha/layout.html" %}

{% load staticfiles paginator_utils str_utils adv_tags thumbnail str_utils pytils_dt comments_tags rating_tags map_tags %}

{% comment %}
    @name=Афиша результаты поиска
{% endcomment %}
{% block title %}Поиск | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="//maps.api.2gis.ru/2.0/loader.js?pkg=full&skin=dark&lazy=true"></script>
{% endblock %}


{% block city %}{% endblock %}

{% block container %}<div class="b-container-padding"><div class="g-overflow">{{ block.super }}</div></div>{% endblock %}

{% block container-class-content %} b-container_nopt{% endblock %}

{% block b-content-parent %}
<div class="grid-wrapper">
    <div class="grid-inner">
        <section class="b-afisha-search">
            <header>
                <div class="b-afisha-search-types">
                    <ul class="filter-search-list">
                        <li class="filter-search-list__item{% if not type and not is_places %} g-active{% endif %}">
                            {% if not type and not is_places %}
                                <span>Все события</span>
                            {% else %}
                                <a href="?q={{ q }}&page={{ page }}">Все события</a>
                            {% endif %}
                        </li>
                        <li class="filter-search-list__item{% if is_places %} g-active{% endif %}">
                            {% if is_places %}
                                <span>
                                    Места
                                </span>
                            {% else %}
                                <a href="?is_places=1&q={{ q }}&page={{ page }}">
                                    Места
                                </a>
                            {% endif %}
                        </li>
                        {% for obj in types %}
                            {% if obj.is_available %}
                            <li class="filter-search-list__item{% if type == obj.id %} g-active{% endif %}">
                                {% if type == obj.id %}
                                    <span>{{ obj }}</span>
                                {% else %}
                                    <a href="?type={{ obj.id }}&q={{ q }}&page={{ page }}">{{ obj }}</a>
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </header>

            {% if objects.object_list %}
                <div class="j-afisha-reveal-search-container afisha-search-containers">
                    {% if is_places %}
                    <ul class="places-list places-list_nomarker">
                        {% for firm in objects %}
                            {% spaceless %}
                                <li class="places-list__item">
                                    {% include 'afisha/event/list_item_place.html' with has_guide=True event_search=True %}
                                </li>
                            {% endspaceless %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="grid-list j-afisha-events">
                        {% for event in objects.object_list %}
                            <li class="grid-list__item">
                                {% include 'afisha/event/list_item.html' with has_guide=True event_search=True %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% paginator objects q type template='paginator/layout.html' name='событий' %}
                </div>
            {% else %}
                <div class="search-error">
                    <h3>Извините, по вашему запросу ничего не найдено</h3>
                </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
