{% extends "../base.html" %}
{% load static %}

{% block style %}
   <style>
        a {
            text-decoration: none;

}


a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;

}

a:focus {
    text-decoration: none;

}

a:hover {
    text-decoration: none;

}

a:active {
    text-decoration: none;

}
        .tree {
            border: solid silver 1px;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            flex-direction: column;
            padding-left: 8px;
            padding-right: 8px;
            background-color: #fafafa;
            padding-top: 25px;
            min-height: 333px;
            overflow-y: scroll;
        }

        .tree-node {
            padding: 8px;
            width: 100%;
        }

        .tree-node:hover {
            background-color: aliceblue;
        }

        .tree-node-list {
            display: none;
        }

        span a {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        span a:hover {
            color: cadetblue;
            text-decoration: none;
        }
        span a:active{
            color: #000;
        }
        span a:visited{
            color: steelblue;
        }

        li a {
            color: #000;
            text-decoration: none;

        }

        li a:hover {
            color: red;
            text-decoration: none;
        }
        .active {
            color: burlywood;
            font-size: 16px;

        }
        .tree-node span {
            margin-bottom: 8px;
        }
        .tree-node ui li:hover {
            background-color: antiquewhite;

        }
        .tree-node ui li:visited {
            background-color: steelblue;

        }
        .content{
            overflow-y: auto;
        }
       .event{
             display: flex;
             flex-direction: row-reverse;
              padding: 25px;
    }
    .event .btn {
            background-color: skyblue;
            border: none;
            color: white;
            border-radius: 0px;
                margin: 4px 2px;
    }
    .event .btn:hover {
color: #333;
    text-decoration: none;
}
    .event input[type="submit"]{
background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
            padding: 6px 12px;
}
    .event input[type="submit"]:hover{
color: #333;
    text-decoration: none;}

        {% if readOnly == "true" %}
        .image-tool__caption{
            text-align: center;
            border: none;
            box-shadow: none;
            }

    {% endif %}
    </style>
    <script src="{% static 'vendor/editjs/editorjs.js'%}"></script>
    <script src="{% static 'vendor/editjs/header.js'%}"></script>
    <script src="{% static 'vendor/editjs/paragraph.js'%}"></script>
    <script src="{% static 'vendor/editjs/simple-image.js'%}"></script>
    <script src="{% static 'vendor/editjs/embed.js'%}"></script>
    <script src="{% static 'vendor/editjs/image.js'%}"></script>
    <script src="{% static 'vendor/editjs/delimiter.js'%}"></script>
    <script src="{% static 'vendor/editjs/table.js'%}"></script>
    <script src="{% static 'vendor/editjs/attaches.js'%}"></script>
{% endblock style %}
{% block nav-bar %}
    {% include "snippet/menu_wiki.html" %}
{% endblock nav-bar %}

 {% block body %}
        <div class="row">

            <div class="col-md-3">
                <div class="tree">
                {% for node in node_tree %}
                    {% if node.is_collapse %}
                    <div class="tree-node  tree-node-collapse">
                        <span class="glyphicon glyphicon-list-alt"> <a> {{ node.title }} </a> </span>
                        <ui class="tree-node-list ">
                            {% for leaf in node.leaf %}
                    {% if leaf.is_collapse %}
                    <div class="tree-node  tree-node-collapse">
                        <span class="glyphicon glyphicon-list-alt"> <a> {{ leaf.title }} </a> </span>
                        <ui class="tree-node-list ">
                            {% for leaf-v in leaf.leaf %}
                            <li class="tree-node glyphicon glyphicon-file tree-node-leaf"> <a href="{{ leaf.url }}">{{ leaf.title }}</a> </li>
                            {% endfor %}
                        </ui>
                    </div>
                    {% else %}
                    <div class="tree-node tree-node-leaf">
                        <span class="glyphicon glyphicon-file">
                            <a href="{{ leaf.url }}"> {{ leaf.title }} </a>
                        </span>
                    </div>
                    {% endif %}                            {% endfor %}

                        </ui>
                    </div>
                    {% else %}
                    <div class="tree-node tree-node-leaf">
                        <span class="glyphicon glyphicon-file">
                            <a href="{{ node.url }}"> {{ node.title }} </a>
                        </span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="content">
                                        <div class="event">

            {% if is_edit %}
                        <a class="btn" href="update/"> Редактировать имформацию</a>
                                            <a class="btn" href="edit/"> Редактировать вид </a>
                                            {% elif readOnly == "false" %}
                                        <div onclick="myFunction()" class="btn ">Сохранить</div>
                                            {% if is_publish == 0 %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="state" id="id_state"  value="1">
                                                <input type="submit" value="Опубликовать">
                                            </form>
                                            {% elif is_publish == 1 %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="state" id="id_state"   value="0">
                                                <input type="submit" value="Снять с публикации">
                                            </form>
                                                        {% endif %}
            {% endif %}
                    </div>
                     <div id="editorjs"></div>

                                {% if readOnly == "false" %}
                   
                                        <div class="event">

                    <div onclick="myFunction()" class="btn">Сохранить</div>
                                            {% if is_publish == 0 %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="state" id="id_state"  value="1">
                                                <input type="submit" value="Опубликовать">
                                            </form>
                                            {% elif is_publish == 1 %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="state" id="id_state"   value="0">
                                                <input type="submit" value="Снять с публикации">
                                            </form>

                                    {% endif %}
                                                                </div>

                                {% endif %}

                </div>
            </div>
                </div>
        </div>
    {% endblock body %}
{% block extra-js %}
<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.querySelectorAll(".tree-node-collapse span");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            dropdownContent = this.nextElementSibling

            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script>
    var data_json ={% autoescape off %}{{ active_node.get_content }}{% endautoescape %};
    const editor = new EditorJS({
        holder: 'editorjs',
        readOnly: {{ readOnly }},
        data: data_json,
        /**
             * Available Tools list.
             * Pass Tool's class or Settings object for each Tool you want to use
             */
        tools: {
            header: Header,
            delimiter: Delimiter,
            paragraph: {
                class: Paragraph,
                inlineToolbar: true,
            },
            table: {
                class: Table,
                inlineToolbar: true,
                config: {
                    rows: 2,
                    cols: 4,
                }
            },
            attaches: {
                class: AttachesTool,
                config: {
                    endpoint: '/api/v1/UploadFile/'
                }
            },
        embed: Embed,
        image: {
            class: ImageTool,
            config: {
                endpoints: {
                    byFile: '/api/v1/UploadImage/', // Your backend file uploader endpoint
                    byUrl: '/api/v1/FetchUrl/', // Your endpoint that provides uploading by Url
                }
            }
        }
    }
    }
    );
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function myFunction() {
            const request = new XMLHttpRequest();
            //	Здесь нужно указать в каком формате мы будем принимать данные вот и все	отличие
            request.responseType =	"json";
            request.open("POST",document.URL, true);
            request.onload = function (e) {
                  if (request.readyState === 4) {
                    if (request.status === 200) {
                                alert("Сохранено")
                    } else {
                                alert("Ошибка")
                    }
                  }
                };
            request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
            request.setRequestHeader("X-Requested-With",'XMLHttpRequest')

        editor.save().then((output) => {
            data = JSON.stringify(output);
            // принцип	тот же самый что и у обычного POST	запроса
            request.send(data);
        });
    }
</script>
{% endblock extra-js %}
