{% extends 'contests/layout_cr.html' %}

{% load paginator_utils str_utils thumbnail gallery_tags share_utils rating_tags staticfiles media_utils cache_tags contests_tags comments_tags %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'contests.participant.meta' vary='participant.id' tags='contest' %}{% spaceless %}
        {% participant_meta_title participant as title %}
        {% include 'share_meta.html' with url=participant.get_absolute_url title=title description=participant.contest.title image=participant.gallery.main_image.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block title %}{% if participant.contest.type == 'ig' %}@{{ participant.username }}{% else %}{{ participant.title|typograf }}{% endif %} | {{ participant.contest.title|typograf }} | {{ block.super }}{% endblock %}

{% block b-content-cr %}
<section class="b-contests">
    <div class="g-margin-bottom-30">
        <a class="g-color-black g-font-bold g-font-size-16" href="{{ participant.contest.get_absolute_url }}"><span class="b-contests-arrow-left"></span>&nbsp;{{ participant.contest.title|typograf }}</a>
    </div>
    {% thumbnail participant.gallery.main_gallery.0.image '620x600' as thumbnail %}

    <div class="b-contests-participant-image-container">
        <img class="b-contests-participant-image" src="{{ thumbnail }}" alt="{{ thumbnail.alt }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}">
    </div>
    <div class="g-margin-bottom-30 g-clearfix">
        <div class="g-left">
            {% if not participant.contest.is_blocked %}
                {% if not participant.contest.is_closed and participant.is_active %}
                    {% rating participant 'ratings/widgets/like_button_big.html' %}
                {% else %}
                    {% rating participant 'ratings/widgets/like_button_big.html' closed %}
                {% endif %}
            {% else %}
                {% rating participant 'ratings/widgets/like_button_big.html' closed %}
            {% endif %}
        </div>
        <div class="b-contests-participant-buttons">
            {% if previous %}
                <a class="b-contests-participant-buttons-prev" href="{{ previous.get_absolute_url }}"><span class="b-contests-participant-arrow-left"></span><span class="g-not-mobile_320">&nbsp;Предыдущий</span></a>
            {% endif %}
            {% if next %}
                <a class="b-contests-participant-buttons-next" href="{{ next.get_absolute_url }}"><span class="g-not-mobile_320">Следующий&nbsp;</span><span class="b-contests-participant-arrow-right"></span></a>
            {% endif %}
        </div>
    </div>

    {# Описание участинка #}
    <div class="b-content-article-text">
        <h1>{% if participant.contest.type == 'ig' %}<a href="http://instagram.com/{{ participant.username }}">{{ participant.username }}</a>{% else %}{{ participant.title|typograf }}{% endif %}</h1>
        <div class="b-content-article-text">{{ participant.description|typograf:"admin"|safe }}</div>
        {% if is_moderator %}
            <div class="g-font-serif g-font-size-18 g-margin-bottom-20">Контакт: {{ participant.full_name|typograf }} {% if participant.phone %}({{ participant.phone|typograf }}){% endif %}</div>
        {% endif %}
    </div>

    <div class="b-contests-participant-footer g-clearfix">
            {% share_custom obj_pk=participant.contest.pk url=participant.get_absolute_url description=participant.description %}
    </div>

</section>
{% endblock %}

{% block b-content %}
    {{ block.super }}
    <div class="b-content-cr g-clear">
        {% comments participant %}
    </div>
{% endblock %}
