{% extends "afisha/layout.html" %}

{% load game_tags staticfiles media_utils event_admin profile_utils site_utils pytils_dt adv_tags cache_tags news_tags afisha_tags %}

{% block title %}Кино {% if current_date != current_date.today %}{{ current_date|ru_strftime:"%d %B" }} {% endif %}| {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            window.irk.apps.afisha.filter.schedules.toggleLastComment();
        })
    </script>
{% endblock %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% treasure 'cinema' %}
{% endblock %}

{% block layout-base-class %}{{ block.super }} afisha-940{% endblock %}
{% block container %}<div class="b-container-padding"><div class="g-overflow">{{ block.super }}</div></div>{% endblock %}

{% comment %}
{% block content %}
{% endcomment %}
{% block b-content-parent %}
<div class="grid-wrapper">
    <div class="grid-inner">
        <div class="grid-list grid-list_nowrap grid-list_wrap-900">
            <div class="grid-list__item grid-list__item_x3 grid-list__item_100 j-article-aside-float-target j-article-aside-float-target-content">
                {% filter_choices view filters.date 'choices' %}
                {% cinema_calendar_paginator choices.calendar current_date %}
                {% filter_choices view filters.3d 'choices' %}
                {% if choices|length == 2 %}
                    <div class="b-afisha-cinema-filter j-datecontainer-data" data-datecontainer-sked="j-cinema-sked-main">
                        <span class="j-dimension-button j-filter-all g-active">Все</span> <span class="j-dimension-button j-filter-2d">2D</span> <span class="j-dimension-button j-filter-3d">3D</span>
                    </div>
                {% endif %}
                <ul class="cinema-list b-afisha-cinema-list j-cinema-sked-main">
                    {% include "afisha/cinema/list.html" %}
                </ul>
            </div>
            <aside class="grid-list__item j-article-aside-float" data-float-target="content">
                <div class="j-transform" data-transform-target="aside">{% include 'afisha/base/b-aside-r-type2.html' %}</div>
            </aside>
        </div>
    </div>
    {% include 'afisha/base/banner/banner_507.html' %}
    {% afisha_extra_announcements event_type %}
</div>
{% endblock %}
