{% extends "afisha/layout.html" %}

{% load staticfiles media_utils afisha_tags event_admin profile_utils thumbnail site_utils str_utils pytils_dt adv_tags comments_tags cache_tags news_tags share_utils gallery_tags rating_tags admin_utils %}

{% block title %}{% if comments %}Отзывы на {% endif %}{{ event.title|typograf }} {% if current_date != current_date.today %}{{ current_date|ru_strftime:"%d %B" }} {% endif %}| {{ event_type }} | {{ block.super }}{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'afisha.event.meta' vary='event.id' tags='afisha,event' %}{% spaceless %}
        {% include 'share_meta.html' with url=event.get_absolute_url title=event.title description=event.content image=event.gallery.main_image.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/lib/jquery.history.min.js?type=/&redirect=true&basepath=http://www.irk.ru/' %}"></script>
    {{ block.super }}
{% endblock js %}

{% block container %}<div class="b-container-padding"><div class="g-overflow">{{ block.super }}</div></div>{% endblock %}

{% block b-content-parent %}

<div class="grid-wrapper">
    <div class="grid-inner">
        <h1 class="cinema-title">
            {{ event.title|typograf }}
            {% get_object_admin_link object %}
        </h1>
        <div class="cinema-list__labels cinema-list__labels_read">

            {% if not event.is_hidden %}
                {% include 'afisha/snippets/cinema_buy_button.html' with additional_class='cinema-list__orange' metrika='cinema_buy_click' %}
                {% if event.is_rambler %}
                    <a href="https://kassa.rambler.ru/refund" target="_blank" class="cinema-list__refund">Вернуть билет</a>
                {% endif %}
            {% endif %}
            {% if event.comments_cnt %}
                <a href="#go_comments" class="cinema-button g-margin-right-10 g-margin-bottom-10">Отзывы</a>
            {% endif %}
            {% if event.review.exists %}
                <a href="{{ event.review.all.0.get_absolute_url }}" class="cinema-button g-margin-right-10 g-margin-bottom-10">Читать рецензию</a>
            {% endif %}
            {% if event.duration %}
                <span class="cinema-list__gray g-margin-right-10 g-margin-bottom-10">
                    <b>{{ event.duration|typograf }}</b>
                </span>
            {% endif %}
            {% if event.imdb_rate %}
                <span class="cinema-list__gray g-margin-right-10 g-margin-bottom-10">
                    <b>IMDB</b> {{ event.imdb_rate }}
                </span>
            {% endif %}
            <span class="cinema-list__gray g-margin-right-10 g-margin-bottom-10">
                <b>{% if event.age_rating %}{{ event.age_rating }}{% else %}0{% endif %}+</b>
            </span>
            {% if event.genre and event.genre.name != 'вечеринка' %}
                <span class="cinema-list__genre g-margin-right-20 g-margin-bottom-10">
                    {{ event.genre|typograf }}
                </span>
            {% endif %}
            {% if event.production %}
                <span class="cinema-list__genre g-margin-right-20 g-margin-bottom-10">
                    {{ event.production|typograf }}
                </span>
            {% endif %}
        </div>

        <div class="grid-list grid-list_nowrap grid-list_wrap-900">
            <div class="grid-list__item grid-list__item_x3 grid-list__item_100">
                <section class="afisha-section afisha-section_nopt">
                    <article class="b-afisha-film">
                        <div class="b-afisha-film-gallery">
                            <div class="big">
                                {% if event.video %}
                                    {{ event.video|typograf:'admin'|safe }}
                                {% else %}
                                    {% if event.gallery.main_image.image %}
                                        {% thumbnail event.gallery.main_image.image 880x1000 as thumb %}
                                        <img src="{{ thumb }}" title="{{ event|typograf }}" alt="{{ event.title|typograf }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if event.gallery.main_gallery_pictures %}
                                {% gallery event.gallery.main_gallery_pictures '110x66' max=true crop="110x66" class="b-list-h cinema-frames-ul" template='gallery/gallery_content.html' %}
                            {% endif %}
                            <div class="g-clear-left j-transform-container j-transform-container-description-mobile_480 j-transform-container-description-mobile_320"></div>

                            <div class="cinema-desc {% if not event.video and not event.gallery.main_image.image %}cinema-desc_nomt{% endif%}">
                                <div class="cinema-desc__item cinema-desc__item_text">
                                    {{ event.content|typograf:'admin'|safe }}
                                     {% if event.gallery.main_image.alt %}<small class="g-color-gray">{{ event.gallery.main_image.alt|typograf }}</small>{% endif %}

                                     <div class="MisprintSnippet error-snippet g-color-gray g-margin-bottom-10">
                                         Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd>
                                         <script type="text/javascript">
                                             $(document).ready(function () {
                                                 window.irk.misprintEngine.init();
                                             });
                                         </script>
                                     </div>
                                </div>
                                <div class="cinema-desc__item cinema-desc__item_aside">
                                    <div class="cinema-desc__share">
                                        {% share_custom obj_pk=event.pk url=event.get_absolute_url description=event.title %}
                                    </div>
                                    {% if event.info %}
                                        {{ event.info|cinemainfo|safe }}
                                    {% endif %}
                                    {% if event.source_url %}
                                        <a class="cinema-desc__site" href="{{ event.source_url }}">Официальный сайт</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="j-sked-toggle j-datecontainer-data g-indent" data-datecontainer-sked="j-cinema-sked-main">
                        {% cinema_ajax_calendar_paginator calendar current_date event %}
                    </div>
                    <div class="b-afisha-film-sked g-clear-left">
                        <div class="b-afisha-film-sked-hall j-cinema-sked-main">
                            {#{% include "afisha/cinema/sessions.html" %}#}
                        </div>
                    </div>
                    <div class="g-relative">
                        <div id="go_comments" class="g-anchor"></div>
                    </div>

                    {% comments event %}

                </section>
            </div>
            <aside class="grid-list__item">
                {% include 'afisha/base/b-aside-r-type2.html' with cinema_read=True %}
            </aside>
        </div>
    </div>

    {% afisha_extra_cinema event %}
</div>
{% endblock %}
