{% load str_utils afisha_tags %}
<div class="b-afisha-film-sked-hall"{% if by_hall %} data-hall="{{ category.id }}"{% endif %}>
    <table class="cinema-table">
        <tbody>
         {% for guide in schedule %}
            <tr class="cinema-table__tr cinema-table__mobile-block">
                <th class="cinema-table__th cinema-table__mobile-block">
                    {% if guide.id %}
                        <a href="{{ guide.get_absolute_url }}" class="cinema-table__cinema-name">
                            {{ guide|typograf|safe }}
                        </a>
                    {% else %}
                        {{ guide|typograf|safe }}
                    {% endif %}
                </th>
                <td class="cinema-table__td time">
                    <ul class="time-list">
                    {% if guide.schedule.sessions %}
                        {% for session in guide.schedule %}
                            <li class="time-list__item {% if session.is_3d %}j-3d{% else %}j-2d{% endif %}">
                                {% include 'afisha/snippets/schedule_item_time.html' %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>уточняется</li>
                    {% endif %}
                    </ul>
                </td>
                <td class="cinema-table__td cinema-table__td_price">
                    {% afisha_min_price guide.schedule.sessions %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
