{% extends 'magazine/layout.html' %}

{% load cache_tags staticfiles str_utils %}

{% block title %}{{ object.title|typograf }} | Фоторепортажи | {{ block.super }}{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'photo.instance.meta' vary='object.id' tags='photo,object' %}{% spaceless %}
        {% include 'share_meta.html' with card='gallery' url=object.get_absolute_url title=object.title description=object.caption image=object.image gallery=object.gallery.main_gallery_pictures|slice:':4' %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% if not request.user_agent.is_gadget %}
        <script type="text/javascript" src="{% static 'js/lib/hash.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jquery.swiper.3.0.5.js' %}"></script>
        <script src="{% static 'js/apps-js/irk.photo.js' %}"></script>
    {% endif %}
{% endblock js %}

{% block overlay-photo %}{% endblock %} {# выпиливаю оверлей Js потому-что не нужен и потому-что тормозит и ломает #}
{% block overlay-photo-lib %}{% endblock %}

{% block header-class %}{{ block.super }} not-fixed{% endblock %}

{% block b-content %}
    {% include 'news-less/photo/read_base.html' %}
{% endblock %}

{% block container %}<div class="b-container-padding"><div class="g-overflow">{{ block.super }}</div></div>{% endblock %}
