{% extends "auth/layout.html" %}
{% load paginator_utils pytils_dt pytils_numeral date_tags str_utils comments_tags %}

{% block title %}Мои закладки | {{ block.super }}{% endblock %}

{% block main_content %}

<section class="bookmarks-wrapper">

    <ul class="bookmarks">
    {% for bookmark in bookmarks %}

        <li class="bookmarks__item j-bookmark-item" data-id="{{ bookmark.pk }}">
        {% with bookmark.target as material %}
            <span class="bookmarks__label">
                {{ material.cast.label }}
            </span>
            <a href="{{ material.get_absolute_url }}" class="bookmarks__link">
                {{ material|typograf }}
            </a>
            <div class="bookmarks__desc">
                {{ material.caption }}
            </div>
            <div class="bookmarks__bottom">
                <time datetime="{{ material.stamp|date:'Y-m-d' }}" class="g-margin-right-10">{{ material.stamp|ru_strftime:'%d %B %Y г.' }}</time>
                {% if material.comments_cnt %}<a href="{{ material.get_absolute_url }}#comments" class="g-margin-right-10">{{ material.comments_cnt|get_plural:'комментарий,комментария,комментариев' }}</a>{% endif %}
                <span class="j-bookmark-link j-bookmark-profile active bookmarks__remove" data-id="{{ bookmark.pk }}" data-remove-url="{% url 'profiles:bookmark:remove' %}">
                    удалить из закладок
                </span>
            </div>

        {% endwith %}
        </li>

    {% endfor %}
    </ul>

    {% paginator bookmarks template='paginator/bookmarks.html' %}

    <div class="bookmarks__none{% if not bookmarks.object_list  %} show{% endif %}">
        У вас пока нет ни одной закладки.
    </div>
</section>

{% endblock %}

