{% extends "guide/place.html" %}

{% load staticfiles media_utils str_utils thumbnail share_utils afisha_tags %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/lib/jquery.history.min.js?type=/&redirect=true&basepath=http://www.irk.ru/' %}"></script>
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.jcarousel.min.js' %}"></script>
{% endblock js %}

{% block establishment %}
    <ul class="place-list g-clear">
        {% if schedule %}
            <li class="place-list__item j-sked-open g-first {% if not review and not comments and not map %}g-active{% endif %}">
                {% if review or comments or map %}<a href="{% url 'guide:read' firm_id=object.id %}">Расписание</a>{% else %}Расписание{% endif %}
            </li>
        {% endif %}
        {% if not schedule %}
            <li class="place-list__item {% if not comments and not map %}g-active{% endif %}">
                {% if not comments and not map %}Описание{% else %}<a href="{% url 'guide:read' firm_id=object.id %}?review=1">Описание</a>{% endif %}
            </li>
        {% else %}
            <li class="place-list__item {% if review %}g-active{% endif %}">
                {% if review %}Описание{% else %}<a href="{% url 'guide:read' firm_id=object.id %}?review=1">Описание</a>{% endif %}
            </li>
        {% endif %}
        <li class="place-list__item j-comment-open{% if not has_map %} g-last{% endif %}{% if comments %} g-active{% endif %}">
            {% if not comments %}
                <a href="{% url 'guide:read' firm_id=object.id %}?comments=1">Отзывы{% if object.comments_cnt %} ({{ object.comments_cnt }}){% endif %}</a>
            {% else %}
                Отзывы{% if object.comments_cnt %} ({{ object.comments_cnt }}){% endif %}
            {% endif %}
        </li>
        {% if has_map %}
            <li class="place-list__item g-last g-not-mobile_320 {% if map %} g-active{% endif %}">
                {% if map %}{% if object.hall_set.all|length > 1 %}Схемы залов{% else %}Схема зала{% endif %}{% else %}<a href="{% url 'guide:read' firm_id=object.id %}?map=1">{% if object.hall_set.all|length > 1 %}Схемы залов{% else %}Схема зала{% endif %}</a>{% endif %}
            </li>
        {% endif %}
    </ul>
    {% if review or not schedule and not comments and not map %}
        <article class="b-afisha-establishment-review g-indent">
            {% if object.article %}
                {{ object.article|typograf:'admin'|safe }}
            {% else %}
                {% if object.description %}<p>{{ object.description|typograf|safe }}<p>{% endif %}
            {% endif %}
            {% if object.gallery.main_image.alt %}<small class="g-color-gray">{{ object.gallery.main_image.alt|typograf:"title"|safe }}</small>{% endif %}
        </article>
        <div class="g-indent">
            {% if not object.is_hidden %}
                {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp %}
            {% endif %}
        </div>
    {% endif %}
    {% if has_map and map %}
        <ul class="b-list-v photoList overlayPhoto b-afisha-hallpics">
        {% if object.map %}
            <li>
                {% thumbnail object.map 740x1000 as thumb %}
                    {% thumbnail hall.map 120x48 as thumb2 %}
                <a href="{{ thumb }}" rev="{{ thumb2 }}">
                    <img src="{{ thumb }}" title="{{ object.name|typograf }}" alt="{{ object.name|typograf }}">
                </a>
            </li>
        {% endif %}
        {% for hall in object.hall_set.all|dictsort:"position" %}
            {% if hall.map %}
                <li>
                    {% thumbnail hall.map 800x1000 as thumb %}
                    {% thumbnail hall.map 120x48 as thumb2 %}
                    <a href="{{ thumb }}" rev="{{ thumb2 }}">
                    {% thumbnail hall.map 740x1000 as thumb %}
                        <h4>
                            {{ hall.name|typograf }}
                        </h4>
                        <img src="{{ thumb }}" title="{{ hall.name|typograf }}" alt="{{ hall.name|typograf }}">
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock establishment %}
{% block sked %}
    {% if schedule and not review and not comments and not map %}
        <div class="g-indent">
            <div class="g-indent clearfix j-sked-toggle j-datecontainer-data" data-datecontainer-sked="j-cinema-sked-main">
                {% filter_choices view filters.date 'choices' %}
                {% cinema_ajax_calendar_paginator choices.calendar data.date object %}
                {% if object.hall_set.exists %}
                <ul class="b-list-h b-afisha-guide-filter g-film-filter j-afisha-guide-filter g-right">
                    <li class="j-filter-cinemahall-all g-first g-active">Все вместе</li>
                    <li class="j-filter-cinemahall-hall g-last" data-url="{% url 'guide:sessions' firm_id=object.id year=current_date.year month=current_date|date:'m' day=current_date|date:'d' %}?show_by_halls=1">По залам</li>
                </ul>
                {% endif %}
            </div>
            <div class="b-afisha-film-sked g-clear-left j-sked-toggle j-cinema-sked-main">
                {% include "guide/cinema/sessions.html" %}
            </div>
        </div>
    {% endif %}
    {% if has_map %}
        <div class="g-mobile_320">
            {% if map %}{% if object.hall_set.all|length > 1 %}Схемы залов{% else %}Схема зала{% endif %}{% else %}<a class="afisha-more__link" href="{% url 'guide:read' firm_id=object.id %}?map=1">{% if object.hall_set.all|length > 1 %}Схемы залов{% else %}Схема зала{% endif %}</a>{% endif %}
        </div>
    {% endif %}
{% endblock sked %}
{% block b-aside-r %}
    {{ block.super }}
    {% comment %}
            <div class="g-indent b-filter-cinemahall">
                <ul class="b-list-v">
                    {% for hall in object.hall_set.all %}
                        <li><label><input data-hallcheck="{{ hall.pk }}" type="checkbox" checked="checked" class="j-checked"><span>{{ hall }}</span></label></li>
                    {% endfor %}
                </ul>
            </div>
    {% endcomment %}
{% endblock %}
