{% extends "obed/layout.html" %}

{% load paginator_utils str_utils thumbnail gallery_tags comments_tags share_utils rating_tags staticfiles media_utils pytils_numeral cache_tags contests_tags %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'contests.participant.meta' vary='participant.id' tags='contests' %}{% spaceless %}
        {% url 'obed:contests:participant_read' participant.contest.slug participant.pk as url %}
        {% participant_meta_title participant as title %}
        {% include 'share_meta.html' with url=url title=title description=participant.description image=participant.gallery.main_image.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block title %}{% if participant.contest.type == 'ig' %}{{ participant.username }}{% else %}{{ participant.title|typograf:"title"|safe }}{% endif %} | {{ participant.contest.title|typograf:"title"|safe }} | {{ block.super }}{% endblock %}

{% block style %}
    {{ block.super }}
    {% less '/less/compile/apps/contests.less' %}
{% endblock style %}

{% block b-content-parent %}
<section class="b-contests">
    <header>
        <h1>{% if participant.contest.type == 'ig' %}<a href="http://instagram.com/{{ participant.username }}">{{ participant.username }}</a>{% else %}{{ participant.title|typograf:"title"|safe }}{% endif %}</h1>
    </header>

    <div class="b-contests-mainImg inner">{% gallery participant.gallery.main_gallery "300x1000" %}</div>

    {% if participant.gallery.main_gallery|length > 1 %}
        <div class="photoListContainer contestGallery">
            {% gallery participant.gallery.main_gallery "300x75" mark_first %}
        </div>
    {% endif %}

    <br clear="all">
    {# Описание участинка #}
    <div class="b-contests-partaker-descript">
        {% if participant.contest.type == 'ig' %}{{ participant.title|typograf:"admin"|safe }}{% endif %}
        <div class="b-content-article-text">{{ participant.description|typograf:"admin"|safe }}</div>
        {% if is_moderator %}
            <div class="g-font-serif g-font-size-18 g-margin-bottom-20">Контакт: {{ participant.full_name|typograf }} {% if participant.phone %}({{ participant.phone|typograf }}){% endif %}</div>
        {% endif %}
    </div>

    <div class="b-like">
        <div class="b-socials">
            {# TODO скрывать для скрытых объектов #}
            {% share participant %}
        </div>

        {% if not participant.contest.is_blocked %}
            {% if not participant.contest.is_closed and participant.is_active %}
                {% if participant.contest.vote_type == participant.contest.SMS_VOTE %}
                    <div class="b-like-small-block">
                        <span class="wrap-icon-count disabled">
                            <span class="count-like">{{ participant.sms_value|default_if_none:"0" }}</span>
                            <span class="icon-like">{{ participant.sms_value|default_if_none:0|choose_plural:'голос,голоса,голосов' }}</span>
                        </span>
                    </div>
                {% else %}
                    {% rating participant 'ratings/widgets/like_fb_big.html' %}
                {% endif %}
            {% else %}
                {% if participant.contest.vote_type == participant.contest.SMS_VOTE %}
                    <div class="b-like-small-block">
                        <span class="wrap-icon-count disabled">
                            <span class="count-like">{{ participant.sms_value|default_if_none:"0" }}</span>
                            <span class="icon-like">{{ participant.sms_value|default_if_none:0|choose_plural:'голос,голоса,голосов' }}</span>
                        </span>
                    </div>
                {% else %}
                    {% rating participant 'ratings/widgets/like_fb_big.html' closed %}
                {% endif %}
            {% endif %}
        {% else %}
            {% rating participant 'ratings/widgets/like_fb_big.html' closed %}
        {% endif %}
        <br clear="all">
    </div>

    {% if participant.contest.vote_type == participant.contest.SMS_VOTE and not participant.contest.is_blocked and not participant.contest.is_closed %}
    <div class="b-contests-sms-info">
        <p>Чтобы проголосовать за этого участника, отправьте СМС с текстом <span class="g-stroke">конкурс {{ participant.pk }}</span> на номер <b>9630</b>.</p>
        <small class="g-color-gray">Только для абонентов БВК, МТС и Билайн. Стоимость сообщения 17 рублей с НДС.</small>
    </div>
    {% endif %}
    <div class="b-prev_next">
        {% if previous %}
            <a href="{% url 'obed:contests:participant_read' previous.contest.slug previous.pk %}" class="prev-link">&larr; предыдущий</a>
        {% endif %}
        {% if next %}
            <a href="{% url 'obed:contests:participant_read' next.contest.slug next.pk %}" class="next-link">следующий &rarr;</a>
        {%  endif %}
    </div>

    {% if other|length > 0 %}
        <div class="b-contests-members">
            <h2>Другие участники конкурса</h2>
            {% if not participant.contest.is_closed and participant.contest.user_can_add %}
                <div class="b-joinblock">
                    <div class="pic">
                        <img src="{% static 'img/contests/g-nophoto.png' %}" alt="">
                    </div>
                    <a href="{% url 'obed:contests:participant_create' participant.contest.slug %}" class="button"></a>
                </div>
            {%  endif %}
            {% for participant in other %}
                {% include 'obed/contests/snippets/participant_small.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {% comments participant %}
    <br clear="all">
</section>
{% endblock %}
