
<section class="b-obsolescence">
    <header>
        <h3>К сожалению, ваш браузер устарел.</h3>
    </header>
    <article>
        <p>Для корректного отображения этой страницы вам необходимо установить один из более современных браузеров:</p>
        <ul class="b-list-h">
            <li><a class="firefox" href="http://www.mozilla.org/ru/firefox/new/" title="Firefox">Firefox</a></li>
            <li><a class="chrome" href="http://www.google.ru/intl/ru/chrome/" title="Chrome">Chrome</a></li>
            <li><a class="safari" href="http://support.apple.com/ru_RU/downloads/#safari" title="Safari">Safari</a></li>
            <li><a class="opera" href="http://www.opera.com/download/" title="Opera">Opera</a></li>
        </ul>
    </article>
</section>
