{% load date_tags %}

<ul class="b-list-h b-calendar-month">
{% if prev_date %}<li><a data-month="{{ prev_date|date:"Ym" }}" href="#" title="{{ prev_date|ru_strftime_flat:'%B' }}">{{ prev_date|ru_strftime_flat:'%B' }}</a></li>{% endif %}
<li class="g-active">{{ current|ru_strftime_flat:"%B" }}</li>
{% if next_date %}<li><a data-month="{{ next_date|date:"Ym" }}" href="#"  title="{{ next_date|ru_strftime_flat:'%B' }}">{{ next_date|ru_strftime_flat:'%B' }}</a></li>{% endif %}
</ul>
<table class="t-calendar">
    <thead><tr><th>пн</th><th>вт</th><th>ср</th><th>чт</th><th>пт</th><th>сб</th><th>вс</th></tr></thead>
    <tbody>
    {% for week in calendar %}
    <tr>
        {% for date in week %}
            <td>
                {% if date.month == current.month %}
                    {% if date in active_dates %}
                        <a{% if date.day == current.date %} class="g-active"{% endif %} data-date="{{ date|date:"Ymd" }}" href="#">{{ date.day }}</a>
                    {% else %}
                        <span>{{ date.day }}</span>
                    {% endif %}
                {% else %}
                    <span></span>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
