{% load pytils_dt afisha_tags %}
{% if not is_current_week %}
    <div class="g-datecontainer-today" data-url="{% afisha_paginator_url sessions_view_name view_kwargs year=today.year month=today|date:'m' day=today|date:'d' %}">
        <a href="{% afisha_paginator_url view_name view_kwargs year=today.year month=today|date:"m" day=today|date:"d" %}#event=sked">
            <p>Сегодня</p>
            <span>{{ today|ru_strftime:"%a"|capfirst }}, </span><time>{{ today.day }}</time>
        </a>
    </div>
{% endif %}
<div class="g-datecontainer{% if not is_current_week %} next-week{% endif %} index j-datecontainer">
    {% if prev %}<a href="{% afisha_paginator_url view_name view_kwargs year=prev.year month=prev|date:"m" day=prev|date:"d" %}#event=sked" class="g-datecontainer-arrow left"></a>{% endif %}
    <div class="b-list-h b-afisha-datecontainer-filter">
        {% for date, has_sessions in week_range  %}
        <div class="item {% if forloop.counter == 1 %}g-first{% endif %}{% if forloop.counter >= 6 %} vacation{% endif %}{% if forloop.counter == 7 %} g-last{% endif %}{% if date == today %} today{% endif %}{% if date == current_date %} g-active{% endif %}{% if not has_sessions %} g-disabled{% endif %}" data-url="{% afisha_paginator_url sessions_view_name view_kwargs year=date.year month=date|date:'m' day=date|date:'d' %}">
            {% if has_sessions and date != current_date %}
                <a href="{% afisha_paginator_url view_name view_kwargs year=date.year month=date|date:"m" day=date|date:"d" %}#event=sked">
            {% else %}
                <span>
            {% endif %}
            {% if date == today %}
                <p>Сегодня</p>
                <span>{{ date|ru_strftime:"%a"|capfirst }}, </span><time>{{ date.day }}</time>
            {% else %}
                <p>{{ date|ru_strftime:"%a"|capfirst }}</p>
                <time>{{ date.day }}</time>
            {% endif %}
            {% if has_sessions and date != current_date %}
                </a>
            {% else %}
                </span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if next %}<a href="{% afisha_paginator_url view_name view_kwargs year=next.year month=next|date:"m" day=next|date:"d" %}#event=sked" class="g-datecontainer-arrow right"></a>{% endif %}
</div>
