{% load pytils_dt %}
<div class="b-ny2014-afisha-weeks">
    {% if next %}
        <a class="g-next" href=".?week={{ next|date:"Ymd" }}">следующая неделя</a>
    {% else %}
        <span class="g-next">следующая неделя</span>
    {% endif %}
    <div class="g-current-week">{{ current_monday|ru_strftime:"%d %B" }}&nbsp;&mdash;&nbsp;{{ current_sunday|ru_strftime:"%d %B" }}</div>
    {% if prev %}
        <a class="g-prev" href=".?week={{ prev|date:"Ymd" }}">предыдущая неделя</a>
    {% else %}
        <span class="g-prev">предыдущая неделя</span>
    {% endif %}
</div>