{% load str_utils comments_tags thumbnail utils_tags cache_tags staticfiles news_tags pytils_numeral pytils_dt %}

<a href="{{ material.get_absolute_url }}" class="big-article">
    {% if material.wide_image %}
        {% thumbnail material.wide_image 1920x1000 crop as thumb %}
        <div class="big-article__image">
            <img src="{{ thumb }}" alt="" class="big-article__img" />
        </div>
    {% endif %}
    <div class="big-article__inner">
        <h4 class="big-article__title">
            {{ material.title|typograf }}
        </h4>
        <div class="big-article__info">
            <time datetime="{{ material.stamp|date:'Y-m-d' }}" class="g-margin-right-10">{{ material.stamp|ru_strftime:'%d %B %Y г.' }}</time>
            {% if material.comments_cnt %}<span class="g-margin-right-10">{{ material.comments_cnt|get_plural:'комментарий,комментария,комментариев' }}</span>{% endif %}
            <span>около {{ material.content|time_to_read|get_plural:"минуты,минут,минут" }} на чтение</span>
        </div>
    </div>
</a>
