{% load weather_tags staticfiles media_utils %}

{% regroup param.choices by region as cities_list %}

<div class="b-weather-multioptions-container j-weather-multioptions-selector j-irk-open-multioptions j-irk-close j-irk-close-multioptions" data-close-target="multioptions">
    <div class="b-weather-multioptions-options">
        <span class="close j-irk-close"></span>
{#        <h2>Выберите города, которые вы хотите видеть на этой странице</h2>#}

        <form class="b-weather-multioptions-options-cities" action="{{ set_option_url }}" method="get" id="multioptions-selector-form">
            <div style="display:none">
                {% for field in param.form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <input type="hidden" id="multioption-value" name="value" value="">
            </div>
            {% for item in cities_list %}
                {% with item.grouper.pk|default:"0" as group_id %}
                    <h4 class="g-margin-bottom-15 g-font-size-16">
                        {{ item.grouper|default:"Другие города" }}
                    </h4>
                    <ul class="b-weather-multioptions-options-cities-list j-region-list {% if forloop.counter == 2 %}list-2{% endif %}" rev="{{ group_id }}">
                        {% for city in item.list %}
                            <li {% if forloop.counter == 4 %}class="double"{% endif %} id="channel-checkbox-{{ city.pk }}">
                                {% if city.forecast %}
                                    <span class="temperature">{{ city.forecast.temp|sign }}</span>
                                {% endif %}
                                {% if forloop.parentloop.counter == 1 and forloop.counter < 5 %}
                                    <span class="g-icon-weather-micro {{ city.forecast.sky.icon_class }}" title="{{ city.forecast.sky|default_if_none:"—" }}"></span>
                                {% endif %}
                                <input name="city" type="radio" value="{{ city.pk }}" {% if city == param.value %} checked="checked"{% endif %} id="city-{{ city.pk }}" class="j-region-item g-hide">
                                <label class="{% if city != param.value %}g-color-link g-cursor-pointer{% endif %}" for="city-{{ city.pk }}">{{ city }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                {% endwith %}
            {% endfor %}
            <div class="g-hide">
                <input type="submit" value="Сохранить" id="save-options-list">
            </div>
        </form>
    </div>
</div>
