{% load pytils_dt %}

<div class="b-weather-map-hint-header b-weather-map-background j-weather-map-background label-t10 ">
    <div class="b-weather-map-hint-header-column">
        <h3 class="b-weather-map-hint-header-title">
            {{ city }}
        </h3>
        <div class="b-weather-map-hint-header-current">
            <span class="g-icon-weather-small {{ forecast_current.sky.icon_class }}" title="{{ forecast_current.sky }}"></span>
            <span class="b-weather-map-hint-header-current-degree">{{ forecast_current.temp }}&deg;</span>
        </div>
    </div>
    <div class="b-weather-map-hint-header-column">
        <ul class="b-weather-map-hint-header-current-properties">
            <li>{{ forecast_current.wind }}</li>
            <li>влажность {{ forecast_current.humidity }}%</li>
            <li>давление <nobr>{{ forecast_current.pressure }} мм рт. ст.</nobr></li>
        </ul>
    </div>
</div>
<div class="b-weather-map-hint-content">
    <ul class="b-weather-map-hint-forecast-properties">
        {% for forecast in forecast_by_days|slice:':3' %}
            <li class="b-weather-map-hint-forecast">
                <div class="b-weather-map-hint-forecast-day-container">
                    <div class="b-weather-map-hint-forecast-weekday">
                        {% if forloop.first %}
                            Сегодня,
                        {% elif forloop.counter == 2 %}
                            Завтра,
                        {% else %}
                            {{ forecast.date|ru_strftime:"%a"|capfirst }},
                        {% endif %}

                    </div>
                    <div class="b-weather-map-hint-forecast-day">{{ forecast.date|date:"j M."|lower }}</div>
                </div>
                <div class="b-weather-map-hint-forecast-icon">
                    <span class="g-icon-weather-micro {{ forecast.sky.icon_class }}"></span>
                </div>
                <div class="b-weather-map-hint-forecast-temperature">
                    <span class="b-weather-map-hint-forecast-degree">{{ forecast.temp.day }}&deg;</span>
                    <span class="b-weather-map-hint-forecast-degree second">{{ forecast.temp.night }}&deg;</span>
                </div>
                <div class="b-weather-map-hint-forecast-wind">
                    {% if forecast.wind.is_calm %}
                        штиль
                    {% else %}
                        {{ forecast.wind.speed }}&#160;м/с, {{ forecast.wind.short }}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
