{% extends 'layout_article.html' %}

{% load adv_tags staticfiles cache_tags str_utils thumbnail comments_tags share_utils site_utils news_tags polls_tags pytils_dt pytils_numeral %}

{% block title %}{{ object.title|typograf }} | Статьи | {{ block.super }}{% endblock title %}

{% block meta %}
    {% cache 86400 'article.instance.meta' vary='object.id' tags='article,object' %}{% spaceless %}
        {% include 'share_meta.html' with card='summary_large_image' url=object.get_absolute_url title=object.title description=object.caption image=object.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/ifvisible.js' %}"></script>
{% endblock %}

{% block article-header %}
    {% include "news-less/article/headers/image.html" %}
{% endblock %}
