{% load adv_tags staticfiles media_utils news_tags str_utils comments_tags thumbnail pytils_dt adwords_tags experts_tags blogs_tags date_tags polls_tags utils_tags pytils_numeral %}

<div class="news-materials{% if show_1200 %} show_1200{% endif %}">

    {# Материалы #}
    {% if mobile_bottom_materials %}
        <section class="news-materials__section">
            <h3 class="news-materials__title">
                Истории, которые нельзя пропустить
            </h3>
            <ul class="news-materials__list">
                {% for material in mobile_bottom_materials %}
                    <li class="news-materials__list__item negative-margin-10">
                        {% material_card is_mobile=True material is_wide=True %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {# Блоги #}
    {% blog_sidebar_block limit=2 %}

    <div class="g-aside-block g-bordered b-igrajdanin-aside-container">
        <a class="b-igrajdanin-aside-logo" href="https://igrajdanin.ru/"><img src="{% static 'news/img/igrajdanin.png' %}" srcset="{% static 'news/img/igrajdanin@2x.png' %} 2x" alt="Я гражданин"></a>
        <h4 class="b-igrajdanin-aside-text">
            Составьте свою карту главных городских проблем, обратите внимание властей и других горожан — вместе мы можем всё исправить.
        </h4>
        <div class="b-igrajdanin-aside-footer">
            <a href="https://www.irk.ru/igrajdanin/" class="b-igrajdanin-aside-button">Сообщить о проблеме</a>
        </div>
    </div>

</div>
