{% load staticfiles contests_tags thumbnail str_utils comments_tags utils_tags %}

    <li{% if page_obj and not page_obj.has_next %} data-full="true"{% endif %}>
        <article>
            <a href="{{ article.get_absolute_url }}" class="g-nolink">
                <header>
                    {% if article.wide_image %}
                        {% thumbnail article.wide_image 620x300 crop as thumb %}
                    {% else %}
                        {% thumbnail article.gallery.main_image.image 620x300 crop stretch=1 as thumb %}
                    {% endif %}
                    <div class="g-relative g-overflow g-margin-bottom-5">
                        {% if article|classname == "Poll" and not article.wide_image %}
                            <img class="g-block" alt="{{ article.title|typograf }}" src="{% static 'obed/img/polls_gag.png' %}" width="620" height="300" />
                        {% else %}
                            <img class="g-block" alt="{{ article.title|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                        {% endif %}
                        {% if article|classname == "Poll" %}
                            <span class="b-widget-material-label b-widget-article-poll">Голосование</span>
                        {% endif %}
                    </div>
                    <h2>{{ article.title|typograf }}</h2>
                </header>
                <p>{{ article.caption|typograf }}</p>
            </a>
            <footer>
                {% if article.section_category and article.section_category.slug != "list" %}<a href="#article-list" data-tab-id="{{ article.section_category.id }}" class="g-color-link condition-hide j-obed-category-tabswitch">{{ article.section_category }}</a>{% endif %}
                {% comments_cnt article new_layout=True %}
            </footer>
        </article>
    </li>

