{% load adv_tags staticfiles media_utils news_tags str_utils comments_tags thumbnail pytils_dt adwords_tags experts_tags blogs_tags date_tags %}

{% if category_slug == "crime" or category.slug == "crime" %}
    {% include 'news-less/base/banner/b-banner-200x200-crime.html' %}
{% else %}
    {% include 'news-less/base/banner/b-banner-200x200.html' %}
{% endif %}

{% last_news exclude=object %}

{% if category_slug == "crime" or category.slug == "crime" %}
    {% include 'news-less/base/banner/b-banner-300x200-crime.html' %}
{% else %}
    {% include 'news-less/base/banner/b-banner-300x200.html' %}
{% endif %}

<div{% if request.user_agent.is_pc %} class="g-margin-bottom-50 j-sticky"{% endif %}>
    {% hot_discussion current_object=object %}
    {% include 'news-less/base/banner/under-hot-discussion.html' %}
</div>
