{% extends "to_moder.html" %}

{% load site_utils str_utils %}

{% block body_letter %}
    {% if event.is_commercial %}<p><b>Коммерческое событие</b></p>{% endif %}
    <p>Тип: {{ event.type.title }}</p>
    <p>Название: {{ event.title }}</p>
    <p>Местро проведения: {{ event.place }}</p>
    <p>Даты проведения:
        {% for period in periods %}
            {{ period.start_date }},
        {% endfor %}
    </p>
    {% if announcements %}
    <p>Анонсы:
        {% for announcement in announcements %}
            {{ announcement.get_place_display }}: {{ announcement.start }} - {{ announcement.end }}
        {% endfor %}
    </p>
    {% endif %}
    <p>Цена: {{ period.price }}</p>
    <p>Официальный сайт: {{ event.source_url }}</p>
    {% if event.vk_url %}<p>Ссылка на Вконтакте: {{ event.vk_url }}</p>{% endif %}
    {% if event.fb_url %}<p>Ссылка на Facebook: {{ event.fb_url }}</p>{% endif %}
    {% if event.ok_url %}<p>Ссылка на Однокласники: {{ event.ok_url }}</p>{% endif %}
    {% if event.inst_url %}<p>Ссылка на Instagram: {{ event.inst_url }}</p>{% endif %}

    <p>Контакты организатора: {{ event.organizer_contacts }}</p>
    <p>E-mail: {{ event.organizer_email }}</p>
    <p><a href="https://{% get_site_url www %}{% url 'admin:afisha_event_change' event.pk %}">Редактировать</a></p>
{% endblock %}