{% load staticfiles site_utils %}

<!DOCTYPE html>
<html>
<head>
    <title>Рассылка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="font-size:14px;line-height:1.4;color: #000 !important; font-family:Arial; margin:0; display:block; background: #eeeeee;">
<div style="padding: 0; background: #eeeeee; font-family:Arial; font-size:14px; line-height:1.4;">
    <table style="width: 620px; padding: 0;" cellpadding="0" cellspacing="0" align="center">
        <tbody style="width: 620px; padding: 0;">
            <tr>
                <td colspan="3" style="padding-top: 40px;">
                    <div style="width: 100%; text-align: center;">
                        <center>
                            <a href="https://{% get_site_url www domain %}"><img style="display: inline-block; " width="72" height="30" src="{% static 'news/img/distribution/logo.png' %}" alt=""/></a>
                            <p style="color: #666666; margin-bottom: 45px;"><font face="Arial, sans-serif" color="#666666">{{ newsletter.title }}</font></p>
                        </center>
                    </div>
                </td>
            </tr>
            {% include 'news/notif/distribution_message.html' with materials=materials %}
            <tr>
                <td colspan="3">
                    <div style="height: 20px; width: 100%; border-top: solid 1px #e3e3e3;">&nbsp;</div>
                    <table cellspacing="0" cellpadding="0" style="width: 100%;">
                        <tr>
                            <td align="left" valign="top" style="padding: 0 0 30px 0; margin: 0; ">
                                <p style="color: #888888; font-size: 12px; margin: 0 0 7px;"><font face="Arial, sans-serif" color="#888888">Вы подписаны на рассылку от IRK.ru</font></p>
                                <a href="https://{% get_site_url www domain %}{% url 'news:subscription:unsubscribe' %}?mail={{ subscriber.email }}&amp;hash={{ subscriber.hash }}" style="color: #888888; text-decoration: underline; font-size: 12px;"><font face="Arial, sans-serif" color="#888888">Отказаться от подписки</font></a>
                            </td>
                            <td align="right" valign="top" style="padding: 0 0 30px 0;">
                                <a href="https://www.facebook.com/tvoyirkutsk" style="margin-right: 17px; color: #A7A7A7; text-decoration: underline; font-size: 14px;"><img src="{% static 'news/img/distribution/fb.png' %}" alt="Твой Иркутск группа в facebook"/></a>
                                <a href="https://vk.com/tvoy_irkutsk" style="margin-right: 15px; color: #A7A7A7; text-decoration: underline; font-size: 14px;"><img src="{% static 'news/img/distribution/vk.png' %}" alt="Твой Иркутск группа в vkontakte"/></a>
                                <a href="https://twitter.com/tvoyirkutsk" style="margin-right: 15px; color: #A7A7A7; text-decoration: underline; font-size: 14px;"><img src="{% static 'news/img/distribution/tw.png' %}" alt="Твой Иркутск аккаунт в twitter"/></a>
                                <a href="https://instagram.com/tvoyirkutsk/" style="color: #A7A7A7; text-decoration: underline; font-size: 14px;"><img src="{% static 'news/img/distribution/ig.png' %}" alt="Твой Иркутск аккаунт в intagram"/></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% if subscriber %}
    <img src="https://{% get_site_url www domain %}{{ newsletter.statistic_url }}" class="auditPixel" style="width:1px !important;height:1px !important;" />
{% endif %}
</body>
</html>
