{% comment %}
input:
    materials - список материалов по 2 штуки за раз
{% endcomment %}
{% load site_utils thumbnail pytils_dt str_utils news_tags staticfiles media_utils date_tags %}


{% for material_1, material_2 in materials %}
    <tr>
        <td valign="top" style="background: #ffffff; border-bottom: solid 1px #e4e4e4;">
            <div style="width: 300px;">
                <div>
                    {% if material_1.image %}
                        <div style="margin-bottom: 10px;">
                            {% thumbnail material_1.image 300x200 as thumb1 %}
                            <a href="https://{% get_site_url 'www' %}{{ material_1.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="display: block; text-decoration: none;"><img src="{{ thumb1 }}" alt="" width="300px" height="200px" style="display: block;"></a>
                        </div>
                    {% endif %}
                    {% if material_1.label %}
                    <div style="margin: 20px 20px 5px 20px;">
                        <a href="https://{% get_site_url 'www' %}{{ material_1.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="text-decoration: none; color: #0099ff; font-size: 10px; text-transform: uppercase;"><font face="Arial, sans-serif" color="#0099ff">{{ material_1.label }}</font></a>
                    </div>
                    {% endif %}
                    <div style="margin: 0 20px 5px 20px; width: 260px;">
                        <h4 style="margin: 0; font-size: 18px;"><a href="https://{% get_site_url 'www' %}{{ material_1.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="text-decoration: none; color: #000000;"><font face="Arial, sans-serif" color="#000000">{{ material_1.title|typograf }}</font></a></h4>
                    </div>
                </div>
                {% if material_1.caption %}<a href="https://{% get_site_url 'www' %}{{ material_1.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="margin: 0 20px 5px 20px; display: block; font-size: 14px; color: #000000; text-decoration: none;"><p><font face="Arial, sans-serif" color="#000000">{{ material_1.caption|typograf }}</font></p></a>{% endif %}
                {% if material_1.stamp %}
                    <div style="margin: 10px 20px 0 20px;">
                        <p style="color: #777777; margin: 0; font-size: 12px;"><font face="Arial, sans-serif" color="#777777">{{ material_1.stamp|ru_strftime:"%d %B" }}{{ material_1.published_time|time:", H:i" }}</font></p>
                    </div>
                {% endif %}
            </div>
            <div style="height: 20px; width: 100%;">&nbsp;</div>
        </td>
        <td valign="top" width="20" style="border-bottom: solid 1px #eeeeee;">
            &nbsp;
        </td>
        <td valign="top" {% if material_2 %}style="background: #ffffff; border-bottom: solid 1px #e4e4e4;"{% endif %}>
            {% if material_2 %}
            <div style="width: 300px;">
                <div>
                    {% if material_2.image %}
                        <div style="margin-bottom: 10px;">
                            {% thumbnail material_2.image 300x200 as thumb1 %}
                            <a href="https://{% get_site_url 'www' %}{{ material_2.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="display: block; text-decoration: none;"><img src="{{ thumb1 }}" alt="" width="300px" height="200px" style="display: block;"></a>
                        </div>
                    {% endif %}
                    {% if material_2.label %}
                    <div style="margin: 20px 20px 5px 20px;">
                        <a href="https://{% get_site_url 'www' %}{{ material_2.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="text-decoration: none; color: #0099ff; font-size: 10px; text-transform: uppercase;"><font face="Arial, sans-serif" color="#0099ff">{{ material_2.label }}</font></a>
                    </div>
                    {% endif %}
                    <div style="margin: 0 20px 5px 20px; width: 260px;">
                        <h4 style="margin: 0; font-size: 18px;"><a href="https://{% get_site_url 'www' %}{{ material_2.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="text-decoration: none; color: #000000;"><font face="Arial, sans-serif" color="#000000">{{ material_2.title|typograf }}</font></a></h4>
                    </div>
                </div>
                {% if material_2.caption %}<a href="https://{% get_site_url 'www' %}{{ material_2.url }}?utm_source=subscribe&utm_medium={{ newsletter.label }}&utm_campaign={{ newsletter.get_date_label }}" style="margin: 0 20px 5px 20px; display: block; font-size: 14px; color: #000000; text-decoration: none;"><p><font face="Arial, sans-serif" color="#000000">{{ material_2.caption|typograf }}</font></p></a>{% endif %}
                {% if material_2.stamp %}
                    <div style="margin: 10px 20px 0 20px;">
                        <p style="color: #777777; margin: 0; font-size: 12px;"><font face="Arial, sans-serif" color="#777777">{{ material_2.stamp|ru_strftime:"%d %B" }}{{ material_2.published_time|time:", H:i" }}</font></p>
                    </div>
                {% endif %}
            </div>
            {% endif %}
            <div style="height: 20px; width: 100%;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div style="height: 20px;">&nbsp;</div>
        </td>
    </tr>
{% endfor %}
