{% load str_utils thumbnail %}
{% spaceless %}
{% for entry in entries %}
    <tr class="{% if entry.is_important %}g-important{% endif %} {% cycle 'g-odd' ' ' %}">
        <th>{{ entry.created|date:"H:i" }}</th>
        <td>
            {{ entry.text|typograf:'admin,True'|safe }}
            {% if entry.image %}
                {% thumbnail entry.image 480x1000 as thumb %}
                <img alt="" src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% endspaceless %}
