{% extends 'weather/layout.html' %}

{% load weather_tags str_utils staticfiles media_utils static pytils_dt profile_utils adv_tags adwords_tags staticfiles news_tags cache_tags thumbnail comments_tags %}

{% block meta %}
    {{ block.super }}
    <meta name="description" content="сейчас в {{ forecast.city.predl_name }} {{ forecast.temp|sign }}&deg;, {{ forecast.sky|default_if_none:"—" }}, {% if forecast.wind.is_calm %}штиль{% else %}{{ forecast.wind.long }} ветер, {{ forecast.wind.speed }} м/с{% endif %}{% if forecast.pressure %}, давление {{ forecast.pressure }} мм рт. ст.{% endif %}">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var SET_OPTION_URL = "{% url 'profiles:set_option' %}";
        var REQUEST_PATH = "{{ request.path }}";
    </script>
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.swiper.3.0.5.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apps-js/irk.overlay-slider.js' %}"></script>
{% endblock %}

{% block container %}
    {% option weather.weatherfavoritecity %}
    {{ block.super }}
{% endblock %}

{% block b-container-first-header %}
    <header class="b-weather-first-header g-margin-bottom-20 g-relative">
        <span class="b-weather-multioptions-button g-button_white g-right j-weather-multioptions-selector-link j-irk-open {% if request.user_agent.is_gadget %}touchstart{% else %}click{% endif %}" data-open-target="multioptions">Другой город</span>
        <h1>Погода в {{ forecast.city.predl_name }}</h1>
    </header>
    {% if request.user_agent.is_gadget and meteocentre.storm_content %}
        <div class="b-weather-main-storm-mobile g-mobile_768 g-mobile_480 g-mobile_320">
            <div class="b-weather-main-storm-mobile-title j-weather-main-storm-mobile">
                <b>{{ meteocentre.storm_caption|default:'штормовое'|capfirst }}:</b>
            </div>
            <div class="b-weather-main-storm-mobile-hidden j-weather-main-storm-mobile-container">
                {{ meteocentre.storm_content|typograf|safe }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block b-container-second %}
    {% thumbnail wish.image 1024x440 crop as thumb %}
    {% ibanner id=503 template='adv/banners/weather_banner' as banner_503 %}
    <div class="b-container-padding b-weather-main-through{% if banner_503 %} banner{% endif %} g-relative j-weather-main-through" data-origin="{{ wish.origin }}" style="{% if not request.user_agent.is_gadget and not banner_503 %}background-image: url({{ wish.image.url }}){% endif %}" data-background-url="url({{ wish.image.url }})" data-background-adaptive-url="url({{ thumb }})">
        {% if banner_503 %}
            <div class="g-desktop b-weather-main-through-banner">
                {{ banner_503 }}
            </div>
        {% endif %}
        <div class="g-overflow">
            <div class="b-container b-weather-main">
                <div class="b-weather-main-wrap">
                    {% include 'weather/snippets/weather_actual.html' with forecast=forecast sign=sign meteocentre=meteocentre %}
                </div>
            </div>
        </div>
        <div class="b-weather-main-days-navigator j-weather-main-days-navigator">
        <span class="j-weather-short type{% if not detailed %} g-active{% endif %}">
            Кратко
        </span>
        <span class="j-weather-detailed type{% if detailed %} g-active{% endif %}" data-detailed-url="{% url 'weather:detailed' forecast.city.id %}" data-detailed-loaded="false">
            Подробно
        </span>
        {% if meteocentre %}
        <span class="j-weather-hydrometcenter type">
            От Гидрометцентра
        </span>
        {% endif %}
        </div>
        <div class="b-weather-main-shadow"></div>
    </div>
{% endblock %}

{% block b-content %}
    <ul class="b-list-v b-weather-detailed-days j-weather-detailed-days"></ul>
    <div class="b-weather-short-days j-weather-short-days">
        {% ibanner id=496 as banner_496 %}
        {% if banner_496 %}
            <div class="g-right b-weather-banner-300 g-desktop g-margin-bottom-20">
                {{ banner_496 }}
            </div>
        {% endif %}
        {% if meteocentre %}
            <div class="b-weather-city-hydrometcenter {% if not banner_496 %}no-banner{% endif %} j-weather-city-hydrometcenter">
                <div class="b-weather-city-hydrometcenter-container">
                    <h4 class="g-font-size-16 g-font-bold g-margin-bottom-10">Прогноз от Гидрометцентра на {{ meteocentre.stamp|ru_strftime:'%d %B' }}</h4>
                    <div class="g-font-size-14 g-margin-bottom-15">{{ meteocentre.content|typograf:'admin'|safe }}</div>
                    <p class="g-color-gray">Данные предоставлены <a href="http://www.irmeteo.ru/">ФГБУ &laquo;Иркутское&nbsp;УГМС&raquo;</a></p>
                </div>
            </div>
        {% endif %}
        <div class="b-weather-city {% if not banner_496 %}no-banner{% endif %} j-weather-city">
            <div class="b-weather-city-days-container g-margin-bottom-10">
{# Переключатель не нужен так как прогноз всего на 5 дней  #}
{#                <div class="b-weather-city-days-navigator">#}
{#                    {% if not detailed %}#}
{#                        <div class="b-weather-city-days-navigator-scroll j-weather-city-days-navigator-scroll g-item-1 g-cursor-pointer">#}
{#                            <span class="g-item-1"></span>#}
{#                            <span class="g-item-2"></span>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
                <div class="b-weather-city-days-container-overflow">
                    <ul class="b-list-h b-weather-city-days {% if not banner_496 %}no-banner{% endif %} j-weather-city-days">
                    {% cache 3600 'weather.index.forecast_days' vary='city.id' tags='forecast_day' %}
                        {% for forecast_for_day in forecast_by_days %}
                            <li{% if forloop.counter == 5 %} class="g-item-5"{% endif %}>
                                <div class="day g-margin-bottom-10">
                                    {% spaceless %}
                                        <b>
                                            {% if forloop.first %}
                                                Сегодня,
                                            {% elif forloop.counter == 2 %}
                                                Завтра,
                                            {% else %}
                                                {{ forecast_for_day.date|ru_strftime:"%a"|capfirst }},
                                            {% endif %}
                                        </b>
                                    {% endspaceless %}
                                    <span class="g-color-gray">{{ forecast_for_day.date|date:"j M."|lower }}</span>
                                </div>
                                <div class="b-weather-city-days-icons g-margin-bottom-5">
                                    <span class="g-icon-weather-small {{ forecast_for_day.sky.icon_class }}" title="{{ forecast_for_day.sky|default_if_none:"—" }}"></span>
                                </div>
                                <div class="b-weather-city-days-temp">
                                    <div class="g-font-size-21 g-margin-bottom-10">
                                        {{ forecast_for_day.temp.day|sign|default_if_none:"&mdash;" }}&deg;
                                    </div>
                                    <div class="night g-font-size-17 g-color-gray g-margin-bottom-10">
                                        {{ forecast_for_day.temp.night|sign|default_if_none:"&mdash;" }}&deg;
                                    </div>
                                </div>
                                <div class="b-weather-city-days-description">
                                    {% if forecast_for_day.wind %}
                                        {% if forecast_for_day.wind.is_calm %}
                                            штиль
                                        {% else %}
                                            {{ forecast_for_day.wind.speed }}&#160;м/с<br>
                                            {{ forecast_for_day.wind.short }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    {% endcache %}
                    </ul>
                </div>
            </div>

{#            <div class="g-desktop g-margin-bottom-30">#}
{#                <small class="g-color-gray">Данные предоставлены <a href="https://openweathermap.org">OpenWeatherMap</a></small>#}
{#            </div>#}
        </div>
    </div>

    {% if request.user_agent.is_gadget and sign %}
        <div class="b-weather-main-sign-mobile g-mobile_480 g-mobile_320"><p>{{ sign.text|typograf }}</p></div>
    {% endif %}

    <ul class="b-weather-entertainment-list">
{#        <li class="b-weather-entertainment-list-item g-relative j-feature-init" data-feature-text="Зацените, новые фишки от Ирк.ру" data-feature-button-text="Класс!" data-feature-top="105" data-feature-left="45" data-feature-class="cat-left-45">#}
        <li class="b-weather-entertainment-list-item">
            <a href="{% url 'weather:moon_day' %} " class="b-weather-entertainment-item">
                <span class="b-weather-entertainment-item-icon"><img src="{% static 'weather/img/p1.png' %}" alt="Лунный календарь"></span>
                <h4 class="b-weather-entertainment-item-title">Лунный календарь<br> на сегодня</h4>
            </a>
        </li>
        <li class="b-weather-entertainment-list-item">
            <a href="{% url 'weather:sudoku' %}" class="b-weather-entertainment-item">
                <span class="b-weather-entertainment-item-icon"><img src="{% static 'weather/img/p2.png' %}" alt="Решить головоломку"></span>
                <h4 class="b-weather-entertainment-item-title">Решить головоломку<br> с числами судоку </h4>
            </a>
        </li>
        <li class="b-weather-entertainment-list-item">
            {% with joke.content|truncate_words_to_str_length:90|strip_forum_tags as joke_content %}
                <a href="#" class="b-weather-entertainment-item j-irk-open click" data-open-target="joke">
                    <h4 class="b-weather-entertainment-item-title padding-top">Минутка юмора</h4>
                        <div class="b-weather-entertainment-item-paragraph-overflow">{{ joke_content|typograf }}{% if joke.content|length > joke_content|length %}<span class="g-link">&rarr;</span>{% endif %}</div>
                </a>
                {% if joke.content|length > joke_content|length %}
                    <div class="b-weather-entertainment-joke-container j-irk-open-joke j-irk-close j-irk-close-joke">
                        <span class="close j-irk-close" data-close-target="joke"></span>
                        <div class="b-weather-entertainment-joke">
                            {{ joke.content|typograf:'admin' }}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </li>
        {% comment %}
        <li class="b-weather-entertainment-list-item">
            <a href="#" class="b-weather-entertainment-item">
                <span class="b-weather-entertainment-item-icon"><img src="{% static 'weather/img/p3.png' %}" alt="Сыграть в Star Craft"></span>
                <h4 class="b-weather-entertainment-item-title">Сыграть в Star Craft <br>- игра в жанре стратегии </h4>
            </a>
        </li>
        {% endcomment %}
    </ul>
    {% ibanner id=497 as banner_497 %}
    {% if banner_497 %}
        <div class="g-margin-bottom-50 g-desktop">
            {{ banner_497 }}
        </div>
    {% endif %}

    {% if forecast.has_charts %}
        <section class="b-weather-city-graphs-container g-margin-bottom-30 j-weather-city-graphs" data-cityid="{{ forecast.city.pk }}" data-graphs-url="{% url 'weather:charts' forecast.city.pk %}">
            <style scoped type="text/css">
                .line {
                    stroke: url(#temperature-gradient);
                }

                .point {
                    stroke: url(#temperature-gradient);
                    fill: white;
                    stroke-width: 1px;
                }

                .j-graph-pressure .line {
                    stroke: black;
                }
            </style>
            <ul class="b-list-l b-weather-toggle b-weather-city-graphs j-weather-city-graphs-list">
                <li>
                    <h4 class="b-weather-city-graphs-title">Изменения температуры за 24 часа</h4>
                    <div class="j-graph-weather-{{ forecast.city.pk }} g-relative"></div>
                </li>
                <li>
                    <h4 class="b-weather-city-graphs-title">Изменения давления</h4>
                    <div class="j-graph-pressure j-graph-pressure-{{ forecast.city.pk }}"></div>
                </li>
            </ul>
        </section>
    {% endif %}
    <ul class="b-list-h b-weather-button-group j-tab-switcher j-tab-switcher-listlink j-tab-switcher-adaptive j-scrollLoad-yamap" data-tab-class="j-map-type-tab" data-tabswitcher-more-class="b-weather-button-group-more">
        <li>
            <span data-tab="j-map-type-1" class="map-type j-weather-map-swither-1 g-active">Погода по области</span>
        </li>

        <li>
            <span data-tab="j-map-type-2" class="map-type j-weather-map-swither-2">Сейсмокарта</span>
        </li>

        <li>
            <span data-tab="j-map-type-3" class="map-type j-weather-map-swither-3">Карта Байкала</span>
        </li>
        {% comment %}
        <li>
            <span data-tab="j-map-type-4" class="map-type j-weather-map-swither-4">Уровень Байкала</span>
        </li>

        <li>
            <span data-tab="j-map-type-5" class="map-type j-weather-map-swither-5">Карта пожаров</span>
        </li>
        {% endcomment %}
    </ul>
    <ul class="b-weather-maps-content g-margin-bottom-50">
        <li class="j-map-type-tab j-map-type-1" id="j-map-type-1">
            <div class="b-weather-yamap g-afisha-preloader">
                <div id="current-weather-map" class="j-weather-yanmap-container" style="width: 100%; height:100%;" data-map-url="{% url 'weather:map_forecasts' %}" data-map-detailed-url="{% url 'weather:map_detailed' %}"></div>
            </div>
        </li>
        <li class="j-map-type-tab j-map-type-2 g-hide" id="j-map-type-2">
            <img alt="Сейсмокарта" src="{% get_media_prefix %}img/weather/temp/map_4.jpg?g={% now "ymdh" %}">
            <p>
                Карта предоставлена <a href="http://www.seis-bykl.ru/" target="_blank" rel="nofollow">Байкальским
                филиалом ФИЦ ЕГС РАН</a>.
            </p>
        </li>
        <li class="j-map-type-tab j-map-type-3 g-hide" id="j-map-type-3">
            <img alt="Карта Байкала" src="http://sputnik.irk.ru/main/data/public/baikal/" width="550px">
            <p>
                Карта предоставлена <a href="http://sputnik.irk.ru" target="_blank" rel="nofollow">Иркутским
                центром дистанционного зондирования Земли</a>.
            </p>
        </li>
        {% comment %}
        <li class="j-map-type-tab j-map-type-4 g-hide" id="j-map-type-4">
            <img alt="Уровень Байкала"
                 src="{% get_media_prefix %}img/weather/temp/map_7.jpg?g={% now "ymdh" %}">
            <p>
                График предоставлен <a href="http://www.hydro.lin.irk.ru">Лимнологическим Институтом СО РАН</a>.
            </p>
            <p>
                Обновлено {{ now|ru_strftime:"%d %B %Y" }} г.
            </p>
        </li>
        {% endcomment %}
        <li class="j-map-type-tab j-map-type-5 g-hide" id="j-map-type-5">
            <img src="{% get_media_prefix %}img/weather/temp/map_6.jpg?g={% now 'ymdh' %}"
                 alt="Температура воды Байкала"/>
            <p>
                Карта предоставлена <a href="http://sputnik.irk.ru" target="_blank" rel="nofollow">Иркутским
                центром дистанционного зондирования Земли</a>.
            </p>
        </li>
    </ul>


{#    {% weather_instagram_block limit=5 %}#}
{#    {% include 'weather/tags/weather_instagram_block.html' %}#}
{% endblock b-content %}
