{% extends 'weather/layout.html' %}

{% load weather_tags str_utils staticfiles media_utils static pytils_dt profile_utils adv_tags adwords_tags staticfiles news_tags cache_tags thumbnail %}

{% block title %}
    Судоку | {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "weather/js/sudoku.js" %}"></script>
{% endblock %}

{% block b-container-first-header %}
    <header class="b-content-header g-margin-bottom-20 g-relative">
        {% weather_rubricator %}
    </header>
{% endblock %}

{% block b-container-third-class %}no-padding-top{% endblock %}

{% block b-content %}
    <aside class="b-aside-r g-desktop g-mobile_768 j-transform-container j-transform-container-aside-mobile_768 j-transform-container-aside-desktop">
        <div class="j-transform g-text-align-left" data-transform-target="aside">
        {% include 'weather/base/b-aside-r.html' %}
        </div>
    </aside>
    <div class="b-content-cr">
        <h1 class="b-weather-title-1">Судоку 9x9</h1>
        <div class="g-relative">
            <div class="b-sudoku-contextmenu j-sudoku-contextmenu">
                <div class="b-sudoku-contextmenu-flex">
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="1">1</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="2">2</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="3">3</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="4">4</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="5">5</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="6">6</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="7">7</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="8">8</div>
                    <div class="cell button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="9">9</div>
                </div>
                <div class="b-sudoku-contextmenu-footer g-float-center">
                    <div class="button j-sudoku-contextmenu-select" data-sudoku-contextmenu-select="0">Удалить</div>
                </div>
                <span class="close j-sudoku-contextmenu-close"></span>
            </div>
            <div class="b-sudoku-container j-sudoku"></div>
        </div>

        <div class="b-sudoku-buttons" id="Buttons">
            <a href="#" class="g-button_white_full j-sudoku-newgame">Новая игра</a>
            <a href="#" class="g-button_white_full j-sudoku-reset">Сбросить</a>
{#            <a href="#" class="g-button_white_full j-sudoku-solve">Проверить</a>#}
{#            <a href="#" class="g-button_white_full" onclick="javascript:return clearBoard()">Очистить</a>#}
        </div>
        <p class="g-font-size-16 g-margin-bottom-10">Цель головоломки Судоку — заполнить пустые ячейки так, чтобы каждый ряд,<br>
            столбик и квадрат 3×3 содержали цифры от 1 до 9 по одному разу.</p>
        <p class="g-font-size-16 g-margin-bottom-10">Используйте стрелки или мышь для выбора клетки.</p>
        <p class="g-font-size-16 g-margin-bottom-40">Цифры от <b>1-9</b> для заполнения клеток, цифра <b>0</b> и кнопки <b>DELETE</b><br>
            для очистки клеток.</p>
    </div>
{% endblock b-content %}
