{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils utils_tags thumbnail phones_tags share_utils %}
<!DOCTYPE html><html>
<head>
    {% include 'share_meta.html' with url='/games/memory-yota/' title='Проверка на внимательность' description='Проверка на внимательность' static_image='img/landing_pages/memory/share.jpg' static_image_width=800 static_image_height=420 %}

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--metatextblock-->
    <title>Проверка на внимательность</title>
    <meta property="og:url" content="https://www.irk.ru/games/memory-yota/" />
    <meta property="og:title" content="Проверка на внимательность" />
    <meta property="og:description" content="Проверка на внимательность" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="https://www.irk.ru/games/memory-yota/"><!--/metatextblock-->
    <meta property="fb:app_id" content="410658169034483"/>
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
        </script>

        <script type="text/javascript" src="{% static 'js/lib/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        <script src="{% static 'js/lib/jquery.swiper.3.0.5.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/landing/memory.js' %}"></script>
    {% endblock js %}

    {% block style %}
        {% less '/less/compile/landings/memory.less' %}
    {% endblock style %}

    {% if settings.DEBUG_ADAPTIVE or request.user_agent.is_gadget %}
        {% block style_adaptive %}
            {% less '/less/compile/adaptive/landings/memory.less' media='all' %}
        {% endblock style_adaptive %}
    {% endif %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}


</head>

<body class="j-toggle-target-bodyhide" data-toggle-class="b-main-menu-opened">

{% comment %} {% include 'yandex_metrika.html' %} {% endcomment %}
{% include 'snippets/header.html' %}

<div class="intro">
    <div class="intro__inner">
        <h1 class="intro__title">
            Проверка на внимательность
        </h1>
        <div class="intro__info">
            <p>
                Как думаете, какими приложениями пользуются интроверты, сколько минут
                в месяц нужно маркетологу и зачем дачнице безлимит на «Видеосвязь»?
            </p>
            <p>
                Вместе с <a href="https://www.yota.ru/voice/?utm_source=irkru&utm_medium=pr&utm_campaign=svoyayota-irkutsk&utm_content=specproject&utm_term=apr21#promo" target="_blank">Yota</a> мы придумали игру, в которой нужно угадать, сколько минут и
                гигабайтов тратил бы каждый из героев, и какими приложениями бы пользовался.
            </p>
            <p>
                На игровом поле ты увидишь восемь пар карточек. Постарайся их запомнить,
                потому что через несколько секунд они исчезнут, и тебе надо будет соединить
                персонажей с предпочитаемыми ими пакетами мобильных услуг с помощью клика.<br />12+
            </p>
        </div>
        <div class="intro__images">
            <img src="{% static '/img/landing_pages/memory/tilda/tild3061-6434-4631-b462-373965316266__ppl.png' %}" />
        </div>
        <div class="intro__buttons">
            <a href="game/" class="button">
                Вперед!
            </a>
        </div>
        <div class="social">
            <div class="social__text">
                Рассказать друзьям
            </div>
            <div class="social__buttons">
                {% share_custom additional_class='j-share-hardstatistic' description='Проверка на внимательность' url='/games/memory-yota/' social_statistic=socialstatistic %}
            </div>
        </div>
        <div class="intro__partner">
            Партнёрский материал совместно с <b>Yota</b>
        </div>
    </div>
</div>

{% include 'snippets/footer.html' %}

</body>
</html>