{% load static staticfiles media_utils cache_tags %}
{% cache 3600 options:less_header_menu vary="request.csite.site.pk,is_home,site_index,site_inner,request.user_agent.is_gadget,selected_site_id" tags="options" %}
    <nav> <!--удалить после нг-->
        {% if is_home %}
            <span class="b-header-logo"></span>
        {% else %}
            <a href="/" class="b-header-logo"></a>
        {% endif %}
        <ul class="b-list-h">
            {% for site in sites %}
            <li class="menu{{ forloop.counter }}{% if site.selected %} b-selected{% endif %}">
                {% if site.url == request.path %}
                    {% if site.image %}
                        <span class="menu-{{ site.menu_class }}">
                            <img src="{% get_media_prefix %}{{ site.image }}" alt="{{ site.name }}" />
                        </span>
                    {% else %}
                        <span class="menu-{{ site.menu_class }}">{{ site.name }}</span>
                    {% endif %}
                {% else %}
                    <a class="menu-{{ site.menu_class }}" href="{{ site.url }}">
                        {% if site.image %}
                            <img src="{% get_media_prefix %}{{ site.image }}" alt="{{ site.name }}" />
                        {% else %}
                            {% if site.show_icon %}
                                <img src="{% get_media_prefix %}{{ site.icon }}" class="g-desktop" alt=""/>
                            {% endif %}
                            {{ site.name }}
                        {% endif %}
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

{% if request.user_agent.is_gadget %}
        <div class="b-dropdown-menu-button g-accelerate j-toggle-button j-toggle-target-mainmenu" data-toggle-class="show" data-toggle-target="mainmenu bodyhide">
            <div class="icon-line-background">
                <div class="icon-line top"></div>
                <div class="icon-line mid"></div>
                <div class="icon-line bot"></div>
            </div>
        </div>

        <div class="b-main-menu g-mobile_320 g-mobile_960 g-mobile_480 g-mobile_768 j-toggle-target-mainmenu" data-toggle-class="b-main-menu-toggle">
                <ul class="b-list-main-menu">
                    {% for site in sites %}
                    <li class="menu{{ forloop.counter }}{% if site.selected %} b-selected{% endif %}">
                        {% if site.url == request.path %}
                            {% if site.image %}
                                <span class="b-list-main-menu-selected">
                                    <img src="{% get_media_prefix %}{{ site.image }}" alt="{{ site.name }}" />
                                </span>
                            {% else %}
                                <span class="b-list-main-menu-selected">{{ site.name }}</span>
                            {% endif %}
                        {% else %}
                            <a class="menu-{{ site.menu_class }}" href="{{ site.url }}">
                                {% if site.image %}
                                    <img src="{% get_media_prefix %}{{ site.image }}" alt="{{ site.name }}" />
                                {% else %}
                                    {{ site.name }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
        </div>
{% endif %}
    </nav>
{% endcache %}
