{% load staticfiles media_utils cache_tags site_utils %}
{% cache 3600 options:less_header_menu vary="request.csite.site.pk,site_index,site_inner,share_url" tags="options" %}

<nav>
    {% if share %}
        <div class="share">
            <ul class="b-nav-share-icons j-share-buttons" data-url="http://{% get_site_url 'www' %}{{ share_url }}" data-description="{{ share_description }}">
                <li><span class="icon fb g-cursor-pointer j-share j-share-fb j-metrika-goal" data-metrika-goal="{{ share_metrika }}_fb" title="Поделиться в Facebook"></span></li>
                <li><span class="icon ok g-cursor-pointer j-share j-share-ok j-metrika-goal" data-metrika-goal="{{ share_metrika }}_ok" title="Поделиться в Одноклассниках"></span></li>
                <li><span class="icon vk g-cursor-pointer j-share j-share-vk j-metrika-goal" data-metrika-goal="{{ share_metrika }}_vk" title="Поделиться во Вконтакте"></span></li>
                <li><span class="icon tw g-cursor-pointer j-share j-share-tw j-metrika-goal" data-metrika-goal="{{ share_metrika }}_tw" title="Поделиться в Твиттере"></span></li>
            </ul>
        </div>
    {% endif %}

    <ul class="b-list-h">
        {% spaceless %}
        <li><a class="b-nav-home-link" href="/" title="Твой Иркутск"></a></li>
        {% for site in sites %}
            <li><a class="menu-{{ site.menu_class }}" href="{{ site.url }}">{{ site.name }}</a></li>
        {% endfor %}
        {% endspaceless %}
    </ul>
</nav>

{% endcache %}
