{% extends "afisha/event/index.html" %}

{% load afisha_tags str_utils %}

{% block days-items %}
    <li><span class="g-active">Все</span></li>
    {% if choices.today %}<li class="j-filter-date"><span data-date="{{ choices.today|date:"Ymd" }}">Сегодня</span></li>{% endif %}
    {% if choices.tomorrow %}<li class="j-filter-date"><span data-date="{{ choices.tomorrow|date:"Ymd" }}">Завтра</span></li>{% endif %}
    {% if choices.week %}<li class="g-not-mobile_320 j-filter-date"><span data-date="week">Неделя</span></li>{% endif %}
    <li class="b-calendar-open j-calendar-open">
        <span><span class="icon-calendar-new"></span></span>
        <div class="b-calendar">
            <a href="#" class="b-calendar-close"></a>
            <article></article>
        </div>
    </li>
{% endblock days-items %}

{% block aside_category %}
    <ul class="b-afisha-events-category g-font-size-16 g-clear-left g-margin-bottom-15 j-event-filter afisha-filter-group">
        <li class="j-filter-genre"><span class="g-jlink g-active">Что угодно</span></li>
        {% filter_choices view filters.genre 'choices' %}
        {% for genre in choices %}
            <li class="j-filter-genre"><span class="g-jlink" data-id="{{ genre.id }}">{{ genre }}</span></li>
        {% endfor %}
    </ul>
{% endblock %}
