{% load str_utils pytils_dt math_utils cache_tags staticfiles media_utils %}

{% if poll %}
    <div class="b-content-block b-aside-poll j-poll-quiz" id="poll-{{ poll.pk }}-container">
        {% if not voted %}{# Пользователь не голосовал, показываем форму #}
        <h4>{{ poll.title|typograf|safe }}</h4>
            <input type="hidden" name="poll" value="{{ poll.pk }}">
            {% block poll-hidden %}<input type="hidden" name="brand" value="new">{% endblock poll-hidden %}
            <ul class="b-list-v b-poll-v">
                {% for choice in poll.choices %}
                    <li>
                        <input type="radio" name="choice[{{ poll.pk }}]" id="poll-{{ poll.pk }}-choice-{{ forloop.counter }}" value="{{ choice.pk }}">
                        <label for="poll-{{ poll.pk }}-choice-{{ forloop.counter }}">{{ choice.text|typograf|safe }}</label>
                    </li>
                {% endfor %}
            </ul>


        {% else %}
            <h4>{{ poll.title|typograf|safe }}</h4>
            <ul class="b-list-v b-poll-v">
                {% for choice in poll.choices %}
                    <li>
                        <p>{{ choice.text|typograf|safe }}</p>
                        <div class="b-aside-poll-line" style="width:{% widthratio choice.votes_cnt poll.votes_cnt 70 %}%;"></div>
                        <small>{{ choice.votes_cnt }}&nbsp;({{ choice.votes_cnt|percent:poll.votes_cnt }}%)</small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}
