{% load str_utils pytils_dt math_utils cache_tags staticfiles media_utils %}
{% if poll %}
    {% block poll-body %}
        <div class="b-content-block b-aside-poll" id="poll-{{ poll.pk }}-container">
            {% if not voted %}{# Пользователь не голосовал, показываем форму #}
            <h4>{{ poll.title|typograf|safe }}</h4>
                <form method="post" action="{% url 'polls:vote' %}" id="poll-{{ poll.pk }}">{% csrf_token %}
                    <input type="hidden" name="poll" value="{{ poll.pk }}">
                    {% block poll-hidden %}<input type="hidden" name="brand" value="new">{% endblock poll-hidden %}
                    <ul class="b-list-v b-poll-v">
                        {% for choice in poll.choices %}
                            <li>
                                <input type="radio" name="choice" id="poll-choice-{{ forloop.counter }}" value="{{ choice.pk }}">
                                <label for="poll-choice-{{ forloop.counter }}">{{ choice.text|typograf|safe }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                    <input type="submit" value="Проголосовать"{% block poll-submit-add %}{% endblock %} disabled="disabled">
                </form>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#poll-{{ poll.pk }}').submit(function() {
                            $(this).ajaxSubmit({
                                beforeSubmit: function() {
                                    $('#poll-{{ poll.pk }}').append('<img src="{% static 'img/ajax-load.gif' %}" style="vertical-align: middle">');
                                },
                                success: function(data) {
                                    $('#poll-{{ poll.pk }}-container').replaceWith(data);
                                }
                            });
                            return false;
                        });

                        $("#poll-{{ poll.pk }}").on('change', 'input[type="radio"]', function() {
                            $("#poll-{{ poll.pk }} input[type='submit']").removeAttr("disabled");
                        });
                    });
                </script>

            {% else %}{# Пользователь уже голосовал, показываем процентовку. TODO: новый дизайн #}
                <h4>{{ poll.title|typograf|safe }}</h4>
                <ul class="b-list-v b-poll-v">
                    {% for choice in poll.choices %}
                        <li>
                            <p>{{ choice.text|typograf|safe }}</p>
                            <div class="b-aside-poll-line" style="width:{% widthratio choice.votes_cnt poll.votes_cnt 70 %}%;"></div>
                            <small>{{ choice.votes_cnt }}&nbsp;({{ choice.votes_cnt|percent:poll.votes_cnt }}%)</small>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block poll-total %}<p>Всего проголосовало: <b>{{ poll.votes_cnt }}</b></p>{% endblock poll-total %}
            {% block poll-date %}
                <small class="g-color-gray">
                    {% if poll.is_active %}
                        Голосование проходит до {{ poll.end|date:"j" }} {{ poll.end|ru_strftime:"%B %Y г." }}
                    {% else %}
                        Голосование проходило с
                        {% if poll.start|date:"m" == poll.end|date:"m" %}
                            {{ poll.start|date:"j" }} по {{ poll.end|date:"j" }} {{ poll.end|ru_strftime:"%B %Y г." }}
                        {% else %}
                            {{ poll.start|date:"j" }} {{ poll.start|ru_strftime:"%B" }}
                            по {{ poll.end|date:"j" }} {{ poll.end|ru_strftime:"%B" }} {{ poll.end|ru_strftime:"%Y г." }}
                        {% endif %}
                    {% endif %}<br>
                    <a class="icon-inline icon-left icon-comment" href="{{ poll.get_absolute_url }}?comments=1#comments">Обсудить</a>
                </small>
            {% endblock poll-date %}
        </div>
    {% endblock poll-body %}

{% endif %}