{% extends "letter.html" %}

{% load pytils_numeral %}

{% block content %}
<h3>Ваш аккаунт {{ user.username }} на Ирк.ру заблокирован</h3>

<p>Здравствуйте, {{ user.username }}!<br/> 
Отвечать на это письмо НЕ НУЖНО.</p>

<p>Ваш аккаунт {{ user.username }} заблокирован модератором{% if period %} на {{ period }} {{ period|choose_plural:"день, дня, дней" }}{% else %} навсегда{% endif %}.<br/>
Теперь Вы не можете оставлять сообщения на форуме Ирк.ру.</p>
<p>После окончания срока бана ваш аккаунт будет автоматически разблокирован.</p>
<p>Если это письмо пришло вам по ошибке, проигнорируйте его.</p>
{% endblock %}