{% extends "obed/layout.html" %}

{% load gallery_tags form_tags staticfiles media_utils thumbnail comments_tags str_utils rating_tags cache %}

{% block title %}Добавление участника | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/add_odd.js' %}"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
    {% less '/less/compile/apps/contests.less' %}
{% endblock style %}

{% block b-content-parent %}
    <h1>Принять участие в конкурсе</h1>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}

        <table id="tableNewView">


            {% tr_field_contests form.title 'title' %}
            {% tr_field_contests form.description 'description' %}

            <tr>
                <th>Галерея</th>
                <td>{% gallery_form_new gallery_form 12 %}
                    <small class="b-help-text">Загружаемые фотографии должны быть в формате <b>jpeg, gif, png</b>. Максимальный размер фотографии не должен превышать <b>500Кб</b>.</small>
                </td>
            </tr>

            <tr>
                <th></th>
                <td>
                    <button class="b-button" type="submit">Отправить</button>
                </td>
            </tr>

        </table>
    </form>

{% endblock %}
