{% if settings.TICKETS_ENABLED %}
    {% if session.rambler_session %}
        <a class="time-list__link j-afisha-kassy-rambler-link j-metrika-goal"
           data-metrika-goal="cinema_buy_click_step2"
           title="Купить билет"
           data-session-id="{{ session.rambler_session.id }}">
            <time>{{ session.time|time:"H:i" }}</time>
        </a>
{#    {% elif session.kinomax_session %}#}
{#        <a class="b-afisha-schedule-time-link km_widget g-cursor-pointer" title="Купить билет" data-kmwidget='{"sessionID":"{{ session.kinomax_session.id }}"}'>#}
{#            <time>{{ session.time|time:"H:i" }}</time>#}
{#        </a>#}
    {% else %}
        <time class="time-list__time">{{ session.time|time:"H:i" }}</time>
    {% endif %}
{% else %}
    <time class="time-list__time">{{ session.time|time:"H:i" }}</time>
{% endif %}
