<p>
    {% if event.source_url %}<a target="_blank" class="social-link" href="{{ event.source_url }}">Официальный сайт</a>{% endif %}
    {% if event.vk_url %}<a target="_blank" class="social-link" href="{{ event.vk_url }}">Вконтакте</a>{% endif %}
    {% if event.fb_url %}<a target="_blank" class="social-link" href="{{ event.fb_url }}">Facebook</a>{% endif %}
    {% if event.ok_url %}<a target="_blank" class="social-link" href="{{ event.ok_url }}">Одноклассники</a>{% endif %}
    {% if event.inst_url %}<a target="_blank" class="social-link" href="{{ event.inst_url }}">Instagram</a>{% endif %}
</p>