{% comment %}
    Элемент списка в индексе статей в админке
    (скопирован из Материалов на главной, не уверен, что все параметры ниже тут востребованы)
    input:
        material - объект-потомок BaseMaterial
        only_standard_image - отображать только стандартные картинки
        is_search_list - отображается списк поиска
{% endcomment %}

{% load thumbnail str_utils pytils_dt date_tags %}

<li class="material-list-item j-material-list-item {% if material.article_index.is_sticked and not is_search_list %}sticked js-sticked{% endif %}{% if material.is_hidden %} hidden{% endif %}"
    data-id="{{ material.pk }}"
    {% if material.article_index.is_sticked %}
        data-sticked-index="{{ forloop.counter }}"
    {% endif %}
    {% if is_search_list %}
        data-search-container="True"
    {% endif %}>
    <div class="material-list-container">
        {% if only_standard_image %}
            {% if material.standard_image %}
                {% thumbnail material.standard_image 140x50 as thumb %}
            {% endif %}
        {% else %}
            {% if material.wide_image %}
                {% thumbnail material.wide_image 140x50 as thumb %}
            {% elif material.standard_image %}
                {% thumbnail material.standard_image 140x50 as thumb %}
            {% endif %}
        {% endif %}
        <a class="image" href="{{ material.get_admin_url }}" target="_blank" title="Дата публикации: {{ material.stamp|dates:"%d %B|%d %B %Y" }}">
            {% if thumb %}
                <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt=""/>
            {% endif %}
        </a>
        <span class="material-list-item-views">{{ material.views_cnt }}</span>
        <a href="{{ material.get_admin_url }}" target="_blank" title="Дата публикации: {{ material.stamp|dates:"%d %B|%d %B %Y" }}">
            {{ material.title|truncatechars:'85'|typograf }}
        </a>
        <a href="{{ material.get_absolute_url }}" class="material-link" target="_blank"></a>
        <span class="lock-button {% if material.article_index.is_sticked %}lock{% endif %} j-lock-button"></span>
        <div class="j-lock-text">{% if material.article_index.is_sticked %}Закреплен {{ material.article_index.stick_date|distance_of_time:2 }}{% endif %}</div>
        <div class="stamp">Дата публикации: {{ material.stamp|dates:"%d %B|%d %B %Y" }}</div>
    </div>
</li>
