{% extends "admin/base_site.html" %}

{% load i18n staticfiles media_utils admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' app_label='news' %}">News</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block extrastyle %}
    {% less 'less/compile/admin/apps/news.less' media='all' %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        window.adminIncludes[window.adminIncludes.length] = "{% url 'admin:jsi18n' %}";
        window.adminIncludes[window.adminIncludes.length] = "{% static 'news/js/admin.js' %}";
        window.adminIncludes[window.adminIncludes.length] = "{% static 'js/lib/jquery.ui.touch-punch.min.js' %}";
        window.adminIncludes[window.adminIncludes.length] = "{% static 'news/js/material-positions.js' %}";
    </script>

    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/apps-js/admin.js' %}"></script>
{% endblock extrahead %}

{% block content %}
    <div class="g-left">

        <!-- супер-статья для шапки индекса -->
        <ol class="supermaterial-list js-sortable js-sortable-connected">
        {% if supermaterial %}
            {% include 'admin/news/article_index/item.html' with material=supermaterial %}
        {% endif %}
        </ol>

        <ul class="material-list-counter">
            {% for position in positions %}
                <li class="g-text-right j-material-list-counter-item">
                    {{ position }}
                </li>
            {% endfor %}
        </ul>
        <ul class="material-list main j-main-material-list js-sortable js-sortable-connected" data-save-url="{% url 'admin_article_index_save' %}"
            data-lock-url="{% url 'admin_article_index_lock' %}" data-base-position="{{ base_position }}">
            {% for material in main_materials %}
                {% include 'admin/news/article_index/item.html' with material=material %}
            {% endfor %}
        </ul>
    </div>

    <!-- правая колонка -->
    <div class="g-left g-margin-left-20">
        <div class="b-material-list-header g-relative">
            {% csrf_token %}
            <input type="text" id="id_material_search" class="b-material-list-search j-material-list-search"/>
            <label for="id_material_search" class="close j-material-list-search-clear"></label>
        </div>
        <ul class="material-list search js-sortable js-sortable-connected j-material-list-search-container"
            id="material-list-search-container"
            data-url="{% url 'admin_article_index_other' %}"
            data-start="0" data-limit="20" data-page="2">
        </ul>
    </div>

    <div class="submit-row material-list-submit-row">
        <input class="js-save default" type="submit" value="Сохранить" />
        <div class="submit-text js-save-text"></div>
    </div>
{% endblock content %}
