{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'vendor/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-glyphicons.css' %}" type="text/css" rel="stylesheet">

</head>
<body>
<div class="container">
        {% include "snippet/menu.html" %}
    <div class="row">
<div class="alert alert-info" role="alert">
    Задача успешно создана
</div>
{{form }}
    </div>
</div>
</body>
</html>
