{% load str_utils thumbnail afisha_tags pytils_dt share_utils %}
{% for event, first_date, last_date in schedule %}
    <li>
        <a class="image" href="{{ event.get_absolute_url }}">
            {% if event.gallery.main_image.image %}
                {% thumbnail event.gallery.main_image.image 160x1000 as thumb %}
                <img src="{{ thumb }}" alt="{{ event|typograf }}" title="{{ event|typograf }}" style="width: {{ thumb.width }}px; height: {{ thumb.height }}px;">
            {% else %}
                <span class="b-afisha-events-gag g-{{ event.type.alias }}"></span>
            {% endif %}
        </a>
        <header>
            <span class="g-right b-afisha-events-label gray">{% if event.age_rating %}{{ event.age_rating }}{% else %}0{% endif %}+</span>
            <time class="time">
                {% if first_date.date == last_date.date %}
                    {{ first_date.date|ru_strftime:"%d %B"|capfirst }}
                {% else %}
                    {{ first_date.date|ru_strftime:"%d %B"|capfirst }}&nbsp;—
                    {{ last_date.date|ru_strftime:"%d %B"|capfirst }}
                {% endif %}
            </time>
            {% if event.schedule.first.guide %}
                <a href="{{ event.schedule.first.guide.get_absolute_url }}" class="g-color-gray">{{ event.schedule.first.guide|typograf }}</a>
            {% endif %}
            <h5>
                <a href="{{ event.get_absolute_url }}">
                    {{ event|typograf }}
                </a>
            </h5>
            {% if event.price %}
                <div class="price">
                    {{ event.price|typograf }}
                </div>
            {% endif %}
        </header>
    </li>
{% endfor %}
