{% extends 'contests/layout_cr.html' %}

{% load gallery_tags form_tags staticfiles media_utils str_utils %}

{% block title %}Добавление участника | {{ block.super }}{% endblock %}

{% block b-content-cr %}

    <div class="g-margin-bottom-30">
        <a class="g-color-black g-font-bold g-font-size-16" href="{{ contest.get_absolute_url }}"><span class="b-contests-arrow-left"></span>&nbsp;{{ contest.title|typograf }}</a>
    </div>

    <p class="b-thankyou g-margin-bottom-20"><b>Вы уже участвуете в конкурсе</b> Модерация обычно проводится в течение 24-х часов в рабочие дни, о результатах модерации мы пришлём вам сообщение на email.</p>

    <div class="g-text-align-center"><a class="g-font-size-14" href="{{ contest.get_absolute_url }}#members">Смотреть фотографии других участников</a></div>

{% endblock %}
