{% extends 'layout.html' %}

{% load staticfiles media_utils adv_tags site_utils afisha_tags %}

{% block meta_adaptive %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
{% endblock meta_adaptive %}

{% block style_adaptive %}
    {% less '/less/compile/adaptive/apps/afisha.less' media='all' %}
{% endblock %}

{% block js_adaptive %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'afisha/js/afisha-adaptive.js' %}"></script>
{% endblock %}

{% block text_widget %}{% ibanner id=303 template='adv/banners/text_widget_layout.html' %}{% endblock %}

{% block top_banner %}
    {% ibanner ID=101 as banner %}
    {% if banner %}<div class="b-adwords-banner-overhead g-desktop">{{ banner }}</div>{% endif %}
{% endblock %}

{% block promo_A %}
    {% ibanner id=478 as branding_top %}
    {% include 'snippets/branding_top.html' %}
{% endblock %}

{% block promo_B %}
    {% ibanner id=468 as branding_footer %}
    {% if branding_footer %}
        <div class="b-branding-bottom g-desktop">
            {{ branding_footer }}
        </div>
    {% endif %}
{% endblock %}

{% block style %}
    {% include 'afisha/base/style.html' %}
{% endblock style %}


{% block title %} Афиша Иркутска на IRK.ru {% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.lazyload.1.9.3.js' %}"></script>
    {% include 'afisha/base/js.html' %}
{% endblock js %}


{% block float_banner %}
    {% include 'afisha/base/banner/adaptive_banner_1000x50.html' %}
{% endblock %}


{% block container %}
    <div class="b-container {% block container-class %}{% endblock %}">
        {% block b-notification %}{% endblock %}

        {% block b-adword-header %}
            {% ibanner ID=549 as big_menu_banner_549 %}
            {% if big_menu_banner_549 %}
                <div class="b-adwords-banner-overhead g-desktop">
                    {{ big_menu_banner_549 }}
                </div>
            {% endif %}
        {% endblock b-adword-header %}

        {% afisha_main_menu %}
    </div>

    {% block b-content-parent %}
        <div class="b-container{% block container-class-content %}{% endblock %}">
            <div class="b-content{% block b-content-class %} b-afisha{% endblock %}">
                {% block b-content-header %}{% endblock b-content-header %}
                {% block b-content %}

                {% block content %}{% endblock %}

                {% endblock b-content %}
                {% block b-content-footer %}{% endblock b-content-footer %}
            </div>
        </div>
    {% endblock b-content-parent %}

    {% block b-footer-layout-banner %}
        {% ibanner id=468 as branding_footer %}
        {% ibanner id=92 as banner %}
        {% ibanner id=544 as programmatic_footer %}
        {% if request.user_agent.is_gadget and programmatic_footer %}
             <div class="g-margin-bottom-20 g-centered-div g-not-desktop">{{ programmatic_footer }}</div>
        {% elif banner and not branding_footer %}
            <div class="b-footer-layout-banner g-desktop">{{ banner }}</div>
        {% endif %}
    {% endblock %}

{% endblock %}


{% block overlay %}
    <div class="b-afisha-ticket-overlay-container j-afisha-cinema-ticket-overlay-container g-hidden g-opacity-hide" data-rambler-lib="{% static 'js/lib/rambler.TicketManager.js' %}">
        <div class="b-afisha-ticket-overlay-close j-afisha-cinema-ticket-overlay-close"></div>
        <div class="b-afisha-ticket-overlay j-afisha-ticket-overlay j-datecontainer-data" data-datecontainer-sked="j-cinema-sked-overlay"></div>
    </div>
{% endblock %}
