{% extends 'newyear2014/layout.html' %}

{% load cache_tags staticfiles media_utils str_utils thumbnail gallery_tags comments_tags share_utils site_utils news_tags adv_tags date_tags %}

{% block title %}{{ object.title|typograf:'title'|safe }} | Статьи | {{ block.super }}{% endblock title %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'photo.instance.meta' vary='object.id' tags='photo,object' %}{% spaceless %}
        {% include 'share_meta.html' with card='gallery' url=object.get_absolute_url title=object.title description=object.caption image=object.image gallery=object.gallery.main_gallery_pictures|slice:':4' %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.overlayPhoto.js' %}"></script>

    <script type="text/javascript">
        jQuery(function($) {
            $(".overlayPhoto").overlayPhotoMake();
        });
    </script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.jcarousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/hash.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.overlayPhotoJcarousel.js' %}"></script>
{% endblock js %}

{% block b-content %}
    <header class="g-intend">
        <h1>{{ object.title|typograf:'title'|safe }}</h1>
        <small class="g-color-gray">{{ object.stamp|dates:'%d.%m|%d.%m.%Y' }}</small>
    </header>
    <article class="b-content-article">
        {% cache 86400 'photo.instance.read' vary='object.id' tags='photo,object' %}
            <section class="b-photo-page-caption">
                <p>{{ object.caption_short|typograf:'admin'|safe }}</p>
            </section>
            <section class="b-content-block b-slider-block jcarousel-container jcarousel-container-horizontal">
                <ul class="b-list-h b-wide-slider">
                    {% include 'news-less/photo/gallery_inline.html' with gallery=object.gallery.main_gallery_pictures %}
                </ul>
                <div class="j-carousel-prev disabled"></div>
                <div class="j-carousel-next"></div>
            </section>
            <article class="{% if banner %}b-content-cr {% endif %} b-content-block">
            <section class="b-content-block b-photo-gallery-4 contestGallery">
                {% gallery object.gallery.main_gallery_pictures '130x100' max=true crop="130x100" class="b-list-h" template='gallery/gallery_content.html' %}
            </section>

            <section class="b-content-block">
                <article>
                    {{ object.content|typograf:"admin"|safe }}
                </article>
            </section>


            {% if object.author %}
                <section class="b-content-article-author"><noindex>{{ object.author|typograf:'admin' }}</noindex></section>
            {% endif %}
            <section class="b-content-article-url"><small>URL: http://{% get_site_url www %}{{ request.path }}</small></section>

            <section class="MisprintSnippet b-content-block">
                Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd>
                <script type="text/javascript">
                    $(document).ready(function () {
                        window.irk.misprintEngine.init();
                    });
                </script>
            </section>
            <section class="b-content-article-social-button b-social">
                {% share object %}
            </section>
        {% endcache %}
    </article>
    <footer class="b-infographics">
        <div class="b-content-cr">{% comments object %}</div>
        <aside class="b-aside-r">
        </aside>
    </footer>

{% endblock b-content %}
