{% load profile_utils staticfiles %}

<div class="b-push-notifications-toolbar-feature j-push-notifications-feature"
     data-feature-url="{% url 'profiles:set_option' %}"
     data-feature-title="Подпишитесь на уведомления!"
     data-feature-text="После подписки вы будете получать срочные новости.<br/>Не чаще 3-х раз в день.<br/><br/>Разрешите их в браузере:<br/><img src='{% static 'img/push-notifications-example.png' %}' width='93' height='93' style='display: block; margin: 9px 0 0 -5px;'>"
     data-feature-button-text=""
     data-feature-top="65"
     data-feature-right="-1"
     data-feature-class="g-desktop blue-cat-t"
     data-option-name="news.pushnotificationhintoption"
     data-option-value="{% option_value 'news.pushnotificationhintoption' %}"
></div>
