{% extends "afisha/layout_cr.html" %}

{% load staticfiles media_utils thumbnail news_tags str_utils comments_tags paginator_utils %}

{% block title %}Рецензии | {{ block.super }}{% endblock %}

{% block container %}<div class="b-container-padding"><div class="g-overflow">{{ block.super }}</div></div>{% endblock %}

{% block container-class-content %} b-container_nopt{% endblock %}

{% block content-cr-class %} b-content-cr_fix{% endblock %}

{% block b-content-cr %}
    <h1 class="g-font-size-30">Рецензии</h1>
    <div class="b-content b-articles-index b-articles-block b-content-block">
            <ul class="b-list-v b-articles-list b-big">
                {% for news in objects.object_list %}
                    <li>
                        {% thumbnail news.image 880x1000 as thumb %}
                        <header>
                            <h3><a href="{{ news.get_absolute_url }}" title="{{ news.title|typograf:"title"|safe }}">{{ news.title|typograf:"title"|safe }}</a></h3>
                            <small class="g-color-gray">&nbsp;<time>{{ news.stamp|date:"d.m" }}</time></small> <small class="g-color-gray">{% comments_cnt news new_layout=True %}</small>
                        </header>
                        <article>
                            <figure>
                                <a href="{{ news.get_absolute_url }}" title="{{ news.title|typograf:"title"|safe }}">
                                    <img src="{{ thumb }}" alt="{{ news.caption|typograf }}" style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;">
                                    {% if news.caption %}<figcaption>{{ news.caption|typograf|safe }}</figcaption>{% endif %}
                                </a>
                            </figure>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        {% paginator objects template='paginator/layout.html' name='новостей' %}
    </div>
{% endblock %}
