{% extends "afisha/layout.html" %}

{% load tourism_tags cache_tags staticfiles media_utils str_utils thumbnail comments_tags share_utils site_utils  news_tags polls_tags %}

{% block title %}{{ object.title|typograf }} | Рецензии | {{ block.super }}{% endblock %}
{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'article.instance.meta' vary='object.id' tags='article,object' %}{% spaceless %}
        {% include 'share_meta.html' with card='summary_large_image' url=object.get_absolute_url title=object.title description=object.caption image=object.image %}
    {% endspaceless %}{% endcache %}
    <script type="text/javascript" src="{% static 'js/lib/ifvisible.js' %}"></script>
{% endblock %}

{% block container %}<div class="b-container-padding"><div class="g-overflow">{{ block.super }}</div></div>{% endblock %}

{% block layout-base-class %}{{ block.super }} afisha-940{% endblock %}
{% block container-class-content %} b-container_nopt{% endblock %}

{% block b-content %}
    <div class="b-afisha-article g-font-base">
        {% include 'afisha/review/read_base.html' %}
    </div>
{% endblock %}
