{% if author %}
{% load staticfiles media_utils str_utils thumbnail comments_tags date_tags %}
<section class="b-aside-block b-news-blogs-new-author">
    <header><h3>Новый автор</h3></header>
    <article>
        <ul class="b-list-v">
            <li>
                <header>
                    {% thumbnail author.profile.avatar 100x100 as thumb %}
                    <a href="{% url 'news:blogs:author' author.username %}" title="{{ author.get_full_name|typograf:'title'|safe }}"><img src="{{ thumb }}" alt="{{ author.get_full_name|typograf:'title'|safe }}" style="width:{{thumb.width}}px;height:{{thumb.height}}px;"></a>
                    <h5><a href="{{ entry.get_absolute_url }}" title="{{ entry.title|typograf:"title"|safe }}">{{ entry.title|typograf:"title"|safe }}</a></h5>
                    <small class="g-color-gray">{{ entry.created|dates:'%d.%m в %H:%M|%d.%m.%Y в %H:%M' }}&nbsp;&nbsp;{% comments_cnt entry new_layout=True %}</small>
                </header>
            </li>
        </ul>
    </article>
</section>
{% endif %}