{% load game_tags staticfiles media_utils metric_tags share_utils %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Пункты сдачи вторсырья | Твой Иркутск</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />
    {% include 'share_meta.html' with url='/recycle/' title='Карта иркутских пунктов сбора вторсырья' description='Карта иркутских пунктов сбора вторсырья' static_image='img/landing_pages/recycle/share.jpg' static_image_width=800 static_image_height=420 %}

    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_api_key }}&lang=ru_RU"></script>
    <script src="{% static 'js/lib/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/apps-js/recycle.js' %}"> </script>
    <script src="{% static 'js/apps-js/irk.share.js' %}"></script>

    {# удалить этот блок после игры #}
    <script src="{% static 'js/lib/jquery-cookie.js' %}"></script>

    {% less '/less/compile/apps/recycle.less' %}

    {% include 'google_analytics.html' %}
</head>
<body>
    {% include 'yandex_metrika.html' %}

    {# удалить этот блок после игры #}
    {% block game2020 %}
        {% treasure 'ecomap' %}
    {% endblock %}

    <div class="recycle">
        <aside class="recycle__panel">
            <div class="recycle__header">
                <a href="/" class="recycle__logo"></a>
                <a href="#" class="hamburger j-hamburger" onClick="irk.recycle.toggleMenu()">
                    <div class="hamburger__line hamburger__line_top" ></div>
                    <div class="hamburger__line hamburger__line_middle"></div>
                    <div class="hamburger__line hamburger__line_bottom"></div>
                </a>
            </div>

            <div class="recycle__menu">
                <ul class="mainmenu-list">
                    {% for site in sites %}
                        <li class="mainmenu-list__item {{ site.menu_class }}">
                            <a href="{{ site.url }}" class="mainmenu-list__link">
                                {{ site.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="recycle__body">
                <div>
                    <div class="subheader subheader_index">
                        <div class="subheader__title">Выберите категорию</div>
                        <div class="recycle__search" onClick="irk.recycle.viewSearch()"> </div>
                    </div>
                    <div class="subheader subheader_search" style="display:none">
                        <div class="recycle__back" onclick="irk.recycle.viewIndex()"></div>
                        <div class="recycle__searchfield">
                            <input id="search-field" type="text" title="Введите название фирмы или улицу" placeholder="Поиск...">
                        </div>
                    </div>
                    <div class="subheader subheader_category">
                        <div class="recycle__back" onclick="irk.recycle.viewIndex()"></div>
                        <div class="subheader__title"></div>
                    </div>
                </div>

                <div id="view_index">
                    {% spaceless %}
                    <div class="catlist">
                    {% for cat in categories %}
                        <div class="catlist__item {% if cat.icon_class %}catlist__item_{{ cat.icon_class }}{% endif %}" onClick="irk.recycle.viewCategory({{ cat.pk }})">
                            <div class="catlist__name">{{ cat.name_html|safe|default:cat.name }}</div>
                        </div>
                    {% endfor %}
                    </div>
                    {% endspaceless %}
                </div>

                <div id="mobile_map" style="display:none;"></div>
                <div id="view_category" style="display: none">
                    <div class="firmlist">
                    </div>
                </div>

                <div id="view_firm" style="display: none">
                    <div class="firmcard__small" style="display: none;">
                        <div class="firmcard__small_name" id="small_name"> </div>
                        <div class="firmcard__small_addres" id="small_addres"> </div>
                        <div class="firmcard__small_button" id="small_info"> Подробнее </div>
                    </div>
                    <div class="firmcard">
                        <div class="firmcard__head">
                            <div class="firmcard__title"></div>
                            <div class="firmcard__address"></div>
                        </div>
                        <div class="firmcard__photo">
                            <img id="firmcard_photo"/>
                        </div>
                        <div class="firmcard__body">
                            <div class="firmcard__hours"><strong>Время работы:</strong><br></div>
                            <div class="firmcard__phone"><strong>Контактный телефон:</strong><br></div>
                            <div class="firmcard__desc"></div>
                        </div>
                        <div class="firmcard__also also">
                            <span class="also__label">Принимается</span>
                            <ul class="also__list"> </ul>
                        </div>
                    </div>
                </div>

                <div id="view_firm_small" style="display: none;">
                </div>
            </div>

            <div class="recycle__footer">
                <div class="artlist">
                {% for art in articles %}
                    {% if forloop.first %}
                        {% include 'recycle/article_highlight.html' with material=art.article only  %}
                    {% else %}
                        {% include 'recycle/article.html' with material=art.article only %}
                    {% endif %}
                {% endfor %}
                </div>

                <div class="recycle__socfooter">
                    <div>

                        {% share_custom url='/recycle/' description='Иркутская карта приема вторсырья ' %}

                         {% comment %}
                        Социокнопки я поставил стандартные
                        <a class="recycle__socitem" href="https://vk.com/tvoy_irkutsk">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                    <circle cx="17" cy="17" r="17" stroke="#000"/>
                                    <path fill="#000" d="M26.819 22.697c-.055-.094-.386-.853-1.986-2.414-1.675-1.636-1.45-1.371.568-4.198 1.227-1.721 1.718-2.773 1.564-3.223-.078-.268-1.05-.199-1.05-.199H22.91s-.468-.012-.655.314c-.337.586-.476 1.333-1.11 2.465-1.338 2.393-1.875 2.517-2.092 2.369-.51-.345-.384-1.39-.384-2.132 0-2.318.335-3.283-.65-3.534-.327-.082-.52-.107-1.404-.145-1.116.025-1.98.003-2.495.268-.34.176-.605.567-.444.592.2.027.648.128.887.468.308.442.296 1.431.296 1.431s.178 2.727-.412 3.066c-.405.233-.961-.242-2.156-2.411-.61-1.11-.673-1.835-1.072-2.338-.261-.33-.71-.413-.71-.413H7.652s-.486-.041-.586.092c-.141.174-.012.537-.012.537s2.237 5.502 4.77 8.276c2.323 2.542 4.96 2.427 4.96 2.427s1.533.07 1.741-.302c.154-.155.165-.551.165-.551s-.024-1.69.72-1.935c.733-.244 1.677 1.628 2.675 2.35.767.51.98.438 1.33.438h2.669s1.397-.144.735-1.298"/>
                                </g>
                            </svg>
                        </a>
                        <a class="recycle__socitem" href="https://twitter.com/tvoyirkutsk">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                    <circle cx="17" cy="17" r="17" stroke="#000"/>
                                    <path fill="#000" d="M26.75 11.875c-.69.303-1.431.406-2.209.497.686-.516 1.037-.692 1.584-1.747-.742.433-1.46.402-2.335.571A3.874 3.874 0 0 0 20.983 10c-2.125 0-3.85 1.696-3.85 3.787 0 .296.035.585.101.863-3.197-.158-6.087-1.734-7.984-4.025-.33.56-.466 1.278-.466 1.973 0 1.313.68 2.471 1.713 3.151a3.88 3.88 0 0 1-1.743-.473v.047c0 1.834 1.325 3.364 3.086 3.714a3.93 3.93 0 0 1-1.738.064c.49 1.504 1.84 2.743 3.523 2.774-1.64 1.856-5.324 1.284-5.625 1.25C9.704 24.199 11.726 25 13.898 25c7.075 0 10.944-5.77 10.944-10.774 0-.164-.004-.328-.01-.49.75-.533 1.402-1.1 1.918-1.861"/>
                                </g>
                            </svg>
                        </a>
                        <a class="recycle__socitem" href="https://www.facebook.com/tvoyirkutsk">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                    <circle cx="17" cy="17" r="17" stroke="#000"/>
                                    <g fill="#000">
                                        <path d="M14 11.028V27h3.81V11.667c0-.438.24-.667.638-.667H21V7h-2.938C13.902 7 14 10.505 14 11.028"/>
                                        <path d="M20.078 17.968L12 18v-4h9z"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a class="recycle__socitem" href="https://www.ok.com/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                    <circle cx="17" cy="17" r="17" stroke="#000"/>
                                    <g fill="#000">
                                        <path d="M17 17c2.758 0 5-2.242 5-4.999A5.005 5.005 0 0 0 17 7c-2.757 0-5 2.243-5 5.001A5.005 5.005 0 0 0 17 17m0-7c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .898-2 2-2"/>
                                        <path d="M18.483 20.821a9.188 9.188 0 0 0 2.846-1.175 1.43 1.43 0 0 0 .45-1.975 1.437 1.437 0 0 0-1.98-.45 6.237 6.237 0 0 1-6.598 0 1.437 1.437 0 0 0-1.98.45 1.43 1.43 0 0 0 .45 1.975 9.197 9.197 0 0 0 2.845 1.175l-2.74 2.734a1.43 1.43 0 0 0 1.016 2.444c.368 0 .735-.14 1.016-.419l2.691-2.686 2.694 2.686c.56.56 1.469.56 2.03 0a1.427 1.427 0 0 0 0-2.025l-2.74-2.734"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        {% endcomment %}
                    </div>
                </div>

                <div class="recycle__contribute">
                    Информацию о новых пунктах сбора
                    отправляйте на почту <a href="mailto:news@irk.ru">news@irk.ru</a>
                </div>
            </div>

        </aside>
    </div>

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

    <script>
        var dots = {{ dots_json|safe }};
        var categories = {{ categories_json|safe }};

        $(function(){
            if (document.documentElement.clientWidth > 500)
            {
                $('.recycle').append('<div id="map" class="recycle__map"></div>');
                ymaps.ready(function(){
                    irk.recycle.init();
                });
            }
            else
            {
                $('#mobile_map').append('<div id="map" class="recycle__mobile-map-little"></div>');
                ymaps.ready(function(){
                    irk.recycle.init(true);
                });
            }

            // для кнопок расшаривания
            irk.share.init();
        });
    </script>

    {% comment %} {% include 'snippets/footer.html' %} {% endcomment %}
    {% include 'liveinternet_counter.html' %}
</body>
</html>
