{% extends 'layout.html' %}

{% load staticfiles media_utils adv_tags %}

{% block text_widget %}{% ibanner id=318 template='adv/banners/text_widget_layout.html' %}{% endblock %}

{% block top_banner %}{% endblock %}

{% block b-footer-layout-banner %}{% endblock %}

{% block style %}
    {{ block.super }}
    {% less '/less/compile/apps/adwords.less' %}
{% endblock style %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        var ROOT_DIR = "{% url 'adwords:index' %}";
    </script>
{% endblock %}