{% extends 'layout_cr.html' %}

{% load adv_tags %}

{% block text_widget %}{% ibanner id=315 template='adv/banners/text_widget_layout.html' %}{% endblock %}

{% block top_banner %}{% include 'tourism/base/top_banner.html' %}{% endblock %}

{% block style %}
    {% include 'tourism/base/style.html' %}
{% endblock style %}

{% block js %}
    {{ block.super }}
    {% include 'tourism/base/js.html' %}
{% endblock js %}

{% block b-content %}
    <article class="b-content-cr g-content-resp g-tourism">
        {% block b-content-cr %}{% endblock b-content-cr %}
    </article>

    <aside class="{% block b-aside-r-class %}b-aside-r{% endblock %}">
        {% block b-aside-r %}
            {% include 'tourism/base/b-aside-r.html' %}
        {% endblock b-aside-r %}
    </aside>
{% endblock b-content %}

<div class="b-content-block">
    {% block b-content-footer %}{% endblock b-content-footer %}
</div>

{% block b-adword-header %}
    {{ block.super }}
{% endblock b-adword-header %}


{% block b-footer-layout-banner %}
    {% comment %}
    {% ibanner ID=245 template='adv/banners/banner_layout.html' as banner %}
    {% if banner %}
        <div class="b-content-block">
            {{ banner }}
        </div>
    {% endif %}
{% endcomment %}
{% endblock %}

{% block promo_B %}
    {% ibanner id=471 as branding_footer %}
    {% if branding_footer %}
        <div class="b-branding-bottom g-desktop">
            {{ branding_footer }}
        </div>
    {% endif %}
{% endblock %}
