{% extends 'layout.html' %}

{% load staticfiles media_utils adv_tags %}

{% block push-notifications %}{% endblock %}
{% block push-notifications-feature %}{% endblock %}

{% block meta_adaptive %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
{% endblock meta_adaptive %}

{% block style %}
    {% less '/less/compile/apps/magazine.less' %}
{% endblock style %}

{% block style_adaptive %}
    {% less '/less/compile/adaptive/apps/magazine.less' media='all' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'magazine/js/magazine.js' %}"></script>
{% endblock %}

{% block text_widget %}{% endblock %}

{% block top_banner %}{% endblock %}

{% block float_banner %}{% endblock %}

{% block promo_A %}{% endblock promo_A %}

{% block promo_B %}
    {% if magazine %}
        {% ibanner id=magazine.branding_bottom_id as branding_footer %}
    {% endif %}
    {% if request.user_agent.is_gadget %}
        {% ibanner id=544 as programmatic_footer %}
        {% if programmatic_footer %}
            <div class="g-margin-bottom-20 g-centered-div g-not-desktop">{{ programmatic_footer }}</div>
        {% endif %}
    {% endif %}
    {% if branding_footer %}
        <div class="b-footer-layout-banner g-overflow g-desktop">{{ branding_footer }}</div>
    {% endif %}
{% endblock %}

{% block body-add-class %}magazine{% endblock %}

{% block container %}
    <div class="b-container {% block container-class %}{% endblock %}">
        {% block b-notification %}
            <ul class="b-notification j-notification">
                {% block b-notification-blank %}
                    <li class="j-notification-blank">
                        <span class="b-notification-text j-notification-text"></span>
                        <span class="b-notification-close j-notification-close"></span>
                    </li>
                {% endblock %}
                {% if user_messages %}
                    {% for message in user_messages %}
                        <li class="show {{ message.tags }}">
                            <span class="b-notification-text j-notification-text">{{ message }}</span>
                            <span class="b-notification-close j-notification-close"></span>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endblock %}

        {% block b-adword-header %}
            {% include 'home/base/banner/banner-underhead.html' %}
        {% endblock %}

        {% block b-content-parent %}
            <article class="b-content{% block b-content-class %}{% endblock %}">
                {% block b-content-header %}{% endblock b-content-header %}
                {% block b-content %}{% endblock b-content %}
                {% block b-content-footer %}{% endblock b-content-footer %}
            </article>
        {% endblock b-content-parent %}
    </div>
    {% block container-footer %}{% endblock %}
{% endblock %}
