{% load thumbnail str_utils %}
{% if contest %}
<section class="b-aside-block">
    <header><h3><a href="{% url 'contests:contests:list' %}">Конкурсы</a></h3></header>
	<article>
        <ul class="b-list-v">
            <li>
                <header class="g-title">
                    {% thumbnail contest.image 140x10000 as thumb %}
                    <h5><a href="{{ contest.get_absolute_url }}"><img src="{{ thumb }}" alt="{{ contest.title|typograf:"title"|safe }}">{{ contest.title|typograf:"title"|safe }}</a></h5>
                </header>
                <article>{{ contest.caption|typograf:'admin'|safe }}</article>
            </li>
        </ul>
	</article>
</section>
{% endif %}