{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils share_utils %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <title>Байкал Мотор Шоу 2015 | Твой Иркутск</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />

    <meta property="og:type" content="article">
    <meta property="og:title" content="Байкал Мотор Шоу 2015">
    <meta property="og:description" content="6 и 7 июня 2015 года на стадионе «Труд» пройдет одиннадцатый фестиваль автотюнинга «БайкалМоторШоу»">
    <meta name="description" content="6 и 7 июня 2015 года на стадионе «Труд» пройдет одиннадцатый фестиваль автотюнинга «БайкалМоторШоу»">


    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="{% static 'font/apps/bms-ie.css' %}" />
    <![endif]-->
    <!--[if (IE 9)|!(IE)]><!-->
    <link rel="stylesheet" type="text/css" href="{% static 'font/apps/bms.css' %}" />
    <!--<![endif]-->

    {% block style %}
        {% less '/less/compile/landings/bms.less' %}
    {% endblock style %}
    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.3.0.js' %}"></script>
    {% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
            var _url = DOMAIN_MEDIA + 'bms/';
        </script>
        <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        {% if settings.DEBUG %}<script type="text/javascript" src="{% static 'js/apps-js/debug.js' %}"></script>{% endif %}
        <script type="text/javascript" src="{% static 'js/apps-js/irk.new.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jquery.countdown.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jquery.easing.1.3.js' %}"></script>
    {% endblock js %}
    {% include 'google_analytics.html' %}

</head>
<body class="landing-page">
{% include 'yandex_metrika.html' %}

{# Топ меню #}
<section class="b-nav b-nav-main b-nav-main-top">{% simple_header_menu %}</section>

{# Зона с контентом #}
<article class="b-container">
{# flatpage.content|safe #}

<section class="b-bms-screen screen-where" id="bms-where">
    <header>
        <div class="b-bms-wrap">
            <div class="b-bms-where-moto"></div>
            <h2 class="b-bms-where-slogan"><span>6и7</span><br/>июня</h2>
        </div>
    </header>
    <nav>
        <ul class="b-list-h">
            {% spaceless %}
                <li class="b-bms-nav-1"></li>
                <li class="b-bms-screen-what b-bms-nav-2"><span class="g-active">где?</span></li>
                <li class="b-bms-screen-index b-bms-nav-3"><a href="#bms-index">бмш</a><span class="b-bms-nav-arrow right"></span></li>
            {% endspaceless %}
        </ul>
        <div class="b-bms-nav-bg"></div>
    </nav>
    <article>
        <div class="b-bms-row">
            <div class="b-bms-span1">
                <img src="{% static 'img/landing_pages/bms/sc-where-map.png' %}" alt="Место проведения БайкалМоторШоу  2015">
            </div>
            <div class="b-bms-span2">
                <div class="b-bms-ticket ticket-reg"><span>стандартный билет</span></div>
                <p>Предварительная продажа&nbsp;&mdash;&nbsp;250 руб. (АЗК &laquo;Омни&raquo;, павильоны на остановках, кассы Дворца спорта).
                <p>6 и 7 июня&nbsp;&mdash;&nbsp;300 руб. (в кассах Дворца спорта).
                </p>
            </div>
            <div class="b-bms-span3">
                <div class="b-bms-ticket ticket-vip">VIP</div>
                <p>Вход и выход без ограничений</p>
            </div>
        </div>
    </article>
</section>

<section class="b-bms-screen screen-index" id="bms-index">
    <header>
        <div class="b-bms-tablo">
            <div class="b-bms-display">
                <p>до шоу осталось</p>
                <ul class="b-list-h b-bms-clock">
                    <li>
                        <span id="days"></span>
                        <p>дней</p>
                    </li>
                    <li>
                        <span id="hours"></span>
                        <p>часов</p>
                    </li>
                    <li>
                        <span id="minutes"></span>
                        <p>минут</p>
                    </li>
                    <li>
                        <span id="seconds"></span>
                        <p>секунд</p>
                    </li>
                </ul>
            </div>
            <div class="b-bms-tablo-body">
                <div class="b-tablo-body-stage">
                    <div class="b-tablo-body-stage-1">
                        <div class="stage-light"></div>
                    </div>
                    <div class="b-tablo-body-stage-2">
                        <div class="stage-light"></div>
                    </div>
                </div>
                <div class="b-bms-tablo-body-lamp lamp-yellow lamp-yellow-1"><div class="lamp-yellow-light"></div></div>
                <div class="b-bms-tablo-body-lamp lamp-yellow lamp-yellow-2"><div class="lamp-yellow-light"></div></div>
                <div class="b-bms-tablo-body-lamp lamp-yellow lamp-yellow-3"><div class="lamp-yellow-light"></div></div>
                <div class="b-bms-tablo-body-lamp lamp-green"><div class="lamp-green-light"></div></div>
                <div class="b-bms-tablo-body-lamp lamp-red"></div>
            </div>
        </div>
    </header>
    <nav>
        <ul class="b-list-h">
            {% spaceless %}
                <li class="b-bms-screen-where b-bms-nav-1"><a href="#bms-where"><span class="b-bms-nav-arrow left"></span>где?</a></li>
                <li class="b-bms-screen-index b-bms-nav-2"><span class="g-active">бмш</span></li>
                <li class="b-bms-screen-what b-bms-nav-3"><a href="#bms-what">что?<span class="b-bms-nav-arrow right"></span></a></li>
            {% endspaceless %}
        </ul>
        <div class="b-bms-nav-bg"></div>
    </nav>
    <article>
        <div class="b-bms-row">
            <div class="b-bms-span1">
                <p>6 и 7 июня 2015 года на стадионе «Труд» пройдет одиннадцатый фестиваль автотюнинга «БайкалМоторШоу»:</p>
                <ul>
                    <li>представление автомобилей участников на главной сцене и шоу-программа нон-стоп</li>
                    <li>конкурс групп поддержки</li>
                    <li>чемпионат автомоделистов</li>
                    <li>стенды тюнинг-ателье</li>
                    <li>выставка новых автомобилей от официальных дилеров на площади Дворца спорта</li>
                    <li>экспозиции УВД и МЧС</li>
                </ul>
            </div>
            <div class="b-bms-span2">
                <p>И главное&nbsp;&mdash;&nbsp;120 эксклюзивных (уникальных) транспортных средств&nbsp;&mdash;&nbsp;&laquo;тачки о которых ты мечтал!&raquo;</p>
            </div>
            <div class="b-bms-span3">
                <span class="b-bms-prize-title">Призовой фонд</span>
                <span class="b-bms-prize-sum">830</span>
                <span class="b-bms-prize-sum g-second">000</span>
                <span class="b-bms-prize-rub">рублей</span>
            </div>

            <section class="b-social">
                {% share_custom url='/bms/' description='Байкал Мотор Шоу 2015' %}
            </section>
        </div>
    </article>
</section>

<section class="b-bms-screen screen-what" id="bms-what">
    <header>
        <div class="b-bms-wrap">
            <div class="b-bms-organizer">
                <h2>Игорь Верхозин,</h2>
                <i>организатор фестиваля «БайкалМоторШоу»:</i>
                <p>&nbsp;&ndash;&nbsp;Надеемся, что очередной БМШ, который пройдет в День города, станет не просто фестивалем автотюнинга, а настоящим праздником, где будет интересно каждому иркутянину. И любителю стильных спортивных машин, и экстремальных внедорожников, и поклонникам ретро- или мототехники. А кто равнодушен к технике, приходите просто ради красивых девушек, атмосферы улыбок и шоу-программы»</p>
            </div>
            <div class="b-bms-what-car"></div>
        </div>
    </header>
    <nav>
        <ul class="b-list-h">
            {% spaceless %}
                <li class="b-bms-screen-index b-bms-nav-1"><a href="#bms-index"><span class="b-bms-nav-arrow left"></span>бмш</a></li>
                <li class="b-bms-screen-what b-bms-nav-2"><span class="g-active">что?</span></li>
                <li class="b-bms-screen-photo b-bms-nav-3">
                    <div class="b-bms-screen-container">
                        <span class="b-photo-icon"></span>
                        <a href="{{ request.scheme }}://{% get_site_url www %}/news/photo/20120526/show/#event=88511" class="b-photo-icons photo-icons-1"><span class="photo-stroke"></span></a>
                        <a href="{{ request.scheme }}://{% get_site_url www %}/tourism/blog/20110524/itogifotokonkursabajkalmotorshou/" class="b-photo-icons photo-icons-2"><span class="photo-stroke"></span></a>
                        <a href="{{ request.scheme }}://{% get_site_url www %}/news/photo/20110530/auto/#event=47343" class="b-photo-icons photo-icons-3"><span class="photo-stroke"></span></a>
                        <a href="{{ request.scheme }}://{% get_site_url www %}/news/photo/20100515/auto/#event=15927" class="b-photo-icons photo-icons-4"><span class="photo-stroke"></span></a>
                        <a href="{{ request.scheme }}://{% get_site_url www %}/news/photo/20120526/show/#event=88511" class="b-photo-icons photo-icons-5"><span class="photo-stroke"></span></a>
                    </div>
                </li>
            {% endspaceless %}
        </ul>
        <div class="b-bms-nav-bg"></div>
    </nav>
    <article>
        <div class="b-bms-row">
            <div class="b-bms-span1">
                <ul class="b-list-v b-bms-what-icons">
                    <li class="b-icons-engineering">&nbsp;&ndash;&nbsp;&laquo;Лучшая инженерия&raquo;</li>
                    <li class="b-icons-styling">&nbsp;&ndash;&nbsp;&laquo;Лучший стайлинг&raquo;</li>
                    <li class="b-icons-suv">&nbsp;&ndash;&nbsp;&laquo;Лучший внедорожник&raquo;</li>
                    <li class="b-icons-retrocar">&nbsp;&ndash;&nbsp;&laquo;Лучший ретроавтомобиль&raquo;</li>
                    <!-- li class="b-icons-retrocar">&nbsp;&ndash;&nbsp;&laquo;Лучший мотоцикл&raquo;</li-->
                    <li class="b-icons-project">&nbsp;&ndash;&nbsp;&laquo;Лучший проект&raquo;</li>
                </ul>
            </div>
            <div class="b-bms-span2"><h3>номинации</h3></div>
            <div class="b-bms-span3">
                <ul class="b-list-v b-bms-what-icons">
                    <li class="b-icons-young">&nbsp;&ndash;&nbsp;&laquo;Юное дарование&raquo;</li>
                    <li class="b-icons-fansclub">&nbsp;&ndash;&nbsp;&laquo;Лучшая группа поддержки&raquo;</li>
                    <li class="b-icons-organizer">&nbsp;&ndash;&nbsp;&laquo;Выбор организаторов&raquo;</li>
                    <li class="b-icons-audiencelikes">&nbsp;&ndash;&nbsp;&laquo;Приз зрительских симпатий&raquo;</li>
                    <li class="b-icons-community">&nbsp;&ndash;&nbsp;&laquo;Выбор интернет-пользователей&raquo;</li>
                </ul>
            </div>
        </div>
    </article>
</section>

<div class="b-bms-preloader"></div>
</article>


<script type="text/javascript" src="{% static 'js/apps-js/landing/bms.js' %}"></script>
{% include 'liveinternet_counter.html' %}
</body>
</html>
