{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils utils_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="viewport" content="width=1400">
    <title>Правительство Иркутской области | Твой Иркутск</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />

    {% include 'share_meta.html' with url='/coruscant/' title='Правительство Иркутской области' description='Структура и связи правительства Иркутской области' static_image='img/landing_pages/goverment/share.jpg' static_image_width=800 static_image_height=420 %}

    {% block style %}
        {% less '/less/compile/landings/goverment.less' %}
    {% endblock style %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
        </script>
        <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        {% if settings.DEBUG %}<script type="text/javascript" src="{% static 'js/apps-js/debug.js' %}"></script>{% endif %}
        <script type="text/javascript" src="{% static 'js/lib/hash.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/landing/goverment.js' %}"></script>
    {% endblock js %}

    {% include 'google_analytics.html' %}
</head>
<body class="">
{% include 'yandex_metrika.html' %}

{# Топ меню #}
<header class="b-nav b-nav-main">
    {% simple_header_menu share=True share_url='/coruscant/' share_description='Структура и связи правительства Иркутской области' share_metrika='goverment_share' %}
</header>

{# Зона с контентом #}
<div class="b-container">
    <article class="b-infographics-container">
        <header class="b-infographics-header-container j-infographics-header-container">
            <div class="b-infographics-header">
                <div class="b-infographics-header-toggler">
                    <a href="#default" class="b-infographics-header-toggler-button j-infographics-toggler-button j-infographics-toggler-button-default" data-infographics-class="default">Структура</a>
                    <a href="#links" class="b-infographics-header-toggler-button j-infographics-toggler-button j-infographics-toggler-button-links" data-infographics-class="links">Связи</a>
                </div>
                <ul class="b-infographics-header-toggler-hint">
                    <li class="b-infographics-header-toggler-hint-item j-star-wars-init j-metrika-goal" data-metrika-goal="coruscant_on"><span class="icon line"></span> Иерархия</li>
                    <li class="b-infographics-header-toggler-hint-item"><span class="icon link"></span> Связь</li>
                </ul>
                <h1 class="b-infographics-header-title">Правительство<br>Иркутской области</h1>
                <div class="b-infographics-header-filter">
                    <div class="b-infographics-header-filter-button colorous j-infographics-filter-trigger levchenko" data-infographics-trigger-target="levchenko"><span class="icon levchenko"></span><span class="bordered">Команда Левченко</span></div>
                    <div class="b-infographics-header-filter-button colorous j-infographics-filter-trigger angarsk" data-infographics-trigger-target="angarsk"><span class="icon angarsk"></span><span class="bordered">Ангарские</span></div>
                    <div class="b-infographics-header-filter-button colorous j-infographics-filter-trigger bitarov" data-infographics-trigger-target="bitarov"><span class="icon bitarov"></span><span class="bordered">Команда Битарова</span></div>
                    <div class="b-infographics-header-filter-button colorous j-infographics-filter-trigger kondrashov" data-infographics-trigger-target="kondrashov"><span class="icon kondrashov"></span><span class="bordered">Команда Кондрашова</span></div>
                    <div class="b-infographics-header-filter-button colorous j-infographics-filter-trigger old" data-infographics-trigger-target="old"><span class="icon old"></span><span class="bordered">Старая команда</span></div>
                    <div class="b-infographics-header-filter-button colorous j-infographics-filter-trigger neutral" data-infographics-trigger-target="neutral"><span class="icon neutral"></span><span class="bordered">Нейтральные</span></div>
                </div>
            </div>
        </header>
        <div class="b-infographics j-infographics">
            <div class="b-person-place-lines-container">
                <div class="b-person-place-lines-horisontal gubernator"></div>
                <div class="b-person-place-lines-horisontal gubernator-advisor"></div>


                <div class="b-person-place-lines-vertical gubernator"></div>
                <div class="b-person-place-lines-vertical gubernator-sub-1"></div>
                <div class="b-person-place-lines-vertical gubernator-sub-2"></div>
                <div class="b-person-place-lines-vertical gubernator-sub-3"></div>
                <div class="b-person-place-lines-vertical gubernator-sub-4"></div>
                <div class="b-person-place-lines-vertical gubernator-sub-5"></div>

                <div class="b-person-place-lines-vertical glava-apparata"></div>

                <div class="b-person-place-lines-horisontal glava-pravitelstva"></div>
                <div class="b-person-place-lines-vertical glava-pravitelstva"></div>
                <div class="b-person-place-lines-vertical glava-pravitelstva-sub-1"></div>
                <div class="b-person-place-lines-vertical glava-pravitelstva-sub-2"></div>
                <div class="b-person-place-lines-vertical glava-pravitelstva-sub-3"></div>
            </div>
            <div class="b-person-place-link-button-container">
                {% comment %}
                <div class="b-person-place-link-button j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-gubernator-advisor-4 j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-gubernator-gubernator-advisor-4 hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-advisor-4">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Нет информации.</p></div>
                </div>
                {% endcomment %}
                <div class="b-person-place-link-button j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-gubernator-sub-5 j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-gubernator-gubernator-sub-5 hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-gubernator-sub-5">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Секретарь Осинского районного отделения КПРФ.</p></div>
                </div>
                <div class="b-person-place-link-button j-infographics-filter-target gubernator-glava-pravitelstva j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-glava-pravitelstva hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-glava-pravitelstva">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Финансировал предвыборную кампанию Левченко. Агитировал за нового губернатора в Иркутске.</p></div>
                </div>
                <div class="b-person-place-link-button j-infographics-filter-target gubernator-minister-n03 j-person-hint-starter-target j-person-hint-starter-target-gubernator hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-minister-n03">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Агитировал за Левченко в Ангарске.</p></div>
                </div>
                <div class="b-person-place-link-button gubernator j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-minister-n08 j-person-hint-starter-target j-person-hint-starter-target-gubernator hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-minister-n08">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Внук лидера фракции КПРФ в Законодательном собрании.</p></div>
                </div>


                <div class="b-person-place-link-button j-infographics-filter-target gubernator-glava-pravitelstva-sub-4 j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-glava-pravitelstva-sub-4 hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-glava-pravitelstva-sub-4">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Агитировал за Левченко в Иркутске. На момент выборов состояли в разных партиях. В декабре 2015 года исключен из регионального политсовета «Единой России».</p></div>
                </div>
                <div class="b-person-place-link-button j-infographics-filter-target gubernator-glava-apparata j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-glava-apparata">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Работал в Ангарске под руководством Натальи Левченко, жены губернатора.</p></div>
                </div>

                {# glava-pravtelstva #}
                <div class="b-person-place-link-button glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-glava-pravitelstva-sub-1 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-pravitelstva-glava-pravitelstva-sub-1">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Работал пресс-секретарем «Нового города».</p></div>
                </div>
                <div class="b-person-place-link-button glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-glava-pravitelstva-sub-3 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-pravitelstva-glava-pravitelstva-sub-3">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Бывший зам.гендиректора ассоциации застройщиков Иркутска, куда входит «Новый город».</p></div>
                </div>
                <div class="b-person-place-link-button glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-minister-n11 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-pravitelstva-minister-n11">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Работала первым заместителем генерального директора «Нового города».</p></div>
                </div>
                <div class="b-person-place-link-button glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-minister-n14 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-pravitelstva-minister-n14">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Бывший зам. гендиректора по экономике в «Новом городе».</p></div>
                </div>

                {# glava-apparata #}
                <div class="b-person-place-link-button glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk gubernator-advisor-2-glava-apparata j-person-hint-starter-target j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="gubernator-advisor-2-glava-apparata">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Представлял Ангарск в Законодательном собрании.</p></div>
                </div>
                <div class="b-person-place-link-button glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-krio j-person-hint-starter-target j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-apparata-krio">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Однокурсники. Юрфак ИГУ, 1996 год.</p></div>
                </div>
                <div class="b-person-place-link-button glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n03 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-apparata-minister-n03">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Госслужба в администрации Ангарска и района.</p></div>
                </div>
                <div class="b-person-place-link-button glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n04 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-apparata-minister-n04">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Начальник отдела УФСБ в Ангарске во времена работы Чернышова вице-мэром.</p></div>
                </div>
                <div class="b-person-place-link-button glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n07 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-apparata-minister-n07">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Коллега Чернышова во времена работы в мэрии Ангарска.</p></div>
                </div>
                <div class="b-person-place-link-button glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-glava-apparata-press j-person-hint-starter-target j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-apparata-glava-apparata-press">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Работала в пресс-службе мэрии Ангарска, когда Чернышов был вице-мэром.</p></div>
                </div>
                <div class="b-person-place-link-button glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n12 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-apparata-minister-n12">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Работал начальником юридического отдела администрации Ангарска, когда Чернышов был вице-мэром.</p></div>
                </div>


                <div class="b-person-place-link-button glava-pravitelstva-sub-4 j-infographics-filter-target j-infographics-filter-target-kondrashov glava-pravitelstva-sub-4-minister-n09 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva-sub-4 hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-pravitelstva-sub-4-minister-n09">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Возглавляла департамент образования администрации Иркутска при Кондрашове.</p></div>
                </div>
                <div class="b-person-place-link-button glava-pravitelstva-sub-4 j-infographics-filter-target j-infographics-filter-target-kondrashov glava-pravitelstva-sub-4-glava-apparata-press j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva-sub-4 hard-orientation top j-person-hint-starter" data-hint-starter-target="glava-pravitelstva-sub-4-glava-apparata-press">
                    <div class="b-person-place-link-text j-person-hint-content"><p>Руководитель пресс-службы администрации Иркутска при Кондрашове.</p></div>
                </div>
            </div>
            <div class="b-person-place-link-container">
{#                <div class="b-person-place-link gubernator j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-gubernator-advisor-4 j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-gubernator-advisor-4"></div>#}
                <div class="b-person-place-link gubernator j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-gubernator-sub-5 j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-gubernator-sub-5"></div>
                <div class="b-person-place-link gubernator j-infographics-filter-target gubernator-glava-pravitelstva j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-glava-pravitelstva"></div>
                <div class="b-person-place-link gubernator j-infographics-filter-target gubernator-minister-n03 j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-glava-apparata-minister-n03"></div>
                <div class="b-person-place-link gubernator j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-minister-n08 j-person-hint-starter-target j-person-hint-starter-target-gubernator"></div>
                <div class="b-person-place-link gubernator j-infographics-filter-target gubernator-glava-pravitelstva-sub-4 j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-glava-pravitelstva-sub-4"></div>
                <div class="b-person-place-link gubernator j-infographics-filter-target gubernator-glava-apparata j-person-hint-starter-target j-person-hint-starter-target-gubernator j-person-hint-starter-target-glava-apparata"></div>

                <div class="b-person-place-link glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-glava-pravitelstva-sub-1 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva"></div>
                <div class="b-person-place-link glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-glava-pravitelstva-sub-3 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva"></div>
                <div class="b-person-place-link glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-minister-n11 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva"></div>
                <div class="b-person-place-link glava-pravitelstva j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-minister-n14 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva"></div>

                <div class="b-person-place-link glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk gubernator-advisor-2-glava-apparata j-person-hint-starter-target j-person-hint-starter-target-glava-apparata"></div>
                <div class="b-person-place-link glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-krio j-person-hint-starter-target j-person-hint-starter-target-glava-apparata"></div>
                <div class="b-person-place-link glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n03 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata"></div>
                <div class="b-person-place-link glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n04 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata"></div>
                <div class="b-person-place-link glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n07 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata"></div>
                <div class="b-person-place-link glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-glava-apparata-press j-person-hint-starter-target j-person-hint-starter-target-glava-apparata j-person-hint-starter-target-glava-apparata-glava-apparata-press j-person-hint-starter-target-glava-apparata-press"></div>
                <div class="b-person-place-link glava-apparata j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata-minister-n12 j-person-hint-starter-target j-person-hint-starter-target-glava-apparata j-person-hint-starter-target-minister-n12"></div>

                <div class="b-person-place-link glava-pravitelstva-sub-4 j-infographics-filter-target j-infographics-filter-target-kondrashov glava-pravitelstva-sub-4-minister-n09 j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva-sub-4"></div>
                <div class="b-person-place-link glava-pravitelstva-sub-4 j-infographics-filter-target j-infographics-filter-target-kondrashov glava-pravitelstva-sub-4-glava-apparata-press j-person-hint-starter-target j-person-hint-starter-target-glava-pravitelstva-sub-4 j-person-hint-starter-target-glava-apparata-press"></div>
            </div>

            <section class="b-person b-person-place g-cursor-pointer hard-orientation left j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-levchenko round gubernator" data-hint-starter-target="gubernator">
                <h2 class="b-person-position">Губернатор</h2>
                <h3 class="b-person-name">Сергей Левченко</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-avatar j-person-avatar gubernator">
                    <img src="{% static 'img/landing_pages/goverment/levchenko.png' %}" alt="Сергей Левченко" width="83" height="83"/>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>Родился в 1953 году в Новосибирске. Первое место работы в управлении треста «Сибстальконструкция».  Партийную деятельность начал в Ангарске. Последние 15 лет до избрания губернатором – депутат Госдумы.</p>
                </div>
            </section>

            <div class="b-person-place-bubble j-person-hint">
                <div class="b-person-place-bubble-close j-person-place-bubble-close"></div>
                <div class="container j-person-hint-container"></div>
            </div>

            {# Советники Губернатора слева #}
            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-neutral gubernator-advisor-1">
                <h2 class="b-person-position">Советник<br> губернатора</h2>
                <h3 class="b-person-name">Анатолий Прокопьев</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot neutral" title="Нейтральные"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>Экс-глава администрации Усть-Ордынского Бурятского округа.</p>
                </div>
            </section>
            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk gubernator-advisor-2" data-hint-starter-target="gubernator-advisor-2-glava-apparata">
                <h2 class="b-person-position">Советник<br> губернатора</h2>
                <h3 class="b-person-name">Юрий Фалейчик</h3>
                <div class="b-person-avatar j-person-avatar">
                    <img src="{% static 'img/landing_pages/goverment/faleichik.png' %}" alt="Фалейчик Юрий" width="81" height="81"/>
                </div>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot angarsk" title="Ангарские"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>1982–1990&nbsp;гг. – работал в «Красноярскстальконструкции» (сначала в Красноярске, затем в Ангарске). Поддерживал Левченко в выборах губернатора против Говорина в 2001 году. Экс-депутат Законодательного собрания Иркутской области (1996–2013&nbsp;гг.)</p>
                </div>
            </section>
            {% comment %}
            {# Советники Губернатора справа #}
            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-neutral gubernator-advisor-3">
                <h2 class="b-person-position">Представитель<br> в СФ РФ</h2>
                <h3 class="b-person-name">Вакантно</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot neutral" title="Вакантно"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>Нет информации</p>
                </div>
            </section>
            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-advisor-4" data-hint-starter-target="gubernator-gubernator-advisor-4">
                <h2 class="b-person-position">Представитель<br> в СФ РФ</h2>
                <h3 class="b-person-name">Вакантно</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot levchenko" title="Команда Левченко"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>Нет информации</p>
                </div>
            </section>
            {% endcomment %}

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-neutral gubernator-sub-4">
                <h2 class="b-person-position">Замгубернатора</h2>
                <h3 class="b-person-name">Владимир Дорофеев</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot neutral" title="Нейтральные"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>С 2012 года – замгубернатора Иркутской области — руководитель аппарата губернатора Иркутской области и правительства Иркутской области. С 2014 года – заместитель председателя правительства Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-neutral j-infographics-filter-target-old gubernator-sub-1">
                <h2 class="b-person-position">Первый<br> замгубернатора</h2>
                <h3 class="b-person-name">Виктор Игнатенко</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-avatar j-person-avatar">
                    <img src="{% static 'img/landing_pages/goverment/ignatenko.png' %}" alt="Игнатенко Виктор" width="81" height="81"/>
                </div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                    <div class="b-person-labels-dot neutral" title="Нейтральные"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>С 2013 года – замгубернатора Иркутской области. С 2014 года – первый зампред правительства Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-levchenko gubernator-sub-5" data-hint-starter-target="gubernator-gubernator-sub-5">
                <h2 class="b-person-position">Замгубернатора</h2>
                <h3 class="b-person-name">Марина Иванова</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot levchenko" title="Команда Левченко"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2005–2007&nbsp;гг. – председатель думы муниципального образования Осинского района. 1993–2015&nbsp;гг. – вела предпринимательскую деятельность.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer hard-orientation left j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk glava-apparata" data-hint-starter-target="glava-apparata">
                <h2 class="b-person-position">Глава аппарата <span class="g-block">губернатора и правительства</span></h2>
                <h3 class="b-person-name">Дмитрий Чернышов</h3>
                <div class="b-person-avatar j-person-avatar">
                    <img src="{% static 'img/landing_pages/goverment/chernishov.png' %}" alt="Чернышов Дмитрий" width="81" height="81"/>
                </div>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot angarsk" title="Ангарские"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>До 2010 года – зам. генерального директора «Страховой компании «Диана», руководителем которой является жена губернатора – Наталья Левченко. Следующие два года замещал главу Ангарска. Затем ушел в советники губернатора Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-neutral glava-apparata-regional-politics">
                <h2 class="b-person-position f-14">Глава управления по региональной политике</h2>
                <h3 class="b-person-name">Владислав Наумов</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot neutral" title="Нейтральные"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>Занимал пост заместителя начальника экспертного управления губернатора и правительства Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-bitarov j-infographics-filter-target-bitarov glava-apparata-sub-1" data-hint-starter-target="glava-pravitelstva-glava-pravitelstva-sub-1">
                <h2 class="b-person-position f-14">Замглавы аппарата<br> правительства</h2>
                <h3 class="b-person-name">Андрей Южаков</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot bitarov" title="Команда Битарова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2012–2015&nbsp;гг. – работал пресс-секретарем «Нового города».</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk j-infographics-filter-target-kondrashov glava-apparata-press" data-hint-starter-target="glava-apparata-press">
                <h2 class="b-person-position f-14">Руководитель<br> пресс-службы</h2>
                <h3 class="b-person-name">Ирина Алашкевич</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot angarsk" title="Ангарские"></div>
                    <div class="b-person-labels-dot kondrashov" title="Команда Кондрашова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>Бывший руководитель пресс-службы администрации Иркутска.</p>
                </div>
            </section>


            <section class="b-person b-person-place g-cursor-pointer hard-orientation left j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva" data-hint-starter-target="glava-pravitelstva">
                <h2 class="b-person-position">Глава<br> правительства</h2>
                <h3 class="b-person-name">Александр Битаров</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-avatar j-person-avatar">
                    <img src="{% static 'img/landing_pages/goverment/bitarov.png' %}" alt="Битаров Александр" width="81" height="81"/>
                </div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot bitarov" title="Команда Битарова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2010–2015&nbsp;гг. – председатель совета директоров ОАО ФСК «Новый город».</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk krio" data-hint-starter-target="glava-apparata-krio">
                <h2 class="b-person-position">Корпорация развития</h2>
                <h3 class="b-person-name">Владимир Перетолчин</h3>
                <div class="g-hide j-person-hint-content">
                    <p>2010–2015&nbsp;гг. – зам. генерального директора «Фарм-Синтез».</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-old glava-pravitelstva-sub-1">
                <h2 class="b-person-position f-14">Зампред правительства</h2>
                <h3 class="b-person-name">Валентина Вобликова</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>С 2006 года – заместитель мэра, председатель комитета по социальной политике и культуре администрации Иркутска. С 2011 года – зампред правительства Иркутской области.</p>
                </div>
            </section>
            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-bitarov glava-pravitelstva-sub-3" data-hint-starter-target="glava-pravitelstva-glava-pravitelstva-sub-3">
                <h2 class="b-person-position f-14">Зампред правительства</h2>
                <h3 class="b-person-name">Руслан Болотов</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot bitarov" title="Команда Битарова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2013–2015&nbsp;гг. – зам. генерального директора «Ассоциации застройщиков города Иркутска».</p>
                </div>
            </section>
            <section class="b-person b-person-place g-cursor-pointer hard-orientation top j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-kondrashov glava-pravitelstva-sub-4" data-hint-starter-target="glava-pravitelstva-sub-4">
                <h2 class="b-person-position f-14">Зампред правительства</h2>
                <h3 class="b-person-name">Виктор Кондрашов</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-avatar j-person-avatar">
                    <img src="{% static 'img/landing_pages/goverment/kondrashov.png' %}" alt="Кондрашов Виктор" width="81" height="81"/>
                </div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot kondrashov" title="Команда Кондрашова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2010–2015&nbsp;гг. – мэр Иркутска. В 2006 создал строительный холдинг «Такота».</p>
                </div>
            </section>


            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-old minister-n01">
                <h2 class="b-person-position f-14">Министр спорта<br> и молодежной политики</h2>
                <h3 class="b-person-name">Илья Резник</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2011-2015&nbsp;гг. – первый замминистра по физической культуре, спорту и молодежной политики Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target-old j-infographics-filter-target-neutral j-infographics-filter-target minister-n02">
                <h2 class="b-person-position f-14">Министр здравохранения</h2>
                <h3 class="b-person-name">Олег Ярошенко</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                    <div class="b-person-labels-dot neutral" title="Нейтральные"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>С февраля по октябрь 2013 года – советник губернатора Иркутской области. С 2015 года – начальник управления Научного центра экспертизы средств медицинского применения Минздрава России.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk minister-n03" data-hint-starter-target="glava-apparata-minister-n03">
                <h2 class="b-person-position f-14">Министр жилищной политики</h2>
                <h3 class="b-person-name">Андрей Капитонов</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot angarsk" title="Ангарские"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2002–2005&nbsp;гг. – вице-мэр Ангарского района. 2005–2010&nbsp;гг. – мэр Ангарского района.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk minister-n04" data-hint-starter-target="glava-apparata-minister-n04">
                <h2 class="b-person-position f-14 enlarge">Министр природных ресурсов и&nbsp;экологии</h2>
                <h3 class="b-person-name">Олег Кравчук</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot angarsk" title="Ангарские"></div>
                </div>
                <div class="b-person-place-io" title="Исполняющий обязанности">ИО</div>
                <div class="g-hide j-person-hint-content">
                    <p>2005–2011&nbsp;гг. – начальник отдела УФСБ России по Иркутской области в Ангарске.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-old minister-n05">
                <h2 class="b-person-position f-14">Министр культуры и&nbsp;архивов</h2>
                <h3 class="b-person-name">Ольга Стасюлевич</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                </div>
                <div class="b-person-place-io" title="Исполняющий обязанности">ИО</div>
                <div class="g-hide j-person-hint-content">
                    <p>2012-2015&nbsp;гг. – директор Иркутской областной государственной универсальной научной библиотеки Молчанова-Сибирского.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-bitarov j-infographics-filter-target-old minister-n06" data-hint-starter-target="glava-pravitelstva-minister-n14">
                <h2 class="b-person-position f-14">Министр труда и&nbsp;занятости</h2>
                <h3 class="b-person-name">Наталья Воронцова</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                    <div class="b-person-labels-dot bitarov" title="Команда Битарова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>С 2008 года – замминистра экономразвития, труда, науки и высшей школы Иркутской области, в 2012 году – зам. генерального директора по экономике «Нового города».</p>
                </div>
            </section>

            <section class="b-person padding-right-10 b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk j-infographics-filter-target-old minister-n07" data-hint-starter-target="glava-apparata-minister-n07">
                <h2 class="b-person-position f-14">Министр по регулирования в сфере госзакупок</h2>
                <h3 class="b-person-name">Максим Авдеев</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                    <div class="b-person-labels-dot angarsk" title="Ангарские"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>С 2013 года замминистра труда и занятости Иркутской области. С 2015 года – руководитель аппарата губернатора Иркутской области и правительства Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-levchenko minister-n08" data-hint-starter-target="gubernator-minister-n08">
                <h2 class="b-person-position f-14">Министр сельского хозяйства</h2>
                <h3 class="b-person-name">Илья Сумароков</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot levchenko" title="Команда Левченко"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>Замещал генерального директора по переработке и сбыту в «Усольском свинокомплексе».</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-kondrashov minister-n09" data-hint-starter-target="glava-pravitelstva-sub-4-minister-n09">
                <h2 class="b-person-position f-14">Министр образования</h2>
                <h3 class="b-person-name">Валентина Перегудова</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot kondrashov" title="Команда Кондрашова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2009-2015&nbsp;гг. – начальник департамента образования комитета по социальной политике и культуре администрации Иркутска.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-old minister-n10">
                <h2 class="b-person-position f-14">Министр финансов</h2>
                <h3 class="b-person-name">Наталья Бояринова</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>С 2011 года – заместитель министра финансов Иркутской области. С 2012 года – министр финансов.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-bitarov minister-n11" data-hint-starter-target="glava-pravitelstva-minister-n11">
                <h2 class="b-person-position f-14 enlarge">Министр строительства, дорожного хозяйства</h2>
                <h3 class="b-person-name">Светлана Свиркина</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot bitarov" title="Команда Битарова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2011–2013&nbsp;гг. –  замминистра строительства, дорожного хозяйства Иркутской области. С июня по октябрь 2015 года – первый зам. генерального директора «Новый город». </p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-angarsk minister-n12" data-hint-starter-target="glava-apparata-minister-n12">
                <h2 class="b-person-position f-14">Министр имущественных отношений</h2>
                <h3 class="b-person-name">Владислав Сухорученко</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot angarsk" title="Ангарские"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2009–2013&nbsp;гг. – начальник юридического отдела администрации Ангарска. 2013–2015&nbsp;гг. – адвокат некоммерческой организации. В декабре 2015 года работал замминистра имущественных отношений Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter  j-infographics-filter-target j-infographics-filter-target-old minister-n13">
                <h2 class="b-person-position f-14">Министр соцразвития, опеки и&nbsp;попечительства</h2>
                <h3 class="b-person-name">Владимир Родионов</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                </div>
                <div class="b-person-place-io" title="Исполняющий обязанности">ИО</div>
                <div class="g-hide j-person-hint-content">
                    <p>С 2004 года – начальник Управления ПФР в Свердловском районе Иркутска. С 2011 года – министр соцразвития, опеки и попечительства Иркутской области.</p>
                </div>
            </section>

            <section class="b-person b-person-place g-cursor-pointer j-person-hint-starter j-infographics-filter-target j-infographics-filter-target-bitarov j-infographics-filter-target-old minister-n14" data-hint-starter-target="glava-pravitelstva-minister-n06">
                <h2 class="b-person-position f-14">Министр экономразвития</h2>
                <h3 class="b-person-name">Оксана Тетерина</h3>
                <div class="b-person-wat">?</div>
                <div class="b-person-labels square">
                    <div class="b-person-labels-dot old" title="Старая команда"></div>
                    <div class="b-person-labels-dot bitarov" title="Команда Битарова"></div>
                </div>
                <div class="g-hide j-person-hint-content">
                    <p>2013-2015&nbsp;гг. – начальник управления министерства экономического развития Иркутской области.</p>
                </div>
            </section>
        </div>
    </article>
    <div class="b-infographics-footer">
        Данные обновлены <span class="j-star-wars-init j-metrika-goal" data-metrika-goal="coruscant_on">17 декабря</span> 2015 года.<br>
        Информация подготовлена редакцией на основе данных из открытых источников, мнения политологов, членов<br>
        предвыборных штабов губернаторских выборов, сотрудников, работавших в правительстве Иркутской области.<br>
        Инфографика носит ознакомительный характер и не претендует на истинность.
    </div>
</div>
<footer class="b-footer j-float-stop-02{% block b-footer-class %}{% endblock %}"{% block b-footer-data %}{% endblock %}>
{% spaceless %}
    <section class="b-footer-container">
        <nav class="b-footer-nav">
            <ul class="b-list-h b-footer-nav-icons">
                <li><a class="icon fb" href="http://www.facebook.com/tvoyirkutsk"></a></li>
{#                    <li><a class="icon ok" href="http://ok.com/tvoy_irkutsk"></a></li>#}
                <li><a class="icon vk" href="http://vk.com/tvoy_irkutsk"></a></li>
                <li><a class="icon tw" href="http://twitter.com/tvoyirkutsk"></a></li>
                <li><a class="icon ig j-ee-pokeball-target" href="http://instagram.com/tvoyirkutsk/"></a></li>
                <li><a class="icon rss" href="{{ request.scheme }}://{% get_site_url www %}/news.rss"></a></li>
                <li><a class="icon search j-reveal-button-toggle click" data-target="footer-search" href="#"></a></li>
            </ul>
            <div class="b-footer-search g-accelerate j-reveal-block-toggle j-reveal-block-toggle-footer-search">
                <form action="{% url 'news:search' %}" name="" method="GET">
                    {% if search_type %}
                        <input type="hidden" name="type" value="{{ search_type }}" />
                    {% endif %}
                    <input name="q" type="text" class="b-footer-search-input" placeholder="Поиск в новостях" value="{% if q %}{{q}}{% endif %}">
                    <input type="image" src="{% static 'img/search/search-input-submit.png' %}" class="b-footer-search-button">
                    <input type="submit" class="g-hidden">
                </form>
            </div>
            <ul class="b-list-h b-footer-nav-list">
                <li><a href="{% url 'obed:index' %}?tab=critic#article-list">Ресторанный обозреватель</a></li>
                <li><a href="{% url 'special:index' 'club' %}">Клуб путешественников</a></li>
                <li><a href="{% url 'special:index' 'favourite' %}">Любимое дело</a></li>
            </ul>
        </nav>
        <nav class="b-footer-nav-other g-indent">
            <ul class="b-list-v">
                <li><a href="{% url 'about:prices' %}">Реклама на сайте</a></li>
                <li><a href="{% url 'about:mediakits' %}">Аудитория сайта</a></li>
            </ul>
            <ul class="b-list-v">
                <li><a href="{% url 'about:about_us' %}">О проекте</a></li>
                <li><a href="{% url 'about:feedback' %}">Написать редакции</a></li>
                <li><a href="{% url 'about:vacancy_index' %}">Вакансии</a></li>
            </ul>
            <ul class="b-list-v">
                <li><a href="{% url 'tourism:aviasales' %}">Покупка авиабилетов</a></li>
                <li><a href="{% url 'tourism:airport' %}">Онлайн-табло аэропорта</a></li>
                <li><a href="{% url 'tourism:transport_etrains' %}">Расписание электричек</a></li>
                <li><a href="{% url 'tourism:transport_trains' %}">Расписание поездов</a></li>
                <li><a href="/tourism/boats_baikal/">Водный транспорт</a></li>
                <li><a href="{% url 'news:subscription:index' %}">Подписка на новости</a></li>
                <li><a href="{% url 'special:project_list' %}">Спецпроекты</a></li>
            </ul>
        </nav>
        {% include 'snippets/copy.html' %}
    </section>
{% endspaceless %}
</footer>

{% include 'liveinternet_counter.html' %}
</body>
</html>
