{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="viewport" content="width=1050, maximum-scale=1">
    <title>Модный квартал | Твой Иркутск</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="{% static 'font/apps/mk2013-ie.css' %}" />
    <![endif]-->
    <!--[if (IE 9)|!(IE)]><!-->
    <link rel="stylesheet" type="text/css" href="{% static 'font/apps/mk2013.css' %}" />
    <!--<![endif]-->

    {% block style %}
        {% less '/less/compile/landings/mk2013.less' %}
    {% endblock style %}
    {% if settings.DEBUG %}<script type="text/javascript" src="{% static 'js/lib/less/less-1.3.0.js' %}"></script>{% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
        </script>
        <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        {% if settings.DEBUG %}<script type="text/javascript" src="{% static 'js/apps-js/debug.js' %}"></script>{% endif %}
        <script type="text/javascript" src="{% static 'js/lib/jquery.form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jquery-cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/irk.new.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/swfobject.1.1.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/landing/mk2013.js' %}"></script>
    {% endblock js %}
    {% include 'google_analytics.html' %}

</head>
<body class="">
{% include 'yandex_metrika.html' %}

{# Топ меню #}
<section class="b-nav b-nav-main">{% simple_header_menu %}</section>

{# Зона с контентом #}
<section class="b-container no-scroll">
    <a class="j-scroll-point" name="top" href="#"></a>
    <section class="b-fashion">
        <header class="b-fashion-logo">
            <a href="#">
                <img src="{% static 'img/landing_pages/fashion/logo.png' %}" alt="Модный квартал">
                <small>130-й Квартал, ул. 3 Июля, 25, тел.: 48-53-25</small>
            </a>
        </header>
        <div class="b-fashion-nav j-block-fixed">
            <ul class="b-list-v j-nav-links">
                <li><a class="icon g-top" href="#top"></a></li>
                <li><a class="icon g-active" href="#toys"></a></li>
                <li><a class="icon " href="#fir-tree"></a></li>
                <li><a class="icon " href="#wish-tree"></a></li>
                <li><a class="icon " href="#schedule"></a></li>
                <li><a class="icon " href="#rink"></a></li>
            </ul>
        </div>
        <div class="b-fashion-type_01">
            <div class="b-fashion-type_01-container">
                <OBJECT class="swf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" WIDTH="960" HEIGHT="840">
                    <PARAM NAME=movie VALUE="{% static 'swf/landing_pages/mk2013/inter1.swf' %}">
                    <PARAM NAME=quality VALUE="high">
                    <PARAM NAME=wmode VALUE="transparent">
                    <EMBED src="{% static 'swf/landing_pages/mk2013/inter1.swf' %}" quality="high" wmode="transparent"
                           WIDTH="960"
                           HEIGHT="840"
                           TYPE="application/x-shockwave-flash"
                           PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                    </EMBED>
                </OBJECT>
                <h3 class="j-nav-link text_01">
                    <a class="j-nav-link" href="#toys">Конкурс детской игрушки</a>
                </h3>
                <h3 class="text_02">
                    <a class="j-nav-link" href="#fir-tree">Конкурс «Лучшая елка»</a>
                </h3>
                <h3 class="text_03">
                    <a class="j-nav-link" href="#wish-tree">Акция «Дерево желаний»</a>
                </h3>
                <h3 class="text_04">
                    <a class="j-nav-link" href="#schedule">Новогодние сказки с Дедом Морозом и Снегурочкой</a>
                </h3>
                <h3 class="text_05">
                    <a class="j-nav-link" href="#rink">Открытие ледового катка</a>
                </h3>
            </div>
        </div>
        <a class="j-scroll-point" name="toys" href="#"></a>
        <div class="b-fashion-type_02 j-nav-start">
            <div class="b-fashion-type_02-container">
                <OBJECT class="swf"
                        classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
                        WIDTH="1200" HEIGHT="968">
                    <PARAM NAME=movie VALUE="{% static 'swf/landing_pages/mk2013/inter2.swf' %}">
                    <PARAM NAME=quality VALUE="high">
                    <PARAM NAME=wmode VALUE="transparent">
                    <EMBED src="{% static 'swf/landing_pages/mk2013/inter2.swf' %}" quality="high" wmode="transparent"
                           WIDTH="1200"
                           HEIGHT="968"
                           TYPE="application/x-shockwave-flash"
                           PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                    </EMBED>
                </OBJECT>
                <section class="content">
                    <header>
                        <h3>Конкурс детской игрушки</h3>
                        <time>с 7 по&nbsp;29&nbsp;декабря</time>
                    </header>
                    <article>
                        <div class="image">
                            <img src="{% static 'img/landing_pages/fashion/pic_01.png' %}" alt="" width="470" height="380">
                        </div>
                        <p>Приноси новогоднюю игрушку, сделанную своими руками на промо-стойку 1 этажа и становись участником конкурса.</p>
                        <p>29 декабря — вручение главного приза победителю конкурса! Всем призы и подарки!</p>
                        <p>Бесплатные мастер-классы по созданию игрушек — все выходные декабря с 12:00 до 18:00</p>
                    </article>
                </section>
            </div>
            <div class="b-fashion-logo">
                <a href="#">
                    <img src="{% static 'img/landing_pages/fashion/logo.png' %}" alt="Модный квартал">
                    <span>130-й Квартал, ул. 3 Июля, 25, тел.: 48-53-25</span>
                </a>
            </div>
        </div>
        <a class="j-scroll-point" name="fir-tree" href="#"></a>
        <div class="b-fashion-type_03">
            <div class="b-fashion-type_03-container">
                <OBJECT class="swf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
                        WIDTH="1495" HEIGHT="968">
                    <PARAM NAME=movie VALUE="{% static 'swf/landing_pages/mk2013/inter3.swf' %}">
                    <PARAM NAME=quality VALUE="high">
                    <PARAM NAME=wmode VALUE="transparent">
                    <EMBED src="{% static 'swf/landing_pages/mk2013/inter3.swf' %}" quality="high" wmode="transparent"
                           WIDTH="1495"
                           HEIGHT="968"
                           TYPE="application/x-shockwave-flash"
                           PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                    </EMBED>
                </OBJECT>
                <section class="content">
                    <header>
                        <h3>Конкурс «Лучшая елка»</h3>
                        <time>с 9 по&nbsp;22&nbsp;декабря</time>
                    </header>
                    <article>
                        <div class="image">
                            <img src="{% static 'img/landing_pages/fashion/pic_02.png' %}" alt="" width="470" height="380">
                        </div>
                        <p>Голосуй за новогоднюю красавицу и лучшую елку
                        <br>с 9 по&nbsp;22&nbsp;декабря в&nbsp;ТРК&nbsp;«Модный&nbsp;квартал»</p>
                    </article>
                </section>
            </div>
            <div class="b-fashion-logo">
                <a href="#">
                    <img src="{% static 'img/landing_pages/fashion/logo.png' %}" alt="Модный квартал">
                    <span>130-й Квартал, ул. 3 Июля, 25, тел.: 48-53-25</span>
                </a>
            </div>
        </div>
        <a class="j-scroll-point" name="wish-tree" href="#"></a>
        <div class="b-fashion-type_03">
            <div class="b-fashion-type_04-container">
                <section class="content">
                    <header>
                        <h3>Акция «Дерево желаний»</h3>
                        <time>с 16 по&nbsp;29&nbsp;декабря <span>2013&nbsp;года</span></time>
                    </header>
                    <article>
                        <div class="image">
                            <img src="{% static 'img/landing_pages/fashion/pic_03.png' %}" alt="" width="470" height="380">
                        </div>
                        <p>Соверши покупку от 3 000 рублей и более с 16 по&nbsp;29&nbsp;декабря 2013&nbsp;года</p>
                        <p>Зарегистрируй чек на промо-стойке на 1&nbsp;этаже в день покупки
                        <br><small>(чек действует в течение 1&nbsp;суток, чеки не&nbsp;суммируются)</small></p>

                        <p>Сорви свой подарок с волшебного дерева.
                        <br><small>Подробности акции на промо-стойке 1&nbsp;этажа с&nbsp;7 по&nbsp;29&nbsp;декабря 2013&nbsp;года и&nbsp;по&nbsp;тел.:&nbsp;485-325</small></p>

                    </article>
                </section>
            </div>
            <div class="b-fashion-logo">
                <a href="#">
                    <img src="{% static 'img/landing_pages/fashion/logo.png' %}" alt="Модный квартал">
                    <span>130-й Квартал, ул. 3 Июля, 25, тел.: 48-53-25</span>
                </a>
            </div>
        </div>
        <a class="j-scroll-point" name="schedule" href="#"></a>
        <div class="b-fashion-type_05">
            <div class="b-fashion-type_05-container">
                <section class="content">
                    <ul class="b-list-v">
                        <li>
                            <header>
                                <h3>Новогодние сказки с Дедом Морозом и&nbsp;Снегурочкой</h3>
                            </header>
                            <div class="column"><time>с 21 по&nbsp;22&nbsp;декабря</time><time>31&nbsp;декабря<span>начало в 13:00</span></time></div>
                            <div class="column"><time>с 28 по&nbsp;30&nbsp;декабря<span>начало в 15:00</span></time></div>
                        </li>
                        <li>
                            <header>
                                <h3>Новогодний спектакль</h3>
                            </header>
                            <div class="column"><time>28&nbsp;декабря<span>начало в 17:00</span></time></div>
                            <div class="column"><time>29&nbsp;декабря<span>начало в 15:00</span></time></div>
                        </li>
                        <li>
                            <header>
                                <h3>DIXILAND Дедов Морозов</h3>
                            </header>
                            <div class="column"><time>29, 30, 31&nbsp;декабря<span>начало в 14:00</span></time></div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="b-fashion-logo">
                <a href="#">
                    <img src="{% static 'img/landing_pages/fashion/logo.png' %}" alt="Модный квартал">
                    <span>130-й Квартал, ул. 3 Июля, 25, тел.: 48-53-25</span>
                </a>
            </div>
        </div>
        <a class="j-scroll-point" name="rink" href="#"></a>
        <div class="b-fashion-type_06">
            <div class="b-fashion-type_03-container">
                <OBJECT class="swf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
                        WIDTH="1500" HEIGHT="718">
                    <PARAM NAME=movie VALUE="{% static 'swf/landing_pages/mk2013/inter4.swf' %}">
                    <PARAM NAME=quality VALUE="high">
                    <PARAM NAME=wmode VALUE="transparent">
                    <EMBED src="{% static 'swf/landing_pages/mk2013/inter4.swf' %}" quality="high" wmode="transparent"
                           WIDTH="1500"
                           HEIGHT="718"
                           TYPE="application/x-shockwave-flash"
                           PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                    </EMBED>
                </OBJECT>
                <section class="content">
                    <header>
                        <h3>Открытие ледового катка на Главной площади</h3>
                        <time>21&nbsp;декабря в&nbsp;13:00</time>
                    </header>
                    <article>
                        <p>В программе: выступление детских школ фигурного катания, мастер-классы по фигурному катанию, угощения.</p>
                        <p>Ведущие: Дед Мороз и Снегурочка.</p>
                    </article>
                </section>
            </div>
            <div class="b-fashion-logo">
                <a href="#">
                    <img src="{% static 'img/landing_pages/fashion/logo.png' %}" alt="Модный квартал">
                    <span>130-й Квартал, ул. 3 Июля, 25, тел.: 48-53-25</span>
                </a>
            </div>
        </div>
    </section>
</section>


{# Нижнее меню #}
<section class="b-nav">{% simple_header_menu %}</section>
{% include 'liveinternet_counter.html' %}
</body>
</html>
