{% load staticfiles media_utils pytils_numeral %}{% spaceless %}
{% if not obj.hide_comments %}
    {% if obj.comments_cnt or blank_label %}
        {% if new_card == "double" %}
            <a href="{{ url }}" class="b-widget-article-double__comments">
                {% if obj.comments_cnt > 0 %}
                    {{ obj.comments_cnt }}&nbsp;{{ obj.comments_cnt|choose_plural:plural }}
                {% else %}
                    {{ blank_label }}
                {% endif %}
            </a>
        {% elif new_card == "light" %}
            <a href="{{ url }}" class="b-widget-material__comments">
                {% if obj.comments_cnt > 0 %}
                    {{ obj.comments_cnt }}&nbsp;{{ obj.comments_cnt|choose_plural:plural }}
                {% else %}
                    {{ blank_label }}
                {% endif %}
            </a>
        {% elif new_card == "big" %}
            <a href="{{ url }}" class="b-widget-article-big__comments">
                {% if obj.comments_cnt > 0 %}
                    {{ obj.comments_cnt }}&nbsp;{{ obj.comments_cnt|choose_plural:plural }}
                {% else %}
                    {{ blank_label }}
                {% endif %}
            </a>
        {% else %}
            <a href="{{ url }}" class="{% if extra_class %}{{ extra_class }}{% else %}icon-inline icon-left icon-comment{% endif %}">
                <span>
                    {% if obj.comments_cnt > 0 %}
                        {{ obj.comments_cnt }}&nbsp;{{ obj.comments_cnt|choose_plural:plural }}
                    {% else %}
                        {{ blank_label }}
                    {% endif %}
                </span>
            </a>
        {% endif %}
    {% endif %}
{% endif %}
{% endspaceless %}
