{% extends 'news-less/article/read_base.html' %}

{% load news_tags str_utils thumbnail %}

{% block b-content-article-header-image %}
    {% thumbnail object.image 940x1000 quality=92 stretch=1 as thumb %}
    <img src="{{ thumb }}" alt="{% if object.image_label %}{{ object.image_label|typograf }}{% else %}{{ object.title|typograf }}{% endif %}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
{% endblock %}

{% block b-content-article-text %}{{ object.content|typograf:"admin,image=620x1000" }}{% endblock %}

{% block b-aside-r %}
    {% include "obed/article/b-aside-r.html" %}
{% endblock %}
