{% extends "layout_article.html" %}

{% load staticfiles cache_tags str_utils adv_tags%}

{% block title %}{{ object.title|typograf }} | {{ block.super }}{% endblock title %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'article.instance.meta' vary='object.id' tags='article,object' %}{% spaceless %}
        {% include 'share_meta.html' with card='summary_large_image' url=object.get_absolute_url title=object.title description=object.caption image=object.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/ifvisible.js' %}"></script>
{% endblock %}

{# брендирование вверху #}
{% block promo_A %}
    {% ibanner id=482 as branding_top %}
    {% include 'snippets/branding_top.html' %}
{% endblock %}

{% block b-adword-header %}{% endblock b-adword-header %}
{% block b-content-header %}{# убираем верхнее меню #}{% endblock %}

{% block b-aside-r %}
    {% include "obed/article/b-aside-r.html" %}
{% endblock %}

{#{% block b-content %}#}
{#    {% include 'obed/article/read_base.html' %}#}
{#{% endblock %}#}
