{% load contests_tags news_tags str_utils date_tags comments_tags thumbnail utils_tags pytils_numeral comments_tags %}

{% if request.user_agent.is_gadget %}

    {% for article in object_list %}
        <li class="grid-list__item grid-list__item_mobile negative-margin-15 longread-{{ forloop.counter }}" data-similarity-way="{{ article.way }}">
            {% material_card article is_mobile=True is_wide=True metrika_goal=metrika_goal audit_goal=audit_goal audit_material=audit_material %}
        </li>
    {% endfor %}

{% endif %}

{% for article in object_list %}
    {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 4 %}
        <li class="grid-list__item{% if forloop.counter == 2 %} grid-list__item_100{% endif %} longread-{{ forloop.counter }}" data-similarity-way="{{ article.way }}">
            {% material_card article is_double=True is_wide=True metrika_goal=metrika_goal audit_goal=audit_goal audit_material=audit_material %}
        </li>
    {% else %}
        <li class="grid-list__item longread-{{ forloop.counter }}" data-similarity-way="{{ article.way }}">
            {% material_card article is_light=True is_wide=True metrika_goal=metrika_goal audit_goal=audit_goal audit_material=audit_material %}
        </li>
    {% endif %}
{% endfor %}

