{% extends 'newyear2014/layout_cr.html' %}

{% load thumbnail str_utils horoscope_tags %}

{% block title %}{{ object.name|typograf:'title'|safe }} | Гороскопы | {{ block.super }}{% endblock title %}

{% block b-content-cr %}
    <header class="g-intend">
        {% horoscope_menu object %}
    </header>
    <article class="b-ny2014-horoscope">
        <ul class="b-ny2014-horoscope-signs b-list-h">
            {% for zodiac in object.zodiac_set.all|dictsortreversed:"position" %}
                <li class="g-active">
                    {% thumbnail zodiac.image 45x45 as thumb %}
                    <a href="{{ zodiac.get_absolute_url }}"><img src="{{ thumb }}" title="{{ zodiac.name|typograf:'title'|safe }}" alt="{{ zodiac.name|typograf:'title'|safe }}"></a>
                </li>
            {% endfor %}
        </ul>
        {{ object.content|typograf:'admin'|safe }}
    </article>
{% endblock b-content-cr %}