{% extends 'newyear2014/layout_cr.html' %}
{% load thumbnail str_utils horoscope_tags %}

{% block title %}{{ object.name|typograf:'title'|safe }} | {{ object.horoscope }} | Гороскопы | {{ block.super }}{% endblock title %}

{% block b-content-cr %}
    <header class="g-intend">
        {% horoscope_menu object.horoscope show_link='True' %}
    </header>
    <article class="b-ny2014-horoscope">
        <ul class="b-ny2014-horoscope-signs b-list-h">
            {% for zodiac in object.horoscope.zodiac_set.all|dictsortreversed:"position" %}
                <li>
                {% if zodiac == object %}
                    {% thumbnail zodiac.image 45x45 as thumb %}
                    <img src="{{ thumb }}" title="{{ zodiac.name|typograf:'title'|safe }}" alt="{{ zodiac.name|typograf:'title'|safe }}">
                {% else %}
                    {% thumbnail zodiac.image 45x45 as thumb %}
                    <a href="{{ zodiac.get_absolute_url }}"><img src="{{ thumb }}" title="{{ zodiac.name|typograf:'title'|safe }}" alt="{{ zodiac.name|typograf:'title'|safe }}"></a>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        <h1>{{ object.name|typograf:'title'|safe }}</h1>
        {% thumbnail object.image 90x90 as thumb %}
        <img class="g-left" src="{{ thumb }}" title="{{ object.name|typograf:'title'|safe }}" alt="{{ object.name|typograf:'title'|safe }}">
        {{ object.content|typograf:'admin'|safe }}
    </article>
{% endblock b-content-cr %}