{% load thumbnail static %}

{% spaceless %}
<div class="article-element article-element_wide">
    <div class="juxtapose g-clear-left" data-startingposition="50%" data-showlabels="{% if before_label and after_label %}true{% else %}false{% endif %}" data-showcredits="true" data-animate="true">
        {% thumbnail picture_1.image 620x460 quality=92 x=picture_1.watermark as thumb1 %}
        <img src="{{ thumb1 }}" data-label="{{ before_label }}" data-credit="{{ picture_1.title }}"/>
        {% thumbnail picture_2.image 620x460 quality=92 x=picture_2.watermark as thumb2 %}
        <img src="{{ thumb2 }}" data-label="{{ after_label }}" />
    </div>
</div>
{% endspaceless %}
