{% comment %}
    Список постов инстаграмма по погоде
    input:
        posts - список постов из инстаграма
{% endcomment %}

{% load date_tags %}

{% for post in posts %}
    <li>
        <a href="{{ post.data.get_absolute_url }}"
           class="b-weather-instagram-list-item j-overlay-swiper-targets"
           data-overlay-swiper-src="{{ post.data.images.standard_resolution.url }}"
           data-overlay-swiper-width="{{ post.data.images.standard_resolution.width }}"
           data-overlay-swiper-height="{{ post.data.images.standard_resolution.height }}">
            <img class="image g-cursor-pointer"
                 src="{{ post.data.images.low_resolution.url }}"
                 alt="{{ post.data.user.username }}"
                 width="{% if request.user_agent.is_gadget %}320{% else %}166{% endif %}"
                 height="{% if request.user_agent.is_gadget %}320{% else %}166{% endif %}"/>
            <h4 class="name g-font-size-14">{{ post.data.user.username }}</h4>

            <div class="g-color-gray g-font-size-13">
                {{ post.data.created_time|datetime_from_timestamp|pretty_date }}
            </div>
        </a>
    </li>
{% endfor %}
