{% extends 'newyear2014/layout_cr.html' %}

{% load adv_tags horoscope_tags thumbnail staticfiles media_utils%}

{% block title %}Обои на рабочий стол | {{ block.super }}{% endblock title %}

{% block b-content-class %} b-ny2014-wallpapers{% endblock %}

{% block b-content-cr %}
    <header class="g-intend">
        <h1>Обои на рабочий стол</h1>
    </header>
    <ul class="b-list-v b-ny2014-wallpapers-list">
        {% for object in object_list %}
            <li>
                {% thumbnail object.wide_image 738x700 as thumb %}
                <img src="{{ thumb }}" alt="{{ object.title }}" title="{{ object.title }}" style="width: {{ thumb.width }}px; height: {{ thumb.height }}px">
                <div class="links">
                    <strong>Сохранить:</strong>
                    <a href="{{ object.wide_image.url }}">1920x1080 px</a>
                    <a href="{{ object.standard_image.url }}">1280x1024 px</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock b-content-cr %}

{% block b-aside-r %}
    {% include 'newyear2014/base/b-aside-r.html' with wallpaper=1 %}
{% endblock %}

