{% load staticfiles media_utils site_utils metric_tags pages str_utils utils_tags thumbnail afisha_tags adv_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <title>Событие не найдено  | Твой Иркутск</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />

    {% block style %}
        {% less '/less/compile/afisha-410.less' %}
    {% endblock style %}

    {% if settings.DEBUG_ADAPTIVE or request.user_agent.is_gadget %}
        {% block style_adaptive %}
            {% less '/less/compile/adaptive/afisha-410.less' media='all' %}
        {% endblock style_adaptive %}
    {% endif %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
            var randImages = ["{% static 'img/410/afisha_1.jpg' %}", "{% static 'img/410/afisha_2.jpg' %}", "{% static 'img/410/afisha_3.jpg' %}"];
        </script>

        <script type="text/javascript" src="{% static 'js/lib/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/410/afisha.js' %}"></script>
    {% endblock js %}

    {% include 'google_analytics.html' %}
</head>
<body class="j-toggle-target-bodyhide" data-toggle-class="b-main-menu-opened">
{% include 'yandex_metrika.html' %}
{% include 'snippets/header.html' %}

<div class="afisha-gone">
    <div class="grid-wrapper">
        <div class="afisha-gone__top">
            <div class="grid-inner">
                <div class="grid-list grid-list_auto">
                    <div class="grid-list__item grid-list__item_x2">
                        <h1 class="afisha-gone__title">
                            К сожалению, мероприятие уже прошло
                        </h1>
                        <h2>
                            Не расстраивайтесь, впереди <a href="/afisha">много других</a>
                        </h2>
                    </div>
                    <div class="grid-list__item grid-list__item_x2 g-relative">
                        <div class="afisha-gone__image">
                            <img id="rand-image" src="{% static 'img/410/afisha_1.jpg' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="afisha-gone__bottom">
            {% if events|length > 0 %}
                <section class="afisha-section afisha-section_gray">
                    <div class="grid-inner">
                        <h3 class="afisha-section__title">Скоро</h3>
                        <ul class="grid-list">
                            {% for event in events %}
                                <li class="grid-list__item">
                                    {% event_card event %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endif %}
        </div>
    </div>
</div>

{% include 'liveinternet_counter.html' %}
</body>

