{% load staticfiles media_utils str_utils pytils_dt math_utils pytils_numeral thumbnail %}

{% if poll %}
<section class="b-poll-container">
    {% if not is_material_page %}<h3>{{ poll.title|typograf }}</h3>{% endif %}
    <div class="b-poll-content {% if poll.choices_have_images %}with-image{% endif %} -relative">
        <div id="poll-{{ poll.pk }}-container">
            {% if voted %}
                <ul class="b-poll-results">
                    {% for choice in poll.choices %}
                    <li>
                        {% thumbnail choice.image 60x60 as thumb %}
                        {% if thumb %}
                            <div class="image"><img src="{{ thumb }}" alt="" width="{{ thumb.width }}" height="{{ thumb.height }}" /></div>
                        {% endif %}
                        <p>{{ choice.text|typograf }}</p>
                        <div class="b-poll-line" style="width:{% widthratio choice.votes_cnt poll.votes_cnt 100 %}%;">&nbsp;</div>
                        <span class="b-poll-percent">{{ choice.votes_cnt|percent:poll.votes_cnt }}%</span>
                    </li>
                    {% endfor %}
                </ul>

                {% if poll.is_active and request.user.is_authenticated %}
                    {% include 'polls/snippets/revote.html' %}
                {% endif %}

                <small class="g-color-gray padding-left">Проголосовало: <b class="g-color-black">{{ poll.votes_cnt }}&nbsp;{{ poll.votes_cnt|choose_plural:"человек,человека,человек" }}</b>.</small>
            {% else %}

            <form method="post" action="{% url 'polls:vote' %}?new=true" id="poll-{{ poll.pk }}" class="b-poll-form">{% csrf_token %}
                <input type="hidden" name="poll" value="{{ poll.pk }}">
                <ul class="b-list-v">
                    {% for choice in poll.choices %}
                    <li>
                        {% thumbnail choice.image 60x60 as thumb %}
                        <input type="radio" name="choice" id="poll-choice-{{ choice.pk }}" value="{{ choice.pk }}">
                        <label for="poll-choice-{{ choice.pk }}">
                            {% if not thumb %}
                                <div class="dot"></div>
                            {% endif %}
                            {% if thumb %}
                                <div class="image"><img src="{{ thumb }}" alt="" width="{{ thumb.width }}" height="{{ thumb.height }}" /></div>
                            {% endif %}
                            {{ choice.text|typograf }}
                        </label>

                        {% comment %}
                        <div class="radio"><input type="radio" name="choice" id="poll-choice-{{ choice.pk }}" value="{{ choice.pk }}"></div>
                        <div class="label"><label for="poll-choice-{{ choice.pk }}">{{ choice.text|typograf|safe }}</label></div>
                        {% endcomment %}
                    </li>
                    {% endfor %}
                </ul>
                <button type="submit" class="b-button">Проголосовать</button>
            </form>
            {% endif %}

            <p class="b-poll-date">
                {% if poll.is_active %}
                    <small class="g-color-gray padding-left">Голосование проходит <nobr>до {{ poll.end|date:"j" }} {{ poll.end|ru_strftime:"%B %Y г." }}</nobr></small>
                {% else %}
                <small class="g-color-gray padding-left">
                    Голосование проходило <nobr>с
                    {% if poll.start|date:"m" == poll.end|date:"m" %}
                    {{ poll.start|date:"j" }} по {{ poll.end|date:"j" }} {{ poll.end|ru_strftime:"%B %Y г." }}</nobr>
                    {% else %}
                    {{ poll.start|date:"j" }} {{ poll.start|ru_strftime:"%B" }}
                    по {{ poll.end|date:"j" }} {{ poll.end|ru_strftime:"%B" }} {{ poll.end|ru_strftime:"%Y г." }}</nobr>
                    {% endif %}
                </small>
                {% endif %}
            </p>

            {% if arh_link %}
                <span class="b-poll-archive"><a href="{% url 'polls:index' %}">Архив результатов</a></span>
            {% endif %}
        </div>

        <script>
            $(function() {
                var $pollForm = $('#poll-'+ {{ poll.pk }});
                $pollForm.on('click', 'label', function(e) {
                    if (e.target.tagName == 'A'){
                        // переход по ссылке не должен засчитываться как голос
                        return true;
                    }
                    e.preventDefault();
                    $('#' + $(this).attr('for')).prop('checked', true);
                    $pollForm.addClass('g-active');
                    $pollForm.ajaxSubmit({
                        beforeSubmit: function() {
                            $('#poll-' + {{ poll.pk }} + '-container').append('<img src="{% static 'img/ajax-load48.gif' %}" class="preloader">');
                        },
                        success: function(data) {
                            $('#poll-' + {{ poll.pk }} + '-container').replaceWith(data);
                        }
                    });
                });
            });
        </script>
    </div>
</section>
{% endif %}
