<div class="b-poll-revote">
    <button class="j-delete-vote">Переголосовать</button>
</div>
<script>
    var pollId = {{ poll.pk }};
    var deleteVoteUrl = '{% url 'polls:delete_vote' %}?new=true';
    $('.j-delete-vote').on('click', function() {
        var self = this;
        $.ajax({
            type: 'POST',
            url: deleteVoteUrl,
            data: {'poll': pollId},
            beforeSend: function() {
            },
            success: function(data) {
                window.location.reload();
            }
        });
    });
</script>