{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}

    <script src="https://api-maps.yandex.ru/2.1/?apikey=89182932-e0e9-4f0c-817f-32c2c6f15023&amp;lang=ru_RU"></script>
    <script>

        var state = {};

        /**
         * Несложный плагин карты для поля Координаты
         *
         * Показывает Яндекс.Карту под полем. Если нажать в какую-то точку, то ее координаты
         * появятся в поле, а на карте появится маркер. Маркер можно перетащить или просто
         * кликнуть на карте в новое место - тогда значение автоматически обновится.
         */
        var SuperPlugin = function(inputElementId, mapElementId){
            this.state = state;

            state.textInput = document.getElementById(inputElementId);
            state.initial = '';
            state.markerPos = null;
            state.marker = null;
            state.map = null;

            this.initMap(mapElementId);
            this.initFromTextInput();
        };


        SuperPlugin.prototype.initMap = function(mapElementId) {
            var map = new ymaps.Map(mapElementId, {
                center: [52.287054, 104.281047],
                zoom: 16,
                controls: ['zoomControl'],
                scroll: false
            });

            var self = this;
            map.events.add('click', function (event) {
                self.onMapClick(event);
            });

            this.state.map = map;
        };

        SuperPlugin.prototype.initFromTextInput = function() {
            var value = this.state.textInput.value;
            if (value.indexOf(',') !== -1) {
                // есть начальное значение в поле - покажем его на карте
                var coords = value.split(',');
                coords = [parseFloat(coords[0].trim()), parseFloat(coords[1].trim())];

                this.placeMarker(coords);
                this.setMapCenter(coords);
            }
        };

        SuperPlugin.prototype.createMarker = function(coords) {
            var marker = new ymaps.Placemark(coords, {}, {draggable: true});
            var self = this;
            marker.events.add('dragend', function(event){
                self.onMarkerDragEnd(event);
            });
            return marker;
        };

        SuperPlugin.prototype.setMapCenter = function(coords) {
            this.state.map.setCenter(coords);
        };

        SuperPlugin.prototype.updateTextField = function() {
            this.state.textInput.value = this.state.markerPos.join(', ');
        }

        SuperPlugin.prototype.placeMarker = function(coords) {
            if (!this.state.marker) {
                // если нет плейсмарка на карте пока
                var marker = this.createMarker(coords);

                this.state.map.geoObjects.add(marker);
                this.state.marker = marker;
                this.state.markerPos = coords;
            }
            else {
                // маркер где-то на карте, переместим его
                var marker = this.state.marker;
                marker.geometry.setCoordinates(coords);
                this.state.markerPos = coords;
            }

            this.updateTextField();
        };

        SuperPlugin.prototype.onMapClick = function(event) {
            this.placeMarker(event.get('coords'));
        };

        SuperPlugin.prototype.onMarkerDragEnd = function(e) {
            var coords = e.get('target').geometry.getCoordinates();

            this.state.markerPos = coords;
            this.updateTextField();
        };


        $(function() {
            // добавим див для карты
            var mapDiv = $('<div id="point_map" style="width: 500px; height: 500px; padding: 10px 0;"></div>');
            $('#id_point').parent('div').append(mapDiv);

            ymaps.ready(function(){
                // инициализириуем в нем компонент карты
                var plugin = new SuperPlugin('id_point', 'point_map');
            });
        });

    </script>

{% endblock%}
