{% extends 'news-less/layout_cr.html' %}

{% load game_tags news_tags staticfiles str_utils cache_tags adv_tags thumbnail date_tags comments_tags pytils_dt utils_tags %}

{% block canonical %}
    <link rel="canonical" href="{% absolute_url 'news:news:index' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.sticky-kit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/js/lenta.js' %}"></script>
{% endblock %}

{% block urgent_news %}
    {% has_banner id=475 as top_branding %}
    {% include 'snippets/urgent_news.html' with material=urgent_news banner=top_branding %}
{% endblock %}

{% block adaptive-fullscreen-banner %}
    {% include 'adv/fullscreen_banner.html' %}
{% endblock %}

{% block game2020 %}
    {% if request.path == '/news/politics/' %}
        {% treasure 'politics' %}
    {% endif %}
{% endblock %}

{# Центральная колонка #}
{% block b-content-cr %}
    <section class="g-margin-bottom-75">
        <h1 class="g-hide">Новости Иркутска: экономика, спорт, медицина, культура, происшествия</h1>

        {# Лента материалов #}
        {% cache 86400 'news.index.ribbon' vary='request.path,is_moderator' tags='news,article,video,photo,infographic,expert,polls' %}
        {% with last_material=ribbon_materials|last %}
            <ul class="b-news-article-list j-news-showmore-article-list" data-url="{{ request.path }}" data-page="1" data-last-material="{{ last_material.stamp|date:'Y-m-d' }}">
                {% for material in ribbon_materials %}

                    {% ifchanged material.stamp %}
                        {% if not forloop.first %}
                            {# в финансах даты не выводятся, потому что в ленту на бекенде вставляются лонгриды в фиксированные местах #}
                            {# и эти лонгриды из прошлого рвут порядок дат #}
                            {% if not category_slug == 'finance' %}
                                {% include 'news-less/snippets/material_separator.html' with material=material %}
                            {% endif %}
                        {% endif %}
                    {% endifchanged %}

                    {% if forloop.counter == 7 %}
                        {% ibanner ID=98 as banner %}
                        {% if banner %}
                            <li class="b-news-article-list-super">
                                {# Баннер 580x100 #}
                                {% include 'news-less/base/banner/b-banner-580x100-news.html' %}
                            </li>
                        {% endif %}
                    {% elif forloop.counter == 10 %}
                        {% ibanner ID=510 as banner_position_10 %}
                        {% if banner_position_10 %}
                            <li class="b-news-article-list-super g-desktop">
                                {{ banner_position_10 }}
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if material.is_longread %}
                        {% include 'news-less/snippets/material_list_item.html' %}
                    {% else %}
                        {% include 'news-less/snippets/news_list_item.html' with showType=True %}
                    {% endif %}

                    {% if forloop.counter == 3 %}
                        {# Адаптивный баннер в списке новостей #}
                        {% adaptive_banner mobile_id=526 template='adv/adaptive_banner_content.html' as adaptive_banner_320_1 %}
                        {% if adaptive_banner_320_1 %}
                            <li class="b-banners-adaptive_320x320-container g-margin-bottom-20 g-mobile_320 g-mobile_480 g-mobile_768">
                                <div class="b-banners-adaptive_320x320">{{ adaptive_banner_320_1 }}</div>
                            </li>
                        {% endif %}
                    {% elif forloop.counter == 6 %}
                        {# Адаптивный баннер в списке новостей #}
                        {% adaptive_banner mobile_id=527 template='adv/adaptive_banner_content.html' as adaptive_banner_320_2 %}
                        {% if adaptive_banner_320_2 %}
                            <li class="b-banners-adaptive_320x320-container g-margin-bottom-20 g-mobile_320 g-mobile_480 g-mobile_768">
                                <div class="b-banners-adaptive_320x320">{{ adaptive_banner_320_2 }}</div>
                            </li>
                        {% endif %}
                        {% if super_material and not category_slug == 'finance' %}
                            <li class="b-news-article-list-super b-news-article-list-super_big negative-margin-10">
                                {% include 'news-less/snippets/material.html' with material=super_material metrika_goal='news_super_article' %}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endwith %}
        {% endcache %}

        <div class="news-paginator">
            {# календарь не показывается в рубриках #}
            {% if show_calendar %}
                {% block calendar-date %}
                    {% news_calendar ribbon_materials.0.stamp ribbon_materials.0.stamp %}
                {% endblock %}
            {% endif %}

            {% if date_pagination %}
                {# пейджинация по дате показывается на странице за конкретное число #}
                <a class="news-paginator__more j-news-index-showmore" href="{{ previous_date_url }}" data-target="article-list">
                    {{ previous_date|ru_strftime:"%a, %d %B" }}
                </a>
            {% else %}
                <span class="news-paginator__more j-news-showmore" data-target="article-list">
                    Показать еще 20
                </span>
            {% endif %}
        </div>

    {# Адаптивный баннер перед блоком 5 историй #}
    {% adaptive_banner mobile_id=560 template='adv/adaptive_banner_content.html' as adaptive_banner_320_4 %}
    {% if adaptive_banner_320_4 %}
        <div class="b-banners-adaptive_320x320-container g-margin-bottom-20 g-margin-top-20 g-mobile_320 g-mobile_480 g-mobile_768">
            <div class="b-banners-adaptive_320x320 g-height-auto">{{ adaptive_banner_320_4 }}</div>
        </div>
    {% endif %}

    {% include 'news-less/base/materials_bottom.html' with show_1200=True %}

    </section>
{% endblock %}

{% block b-content-footer %}
    <div class="g-clear"></div>

    {% if request.user_agent.is_pc %}
        {% news_extra_materials wide=True %}
    {% endif %}

{% endblock %}

{# Не выводить баннер 544 на главной новостей в футере #}
{% block b-footer-layout-banner %}{% endblock %}
