{% extends 'news-less/layout.html' %}

{% load adv_tags media_utils staticfiles %}

{% block text_widget %}{% ibanner id=302 template='adv/banners/text_widget_layout.html' %}{% endblock %}

{% block top_banner %}{% include 'news-less/base/banner/top_banner.html' %}{% endblock %}
{#{% block b-adword-header %}{% include 'news-less/base/banner/b-adwords-banner-underhead.html' %}{% endblock b-adword-header %}#}

{% block b-content %}
    <div class="grid-inner grid-inner_nop">
        <div class="grid-list grid-list_nowrap grid-list_wrap-900">
            <div class="grid-list__item grid-list__item_x3 grid-list__item_100">
                <div class="news__article">
                    {% block b-content-cr %}{% endblock b-content-cr %}
                </div>
            </div>
            <aside class="grid-list__item grid-list__item_aside grid-list__item_aside_hide-900 j-sticky-wrapper">
                {% block b-aside-r %}{% include "news-less/base/b-aside-r.html" %}{% endblock b-aside-r %}
            </aside>
        </div>
    </div>
{% endblock b-content %}
