
{% load paginator_utils str_utils thumbnail gallery_tags comments_tags share_utils rating_tags staticfiles media_utils pytils_numeral %}
<div class="b-ny2014-contest-vote">
    {% if not user.is_authenticated %}
        <a href="/authentication/?redir={{ object.get_absolute_url }}" class="b-ny2014-contest-vote-small disabled auth-link">
    {% else %}
        {% if not is_rated and not closed %}
            <a class="b-ny2014-contest-vote-small" href="/" data-ct="{{ content_type.pk }}" data-obj="{{ obj.pk }}" data-value="1">
            {% else %}
            <div class="b-ny2014-contest-vote-small disabled">
        {% endif %}
    {% endif %}
    <small class="count-like">{{ rating.total_cnt|default:"0" }}</small>
    {% if not user.is_authenticated %}
        <span class="text-like auth-link">{{ rating.total_cnt|default:0|choose_plural:'голос,голоса,голосов' }}</span></a>
    {% else %}
        {% if not is_rated and not closed %}
            <span class="icon-like">Нравится</span></a>
        {% else %}
            <span class="text-like">{{ rating.total_cnt|default:0|choose_plural:'голос,голоса,голосов' }}</span></div>
        {% endif %}
    {% endif %}
</div>