{% load str_utils staticfiles media_utils thumbnail %}

<!-- Хлебные крошки -->
<div class="b-content-block b-breadcrumbs">
    <nav>
        <ul class="b-list-h">
            <li><a href="{% url 'tourism:index' %}">Туризм</a></li>
            <li>Результат поиска по местам</li>
        </ul>
    </nav>
</div>
<!-- /Хлебные крошки -->

{% if palce %}
<section class="b-content-block b-tourism-search-places-block">
    <div class="b-search-places-block b-search-places-list-block">
        <header class="b-content-block">
            <h1>Места</h1>
        </header>
        <ul class="b-list-v">
            {% for palce in objects.object_list %}
            <li>
                <article>
                    <header class="g-title">
                        <h5>
                            {% thumbnail palce.gallery.main_image.image 89x100000 as thumb %}
                            <a href="{{ palce.get_absolute_url }}" title="{{ palce.gallery.main_image.alt|typograf:"title"|safe }}">
                            {% if thumb %}<img src="{{ thumb }}" alt="{{ palce.gallery.main_image.alt|typograf:"title"|safe }}" style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;">{% endif %}
                            {{ palce.title|typograf:'title'|safe }}
                            </a>
                        </h5>
                    </header>
                    {% if palce.short %}<p>{{ palce.short|typograf|safe }}</p>{% endif %}
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
