{% extends "obed/layout_cr.html" %}

{% load staticfiles media_utils gallery_tags form_tags comments_tags str_utils thumbnail news_tags obedtags rating_tags gallery_tags %}

{% block title-obed %}Добавление заведения | {% endblock %}

{% block b-content-header %}{% endblock %}
{% block obed-search-filter %}{% endblock %}

{% block b-content-cr %}

    <form method="post" enctype="multipart/form-data" class="g-content-block b-form b-obed-form j-form">{% csrf_token %}
        {% block obed-form-header %}<h1>Добавить заведение</h1>{% endblock %}

{#        <ul class="b-list-h b-obed-form-tabs">#}
{#            <li><a href="#" class="g-active">Основная информация</a></li>#}
{#            <li><a href="#">Меню</a></li>#}
{#            <li><a href="#">Акции</a></li>#}
{#        </ul>#}

        {% if form.errors or address_form.errors %}<p class="b-form-row failure">Пожалуйста исправьте ошибки в отмеченных полях</p>{% endif %}

        <div class="b-form-row">
            <label for="{{ form.name.id_for_label }}"{% if form.name.field.required %} class="required"{% endif %}>{{ form.name.label }} {% if form.name.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.name.errors }}
            {{ form.name }}
        </div>

        <div class="b-form-row">
            <label for="{{ form.url.id_for_label }}"{% if form.url.field.required %} class="required"{% endif %}>{{ form.url.label }} {% if form.url.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.url.errors }}
            {{ form.url }}
        </div>

        <div class="b-form-row">
            <label for="{{ form.mail.id_for_label }}"{% if form.mail.field.required %} class="required"{% endif %}>{{ form.mail.label }} {% if form.mail.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.mail.errors }}
            {{ form.mail }}
        </div>

        <div class="b-form-row">
            <label for="{{ form.contacts.id_for_label }}"{% if form.contacts.field.required %} class="required"{% endif %}>
                {{ form.contacts.label }} {% if form.contacts.field.required %}<span class="g-color-red">*</span>{% endif %}
                <span class="b-form-label-hint">видны только редакторам сайта</span>
            </label>
            {{ form.contacts.errors }}
            {{ form.contacts }}
        </div>

        <div class="b-form-row">
            <label for="{{ form.description.id_for_label }}"{% if form.description.field.required %} class="required"{% endif %}>{{ form.description.label }} {% if form.description.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.description.errors }}
            {{ form.description }}
        </div>

        <div class="b-form-row">
            <label for="{{ form.wifi.id_for_label }}">Дополнительно</label>
            {% spaceless %}
                <div class="b-obed-form-three-columns">
                    <ul>
                        <li><label for="{{ form.wifi.id_for_label }}">{{ form.wifi }} {{ form.wifi.label }}</label></li>
                        <li><label for="{{ form.terrace.id_for_label }}">{{ form.terrace }} {{ form.terrace.label }}</label></li>
                        <li class="wide"><label for="{{ form.entertainment.id_for_label }}">{{ form.entertainment }} {{ form.entertainment.label }}</label></li>

                        <li><label for="{{ form.cashless.id_for_label }}">{{ form.cashless }} {{ form.cashless.label }}</label></li>
                        <li><label for="{{ form.children_room.id_for_label }}">{{ form.children_room }} {{ form.children_room.label }}</label></li>
                        <li class="wide"><label for="{{ form.catering.id_for_label }}">{{ form.catering }} {{ form.catering.label }}</label></li>

                        <li><label for="{{ form.breakfast.id_for_label }}">{{ form.breakfast }} {{ form.breakfast.label }}</label></li>
                        <li><label for="{{ form.dancing.id_for_label }}">{{ form.dancing }} {{ form.dancing.label }}</label></li>
                        <li class="wide"><label for="{{ form.cooking_class.id_for_label }}">{{ form.cooking_class }} {{ form.cooking_class.label }}</label></li>

                        <li><label for="{{ form.children_menu.id_for_label }}">{{ form.children_menu }} {{ form.children_menu.label }}</label></li>
                        <li class="wide2"><label for="{{ form.live_music.id_for_label }}">{{ form.live_music }} {{ form.live_music.label }}</label></li>

                        <li><label for="{{ form.banquet_hall.id_for_label }}">{{ form.banquet_hall }} {{ form.banquet_hall.label }}</label></li>
                        <li class="wide2"><label for="{{ form.karaoke.id_for_label }}">{{ form.karaoke }} {{ form.karaoke.label }}</label></li>

                        <li class="last"><label class="j-obed-checkbox-toggler" for="{{ form.business_lunch.id_for_label }}">{{ form.business_lunch }} {{ form.business_lunch.label }}</label></li>
                    </ul>
                </div>
            {% endspaceless %}
        </div>

        <ul class="b-list-v b-form-row j-obed-checkbox-toggler-boxes{% if not form.business_lunch.value %} g-hide{% endif %}" id="{{ form.business_lunch.id_for_label }}_box">
            <li>
                <label for="{{ form.business_lunch_price.id_for_label }}">{{ form.business_lunch_price.label }}</label>
                {{ form.business_lunch_price }}
                {{ form.business_lunch_price.errors }}
            </li>
            <li>
                <label for="{{ form.business_lunch_time.id_for_label }}">{{ form.business_lunch_time.label }}</label>
                {{ form.business_lunch_time }}
                {{ form.business_lunch_time.errors }}
            </li>
        </ul>

        <div class="b-form-row">
            <label for="{{ form.section.id_for_label }}"{% if form.section.field.required %} class="required"{% endif %}>{{ form.section.label }} {% if form.section.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.section.errors }}
            <div class="b-obed-form-one-column b-obed-form-rubrics j-obed-form-rubrics" data-main-rubric="{{ form.main_section.id_for_label }}">
                {{ form.section }}
                {{ form.main_section }}
                <div class="g-hide j-obed-form-rubrics-labels-blank">
                    <span class="g-hide j-obed-form-rubrics-main">
                        Основная рубрика
                        <span class="b-obed-form-rubrics-help">
                            <span class="b-obed-form-rubrics-help-balloon">Заведение может относиться к нескольким рубрикам, но при этом должна быть указана основная рубрика</span>
                        </span>
                    </span>
                    <span class="g-hide j-obed-form-rubrics-setmain g-jlink">Сделать основной</span>
                </div>
            </div>
        </div>

        <div class="b-form-row">
            <label for="{{ form.types.id_for_label }}"{% if form.types.field.required %} class="required"{% endif %}>{{ form.types.label }} {% if form.types.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.types.errors }}
            {% spaceless %}<div class="b-obed-form-three-columns">{{ form.types }}</div>{% endspaceless %}
        </div>

        <div class="b-form-row">
            <label for="id_bill" class="required">Средний чек <span class="g-color-red">*</span></label>
            {{ form.bill.errors }}
            <div class="b-obed-form-button-group j-obed-form-radio-group">{{ form.bill }}</div>
        </div>

        {% obed_address_set address_form %}

        {% comment %}
        <label class="required">Адрес <span class="g-color-red">*</span></label>
        <div class="g-relative">
            <input type="text" id="id_address">
            <span class="b-obed-form-map-link b-obed-button j-obed-form-map-show"><span class="icon-inline icon-left icon-geopoint">Указать на карте</span></span>
            <input type="hidden" name="point" value="{% if object.point.x %}{{ object.point.x|stringformat:'f' }}, {{ object.point.y|stringformat:'f' }}{% endif %}" id="id_point">
            <div class="b-obed-form-map g-hide j-obed-form-map">
                <div class="close"><span class="b-obed-button j-obed-form-map-close"><span class="icon-inline icon-left icon-verify">готово</span></span></div>
                <div id="obedFormMap" style="width:618px;height:468px;"></div>
            </div>
        </div>
        {% endcomment %}

        <div class="b-form-row">
            <label for="{{ form.facecontrol.id_for_label }}"{% if form.facecontrol.field.required %} class="required"{% endif %}>{{ form.facecontrol.label }} {% if form.facecontrol.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.facecontrol.errors }}
            {{ form.facecontrol }}
        </div>

        <div class="b-form-row">
            <label for="{{ form.parking.id_for_label }}"{% if form.parking.field.required %} class="required"{% endif %}>{{ form.parking.label }} {% if form.parking.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
            {{ form.parking.errors }}
            {{ form.parking }}
        </div>

        <div class="b-form-row">
            <label for="{{ form.card_image.id_for_label }}"{% if form.card_image.field.required %} class="required"{% endif %}>
                {{ form.card_image.label }} {% if form.card_image.field.required %}<span class="g-color-red">*</span>{% endif %}
                <span class="b-form-label-hint">Фото интерьера ресторана. Для службы доставки - фото блюда. <span class="g-color-red">Логотипы загружать нельзя!</span></span>
                <span class="b-form-label-hint">Будет показано в карточке заведения в каталоге. Размер изображения 298&nbsp;x&nbsp;140&nbsp;px.</span>
                <span class="b-form-label-hint">Изображения другого размера будут автоматически уменьшены или увеличены до размеров 298&nbsp;x&nbsp;140&nbsp;px.</span>
            </label>
            {{ form.card_image.errors }}
            {{ form.card_image }}
        </div>

        <div class="b-form-row">
            <label>
                Фотографии
                <span class="b-form-label-hint">Будут показаны на странице заведения в разделе &laquo;Фото&raquo;.</span>
            </label>
            {% gallery_formset gallery_form %}
        </div>

        <div class="b-form-submit"><span class="b-form-submit-button j-form-submit">Сохранить</span></div>
    </form>
{% endblock %}
