{% extends 'obed/layout.html' %}
{% load game_tags obedtags pytils_numeral adv_tags %}

{% block title-obed %}{% if current_section.name %}{{ current_section.name }}{% else %}Список заведений{% endif %} | {% endblock %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% if request.path == '/obed/delivery/' %}
        {% treasure 'delivery' %}
    {% endif %}
{% endblock %}

{% block b-content %}
    <div class="b-obed-establishment-toolbar">
        <div class="g-right g-desktop"><a href="{% url 'obed:establishment:add' %}" class="icon-inline icon-left icon-plus-orange {% if not user.is_authenticated %}auth-link{% endif %}">Добавить заведение</a></div>
        <div class="g-left"><b>{% if total_object_count == 0 %}Заведений не найдено{% else %}{{ total_object_count }} {{ total_object_count|choose_plural:'заведение,заведения,заведений' }}{% endif %}</b></div>
        {% if total_object_count > 2 %}
            <div class="b-obed-establishment-toolbar-sort">
                <span class="g-not-mobile_320">сортировать:</span>
                <span class="g-not-desktop g-jlink j-reveal-button-toggle touchstart j-obed-establishment-sort-link" data-target="establishment-sort">
                    {% if sorting == "name" %}по алфавиту{% elif sorting == "business_lunch" %}по стоимости бизнес-ланча{% endif %}
                </span>
                <ul class="b-list-h g-accelerate j-tab-switcher j-tab-switcher-ajax j-reveal-block-toggle j-reveal-block-toggle-establishment-sort j-obed-establishment-sort" data-tab-class="b-obed-establishment-list" data-json="true">
                    {% if sorting == "name" %}
                        <li><span class="g-jlink g-active" data-content="true" data-tab="establishment-list-sort-by-name">
                            <span class="g-desktop">А-Я</span>
                            <span class="g-not-desktop">по алфавиту</span>
                        </span></li>
                    {% else %}
                        <li><span class="g-jlink" data-tab="establishment-list-sort-by-name">
                            <span class="g-desktop">А-Я</span>
                            <span class="g-not-desktop">по алфавиту</span>
                        </span></li>
                    {% endif %}
                    {% if business_lunch_page %}
                        {% if sorting == "business_lunch" %}
                            <li><span class="g-jlink g-active" data-content="true" data-tab="establishment-list-sort-by-business_lunch">по стоимости бизнес-ланча</span></li>
                        {% else %}
                            <li><span class="g-jlink" data-tab="establishment-list-sort-by-business_lunch">по стоимости бизнес-ланча</span></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    {% ibanner ID=52 as banner_advertising %}
    {% if banner_advertising %}
        <div class="b-obed-establishment-list-adv g-desktop" id="j-obed-establishment-list-adv">
            {{ banner_advertising }}
        </div>
    {% endif %}
    {% if sorting == "name" %}
        <ul class="b-obed-establishment-list" id="establishment-list-sort-by-name" data-url="{{ sorting_urls.name }}" data-start="{{ next_start_index }}" data-limit="{{ next_limit }}" data-page="2">
            {% include 'obed/establishment/list.html' %}
        </ul>
    {% else %}
        <ul class="b-obed-establishment-list g-hide" id="establishment-list-sort-by-name" data-url="{{ sorting_urls.name }}" data-start="0" data-limit="23" data-page="2"></ul>
    {% endif %}
    {% if business_lunch_page %}
        {% if sorting == "business_lunch" %}
            <ul class="b-obed-establishment-list" id="establishment-list-sort-by-business_lunch" data-url="{{ sorting_urls.business_lunch }}" data-start="{{ next_start_index }}" data-limit="{{ next_limit }}" data-page="2">
                {% include 'obed/establishment/list.html' %}
            </ul>
        {% else %}
            <ul class="b-obed-establishment-list g-hide" id="establishment-list-sort-by-business_lunch" data-url="{{ sorting_urls.business_lunch }}" data-start="0" data-limit="23" data-page="2"></ul>
        {% endif %}
    {% endif %}

    {% if has_next %}
    <div class="b-obed-more g-indent">
        <span class="g-left g-color-lightgray_2 j-tab-switcher-page-counter" id="j-filter-duosort-page-counter">1 страница</span>
        <span class="centered">
            <a href="{% establishment_list_url section_slug=current_section.slug %}" class="b-obed-more-show g-jlink j-showmore j-metrika-goal" data-type="json" id="b-obed-establishment-list-showmore" data-counter-target="j-filter-duosort-page-counter" data-target="establishment-list-sort-by-{{ sorting }}" data-metrika-goal="obed_catalog_more">
                <span class="g-not-mobile_320">Показать еще</span>
                <span class="g-mobile_320">Еще</span>
                <span class="j-showmore-limit">{{ next_limit }}</span>
            </a>
        </span>
    </div>
    {% endif %}
{% endblock %}
