{% load staticfiles adv_tags %}

{% for establishment in top_list %}
    <li class="top">
        {% include 'obed/establishment/list_item.html' %}
    </li>
{% endfor %}

{% for establishment in object_list %}
    {# перетяжка 940х200 #}
    {% if next_start_index < page_limit %}
        {% if forloop.counter == 6  %}
            {% ibanner ID=570 as banner_570 %}
            {% if banner_570 %}
                <li class="obed-banner g-desktop">
                    {{ banner_570 }}
                </li>
            {% endif %}
        {% endif %}
    {% endif %}

    <li>
        {% include 'obed/establishment/list_item.html' %}
    </li>
{% endfor %}
