{% extends 'adv_cabinet/layout.html' %}

{% block content %}
<div class="page">
    <div class="page__inner">

        <h1 class="f1">{{ business_account.name }}</h1>

        <div class="company-list">
        {% for client in clients %}
            <div class="company-list__item">
                <div class="company-list__header">
                    {{ client.name }}
                </div>
                <div class="company-list__content">
                    <div class="kvlist">
                        <h2 class="kvlist__name f3">Реквизиты компании</h2>
                        <dl class="kvlist__list">
                            <dt class="kvlist__key">Юридический адрес:</dt>
                            <dd class="kvlist__value">{{ company.address|default:"&minus;" }}</dd>

                            <dt class="kvlist__key">Юридическое название:</dt>
                            <dd class="kvlist__value">{{ company.juridical_name|default:"&minus;" }}</dd>

                            {% comment %}
                            # этих полей нет в базе данных
                            <dt class="kvlist__key">Фактический адрес:</dt>
                            <dd class="kvlist__value">660077, г. Красноярск, ул. Весны, дом 23, помещение №9</dd>

                            <dt class="kvlist__key">Генеральный директор</dt>
                            <dd class="kvlist__value">Филаткин Андрей Николаевич (на основании Устава)</dd>

                            <dt class="kvlist__key">Телефон, факс:</dt>
                            <dd class="kvlist__value">(391) 266-12-90</dd>

                            <dt class="kvlist__key">Электронная почта:</dt>
                            <dd class="kvlist__value">661290@mail.ru</dd>
                            {% endcomment %}
                        </dl>
                    </div>

                    {% comment %} <button>Скопировать</button> {% endcomment %}
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
</div>

{% endblock content %}
