{% extends "polls/layout_lc.html" %}

{% comment %}
    @name=Голосования главная
{% endcomment %}

{% load str_utils adv_tags staticfiles media_utils polls_tags %}

{% block title %}Список опросов за {{ year }} год | {{ block.super }}{% endblock %}

{% block b-content %}
    <nav class="b-breadcrumbs">
        <ul class="b-list-h">
            <li><a href="{% url 'polls:index' %}">Голосования</a></li>
            <li>Архив за {{ curr_year }} год</li>
        </ul>
    </nav>
    {{ block.super }}
{% endblock b-content %}

{% block content %}
	<div class="b-polls">
		<h3 class="g-color-blue">Список опросов за {{ curr_year }} год.</h3>
	    <ul>
	        {% for poll in polls %}
	        <li><a href="{{ poll.get_absolute_url }}">{{ poll.title|typograf|safe }}</a></li>
	        {% endfor %}
	    </ul>
{% endblock %}
