{% load pages math_utils str_utils %}

<section class="b-aside-block">
    <header>
        <h4>
        {% if request.path != "/about/" %}
            <a href="/about/">О проекте</a>:
        {% else %}
            О проекте:
        {% endif %}
        </h4>
    </header>
    <ul class="b-list-v">
        {% for page in menu|slice:":-3" %}
            {% ifequal page.page.url page_on %}
                <li><span class="selected">{{ page.page.title }}</span>
            {% else %}
                <li><a href="{% get_url page.page %}">
                {% if page.on %}
                    <b>{{ page.page.title }}</b>
                {% else %}
                    {{ page.page.title }}
                {% endif %}
                </a>
            {% endifequal %}
            {% if page.items %}
                {% with page.items as menu %}
                    <ul>
                        {% for page in menu %}
                            <li>
                            {% ifequal page.page.url context.request.path %}
                                {{ page.page.title }}
                            {% else %}
                                <a href="{% get_url page.page %}">{{ page.page.title }}</a>
                            {% endifequal %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endwith %}
            {% endif %}
            </li>
        {% endfor %}
        {% for page in menu|slice:"-3:" %}
            {% ifequal page.page.url page_on %}
                <li><span class="selected">{{ page.page.title }}</span>
            {% else %}
                <li><a href="{% get_url page.page %}">
                {% if page.on %}
                    <b>{{ page.page.title }}</b>
                {% else %}
                    {{ page.page.title }}
                {% endif %}
                </a>
            {% endifequal %}
            {% if page.items %}
                {% with page.items as menu %}
                    <ul>
                        {% for page in menu %}
                            <li>
                            {% ifequal page.page.url context.request.path %}
                                {{ page.page.title }}
                            {% else %}
                                <a href="{% get_url page.page %}">{{ page.page.title }}</a>
                            {% endifequal %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endwith %}
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <footer></footer>
</section>