{% load thumbnail str_utils experts_tags widgets %}

<article{% if not expert.stamp_end >= now.date and not expert.is_answered %} class="b-expert-waiting-for-answers"{% endif %}>
        <header>
            <h2>
                <a href="{{ expert.get_absolute_url }}" title="{{ expert.image_title|typograf:'title'|safe }}">
                    {% if expert.image %}
                        {% thumbnail expert.image 200x1000 as thumb %}
                    <img class="b-expert-big-img" width="{{ thumb.width }}px" height="{{ thumb.height }}px" alt="{{ expert.image_title|typograf:'title'|safe }}" src="{{ thumb }}" />
                    {% endif %}
                    {{ expert.title|typograf|safe }}</a>
            </h2> {% questions_count expert %}
        </header>
        <p>{{ expert.specialist|typograf|safe }}</p>
        <p>{{ expert.caption|typograf|safe }}</p>
        {% expert_status expert %}
</article>
