{% extends "obed/layout.html" %}

{% load obedtags staticfiles media_utils str_utils thumbnail comments_tags polls_tags pages %}

{% block title %}{{ flatpage.title|typograf:'title'|safe }} | {{ block.super }}{% endblock %}

{% block header_content %}{% endblock %}{# Убираем перетяжку баннеров #}

{% block b-content %}

    <article class="b-content-block b-obed-article">
        <h1 class="g-font-size-21 g-font-bold">{{ flatpage.title|typograf|safe }}</h1>
        <div class="b-content-cr">
            {{ flatpage.content|typograf:"admin"|safe }}
        </div>
    </article>
{% endblock %}
