{% extends layout %}

{% load adv_tags static staticfiles media_utils str_utils thumbnail paginator_utils share_utils cache_tags news_tags %}
{% load str_utils utils_tags pytils_dt comments_tags thumbnail %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'project.instance.meta' vary='project.id' tags='project' %}{% spaceless %}
        {% include 'share_meta.html' with object=project url=project.get_absolute_url title=project.title description=project.description image=project.branding card='summary_large_image' %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block title %}{{ project.title|typograf }} | {{ block.super }}{% endblock %}

{% block style %}
    {% include 'special/base/style.html' %}

    <link rel="stylesheet" href="{% get_media_prefix %}site/special/fabrika-betonov/css/tilda-grid-3.0.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{% get_media_prefix %}site/special/fabrika-betonov/css/tilda-blocks-2.12.css?t=202001171642" type="text/css" media="all" />
    <link rel="stylesheet" href="{% get_media_prefix %}site/special/fabrika-betonov/css/tilda-animation-1.0.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{% get_media_prefix %}site/special/fabrika-betonov/css/tilda-slds-1.4.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{% get_media_prefix %}site/special/fabrika-betonov/css/tilda-zoom-2.0.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{% get_media_prefix %}site/special/fabrika-betonov/css/tilda-popup-1.1.min.css" type="text/css" media="all" />
    <style>body{padding-top: 50px}</style>
{% endblock style %}

{% block js %}
    {{ block.super }}
    {% include 'special/base/js.html' %}

    {% comment %} <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/rentafont_webfonts.js"></script> {% endcomment %}
    {% comment %} <script>WebFontConfig = { "id": "MTAyNzYyb3JkZXI5MDc1OA==", "fonts": ["2590", "2594", "2592", "2582", "2584"], by_style: 1, by_id: 1 };</script> {% endcomment %}

    <script>TildaFonts = ["167", "168", "169", "170"];</script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/images/js__tilda-fonts.min.js"></script>

    <!--script src="{% get_media_prefix %}site/special/fabrika-betonov/js/jquery-1.10.2.min.js"></script-->
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/tilda-scripts-2.8.min.js"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/tilda-blocks-2.7.js?t=202001171642"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/lazyload-1.3.min.js"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/tilda-animation-1.0.min.js"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/tilda-slds-1.4.min.js?t=202001171642"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/hammer.min.js"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/tilda-zoom-2.0.min.js"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/tilda-animation-ext-1.0.min.js"></script>
    <script src="{% get_media_prefix %}site/special/fabrika-betonov/js/tilda-animation-sbs-1.0.min.js"></script>
    <script>window.dataLayer = window.dataLayer || [];</script>
    <script>
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
            var style = document.createElement('style'); style.type = 'text/css'; style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}'; document.getElementsByTagName('head')[0].appendChild(style); $(document).ready(function () { $('.t-records').addClass('t-records_animated'); setTimeout(function () { $('.t-records').addClass('t-records_visible'); sessionStorage.setItem('visited', 'y'); }, 400); });
        }
    </script>
{% endblock js %}

{% block layout-base-class %}{{ block.super }} header-flow-locck {% if request.user_agent.is_gadget %}black{% else %}transparent-header{% endif %}{% endblock layout-base-class %}

{% block promo_A %}{% endblock %}

{% block adblock-message %}{% endblock %}

{% block container %}
    <!--allrecords-->
    <div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="1593632" data-tilda-page-id="12459549"  data-tilda-formskey="7229bbf0b6d8897989ffcd6149e6732f"   >

        {% tildacontent base='%media%/site/special/fabrika-betonov/' %}
            {% include './body.html' %}
        {% endtildacontent %}

        {# кастомная логика табов #}
        <script>
            var BetonovSwitcher = function(){
                var self = this;

                self.desktopClick = function() {
                    var targetClass = $(this).data('targetClass');
                    console.log('desktop click', targetClass);
                    self.showMaterials(targetClass);
                    self.highlightTab(this);
                };

                self.mobileClick = function() {
                    var targetClass = $(this).children(":selected").data('targetClass');
                    self.showMaterials(targetClass);
                };

                self.showMaterials = function(targetClass) {
                    if (targetClass) {
                        $('.betonov-all').hide();
                        $('.betonov-'+targetClass).show();
                    }
                };

                self.highlightTab = function(tabElement) {
                    $('.t395__wrapper [data-target-class]').removeClass('t395__tab_active');
                    $(tabElement).addClass('t395__tab_active');
                };
            };

            var betonovSwitcher = new BetonovSwitcher();

            $('.t395__wrapper').on('click', '[data-target-class]', betonovSwitcher.desktopClick);
            $('.t395__wrapper_mobile').on('click', 'select', betonovSwitcher.mobileClick);

            $(function(){
                $('.t395__wrapper [data-target-class=dream]').click();
            });
        </script>

        {# материалы #}
        <div id="rec212933368" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px; "
    data-animationappear="off" data-record-type="404">

            <!-- T404 -->
            <div class="t404">
                <div class="t-container">
                    {% for material in materials %}
                    <div class="t404__col t-col t-col_4 t-align_left betonov-all betonov-{{ material.get_postmeta.betonov_contest }}">
                        <a class="t404__link" href="{{ material.get_absolute_url }}">
                            <div class="t404__imgbox">
                                {% thumbnail material.wide_image 620x293 as thumb %}
                                <div class="t404__img t-bgimg"
                                    data-original="{{ thumb }}"
                                    style="background-image: url('{{ thumb }}');">
                                </div>
                                <div class="t404__separator"></div>
                            </div>
                            <div class="t404__textwrapper ">
                                <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                                    <span style="text-transform:uppercase;" class="t404__date">{{ material.stamp|ru_strftime:"%d %B %Y г." }}</span>
                                </div>
                                <div class="t404__title t-heading t-heading_xs" style="">{{ material.title|typograf }}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    t404_unifyHeights('212933368');

                    $('.t404').bind('displayChanged', function () {
                        t404_unifyHeights('212933368');
                    });

                    $(window).bind('resize', t_throttle(function () {
                        t404_unifyHeights('212933368');
                    }, 200));

                    $(window).load(function () {
                        t404_unifyHeights('212933368');
                    });

                });
            </script>

        </div>

        {% tildacontent base='%media%/site/special/fabrika-betonov/' %}
            {% include './footer.html' %}
        {% endtildacontent %}

    </div>
    <!--/allrecords-->

{% endblock %}

