{% load news_tags afisha_tags %}

{% for material in material_list %}

{% if has_extra_materials %}
    {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 8 %}
        <li class="grid-list__item">
            {% material_card material is_double=True is_lazyload=False %}
        </li>
    {% else %}
    <li class="grid-list__item">
        {% material_card material is_double=False is_lazyload=False is_light=True %}
    </li>
    {% endif %}
{% else %}
    {% if forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 5 %}
        <li class="grid-list__item">
            {% material_card material is_double=True is_lazyload=False %}
        </li>
    {% else %}
    <li class="grid-list__item">
        {% material_card material is_double=False is_lazyload=False is_light=True %}
    </li>
    {% endif %}
{% endif %}


{% endfor %}
