{% load str_utils thumbnail comments_tags date_tags news_tags afisha_tags %}

{% if material_list|length > 0 %}
    <section class="afisha-section afisha-section_gray j-article-scrollDepth-end">
        <div class="grid-inner">
            <h3 class="afisha-section__title">
                Истории, которые нельзя пропустить {% if event_type %}{{ event_type.title2 }}{% endif %}
            </h3>
            <ul class="grid-list" id="afisha-extra-materials" data-url="{{ url }}" data-start="{{ next_start_index }}" data-limit="{{ next_limit }}">
                {% for material in material_list %}
                    {% if forloop.first or forloop.counter == 2 or forloop.counter == 8 %}
                        <li class="grid-list__item">
                            {% material_card material is_double=True is_lazyload=True %}
                        </li>
                    {% else %}
                        <li class="grid-list__item">
                            {% material_card material is_double=False is_lazyload=True is_light=True %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if has_next %}
                <div class="afisha-more j-showmore" data-type="json" data-target="afisha-extra-materials">
                    <span class="afisha-more__link">
                        Больше материалов
                    </span>
                </div>
            {% endif %}            
        </div>
    </section>
{% endif %}
