{% load staticfiles media_utils str_utils comments_tags obedtags paginator_utils thumbnail rating_tags cache_tags map_tags %}
<li>
    {% if establishment.logo and establishment.payobedpaidfields_is_paid %}
        {% thumbnail establishment.logo 70x150 as thumb %}
        <div class="b-obed-establishments-list-logo">
            <a href="{% establishment_url establishment current_section %}"><img src="{{ thumb }}" alt="{{ establishment }}" style="width: {{ thumb.width }}px;height:{{ thumb.height }}px"></a>
        </div>
    {% endif %}
    <section class="b-obed-establishments-list-info">
        <header>
            <h5>
                <a href="{% establishment_url establishment current_section %}">{{ establishment|typograf|safe }}</a>
            </h5>
            {% include 'obed/establishment/establishment_icos.html' %}
            {% rating establishment disabled new_makeup2 without_text %}
        </header>
        <div class="b-obed-establishments-list-adress">
            {% if establishment.main_address %}{% map_address establishment.main_address %}{% endif %} {% if establishment.main_address.phones %}{{ establishment.main_address.phones }}{% endif %}
        </div>
        <div class="b-obed-establishments-list-comments">
            <small class="g-color-gray">{% comments_cnt establishment.firms_ptr new_layout=True url=establishment.get_absolute_url %}</small>
        </div>
    </section>
</li>
