{% load staticfiles str_utils comments_tags obedtags thumbnail map_tags phones_tags cache_tags %}

{% cache 3600 'obed:list_item' vary='establishment.pk,review,corporatives,corporativesAside,business_lunch_page,request.user_agent.is_gadget' tags='establishment' %}
{% if establishment %}
    <article class="b-widget-obed-establishment-card {% if review %}no-icon{% endif %} {% if corporativeAside %}no-border-bottom{% endif %} swiper-slide j-obed-corporatives-card"
             data-corporatives-ppl="{{ establishment.corporative_guest|default:1 }}"
             data-corporatives-price="{{ establishment.corporative_price }}"
    >
        <a class="link" href="{% establishment_url establishment current_section %}{% if tab %}?tab={{ tab }}#content{% endif %}"></a>
        <header>
            <div class="b-widget-obed-establishment-card-top">
                {% if establishment.award and establishment.award.icon %}
                    <div class="b-widget-obed-establishment-card-cups">
                        <a class="cup" href="{% establishment_url establishment current_section %}{% if tab %}?tab={{ tab }}#content{% endif %}"
                           title="{{ establishment.award.title }}">
                                <img class="b-obed-icon-cup small" height="36" src="{{ establishment.award.icon.url }}" alt="{{ establishment.award.title }}" />
                        </a>
                    </div>
                {% endif %}
                <h4><a href="{% establishment_url establishment current_section %}{% if tab %}?tab={{ tab }}#content{% endif %}" class="g-hover">{{ establishment.name|typograf }}</a></h4>
                <address>
                    <ul>
                        {% if establishment.main_address %}<li class="g-text-overflow"><a href="#" class="g-jlink j-map-address-link j-metrika-goal" data-map-address="{{ establishment.main_address.city_id }}, {{ establishment.main_address.name }}" data-metrika-goal="obed_address_open">{{ establishment.main_address.address_with_city|typograf }}</a></li>{% endif %}
                        {% if establishment.main_address.phones %}<li class="b-widget-obed-establishment-card-phones g-text-overflow">{{ establishment.main_address.phones|typograf }}</li>{% endif %}
                    </ul>
                </address>
            </div>
            {% if not review %}
                {% thumbnail establishment.card_image 298x142 crop as thumb %}
                <a href="{% establishment_url establishment current_section %}{% if tab %}?tab={{ tab }}#content{% endif %}" title="{{ establishment|typograf }}" class="b-widget-obed-establishment-card-icon {{ establishment.main_section.css_class }}">
                    {% if thumb %}<img class="b-widget-obed-establishment-card-image" src="{{ thumb }}" alt="{{ establishment.name|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">{% endif %}
                </a>
            {% endif %}
        </header>
        {% if not corporativesAside %}
            <div class="b-widget-obed-establishment-card-bottom">
                {% if tab == 'corporative' %}
                    <ul class="g-indent-small b-widget-obed-establishment-card-corporatives-info">
    {#                    <li>до {{ establishment.corporative_guest }} человек</li>#}
                        <li>от {{ establishment.corporative_price }} рублей</li>
                    </ul>
                {% elif business_lunch_page and establishment.business_lunch_price %}
                    <ul class="g-indent-small">
                        <li>Бизнес-ланч от {{ establishment.business_lunch_price|truncatechars:20 }} руб.</li>
                        <li>Время бизнес-ланча: {% if establishment.business_lunch_time %}{{ establishment.business_lunch_time|truncatechars:20 }}{% else %}уточняется{% endif %}</li>
                    </ul>
                {% else %}
                    <ul class="g-indent-small">
                        {% with types=establishment.types.all|slice:":3" %}
                            {% if types %}
                                <li>
                                    <ul class="g-list-comma g-text-overflow">
                                        {% for type in types %}
                                            <li>{{ type|typograf }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endwith %}
                        <li>{% worktime establishment.main_address %}</li>
                    </ul>
                {% endif %}

                {% comments_cnt establishment new_layout=True url_params='tab=comments#content' %}
                {% include 'obed/establishment/establishment_particular.html' %}

            </div>
        {% endif %}
    </article>
{% endif %}
{% endcache %}
