{% extends "obed/layout_cr.html" %}

{% load staticfiles str_utils gallery_tags thumbnail comments_tags obedtags pytils_numeral phones_tags news_tags %}

{% block title-obed %}{{ establishment|typograf:"title"|safe }} | {% endblock %}

{% block js %}
    {{ block.super }}
    {% if establishment.gallery.main_gallery %}
        <script type="text/javascript" src="{% static 'js/lib/hash.js' %}"></script>
        <script type="text/javascript">
            $(function(){
                window.irk.photo.historyHash = false;
            });
        </script>
        <script src="{% static 'js/apps-js/irk.photo.js' %}"></script>
    {% endif %}
{% endblock js %}

{% block overlay-photo %}{% endblock %} {# выпиливаю оверлей Js потому-что не нужен и потому-что тормозит и ломает #}

{% block b-content-cr %}
    <article class="g-content-block b-obed-establishment">
        <div class="b-obed-establishment-card{% if establishment.main_address.name %} min-height{% endif %} g-indent">
            <header>
                <h1>{{ establishment|typograf:"title"|safe }}</h1>
                {% if can_edit %}
                    <a class="g-color-link edit" href="{% url 'obed:establishment:edit' establishment.pk %}">редактировать</a>
                {% endif %}
                <ul class="b-obed-establishment-sections">
                    {% for section in establishment.section.all %}
                        <li>{{ section|typograf:"title"|safe }}</li>
                    {% endfor %}
                </ul>

                <address>
                    <ul class="g-list-v">
                        {% if establishment.main_address %}<li><a href="#" class="g-jlink j-map-address-link j-metrika-goal" data-map-address="{{ establishment.main_address.city_id }}, {{ establishment.main_address.name }}" data-metrika-goal="obed_address_open">{{ establishment.main_address.address_with_city|typograf:'title' }}</a></li>{% endif %}
                        {% if establishment.main_address.phones %}<li>{{ establishment.main_address.phones|typograf:'title' }}</li>{% endif %}
                    </ul>
                    <ul class="g-list-v">
                        {% for url in establishment.url_list %}
                            <li><a href="{{ url|lower }}" class="g-link" target="_blank" rel="nofollow">
                                {{ url|lower }}
                            </a></li>
                        {% endfor %}
                        {% if establishment.mail %}<li>{{ establishment.mail|urlize|lower }}</li>{% endif %}
                    </ul>
                </address>
                {% if establishment.bill %}<p class="g-indent-small">Средний чек {{ establishment.get_bill_display }}</p>{% endif %}
                {% if establishment.types.all|length %}
                    <ul class="g-list-h g-list-comma g-grid-column-4">
                        {% for type in establishment.types.all %}
                            <li>{{ type|typograf:"title"|safe }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% worktime establishment.main_address %}

                {% include 'obed/establishment/establishment_particular.html' %}
            </header>

            {% if establishment.last_review or establishment.awards %}
            <div class="b-obed-establishment-ratings{% if establishment.awards %} cups{% endif %} g-right {% if establishment.last_review.columnist == 'siropova' %}siropova{% endif %}">
                <ul>
                    <li>
                        {% if establishment.awards %}
                            <div class="b-obed-establishment-ratings-cups">
                                {% for award in establishment.awards %}
                                    <div class="cup">
                                        {% if award.icon %}
                                            <img class="b-obed-icon-cup" height="50" src="{{ award.icon.url }}" title="{{ award.title }}" alt="{{ award.title }}" />
                                        {% endif %}
                                        <h3 class="text">{{ award.caption }}</h3>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if establishment.last_review %}
                            {% if establishment.last_review.columnist == 'siropova' %}
                                <a href="{{ establishment.last_review.get_absolute_url }}" class="g-link">Обзор Лизы Сироповой</a>
                            {% elif establishment.last_review.columnist == 'abram' %}
                                <a href="{{ establishment.last_review.get_absolute_url }}" class="g-link">Обзор Абрама Дюрсо</a>
                            {% elif establishment.last_review.columnist == 'chesnok' %}
                                <a href="{{ establishment.last_review.get_absolute_url }}" class="g-link">Обзор Анатолия Чеснокова</a>
                            {% elif establishment.last_review.columnist == 'olivie' %}
                                <a href="{{ establishment.last_review.get_absolute_url }}" class="g-link">Обзор Константина Оливье</a>
                            {% elif establishment.last_review.columnist == 'anteater' %}
                                <a href="{{ establishment.last_review.get_absolute_url }}" class="g-link">Обзор Аркадия Муравьеда</a>
                            {% elif establishment.last_review.columnist == 'grill' %}
                                <a href="{{ establishment.last_review.get_absolute_url }}" class="g-link">Обзор Евы Гриль</a>
                            {% elif establishment.last_review.columnist == 'terkin' %}
                                <a href="{{ establishment.last_review.get_absolute_url }}" class="g-link">Обзор Петра Тёркина</a>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="g-relative"><span id="content" class="g-anchor"></span></div>

        <ul class="b-list-h b-obed-button-group j-tab-switcher j-tab-switcher-ajax j-tab-switcher-adaptive" data-tab-class="b-obed-establishment-tab" data-tabswitcher-more-class="b-obed-button-group-more">
            <li><span class="j-owl-photo-reinit{% if current_tab == "gallery" %} g-active{% elif not has_gallery %} g-disabled{% endif %}" data-tab="b-obed-establishment-gallery" data-content="true">Фото</span></li>
            <li><span class="{% if current_tab == "menu" %}g-active{% elif not has_menu %}g-disabled{% endif %}" data-tab="b-obed-establishment-menu">Меню</span></li>
            <li><span class="{% if current_tab == "about" %}g-active{% elif not has_about %}g-disabled{% endif %}" data-tab="b-obed-establishment-about" data-content="true">О заведении</span></li>
            <li><span class="{% if current_tab == "tour" %}g-active{% elif not has_tour %}g-disabled{% endif %}" data-tab="b-obed-establishment-tour" data-content="true">3D тур</span></li>
            {% comment Раскомментировать для летних веранд %}
              <li><span class="{% if current_tab == "summer_terrace" %}g-active{% elif not has_summer_terrace %}g-disabled{% endif %}" data-tab="b-obed-establishment-summer-terrace" data-content="true">Летняя веранда</span></li>
            {% endcomment %}
{#            <li><span class="{% if current_tab == "events" %}g-active{% elif not has_events %}g-disabled{% endif %}" data-tab="b-obed-establishment-events">События</span></li>#}
            {% if settings.OBED_CORPORATIVES %}
            <li><span class="{% if current_tab == "corporative" %}g-active{% elif not has_corporative %}g-disabled{% endif %}" data-tab="b-obed-establishment-newyear" data-content="true">Новый Год</span></li>
            {% endif %}
{#            {% endcomment %}#}
{#            {% if has_barofest %}#}
{#                <li><span class="{% if current_tab == "barofest" %}g-active{% elif not has_barofest %}g-disabled{% endif %}" data-tab="b-obed-establishment-newyear" data-content="true">Барофест</span></li>#}
{#            {% endif %}#}
            {% comment Раскомментировать для доставок %}{% endcomment %}
            {% if settings.OBED_DELIVERY and has_delivery %}
                <li><span class="{% if current_tab == "delivery" %}g-active{% elif not has_delivery %}g-disabled{% endif %}" data-tab="b-obed-establishment-delivery" data-content="true">Доставка</span></li>
            {% endif %}

            <li class="j-tab-switcher-fixed"><span class="j-comments-init {% if current_tab == "comments" %}g-active{% elif not has_comments %}g-disabled{% endif %}" data-tab="b-obed-establishment-comments">Отзывы</span></li>
        </ul>
        {% if has_gallery %}
            <div class="b-obed-establishment-tab{% if current_tab != "gallery" %} g-hide{% endif %}" id="b-obed-establishment-gallery">
                <div class="g-content-block b-slider-block jcarousel-container jcarousel-container-horizontal" id="wide-slider">
                    <div class="b-list-h{% if establishment.gallery.main_gallery|length > 1 %} b-wide-slider{% else %} g-centered-div{% endif %}">
                        {% include 'news-less/photo/gallery_inline_owl_2.html' with gallery=establishment.gallery.main_gallery size="620x450" %}
                    </div>
                </div>

                {% if establishment.gallery.main_gallery|length > 1 %}
                    <div class="b-content-block b-photo-gallery-4 contestGallery">
                        {% gallery establishment.gallery.main_gallery '152x122' max=true crop="152x122" class="b-list-h" template='gallery/gallery_content2.html' %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <ul class="b-list-v b-obed-establishment-tab{% if current_tab != "menu" %} g-hide{% endif %}" id="b-obed-establishment-menu" data-url="{% url 'obed:establishment:menu' firm_id=establishment.pk %}"></ul>
        <div class="b-obed-establishment-tab{% if current_tab != "about" %} g-hide{% endif %}" id="b-obed-establishment-about">
            {% if establishment.business_lunch_price %}
                <h4>Бизнес-ланч</h4>
                <ul class="g-indent">
                    <li>Цена: {% if establishment.business_lunch_price %}от {{ establishment.business_lunch_price|truncatechars:20 }} руб.{% else %}уточняется{% endif %}</li>
                    <li>Время: {% if establishment.business_lunch_time %}{{ establishment.business_lunch_time|truncatechars:20 }}{% else %}уточняется{% endif %}</li>
                </ul>
            {% endif %}
            {% if establishment.facecontrol %}
                <h4>Вход</h4>
                <div class="textblock">
                    {{ establishment.facecontrol|typograf:"admin"|safe }}
                </div>
            {% endif %}
            {% if establishment.parking %}
                <h4>Парковка</h4>
                <div class="textblock">
                    {{ establishment.parking|typograf:"admin"|safe }}
                </div>
            {% endif %}
            {% if establishment.description %}
                <h4>Описание</h4>
                <div class="textblock">
                    {{ establishment.description|typograf:"admin"|safe }}
                </div>
            {% endif %}

            {% if tags %}
                <h4>Показать заведения, где также есть:</h4>
                <ul class="b-obed-labels white padding left">
                    {% for tag in tags %}
                        <li>
                            <a href="{{ tag.link }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="b-obed-establishment-tab{% if current_tab != "tour" %} g-hide{% endif %}" id="b-obed-establishment-tour">
            {% if establishment.virtual_tour %}
            <iframe src="{{ establishment.virtual_tour }}" frameborder="0" width="100%" height="400"></iframe>
            {% endif %}
        </div>
{#        <ul class="b-obed-establishment-tab b-afisha-events{% if current_tab != "events" %} g-hide{% endif %}" id="b-obed-establishment-events" data-url="{% url 'obed.establishment.read.events' firm_id=establishment.pk %}"></ul>#}
        <div class="b-obed-establishment-tab{% if current_tab != "comments" %} g-hide{% endif %}" id="b-obed-establishment-comments" data-url="{% url 'obed:establishment:comments' firm_id=establishment.pk %}"></div>
        {% comment %}
        {% if has_barofest %}
            <div class="g-relative b-obed-establishment-tab{% if current_tab != "barofest" %} g-hide{% endif %} j-overlay-init" id="b-obed-establishment-newyear">
                <div class="textblock">
                    {% with barofest_gallery=establishment.establishment_barofest.gallery %}
                        {% if barofest_gallery.main_image.image %}
                            <ul class="j-overlay-photo g-indent g-clearfix">
                                <li>
                                    {% thumbnail barofest_gallery.main_image.image 620x600 quality=92 as thumb %}
                                    {% thumbnail barofest_gallery.main_image.image 71x48 crop as thumb2 %}
                                    {% thumbnail barofest_gallery.main_image.image 800x1000 quality=92 as big_photo %}
                                    {% if barofest_gallery.main_gallery_pictures|length %}<a href="{{ big_photo }}" title="{{ barofest_gallery.main_image.alt|typograf }}" rel="corporate" rev="{{ thumb2 }}" class="g-hirez g-left">{% endif %}
                                        <img src="{{ thumb }}" height="{{ thumb.height }}px" width="{{ thumb.width }}px" alt="{{ barofest_gallery.main_image.alt|typograf:"title" }}" />
                                    {% if barofest_gallery.main_gallery_pictures|length %}</a>{% endif %}
                                </li>
                                {% for item in barofest_gallery.main_gallery_pictures %}
                                    <li class="g-hide">
                                        {% thumbnail item.image 71x48 crop as thumb %}
                                        {% thumbnail item.image 800x1000 quality=92 as big_photo %}
                                        <a href="{{ big_photo }}" title="{{ item.alt|typograf }}" rel="corporate" rev="{{ thumb }}">
                                            <img src="{{ thumb }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ item.alt|typograf:"title" }}" />
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {{ establishment.barofest_description|typograf:"admin"|safe }}
                </div>
            </div>
        {% endif %}
        {% endcomment %}

        {% comment Раскомментировать для летних веранд %}
        {% if has_summer_terrace %}
            <div class="g-relative b-obed-establishment-tab{% if current_tab != "summer_terrace" %} g-hide{% endif %} j-overlay-init" id="b-obed-establishment-summer-terrace">
                <div class="textblock">
                    {% with summer_gallery=establishment.establishment_summer_terrace.gallery %}
                        {% if summer_gallery.main_image.image %}
                            <ul class="j-overlay-photo g-indent g-clearfix">
                                <li>
                                    {% thumbnail summer_gallery.main_image.image 620x600 quality=92 as thumb %}
                                    {% thumbnail summer_gallery.main_image.image 71x48 crop as thumb2 %}
                                    {% thumbnail summer_gallery.main_image.image 800x1000 quality=92 as big_photo %}
                                    {% if summer_gallery.main_gallery_pictures|length %}<a href="{{ big_photo }}" title="{{ summer_gallery.main_image.alt|typograf }}" rel="corporate" rev="{{ thumb2 }}" class="g-hirez g-left">{% endif %}
                                        <img src="{{ thumb }}" height="{{ thumb.height }}px" width="{{ thumb.width }}px" alt="{{ summer_gallery.main_image.alt|typograf:"title" }}" />
                                    {% if summer_gallery.main_gallery_pictures|length %}</a>{% endif %}
                                </li>
                                {% for item in summer_gallery.main_gallery_pictures %}
                                    <li class="g-hide">
                                        {% thumbnail item.image 71x48 crop as thumb %}
                                        {% thumbnail item.image 800x1000 quality=92 as big_photo %}
                                        <a href="{{ big_photo }}" title="{{ item.alt|typograf }}" rel="corporate" rev="{{ thumb }}">
                                            <img src="{{ thumb }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ item.alt|typograf:"title" }}" />
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {{ establishment.summer_terrace_description|typograf:"admin"|safe }}
                </div>
            </div>
        {% endif %}
        {% endcomment %}

        {% if settings.OBED_DELIVERY and has_delivery %}
            <div class="g-relative b-obed-establishment-tab{% if current_tab != "delivery" %} g-hide{% endif %} j-overlay-init" id="b-obed-establishment-delivery">
                <div class="textblock">
                    {% with delivery_gallery=establishment.establishment_delivery.gallery %}
                        {% if delivery_gallery.main_image.image %}
                            <ul class="j-overlay-photo g-indent g-clearfix">
                                <li>
                                    {% thumbnail delivery_gallery.main_image.image 620x600 quality=92 as thumb %}
                                    {% thumbnail delivery_gallery.main_image.image 71x48 crop as thumb2 %}
                                    {% thumbnail delivery_gallery.main_image.image 800x1000 quality=92 as big_photo %}
                                    {% if delivery_gallery.main_gallery_pictures|length %}<a href="{{ big_photo }}" title="{{ delivery_gallery.main_image.alt|typograf }}" rel="corporate" rev="{{ thumb2 }}" class="g-hirez g-left">{% endif %}
                                        <img src="{{ thumb }}" height="{{ thumb.height }}px" width="{{ thumb.width }}px" alt="{{ delivery_gallery.main_image.alt|typograf:"title" }}" />
                                    {% if delivery_gallery.main_gallery_pictures|length %}</a>{% endif %}
                                </li>
                                {% for item in delivery_gallery.main_gallery_pictures %}
                                    <li class="g-hide">
                                        {% thumbnail item.image 71x48 crop as thumb %}
                                        {% thumbnail item.image 800x1000 quality=92 as big_photo %}
                                        <a href="{{ big_photo }}" title="{{ item.alt|typograf }}" rel="corporate" rev="{{ thumb }}">
                                            <img src="{{ thumb }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ item.alt|typograf:"title" }}" />
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {{ establishment.delivery_description|typograf:"admin"|safe }}
                </div>
            </div>
        {% endif %}

        {% if settings.OBED_CORPORATIVES and has_corporative %}
            <div class="g-relative b-obed-establishment-tab{% if current_tab != "corporative" %} g-hide{% endif %} j-overlay-init" id="b-obed-establishment-newyear">
                <div class="textblock">
                    {% with corporate_gallery=establishment.establishment_corporative.gallery %}
                        {% if corporate_gallery.main_image.image %}
                            <ul class="j-overlay-photo g-indent g-clearfix">
                                <li>
                                    {% thumbnail corporate_gallery.main_image.image 620x600 quality=92 as thumb %}
                                    {% thumbnail corporate_gallery.main_image.image 71x48 crop as thumb2 %}
                                    {% thumbnail corporate_gallery.main_image.image 800x1000 quality=92 as big_photo %}
                                    {% if corporate_gallery.main_gallery_pictures|length %}<a href="{{ big_photo }}" title="{{ corporate_gallery.main_image.alt|typograf }}" rel="corporate" rev="{{ thumb2 }}" class="g-hirez g-left">{% endif %}
                                        <img src="{{ thumb }}" height="{{ thumb.height }}px" width="{{ thumb.width }}px" alt="{{ corporate_gallery.main_image.alt|typograf:"title" }}" />
                                    {% if corporate_gallery.main_gallery_pictures|length %}</a>{% endif %}
                                </li>
                                {% for item in corporate_gallery.main_gallery_pictures %}
                                    <li class="g-hide">
                                        {% thumbnail item.image 71x48 crop as thumb %}
                                        {% thumbnail item.image 800x1000 quality=92 as big_photo %}
                                        <a href="{{ big_photo }}" title="{{ item.alt|typograf }}" rel="corporate" rev="{{ thumb }}">
                                            <img src="{{ thumb }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ item.alt|typograf:"title" }}" />
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {{ establishment.corporative_description|typograf:"admin"|safe }}
                </div>
            </div>
        {% endif %}
    </article>
{% endblock b-content-cr %}

{% block b-aside-r %}
    {% if establishment.main_address %}
        <a href="#" class="b-obed-establishment-map g-desktop g-mobile_768 j-map-static j-map-address-link j-metrika-goal"
           data-map-size="300,246" data-map-address="{{ establishment.main_address.city_id }}, {{ establishment.main_address.name }}"
           data-map-types="building,house" data-metrika-goal="obed_address_open"></a>
    {% endif %}

    {% if mentions %}
    <section class="b-widget-article-list g-aside-block">
        <h3>Упоминания заведения:</h3>

        <ul>
            {% for article in mentions %}
                <li>
                    <article class="b-widget-article">
                        <header>
                            <a href="{{ article.get_absolute_url }}">
                                {% thumbnail article.gallery.main_image.image 300x155 crop as thumb %}
                                {% if thumb %}<img src="{{ thumb }}" alt="{{ article|typograf:"title"|safe }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px" style="width: {{ thumb.width }}px; height: {{ thumb.height }}px;">{% endif %}
                                <h4>{{ article|typograf:"title"|safe }}</h4>
                            </a>
                        </header>

{#                        {% if article.section_category %}<a href="{% url 'obed:article:category' slug=article.section_category.slug %}" class="g-link">{{ article.section_category }}</a>{% endif %}#}
                        {% comments_cnt article new_layout=True %}
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if latest_poll %}
        {% material_card latest_poll %}
    {% endif %}
{% endblock b-aside-r %}
