{% load str_utils %}
<header class="b-ny2014-menu">
    <ul>
        {% url 'newyear2014.views.index' as newyear2014_index %}
        <li class="menu1">
            {% if current_path == newyear2014_index %}
                <span class="icon home"></span>
            {% else %}
                <a href="{% url 'newyear2014.views.index' %}"><span class="icon home"></span></a>
            {% endif %}
        </li>

{#        {% url 'newyear2014.views.articles.index' as articles_index %}#}
{#        <li class="menu2{% if articles_index == active_index %} g-active{% endif %}">#}
{#            {% if current_path == articles_index %}#}
{#                <span>Статьи</span>#}
{#            {% else %}#}
{#                <a href="{{ articles_index }}">Статьи</a>#}
{#            {% endif %}#}
{#        </li>#}

{#        {% url 'newyear2014.views.afisha.index' as afisha_index %}#}
{#        <li class="menu3{% if afisha_index == active_index %} g-active{% endif %}">#}
{#            {% if current_path == afisha_index %}#}
{#                <span>Афиша</span>#}
{#            {% else %}#}
{#                <a href="{{ afisha_index }}">Афиша</a>#}
{#            {% endif %}#}
{#        </li>#}

{#        {% url 'newyear2014.views.contests.index' as contests_index %}#}
{#        <li class="menu4{% if contests_index == active_index %} g-active{% endif %}">#}
{#            {% if current_path == contests_index %}#}
{#                <span>Конкурсы</span>#}
{#            {% else %}#}
{#                <a href="{{ contests_index }}">Конкурсы</a>#}
{#            {% endif %}#}
{#        </li>#}

        {% url 'newyear_gifts' as gifts_index %}
        <li class="menu2{% if gifts_index == active_index %} g-active{% endif %}">
            {% if current_path == gifts_index %}
                <span>Подарки</span>
            {% else %}
                <a href="{{ gifts_index }}">Подарки</a>
            {% endif %}
        </li>

        {% url 'newyear_hostels' as hostels_index %}
        <li class="menu3{% if hostels_index == active_index %} g-active{% endif %}">
            {% if current_path == hostels_index %}
                <span>Турбазы</span>
            {% else %}
                <a href="{{ hostels_index }}">Турбазы</a>
            {% endif %}
        </li>

        {% url 'newyear_corporates' as corporates_index %}
        <li class="menu4{% if corporates_index == active_index %} g-active{% endif %}">
            {% if current_path == corporates_index %}
                <span>Корпоративы</span>
            {% else %}
                <a href="{{ corporates_index }}">Корпоративы</a>
            {% endif %}
        </li>

        {% url 'newyear2014.views.horoscope.index' as horoscope_index %}
        <li class="menu5{% if horoscope_index == active_index %} g-active{% endif %}">
            {% if current_path == horoscope_index %}
                <span>Гороскопы</span>
            {% else %}
                <a href="{{ horoscope_index }}">Гороскопы</a>
            {% endif %}
        </li>

        {% url 'newyear2014.views.games.index' as games_index %}
        <li class="menu6{% if games_index == active_index %} g-active{% endif %}">
            {% if current_path == games_index %}
                <span>Игротека</span>
            {% else %}
                <a href="{{ games_index }}">Игротека</a>
            {% endif %}
        </li>
    </ul>
</header>