{% extends 'newyear2014/layout.html' %}
{% load staticfiles adv_tags media_utils thumbnail str_utils pytils_numeral newyear2014_tags %}

{% block title %}Ваше письмо Деду Морозу отправлено | {{ block.super }}{% endblock title %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.validate.extend.js' %}"></script>
    <script>
        $(function() {
            $('#id_mailto').validate({
                rules: {
                    content: {
                        required: true,
                        minlength: 6
                    }
                },
                errorPlacement: function(error, element) {
                    // пустое, чтобы не выводил сообщений
                }
            });
        });
    </script>
{% endblock %}

{% block b-content-parent %}
    <section class="b-content g-ny2014-menu g-noborder">
        {% main_menu request.path %}
        {% ibanner ID=408 as banner1 %}
        {% if banner1 %}<div class="g-intend">{{ banner1 }}</div>{% endif %}
        <section class="b-ny2014-mailto">
            <header>
                <h1>Письмо Деду Морозу</h1>
            </header>
            <section class="b-ny2014-mailto-sent">
                <div class="b-ny2014-mailto-sent-letter">
                    <h2>Ваше письмо Деду Морозу отправлено</h2>
                    <small>Спасибо за использование услуг Волшебной почты</small>
                </div>
                <a class="button" href="{% url 'newyear2014.views.prediction.index' %}">Погадать</a>
                <a class="button" href="{% url 'newyear2014.views.climber.index' %}">Поиграть</a>
            </section>
        </section>

    </section>
{% endblock b-content-parent %}