{% load profile_utils staticfiles %}

{% if not request.user_agent.is_gadget %}
    <li class="b-push-notifications-toolbar {% if request.user.is_authenticated %}authentificated{% endif %} g-desktop notification j-push-notifications-init j-push-notification-button j-push-feature-close j-metrika-goal"
                data-metrika-goal="push_subscribe_bell"
                disabled>
        <a class="g-cursor-pointer">
{#            <span class="b-push-notifications-icon"></span>#}
            <span class="b-push-notifications-text"></span>

        </a>
    </li>
{% endif %}
