{% load adv_tags staticfiles %}

{% if object_list|length >= place_number %}
    {% if forloop.counter == place_number %}
        <li class="grid-list__item grid-list__item_banner g-desktop j-afisha-banner-place">
            {% include 'afisha/base/banner/banner-in-list.html' %}
        </li>
    {% endif %}
{% else %}
    {% if forloop.last %}
        <li class="grid-list__item grid-list__item_banner grid-list__item_banner_nomargin g-desktop j-afisha-banner-place" {% if page_obj.has_next %}data-next-page="{{ page_obj.next_page_number }}"{% endif %}>
            {% include 'afisha/base/banner/banner-in-list.html' %}
        </li>
    {% endif %}
{% endif %}
