{% load str_utils thumbnail %}

{% spaceless %}
<div class="article-element article-element_wide">
    <div class="content-slider-wrapper">
        {% if pictures|length > 1 %}
        <div class="content-slider__controls j-slider-nav">
            <!--<span class="content-slider__button content-slider__button_full j-slider-full"></span>-->
            <span class="content-slider__button content-slider__button_prev j-slider-prev disabled"></span>
            <span class="content-slider__button content-slider__button_next j-slider-next"></span>
        </div>
        {% endif %}
        <div class="content-slider{% if pictures|length > 1 %} j-articles-slider-content{% endif %}">
            {% for picture in pictures %}
                {% thumbnail picture.image size quality=92 x=picture.watermark as thumb %}
                <figure class="content-slider__item">
                    <img {% if forloop.counter > 1 %}
                        class="content-slider__img owl-lazy" data-src="{{ thumb }}"
                    {% else %}
                        class="content-slider__img" src="{{ thumb }}"
                    {% endif %} alt="{{ picture.alt|typograf }}" />
                </figure>
            {% endfor %}
        </div>
        {% if pictures|length > 4 %}
        <div class="content-slider__gallery j-slider-dots">
            {% for picture in pictures %}
            {% thumbnail picture.image 300x300 quality=90 x=picture.watermark as gallery_thumb %}
                <div class="content-slider__thumb j-slider-dot">
                    <img src="{{ gallery_thumb }}" class="content-slider__thumb__img" alt="{{ picture.alt|typograf }}" />
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="content-slider__description j-slider-description">
            {% for picture in pictures %}
                <span class="content-slider__description__item j-slider-photo-desc{% if forloop.counter == 1 %} active{% endif %}">
                    {{ picture.alt|typograf }}
                </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endspaceless %}
