{% load pytils_numeral %}
<link rel="stylesheet" href="/static/contests/css/admin.css">

<div id="vote-list">
    <h3>Список проголосовавших:</h3>

    {% for part in participants %}
        <h4>{{ part.id }}) {% if part.username %}{{ part.username }}|{% endif %} {{ part.name }}</h4>
        Голоса: {{ part.total_sum }}

        <table>
            <tr>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Регистрация</th>
                <th>Соцсети</th>
            </tr>

            {# почему-то слово only здесь уменьшает время обработки 9989 мс -> 2398 мс #}
            {# видимо, без него выполняется сложный мердж внутри #}
            {% include "contests/admin/vote_rows.html" with votes=part.votes only %}

            {% if part.show_more %}
            <tr>
                <td colspan="4">
                    <button data-morevotes-participant="{{ part.id }}">Показать еще {{ part.show_more }} {{ part.show_more|choose_plural:"голос,голоса,голосов" }}</button>
                </td>
            </tr>
            {% endif %}
        </table>
    {% empty %}
        Нет голосов
    {% endfor %}
</div>
</body>
