{# Рендер этого шаблона добавляется прямиком в таблицу голосов в админке конкурса через jQuery #}
{# И он же выводится обычным рендерером при формировании vote_list.html #}

{% for vote in votes %}
<tr>
    <td>{{ vote.full_name }}</td>
    <td>{{ vote.phone }}</td>
    <td style="text-align:right">
        <nobr title="{{ vote.date_joined|date:"d.m.Y H:i:s" }}">
            {% ifchanged vote.date_joined.day %}
                {{ vote.date_joined|date:"d.m.Y H:i" }}
            {% else %}
                {{ vote.date_joined|date:"H:i" }}
            {% endifchanged %}                               
        </nobr>
    </td>
    <td>
        {% for social in vote.socials %}
            {{ social.name }} <a href="{{ social.url }}">{{ social.url }}</a>
            {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
    </td>
</tr>
{% endfor %}
