{% comment %}
        @template
        @name=Пустая страница
{% endcomment %}

{% load pages str_utils staticfiles media_utils %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        <title>{% if flatpage.title %}{{ flatpage.title|typograf:"title" }} | {% endif %}</title>
    </head>
    <body>
	{% autoescape off %}
		{{ flatpage.content|typograf:"admin" }}
	{% endautoescape %}
	</body>
</html>