{% comment %}
    Блок с кнопками для постинга материалов в социальные сети.

    inputs:
        material_id - идентификатор материала
        is_hidden - материал скрыт?
{% endcomment %}

<div class="b-share-container j-share-container" data-share-task-url="{% url 'admin_social_post_status' %}">
    <ul class="b-share-list">
        {# Делаем красивые кнопочки с прогрессом отправки. Например что-нибудь отсюда http://tympanus.net/Development/ProgressButtonStyles/ #}
        <li class="b-share-button-container">
            <a {% if material_id %}href="{% url 'admin_social_post' 'vk' material_id %}"{% endif %}
               class="b-share-button j-share-button post-vk {% if not material_id or is_hidden %} disabled{% endif %}"
                >
                <div class="b-share-button-progress"><span class="progress-inner j-share-button-progress"></span></div>
                VK
            </a>
        </li>
        <li class="b-share-button-container">
            <a {% if material_id %}href="{% url 'admin_social_post' 'facebook' material_id %}"{% endif %}
               class="b-share-button j-share-button post-fb{% if not material_id or is_hidden %} disabled{% endif %}"
                >
                <div class="b-share-button-progress"><span class="progress-inner j-share-button-progress"></span></div>
                Facebook
            </a>
        </li>
        <li class="b-share-button-container">
            <a {% if material_id %}href="{% url 'admin_social_post' 'twitter' material_id %}"{% endif %}
               class="b-share-button j-share-button post-tw{% if not material_id or is_hidden %} disabled{% endif %}"
                    >
                <div class="b-share-button-progress"><span class="progress-inner j-share-button-progress"></span></div>
                Twitter
            </a>
        </li>
    </ul>
    <div class="b-share-messages j-share-message"></div>
    {% if not material_id %}
        <div class="g-margin-bottom-10 g-color-gray">Для размещения в социальных сетях, материал необходимо сохранить</div>
    {% elif is_hidden %}
        <div class="g-margin-bottom-10 g-color-gray">Скрытый материал нельзя разместить в социальных сетях</div>
    {% endif %}
</div>
