{% extends 'news-less/layout_cr.html' %}

{% load game_tags staticfiles media_utils str_utils comments_tags thumbnail paginator_utils news_tags date_tags %}

{% block title %}Видео | {{ block.super }} {% endblock title %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% treasure 'video' %}
{% endblock %}

{% block b-content-cr %}
<section>
    <h1 class="g-hide">Видео | Новости Иркутска: экономика, спорт, медицина, культура, происшествия</h1>

    <ul class="b-news-article-list j-resp-ajax-pag" data-page="{% if objects.has_next %}{{ objects.number }}{% else %}none{% endif %}">
        {% for material in objects %}
            {% if forloop.first %}
                {% include 'news-less/snippets/news_list_item.html' with main=True showType=False %}
            {% else %}
                {% include 'news-less/snippets/news_list_item.html' with showType=False %}
            {% endif %}
        {% endfor %}
    </ul>

    {% paginator objects template="paginator/layout.html" name="новостей" %}
</section>
{% endblock %}
