{% extends 'news-less/layout_cr.html' %}

{% load staticfiles media_utils str_utils comments_tags thumbnail paginator_utils comments_tags adv_tags %}
{% load share_utils site_utils news_tags cache_tags %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.sticky-kit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/js/lenta.js' %}"></script>
{% endblock %}

{% block title %}{{ object.title|typograf }} | Видео | {{ block.super }}{% endblock title %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'video.instance.meta' vary='object.id' tags='video,object' %}{% spaceless %}
        {% include 'share_meta.html' with url=object.get_absolute_url title=object.title description=object.caption image=object.gallery.main_image.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block container %}
    <div class="lenta j-container">
        {% block lenta-material-item %}
            <div class="lenta-material j-lenta-item">
                {% block lenta-top-banner-container %}
                    <div class="lenta-material__top-banner g-desktop">
                        {% block b-adword-header %}{{ block.super }}{% endblock %}
                    </div>
                {% endblock %}

                {% block lenta-rubricator %}
                    <div class="lenta-material__rubricator">
                        <header class="b-news-content-header g-margin-bottom-25">
                            {% include 'news-less/base/search.html' %}
                            {% news_rubricator obj=object %}
                        </header>
                    </div>
                {% endblock %}

                {% block lenta-material-inner %}
                <div class="lenta-material__inner">
                    <div class="material-grid">
                        <div class="material-grid__item material-grid__item_main j-sticky-wrapper">
                            {% block lenta-material-content %}
                                {% render_news_cool object show_date=True under_comments_banner='news' %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="lenta-material__similar">
                        {% similar_materials object limit=4 as similars %}
                        {% include 'news-less/tags/lenta-similar-materials.html' with materials=similars metrika_goal='news_lenta_bottom' %}
                    </div>
                </div>
                {% endblock lenta-material-inner %}
            </div>
        {%  endblock lenta-material-item %}

        {% block b-footer-layout-banner %}
            {% ibanner id=544 as programmatic_footer %}
            {% if request.user_agent.is_gadget and programmatic_footer %}
                 <div class="g-margin-bottom-20 g-centered-div g-not-desktop">{{ programmatic_footer }}</div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block b-aside-r %}{% include "news-less/article/b-aside-r.html" %}{% endblock %}
