{% extends "tourism/layout_lc.html" %}

{% load staticfiles media_utils str_utils thumbnail comments_tags pytils_dt tourism_tags %}

{% block title %}Электрички {% if direction == 'east' %}на восток{% else %}на запад{% endif %} | {{ block.super }}{% endblock %}

{% block content %}
    <section class="b-content-block b-tourism-schedule-block">

        <header class="g-title">
            <h1>Расписание движения электричек в Иркутске</h1>
            <div class="b-schedule-switcher">
                {% spaceless %}
                <a href="{% url 'tourism:transport_etrains' %}">онлайн табло</a>
                {% if direction == 'east' %}
                    <span class="g-selected g-stroke g-bg-creamy">на восток</span><a href="?direction=west">на запад</a>
                {% else %}
                    <a href="?direction=east">на восток</a><span class="g-selected g-stroke g-bg-creamy">на запад</span>
                {% endif %}
                {% comment %}
                <a href="{% url 'tourism:transport_etrains_tickets' %}">цена проезда</a>
                {% endcomment %}
                {% endspaceless %}
            </div>
        </header>

        <article>
            <p class="g-color-gray">Время местное (+05:00 МСК), по станции «Иркутск-Пассажирский». Знаком «звездочка» * отмечены скорые электропоезда. Перевозки осуществляет ОАО «Байкальская пригородная пассажирская компания».</p>
            {% if last_update %}<p class="g-color-gray">Дата последнего обновления: {{ last_update|ru_strftime:"%d %B %Y г." }}</p>{% endif %}

            <table class="b-table">
                <tbody>
                    <tr class="thead">
                        <th>№</th>
                        <th>Прибытие</th>
                        <th>Отправление</th>
                        <th>От станции</th>
                        <th>До станции</th>
                        <th>По дням</th>
                        <th>Нет остановок</th>
                    </tr>
                    {% for train in etrains %}
                    <tr class="{% cycle 'g-odd' 'g-even' %}">
                        <td>{{ train.number }}</td>
                        <td>{{ train.arrival_time|time:"H:i"|default_if_none:"–" }}</td>
                        <td>{{ train.dispatch_time|time:"H:i"|default_if_none:"–" }}</td>
                        <td>{{ train.dispatch|typograf:'title'|safe }}</td>
                        <td>{{ train.arrival|typograf:'title'|safe }}</td>
                        <td>{{ train.days }}</td>
                        <td>{{ train.nonstop }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
{% endblock content %}
