{% extends "auth/layout.html" %}

{% load profile_utils staticfiles %}

{% block title %}Регистрация | {{ block.super }}{% endblock %}

{% block h1 %}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'auth/js/auth.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>
{% endblock %}

{% block main_content %}
    <section class="b-auth-register">
        <header>
            <h1>Регистрация на сайте</h1>
        </header>
        <form class="b-auth-register-email register-form" action="{% url 'authentication:register:index' %}" method="post" id="email-register">
            {% csrf_token %}
            <div class="register-form__row">
                {{ form.email.label_tag }}
                <input id="id_email" class="register-form__input{% if form.errors.email %} error{% endif %}" type="email" name="email" {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}>
                {% if form.errors.email %}
                    {{ form.errors.email }}
                {% endif %}
            </div>
            <div class="register-form__row">
                {{ form.name.label_tag }}
                <input id="id_name" class="register-form__input{% if form.errors.email %} error{% endif %}" type="text" name="name" {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}>
                {% if form.errors.name %}
                    {{ form.errors.name }}
                {% endif %}
            </div>
            <div class="register-form__row">
                {{ form.password.label_tag }}
                <input id="id_password" class="register-form__input{% if form.errors.email %} error{% endif %}" type="password" name="password" autocomplete="off">
                {% if form.errors.password %}
                    {{ form.errors.password }}
                {% endif %}
            </div>
            <div class="register-form__row">
                {{ form.password_confirm.label_tag }}
                <input id="id_password_confirm" class="register-form__input{% if form.errors.email %} error{% endif %}" type="password" name="password_confirm" autocomplete="off">
                {% if form.errors.password_confirm %}
                    {{ form.errors.password_confirm }}
                {% endif %}
            </div>
            <div class="register-form__row captcha">
                <div class="captcha{% if form.errors.captcha %} error{% endif %}">
                    {{ form.captcha }}
                </div>
            </div>
            <div class="register-form__row g-color-gray">
                На на вашу почту будет выслано письмо с подтверждением регистрации.
                Перейдите по ссылке в письме для завершения регистрации.
            </div>
            <div class="g-clear"></div>
            <div class="footer">
                <input class="register-form__submit" id="email-register-submit" value="Зарегистрироваться" type="submit">
            </div>
        </form>
        <div class="register-social">
            <div class="register-social__text g-color-gray">
                или вы можете авторизироваться с помощью соц. сетей:
            </div>
            <ul class="b-list-h b-auth-register-social j-social-auth{% if form.errors.phone %} g-hide{% endif %}" id="social-register">
                <li>
                    <a class="vk" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ next }}"><span class="vk"></span></a>
                </li>
                <li>
                    <a class="fb" href="{% url 'social:begin' 'facebook' %}?next={{ next }}"><span class="fb"></span></a>
                </li>
                <li>
                    <a class="ok" href="{% url 'social:begin' 'odnoklassniki-oauth2' %}?next={{ next }}"><span class="ok"></span></a>
                </li>
            </ul>
        </div>
    </section>
    <div class="b-auth-summary">Полученные от вас сведения относятся к конфиденциальной информации.
        Мы никому не продаем и не разглашаем персональную информацию о пользователях.</div>
{% endblock main_content %}
