{% load staticfiles media_utils %}

<script type="text/javascript" src="{% static 'js/lib/jquery.placeholder.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        if ( $('.b-house-search-input').length != 0 ) {
            $('.b-house-search-input').placeholder();
        }
    });
</script>

<div class="b-house-search">
    <form action="{% url 'news:search' %}" name="" method="GET">
        <img src="{% static 'img/search/search-input-left.png' %}" class="b-house-search-left">
        {% if search_type %}
            <input type="hidden" name="type" value="{{ search_type }}" />
        {% endif %}
        <input name="q" type="text" class="b-house-search-input" placeholder="Поиск в новостях" value="{% if q %}{{q}}{% endif %}">
        <input type="image" src="{% static 'img/search/search-input-submit.png' %}" class="b-house-search-button">
        <input type="submit" class="b-house-search-submit">
    </form>
</div>
