{% extends 'obed/layout.html' %}

{% load staticfiles obedtags pytils_numeral %}

{#{% block title %}8 марта | {{ block.super }}{% endblock %}#}
{% block title %}Новогодние корпоративы | {{ block.super }}{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/lib/nouislider.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block obed-search-filter %}{% endblock %}
{% block b-content-header %}
    <div class="b-obed-corporatives-filter-container {# type-onefilter #} g-hidden g-opacity-hide j-obed-corporatives-filter-container">
{#        <h4 class="b-obed-corporatives-filter-title">Подскажем, где провести 8 марта</h4>#}
        <h4 class="b-obed-corporatives-filter-title">Подскажем, где провести корпоратив <span class="g-desktop">на</span></h4>
        <div class="b-obed-corporatives-filter">
            <div class="b-obed-corporatives-filter-item-container b-obed-corporatives-filter-item-container-ppl">
                <div class="b-obed-corporatives-filter-item-title ppl j-obed-corporatives-filter-ppl-counter" contenteditable="true"></div>
                <div class="b-obed-corporatives-filter-item j-obed-corporatives-filter-ppl"></div>
            </div>
            <h4 class="b-obed-corporatives-filter-title g-desktop"> до</h4>
            <div class="b-obed-corporatives-filter-item-container">
                <div class="b-obed-corporatives-filter-item-title price j-obed-corporatives-filter-price-counter" contenteditable="true"></div>
                <div class="b-obed-corporatives-filter-item j-obed-corporatives-filter-price"></div>
            </div>
        </div>
        <button class="b-obed-button-orange j-obed-corporatives-filter-flush">показать все {{ main_establishments|length }}</button>
    </div>
{% endblock b-content-header %}

{% block b-container-second %}
    {% if main_establishments %}
        <section class="b-obed-corporatives-container {# type-8mart #} {# type-23feb #} g-indent{% if not see_also_establishments %} no-also-establishments{% endif %}">
            <div class="b-obed-corporatives">
                <ul class="b-obed-corporatives-inlist">
                    {% for establishment in main_establishments %}
                        <li class="b-obed-corporatives-inlist-item">
                            {% include 'obed/establishment/list_item.html' with tab='corporative' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block b-container-third %}
    {% if see_also_establishments %}
    <div class="b-container no-padding-top">
        <article class="b-content">
            <div class="b-obed-establishment-toolbar">
                <div class="g-left"><b>Смотрите также:</b></div>
            </div>
            <ul class="b-obed-establishment-list">
                {% for establishment in see_also_establishments %}
                    <li>
                        {% include 'obed/establishment/list_item.html' %}
                    </li>
                {% endfor %}
            </ul>
        </article>
    </div>
    {% endif %}
{% endblock %}
