{% extends 'layout.html' %}

{% load staticfiles media_utils adv_tags obedtags %}

{% block title %}{% block title-obed %}{% endblock %}{{ block.super }}{% endblock %}

{% block style %}
    {% less '/less/compile/apps/obed.less' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/lib/jquery.disable-text-select.1.1.js' %}"></script>
    <script src="//maps.api.2gis.ru/2.0/loader.js?pkg=full&amp;skin=dark&amp;lazy=true"></script>
    <script src="{% static 'obed/js/obed.js' %}"></script>
    <script src="{% static 'js/lib/jquery.dropkick.js' %}"></script>
{% endblock js %}

{% block meta_adaptive %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
{% endblock %}

{% block style_adaptive %}
    {% less '/less/compile/adaptive/apps/obed.less' media='all' %}
{% endblock %}

{% block js_adaptive %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/quo-2.3.6.js' %}"></script>
    <script type="text/javascript" src="{% static 'obed/js/adaptive-obed.js' %}"></script>
{% endblock %}

{% block top_banner %}{% include 'obed/base/banner/top_banner.html' %}{% endblock %}

{% block text_widget %}{% ibanner id=310 template='adv/banners/text_widget_layout.html' %}{% endblock %}




{% block container %}
    {% block b-container-first %}
        {% block obed-search-filter %}{% search_filter %}{% endblock %}
        <div class="b-container">
            {% block b-notification %}{% endblock %}

            {% block b-adword-header %}{% endblock b-adword-header %}
            <article class="b-content no-min-height">
                {% block b-content-header %}
                    {% include 'obed/base/content_header.html' %}
                {% endblock b-content-header %}
            </article>
        </div>
    {% endblock %}

    {% block b-container-second %}{% endblock %}

    {% block b-container-third %}
        <div class="b-container {% block b-container-third-class2 %}no-padding-top{% endblock %} {% block b-container-third-class %}{% endblock %}">
            {% block b-content-parent %}
                <article class="b-content{% block b-content-class %}{% endblock %}">
                    {% block b-content %}{% endblock b-content %}
                    {% block b-content-footer %}{% endblock b-content-footer %}
                </article>
            {% endblock b-content-parent %}

            {% block b-footer-layout-banner %}
                {% ibanner id=472 as branding_footer %}
                {% ibanner id=294 as banner %}
                {% ibanner id=544 as programmatic_footer %}
                {% if request.user_agent.is_gadget and programmatic_footer %}
                     <div class="g-margin-bottom-20 g-centered-div g-not-desktop">{{ programmatic_footer }}</div>
                {% elif banner and not branding_footer %}
                    <div class="b-footer-layout-banner g-desktop">{{ banner }}</div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}


{% block float_banner %}
    {% include 'obed/base/banner/b-banner-1000x50-float.html' %}
{% endblock %}

{% block promo_A %}
    {% ibanner id=482 as branding_top %}
    {% include 'snippets/branding_top.html' %}
{% endblock %}

{% block promo_B %}
    {% ibanner id=472 as branding_footer %}
    {% if branding_footer %}
        <div class="b-branding-bottom g-desktop">
            {{ branding_footer }}
        </div>
    {% endif %}
{% endblock %}
