{% extends "obed/layout.html" %}

{% load staticfiles %}

{% block title %}Ланчи и ужины: горячие предложения на вашу почту | {{ block.super }}{% endblock %}

{% block layout-base-class %}{{ block.super }} b-obed-subscribe-page-background{% endblock layout-base-class %}


{% block container %}
    <div class="b-container b-obed-subscribe-page">
        <h1>Получайте горячие предложения<br>ланчей и ужинов на ваш email!</h1>
        <div class="b-obed-subscribe-page-text g-font-serif">
            <img src="{% static 'obed/img/editor_ava_150x150.png' %}" alt="" class="image"/>
            <p>Меня зовут Дарья, я редактор Обеда IRK.ru и я буду рассказывать вам об интересных и
                выгодных акциях и событиях в ресторанном мире Иркутска.
                Много писем в почте — это ад, поэтому сразу договоримся — не больше
                двух писем в неделю.
            </p>
            <p>В понедельник я сообщаю вам о том, что в ближайшие дни рестораны
                и кафе предлагают на ланч. В четверг пишу, где можно вкусно поужинать
                и интересно провести вечер: послушать хорошую музыку, потанцевать,
                встретиться с интересными людьми.</p>
        </div>
        <form class="b-obed-subscribe type_3 g-indent" action="//irk.us9.list-manage.com/subscribe/post?u=a833871104af9fe8c66e0cdca&amp;id=3eb1ca4257" method="POST" target="_blank">
            <div class="g-indent-small g-font-size-16"><b>Ланчи и ужины:</b> горячие предложения на вашу почту.</div>
            <input class="g-hide" type="text" name="b_a833871104af9fe8c66e0cdca_3eb1ca4257" tabindex="-1" value="">
            <input class="name" id="id_name" name="MMERGE1" type="text" placeholder="Как вас зовут?">
            <input class="email" id="id_email" name="EMAIL" type="text" placeholder="e-mail">
            <button class="g-button_white j-metrika-goal" data-metrika-goal="obed_subscribe_lp" type="submit">Подписаться</button>
        </form>
    </div>
{% endblock %}

