{% load obedtags str_utils %}
<nav class="b-obed-rubrics">
    <ul class="b-list-l">
        {% for section in sections %}
            <li class="menu{{ forloop.counter }} {% if section == current_section %}g-active {% endif %}{{ section.css_class }}">
                {% if on_section_page and section == current_section %}
                    <span>{{ section.name|typograf }}</span>
                {% else %}
                    <a href="{% establishment_list_url section.slug %}">{{ section.name|typograf }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
