{% load static str_utils %}

{% if show_treasure %}

<style type="text/css">
.game-popup-wrapper, .game-popup-wrapper__shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}

.popup-hide {
    display: none;
}

.game-popup-wrapper__shadow {
    background: rgba(0,0,0,.4);
}

.popup-window {
    position: absolute;
    font-family: 'PT Sans';
    width: 100%;
    max-width: 580px;
    height: 300px;
    padding: 30px;
    background: #9F2138;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
}

.popup-window_hint {
    height: auto;
}

.popup-window_hint .popup-window__content {
    margin-bottom: 50px;
}

.popup-window__close {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('{% static 'img/landing_pages/game2020/close.png' %}') no-repeat center center;
    right: 20px;
    top: 20px;
    z-index: 5;
    cursor: pointer;
}

.popup-window__content {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    max-width: 275px;
}

.popup-window__cat {
    width: 232px;
    height: 270px;
    position: absolute;
    background: url('{% static 'img/landing_pages/game2020/almaz_logo.png' %}') no-repeat center center;
    background-size: contain;
    right: 20px;
    bottom: 15px;
}

.popup-window__cat_two {
    width: 258px;
    height: 258px;
    position: absolute;
    background: url('{% static 'img/landing_pages/game2020/gerb_2.png' %}') no-repeat center center;
    background-size: contain;
    right: 20px;
    bottom: 25px;
}

.popup-window__content h4 {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #ffffff;
}

.popup-window__content p {
    margin-bottom: 20px;
    font-family: 'PT Sans';
}

.popup-window__content .italic {
    font-style: italic;
    font-size: 16px;
}

.popup-window__content p:last-child {
    margin-bottom: 0;
}

.popup-window__buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    bottom: 30px;
    left: 30px;
    max-width: 300px;
    width: 100%;
}

.popup-window__button {
    display: inline-block;
    height: 32px;
    background: #F5C739;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    padding: 0 25px;
    text-align: center;
}

.popup-window__button_white {
    display: inline-block;
    height: 32px;
    background: transparent;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    padding: 0 25px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.popup-window__button_start {
    width: 100%;
}

.popup-window__button_padding {
    padding: 0 15px;
}

.popup-window__button:first-child {
    margin-right: 20px;
}

.popup-window__button:hover {
    opacity: .8;
    color: #000000;
}

.game-emoji {
    font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
    position: absolute;
    z-index: 999;
    text-decoration: none;
    font-size: 30px;
    transition: all .3s ease;
    filter: drop-shadow(0 0px 2px rgba(255,255,255,.7));
    width: 30px;
    height: 30px;
}

.game-emoji_found {
    transform: scale(3);
    opacity: 0;
}

.game-emoji > img {
    width: 100%;
    height: auto;
}

.game-emoji:hover {
    transform: scale(1.7);
    animation-name: emoji-hover;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: -2px;
    filter: drop-shadow(0 4px 2px rgba(0,0,0,.4));
}

@keyframes emoji-hover {
    25% {transform: rotate(30deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-60deg);}
    100% {transform: rotate(0deg);}
}

@media all and (max-width: 600px) {
    .popup-window {
        top: 50px;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        transform: none;
        border-radius: 0;
        border-top: 1px solid #0072bd;
        padding: 20px;
    }

    .popup-window__buttons {
        position: relative;
        margin-top: 30px;
        left: auto;
        bottom: auto;
    }

    .popup-window__cat {
        width: 150px;
        height: 192px;
        left: 50%;
        margin-left: -75px;
        right: auto;
    }
}
</style>

<script type="text/javascript">
$(document).ready(function() {
    var smile = {
        vars: {
            cookieName: 'emojiHome'
        },

        state: {
            cookieExpiresDays: 10,
            timeoutPopup: 5000,
            timeoutRemove: 2000,
            emojiCode: '{{ treasure.secret }}'
        },

        request: function () {
            $('.j-emoji-click').click(function (e) {
                e.preventDefault();

                var $self = $(this);
                var emojiUrl = $(this).attr('href');

                $.ajax({
                    type: "POST",
                    url: emojiUrl,
                    success: function(response) {
                        if (response === 'success') {
                            $('.j-popup-window-found').removeClass('popup-hide');
                            $('.j-gamepopup').removeClass('popup-hide');

                            $self.addClass('game-emoji_found');

                            // delete found emoji
                            setTimeout(function () {
                                $self.remove();
                            }, smile.state.timeoutRemove);
                        } else {
                            console.log(response);
                        }
                    }
                });
            });
        },

        randomNumber: function (min, max) {
            var rand = min - 0.5 + Math.random() * (max - min + 1);
            return Math.round(rand);
        },

        randomPosition: function () {
            var sizes = {
                top: 50,
                documentWidth: $(document).width() - 40,
                documentHeight: $(document).height() - 40,
                availableWidth: window.screen.availWidth,
                availableHeight: window.screen.availHeight
            };

            var screensCount = sizes.documentHeight / sizes.availableHeight; // float

            // do not display a emoji on the first screen
            if (Math.floor(screensCount) > 1) {
                sizes.top = sizes.availableHeight;
            }

            var randWidth = smile.randomNumber(0, sizes.documentWidth);
            var randHeight = smile.randomNumber(sizes.top, sizes.documentHeight);

            $('.j-emoji-click').css({
                left: randWidth + 'px',
                top: randHeight + 'px'
            });
        },

        popups: {
            home: function () {
                setTimeout(function() {
                    $('.j-popup-window-home').removeClass('popup-hide');
                    $('.j-gamepopup').removeClass('popup-hide');

                    // set cookie
                    $.cookies.set(smile.vars.cookieName, true, { expires: smile.state.cookieExpiresDays });
                }, smile.state.timeoutPopup);
            },

            close: function () {
                $('.j-gamepopup-close').click(function (e) {
                    e.preventDefault();
                    $('.j-gamepopup').addClass('popup-hide');
                    $('.j-popup-window').addClass('popup-hide');
                });
            },

            init: function () {
                if (!$.cookies.get(smile.vars.cookieName) && smile.state.emojiCode === 'home') {
                    smile.popups.home();
                }

                smile.popups.close();
            }
        },

        init: function () {
            smile.request();
            smile.randomPosition();
            smile.popups.init();
        }
    };

    smile.init();
});
</script>

<a class="game-emoji game-emoji_{{ treasure.secret }} j-emoji-click" href="{% url 'game:found' treasure.pk treasure_hash %}">
    <img src="{{ treasure.svg_emoji }}" alt="{{ treasure.emoji }}" />
</a>

<div class="game-popup-wrapper j-gamepopup popup-hide">
    {% if treasure.secret == 'home' %}
        <div class="popup-window j-popup-window j-popup-window-home popup-hide">
            <span class="popup-window__close j-gamepopup-close"></span>
            <div class="popup-window__content">
                <h4>
                    «Алмаз» отмечает день рождения и дарит подарки!
                </h4>
                <p>
                    На страницах сайта находи драгоценности и обменивай
                    их в личном кабинете на один из 20 приятных подарков!
                </p>
            </div>
            <div class="popup-window__buttons">
                <a href="{% url 'game:index'  %}" class="popup-window__button popup-window__button_start">Начать игру!</a>
            </div>
            <div class="popup-window__cat"></div>
        </div>
    {% endif %}

    <div class="popup-window popup-window_hint j-popup-window j-popup-window-found popup-hide">
        <span class="popup-window__close j-gamepopup-close"></span>
        <div class="popup-window__content">
            <h4>
                Найден драгоценный Emoji!
            </h4>
            <p>
                Продолжай искать другие, чтобы получить подарок.
            </p>
            <div class="italic">
                Подсказка: {{ hint|typograf:'admin'|safe }}
            </div>
        </div>
        <div class="popup-window__buttons">
            <a href="#" class="popup-window__button popup-window__button_padding j-gamepopup-close">Искать дальше!</a>
            <a href="{% url 'game:index'  %}" class="popup-window__button popup-window__button_white popup-window__button_padding">Статистика</a>
        </div>
        <div class="popup-window__cat popup-window__cat_two"></div>
    </div>

    <div class="game-popup-wrapper__shadow"></div>
</div>
{% endif %}
