{% for form in formset|slice:"0:" %}
    {% if form.instance.pk %}
    <div id="file_{{ forloop.counter0 }}" data-count="{{ objects_length }}" class="js-file-tpl b-thumb{% if form.instance.main %} main{% endif %}" data-id="<%=uid%>">
        {{ form.picture }}
        <div class="b-thumb__name"></div>
        {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
            {% if form.instance.pk %}
            <div class="gallery-bb-input">
                <input type="text" value="[image {{ form.instance.pk }}]">
            </div>
            {% endif %}
        <div data-counter="{{ forloop.counter0 }}" class="thumb__main j-thumb__main" title="Главная">главная</div>
        <div data-counter="{{ forloop.counter0 }}" class="thumb__del j-thumb__del" title="Удалить">удалить</div>
        {% if form.errors %}
            <div class="pic-error"><span class="g-color-red">Вы забыли загрузить фотографию</span></div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
