{% extends 'admin/change_form.html' %}


{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        section_items = {};
        var section = {
            count_items : 10,
            count_show : 0,
            show : function () {

                for (var id in section_items) {

                    if (section_items[id] == 'hide') {
                        $('#ajax-block-' + id).show();
                        section_items[id] = 'show';
                        section.count_show++;
                        if (section.count_show == section.count_items) $('#add-section').hide();
                        break;
                    }

                }

            },

            hide : function (id) {
                $('#ajax-block-' + id + ' input').val('');
                $('#ajax-block-' + id).hide();
                section_items[id] = 'hide';
                if (section.count_show == section.count_items) $('#add-section').show();
                section.count_show--;

            },

            init : function () {

                if (window.section_items == undefined) return false;

                for (var id in section_items) {
                    if (section_items[id] == 'show') section.count_show++;
                }

                $('#add-section a').click(function () {
                    section.show();
                    return false;

                });
                $('a.del-section').click(function () {

                    var id = parseInt(this.rev);
                    section.hide(id);
                    return false;

                });
            }

        };
        $(document).ready(function() {
            section.init();
            $('#add-section > a').attr('rev', section.count_show+1);
        });
    </script>
    <style type="text/css">
        li.expandable ul {margin-left: 0;padding-left: 0;}
        li.expandable ul li { }
        li.expandable:hover ul {display: block;}
        li.expandable ul li {display: block; float: none; margin-top:5px;}
        li.expandable ul li a {padding-top:5px;background-color: #999;}
        li.expandable ul li a:hover {background-color: #999;}
    </style>
{% endblock %}

{% block object-tools-items %}

    <style type="text/css">
        .firm-menu {
            position: absolute;
            top:40px;
            right:10px;
            border: #EEEEEE solid 1px;
            background-color: #ffffff;
            overflow: hidden;
            padding: 15px;
        }
        .firm-menu ul{
            padding: 0;
            margin: 0;
        }
        .firm-menu li{
            float: none;
            margin-bottom: 12px;
        }
        .firm-menu .extended a{
            color: #000000;
        }

    </style>

    <div class="firm-menu">
        <ul>
            {% for obj in extendable_objects %}
                <li {% if obj.selected %}class="extended"{% endif %}><a href="{{ obj.url }}">{{ obj.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {{ block.super }}
{% endblock %}
