{% extends 'newyear2014/layout_cr.html' %}


{% load cache_tags staticfiles media_utils str_utils thumbnail comments_tags share_utils site_utils news_tags polls_tags %}

{% block title %}{{ object.title|typograf:'title'|safe }} | Новогодние предложения | {{ block.super }}{% endblock title %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
        {% include 'share_meta.html' with card='summary_large_image' url=object.get_absolute_url title=object.title description=object.caption image=object.image %}
{% endblock %}

{% block b-content-cr %}
        <section class="b-content-block b-ny2014-articles">
            <header><h1>{{ object.title|typograf:'title'|safe }}</h1></header>

            <article>
                {% if object.image %}
                    {% thumbnail object.image 705x660 as thumb %}
                    <figure>
                        <img src="{{thumb}}" {% if object.image.alt %}alt="{{ object.image.alt|typograf:"title"|safe }}"{% endif %} {% if object.image %}style="width:{{thumb.width}}px;height:{{thumb.height}}px;"{% else %}style="max-width: 300px;"{% endif %}>
                        {% if object.image %}
                            {% if object.image.alt %}<figcaption>{{ object.image.alt|typograf:"title"|safe }}</figcaption>{% endif %}
                        {% else %}
                            {% if object.image.alt %}<small class="g-color-gray">{{ object.image.alt|typograf:"title"|safe }}</small>{% endif %}
                        {% endif %}
                    </figure>
                {% endif %}

                {{ object.content|typograf:'admin'|safe }}
            </article>
        </section>

        {% if object.author %}
            <section class="b-ny2014-articles-author">{{ object.author|typograf:'user'|safe }}</section>
        {% endif %}
        <section class="b-content-article-url"><small>URL: http://{% get_site_url www %}{{ request.path }}</small></section>

        {% related_poll object 'polls/snippets/related_poll_less.html' %}

        <section class="MisprintSnippet b-content-block">
            Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd>
            <script type="text/javascript">
                $(document).ready(function () {
                    window.irk.misprintEngine.init();
                });
            </script>
        </section>
        <section class="b-social">
            {% share object %}
        </section>
    <section class="b-content-block">{% comments object %}</section>
{% endblock b-content-cr %}
