{% load i18n admin_static admin_modify upload_tags admin_utils staticfiles thumbnail %}

<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/fileapi.css' %}">

<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
        {{ inline_admin_formset.formset.management_form }}
        <fieldset class="module no-bbcodes">
            <h2>Галерея</h2>
            <a id="last-photo"></a>
            <label class="b-upload__hint type_2" for="toggle_watermarks">
                <input type="checkbox" name="toggle_watermarks" id="toggle_watermarks"> Установить ватермарки для всех
            </label>
            <div class="b-upload__hint type_2">
                {% if inline_admin_formset and inline_admin_formset|inline_admin_formset_model_name == 'Photo' %}
                    Максимальный размер 960х660 пикс.
                {% elif inline_admin_formset and inline_admin_formset|inline_admin_formset_model_name == 'Article' %}
                    Максимальная ширина фото вставляемой в текст размер 705 пикс. Размер фото помеченого как основное
                    705х530 пикс.
                {% elif inline_admin_formset and inline_admin_formset|inline_admin_formset_model_name == 'Offer' %}
                    Размер фотографий для обычных предложений должен быть 620х294 пикс., для суперпредложений - 620х245 пикс. Иначе в слайдере будут косяки.
                {% else %}
                    Файлы - не более 300х270 и не менее 100x60 пикс., jpeg или gif, до 25 КБ.
                {% endif %}
            </div>
            {{ inline_admin_formset.formset.non_form_errors }}

            {% admin_multiupload original inline_admin_formset %}

            <div class="b-upload-lastsession">
                {% for inline_admin_form in inline_admin_formset %}
                    {# FIXME: Проверка not forloop.last нужна, чтобы не отображать пустое поле для добавления картинки #}
                    {% if inline_admin_form.needs_explicit_pk_field and not forloop.last %}
                    <div id="file_{{ forloop.counter0 }}" class="js-file-tpl b-thumb{% if inline_admin_form.form.instance.main %} main{% endif %}" data-id="<%=uid%>">
                        {% thumbnail inline_admin_form.original.picture.image 100x100 as main_thumb %}
                        {% if main_thumb %}
                            <div class="image">
                                <img alt="" title="" src="{{ main_thumb }}" width="{{ main_thumb.width }}" height="{{ main_thumb.height }}" />
                            </div>
                        {% endif %}
                        <div class="b-thumb__name"></div>
                        <input id="id_gallerypicture_set-{{ forloop.counter0 }}-picture_0" name="gallerypicture_set-{{ forloop.counter0 }}-picture_0" type="file">
                        <input id="id_gallerypicture_set-{{ forloop.counter0 }}-picture_1" name="gallerypicture_set-{{ forloop.counter0 }}-picture_1" type="hidden" value="{{ inline_admin_form.original.picture.id }}">
                        <input id="id_gallerypicture_set-{{ forloop.counter0 }}-picture_2" name="gallerypicture_set-{{ forloop.counter0 }}-picture_2" type="text" value="{{ inline_admin_form.original.picture.title }}">
                        {{ inline_admin_form.form.gallery }}
                        {{ inline_admin_form.form.id }}
                        <div class="j-gallery-main" style="display: none">{{ inline_admin_form.form.main }}</div>

                        {% if inline_admin_form.form.instance.pk %}
                            <div class="gallery-bb-input">
                                <input type="text" value="[image {{ inline_admin_form.form.instance.pk }}]">
                            </div>
                        {% endif %}

                        <div data-counter="{{ forloop.counter0 }}" class="thumb__main j-thumb__main" title="Главная">главная</div>
                        <div data-counter="{{ forloop.counter0 }}" class="thumb__del j-thumb__del" title="Удалить">удалить</div>

                        <label for="id_gallerypicture_set-{{ forloop.counter0 }}-picture_3"><input class="j-thumb__watermark" data-counter="{{ forloop.counter0 }}" id="id_gallerypicture_set-{{ forloop.counter0 }}-picture_3" name="gallerypicture_set-{{ forloop.counter0 }}-picture_3" type="checkbox"{% if inline_admin_form.original.picture.watermark %} checked="checked" {% endif %}> Ватермарк</label>
                        {% if form.errors %}
                            <div class="pic-error"><span class="g-color-red">Вы забыли загрузить фотографию</span></div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    (function ($) {
        var $gallery = $('#gallerypicture_set-group'),
            $togglerWatermarks = $('#toggle_watermarks');

        $togglerWatermarks.on('change', function (e) {
            var $this = $(this),
                id = parseInt($('#id_gallerypicture_set-0-gallery').val(), 10),
                state = $this.prop('checked'),
                $galleryInputs = $gallery.find('.j-thumb__watermark');

            $galleryInputs.prop('checked', state);

            if ($galleryInputs.length > 0) {
                $.ajax({
                    url: "{% url 'gallery:set_watermark_all' %}",
                    data: {
                        csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
                        'id': id,
                        'check': state
                    },
                    type: "POST",
                    success: function (data, textStatus, jqXHR) {
                    },
                    error: function() {
                        $this.prop('checked', !state);
                        $galleryInputs.prop('checked', !state);
                    }
                });
            }
        });
    })(django.jQuery);
</script>
