{% extends 'layout.html' %}

{% load staticfiles media_utils adv_tags str_utils site_utils %}

{% block title %}IRK.racing | {{ block.super }}{% endblock %}

{% block style %}
    {{ block.super }}
    {% less '/less/compile/landings/racinggame.less' %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tvoyirkutsk">
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:description" content="Прокатись по Иркутску в игре, выполненной в стилистике старых Dendy-игр. Ставь свои рекорды и соревнуйся с другими пользователями IRK.ru. Попади в десятку лучших гонщиков Иркутска.">
    <meta name="description" content="Прокатись по Иркутску в игре, выполненной в стилистике старых Dendy-игр. Ставь свои рекорды и соревнуйся с другими пользователями IRK.ru. Попади в десятку лучших гонщиков Иркутска.">
    {# Отдельная широкоформатная фотография для твиттера #}
    <meta name="twitter:image" content="{% static 'img/game/racing/irkracing.jpg' %}" />
    <meta property="og:image" content="{% static 'img/game/racing/irkracing.jpg' %}">
{% endblock %}

{% ibanner id=311 template='adv/banners/text_widget_layout.html' %}

{% block b-content %}
    <div class="not-auth {% if not request.user.username %}go{% endif %}">
        <h3>Вы не авторизованы на нашем сайте, в топ ваш результат не попадет!</h3>
        <div class="close"></div>
    </div>

    <div class="persons">
        <div class="persons-list">
            <div class="persons-title">
                <table class="t-persons">
                    <thead>
                    <tr>
                        <th class="col-1">Имя</th>
                        <th class="col-2">Результат</th>
                    </tr>
                    </thead>
                </table>
            </div>
            {% if top %}
            {% for player in top %}
            <div class="fly count-{{ forloop.counter }}">
                <table class="t-persons">
                    <tr>
                        <td class="col-1"><div class="u-{{ player.0 }}" data-time-sec="{{ player.1|stringformat:".15f" }}">{{ player.0 }}</div></td>
                        <td class="col-2">{{ player.1|stringformat:".15f" }}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div id="user_data" class="hide" data-user="{{ request.user.username }}">
            <table class="t-persons">
                <tr>
                    <td class="col-1"><div></div></td>
                    <td class="col-2"></td>
                </tr>
            </table>
        </div>

        <div class="help">
            <span>Управление</span>
            <div class="help-control">
                <ul class="b-list-v">
                    <li class="icon-arrow top">&mdash;<span>газ</span></li>
                    <li class="icon-arrow bottom">&mdash;<span>тормоз</span></li>
                    <li class="icon-arrow left">&mdash;<span>повернуть налево</span></li>
                    <li class="icon-arrow right">&mdash;<span>повернуть направо</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="racer">
        <div id="hud">
            <span id="speed"            class="hud"><span id="speed_value" class="value">0</span> км/ч</span>
            <span id="current_lap_time" class="hud">Время: <span id="current_lap_time_value" class="value">0.0</span></span>
            <span id="last_lap_time"    class="hud">Результат: <span id="last_lap_time_value" class="value">0.0</span></span>
            <span id="fast_lap_time"    class="hud">Рекорд: <span id="fast_lap_time_value" class="value">0.0</span></span>
        </div>
        <canvas id="canvas"></canvas>
        Загрузка...
    </div>

    <div class="copyright">Игра распространяется под лицензией <a href="http://ru.wikipedia.org/wiki/%D0%9B%D0%B8%D1%86%D0%B5%D0%BD%D0%B7%D0%B8%D1%8F_MIT">MIT</a>.
        Автором оригинальной игры является <a href="https://github.com/jakesgordon">Jake Gordon</a></div>

    <div class="b-no-canvas">
        <p>К сожалению, данная игра не может быть запущена, так как ваш браузер не поддерживает технологию &lt;canvas&gt;
            Обновите браузер и попробуйте еще раз.</p>
    </div>

    <div class="b-social">
        <div class="share" id="social-buttons">
            <div class="share-vkontakte"></div>
            <div class="share-facebook">
                <div id="fb-root"></div>
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend" data-href="{{ request.scheme }}://{% get_site_url www %}/racing/?utm_source=facebook&utm_medium=socialnetwork"></div>
            </div>
            <div id="ok_shareWidget" class="share-odnoklassniki"></div>
            <div class="share-twitter">
                <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.irk.ru/racing/%3Futm_source%3Dtwitter%26utm_medium%3Dmicroblog%26utm_campaign%3Dtwitter1&amp;text=%D0%93%D0%BE%D0%BD%D1%8F%D1%8E%20%D0%BF%D0%BE%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%83%20%D0%B2%20irk.racing&amp;related=tvoyirkutsk&amp;lang=ru" class="twitter-share-button">Tweet</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function sendResults(lastLapTime){
            {% if request.user.username %}
                $.ajax({
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    url: "{% url 'racinggame:save_record' %}",
                    data: {
                        fast_lap_time : lastLapTime,
                        player: '{{ request.user.username }}'
                    },
                    success: function (data) {
                        //if (data.result) cheater();
                    }
                });
            {% endif %}
        }
        function getTop(){
            $.ajax({
                cache: false,
                type: "POST",
                dataType: "json",
                url: "{% url 'racinggame:index' %}",
                data: {
                    player: '{{ request.user.username }}'
                },
                success: function(data) {
                    reTop(data);
                }
            });
        }
    </script>
    <script type="text/javascript" src="{% static 'js/apps-js/game/racing/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apps-js/game/racing/game.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apps-js/game/racing/helper.js' %}"></script>
{% endblock %}
