{% extends "news-less/layout.html" %}

{% load game_tags str_utils pytils_dt news_tags pages staticfiles media_utils %}

{% block meta_adaptive %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
{% endblock meta_adaptive %}

{% block style_adaptive %}
    {% less '/less/compile/adaptive/semi-adaptive.less' media='all' %}
{% endblock %}

{% block js_adaptive %}
    <script type="text/javascript" src="{% static 'js/apps-js/semi-adaptive.js' %}"></script>
{% endblock %}


{% block title %}Подписка на новости | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/js/news-subscr.js' %}"></script>
{% endblock %}

{% block b-content-class %} subscription{% endblock %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% treasure 'subscription' %}
{% endblock %}

{% block b-content %}
    <div class="b-content-block b-title-search">
        <ul class="b-list-h">
            {% spaceless %}
            <li><h1>Рассылка новостей от IRK.ru</h1></li>
            {% endspaceless %}
        </ul>
    </div>
    <section class="b-subscription arrow-bottom">
        {% if user.is_authenticated %}
        <ul class="b-list-h">
            {% spaceless %}
            <li><label for="id_email">электронная почта:</label><p class="email">{{ email }}</p></li>
            <li class="g-last">
                <form method="POST" action="" id="subscription-form">{% csrf_token %}
                    <input class="b-submit" type="submit" value="Подписаться" />
                </form>
            </li>
            {% endspaceless %}
        </ul>
        {% else %}
        <form action="" method="POST" id="subscription-form">{% csrf_token %}
            <ul class="b-list-h not-auth">
                <li class="g-first">
                    <label for="id_email">электронная почта:</label>
                    {{ form.email }}
                    {% if form.email.errors %}<label for="id_email" class="error">этот email уже подписан на рассылку</label>{% endif %}
                </li>
                <li class="l-captcha {% if form.captcha.errors %}error{% endif %}">
                    <script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>
                    {% spaceless %}{{ form.captcha }}{% endspaceless %}
                    {% if form.captcha.errors %}<label for="id_captcha_1" class="error">неверно введено</label>{% endif %}
                </li>
                <li class="g-last">
                    <input class="b-submit" type="submit" value="Подписаться" />
                </li>
            </ul>
        </form>
        {% endif %}
    </section>

    <section class="b-subscription-message">
        <ul class="b-list-h">
            {% spaceless %}
            <li><h2>&ndash; твой Иркутск</h2></li>
            <li class="g-last"><small class="g-color-gray">рассылка производится по будням в 20:00</small></li>
            {% endspaceless %}
        </ul>

        {{ distribution_message }}
    </section>
{% endblock %}
