{% extends "to_user.html" %}

{% load site_utils str_utils news_tags %}

{% block user_name %}{{ parent_comment.user }}{% endblock %}

{% block body_letter %}
    <h3>Ответ на Ваше сообщение на сайте Ирк.ру</h3>
    <p>На ваше сообщение:<br/><i>{{ parent_comment.text|typograf:'user' }}</i></p>
    <p>Получен ответ от {{ comment.user }}:<br/>
        <i>{{ comment.text|typograf:'user' }}</i>
    </p>
    <p>Чтобы просмотреть сообщение на сайте, пройдите по ссылке:<br/>
        <a href="https://{% get_site_url www %}{{ comment.get_absolute_url }}">https://{% get_site_url www %}{{ comment.get_absolute_url }}</a>
    </p>
{% endblock %}
