{% load news_tags str_utils date_tags comments_tags thumbnail utils_tags pytils_numeral %}
{% load randint from math_utils %}

{% comment %}
{% if materials %}
    {% if article_read_page %}
        <div class="b-widget-list-bordered b-widget-list-multi b-widget-list-multi-{{ news_list|length }}-{{ materials|length }} orange {% if direction == "horizontal" %}g-content-block{% elif direction == "vertical" %}g-aside-block{% endif %} j-article-aside-float-block g-accelerate j-article-aside-float-similar-materials" data-news-count="{{ news_list|length }}" data-longread-count="{{ materials|length }}">
    {% else %}
        <div class="b-widget-list-bordered b-widget-list-multi orange {% if direction == "horizontal" %}g-content-block{% elif direction == "vertical" %}g-aside-block{% endif %}">
    {% endif %}
        <ul class="b-widget-list-multi-container g-centered-div">
            {% for article in materials %}
                <li class="longread-{{ forloop.counter }}" data-similarity-way="{{ article.way }}">
                    {% material_card article is_light=True is_wide=True metrika_goal=metrika_goal audit_goal=audit_goal audit_material=audit_material %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endcomment %}

{% if materials %}
    <div class="lenta-material__similar__desktop">
        <ul class="grid-list">
            {# три простых материала и один золотой #}
            {% randint 1 4 as rand %}
            {% for article in materials %}
                {% if forloop.counter != rand %}
                    <li class="grid-list__item longread-{{ forloop.counter }}" data-similarity-way="{{ article.way }}">
                        {% material_card article is_light=True is_wide=True metrika_goal=metrika_goal audit_goal=audit_goal audit_material=audit_material %}
                    </li>
                {% else %}
                    <li class="grid-list__item" style="max-width:250px">
                        <!-- CLICKIO AdFox unit 666763 -->
                        <div id='adfox_160224551987624961'></div>
                        <script>
                            (function(w, n) {
                                w[n] = w[n] || [];
                                w[n].push([{
                                    ownerId: 257193,
                                    containerId: 'adfox_160224551987624961',
                                    params: {
                                        pp: 'xfr',
                                        ps: 'djmk',
                                        p2: 'gqpf'
                                    }
                                }, [ 'desktop', 'tablet',], {
                                    tabletWidth: 1024,
                                    phoneWidth: 767,
                                    isAutoReloads: false
                                }]);
                            })(window, 'adfoxAsyncParamsAdaptive');
                        </script>
                    </li>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {# на мобиле показывать другие карточки #}
    {% if request.user_agent.is_gadget %}
        <div class="news-materials">
            <ul class="news-materials__list">
                {% for article in materials %}
                    <li class="news-materials__list__item negative-margin-15 longread-{{ forloop.counter }}" data-similarity-way="{{ article.way }}">
                        {% material_card article is_mobile=True is_wide=True metrika_goal=metrika_goal audit_goal=audit_goal audit_material=audit_material %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endif %}
