{% load news_tags str_utils comments_tags date_tags %}

{% if materials %}
    <section class="b-widget-news-hot-discussion b-widget-list-bordered blue g-aside-block lenta-aside-block">
        <header class="b-widget-list-bordered-header">
            <h3>Горячие обсуждения</h3>
        </header>
        <ul class="b-widget-list-bordered-container">
            {% for entry in materials %}
                <li class="b-widget-list-bordered-container__item{% if forloop.last %} g-last{% endif %}">
                    <article>
                        <h4 class="b-widget-list-bordered-container__title">
                            <a class="b-widget-list-bordered-container__link j-metrika-goal" data-metrika-goal="news_page_top_comments" href="{{ entry.get_absolute_url }}">
                                {{ entry|typograf }}
                            </a>
                        </h4>
                        <time class="b-widget-list-bordered-container__time" datetime="{{ entry.stamp|date:'Y-m-d' }} {{ entry.published_time|date:'H:i' }}">
                            {{ entry.stamp|dates:'%d.%m|%d.%m.%Y' }}&nbsp;{{ entry.published_time|date:'H:i' }}
                        </time>&nbsp;
                        <span class="j-metrika-goal" data-metrika-goal="news_page_top_comments">
                            {% comments_cnt entry new_layout=True with extra_class="b-widget-list-bordered-container__comments" %}
                        </span>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
