{% load news_tags str_utils date_tags comments_tags %}

{% if news_list %}
    <section class="b-widget-list-bordered g-aside-block lenta-aside-block">
        <header class="b-widget-list-bordered-header">
            <h3><a href="{% url 'news:index' %}">Последние новости</a></h3>
        </header>
        <ul class="b-widget-list-bordered-container">
            {% for entry in news_list %}
                <li class="b-widget-list-bordered-container__item{% if forloop.last %} g-last{% endif %}">
                    <article>
                        <h4 class="b-widget-list-bordered-container__title">
                            <a class="b-widget-list-bordered-container__link" href="{{ entry.get_absolute_url }}">
                                {{ entry|typograf }}
                            </a>
                        </h4>
                        <time class="b-widget-list-bordered-container__time" datetime="{{ entry.stamp|date:'Y-m-d' }} {{ entry.published_time|date:'H:i' }}">
                            {% if entry.stamp == date %}{{ entry.stamp|dates:'%d.%m|%d.%m.%Y' }}&nbsp;{% endif %}{{ entry.published_time|date:'H:i' }}
                        </time>
                        <span class="b-widget-list-bordered-container__comments">
                            {% comments_cnt entry new_layout=True %}
                        </span>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
