{% load cache_tags thumbnail news_tags comments_tags str_utils %}

{% spaceless %}
    {% if objects %}
        <div class="b-aside-block b-aside-news">
            <h3>
                {% if url %}<a href="{{ url }}">{% endif %}
                {{ title }}
                {% if url %}</a>{% endif %}
            </h3>

            <ul class="b-list-v">
                {% for object in objects %}
                    <li>
                        <header class="g-title"><h5><a href="{{ object.get_absolute_url }}">{% if object.gallery.main_image.image %}{% thumbnail object.gallery.main_image.image 140x90 as thumb %}<img style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;" alt="{{ object.gallery.main_image.alt|typograf:'title'|safe }}" src="{{ thumb }}">{% endif %}{{ object.title|typograf:'title'|safe }}</a></h5>&nbsp;&nbsp;<small class="g-color-gray">{{ object.stamp|date:"d.m" }} {% comments_cnt object new_layout=True %}</small></header>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endspaceless %}
