{% load adv_tags str_utils comments_tags thumbnail paginator_utils date_tags rating_tags %}
{% spaceless %}
{% for object in objects %}
    <div {% if forloop.last %} data-exclude="{{ exclude_pk }}" {% if objects.has_previous %}data-prevpage="{{ objects.previous_page_number }}"{% endif %}{% if objects.has_next %} data-nextpage="{{ objects.next_page_number }}"{% else %} class="g-last"{% endif %}{% endif %}>
        {% with object.preview as thumb_img %}
            {% thumbnail thumb_img 300x300 as thumb %}
            <a href="{% url 'news:infographic:read' object.pk %}" title="{{ object.title|typograf:'title'|safe }}"{% if objects.has_next %}{% else %} class="g-last"{% endif %}>
                <img src="{{ thumb }}" alt="{{ object.caption|typograf:'title'|safe }}" style="width: 100%;">
            </a>
        {% endwith %}
        <h4><a href="{% url 'news:infographic:read' object.pk %}" title="{{ object.title|typograf:'title'|safe }}">{{ object.title|typograf:'title'|safe }}</a></h4>
        &nbsp;<small class="g-color-gray"><time>{{ object.stamp|dates:'%d.%m|%d.%m.%Y' }}</time></small>
        &nbsp;<small class="g-color-gray">{% comments_cnt object new_layout=True %}</small>
    </div>
{% endfor %}
{% endspaceless %}
