{% extends 'news-less/layout.html' %}

{% load adv_tags cache_tags staticfiles media_utils str_utils thumbnail comments_tags share_utils site_utils news_tags rating_tags date_tags admin_utils %}

{% block title %}{{ object.title|typograf }} | Инфографика | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/lib/owl.carousel-1.31.js' %}"></script>
    <script src="{% static 'news/js/news-graphics.js' %}"></script>
{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'graphics.instance.meta' vary='object.id' tags='infographic' %}{% spaceless %}
        {% include 'share_meta.html' with card='summary_large_image' url=object.get_absolute_url title=object.title description=object.caption image=object.preview %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block b-content %}
    <article class="b-content-article g-content-block">
        {% if object.project %}
            <div class="special__link-container special__link-container_left g-margin-bottom-20">
                {% include 'special/snippets/link.html' with name=object.project.title|typograf url=object.project.get_absolute_url %}
            </div>
        {% endif %}
        <header>
            <h1>
                {{ object.title|typograf }}
                {% get_object_admin_link object %}
            </h1>

            <p class="g-subtitle g-color-gray">
                <time class="g-margin-right-5">{{ object.stamp|dates:'%d %B|%d %B %Y' }}</time>
                <span class="g-margin-right-5 j-comments-scroll">{% comments_cnt object new_layout=True %}</span>
                {% rating_result object 'ratings/widgets/like_blogs_count.html' %}
            </p>

            <p>{{ object.caption|typograf:'admin' }}</p>
        </header>

        <div class="b-content-article-text">
            {% if object.image %}
                {% thumbnail object.image 940x10000000 quality=100 as thumb %}
                <p><img src="{{ thumb }}" {% if object.gallery.main_image.alt %}alt="{{ object.gallery.main_image.alt|typograf }}"{% endif %} width="{{ thumb.width }}px" height="{{ thumb.height }}px"></p>
            {% endif %}
            {% if object.iframe_url %}
                <iframe src="{% static object.iframe_url %}" frameborder="0" width="940px" height="{{ object.iframe_height }}px" class="g-overflow g-indent"></iframe>
            {% endif %}
        </div>

        <footer>
            {% if object.author %}<div class="b-content-article-author">{{ object.author|typograf:'admin' }}</div>{% endif %}
            {% rating object 'ratings/widgets/like_blogs.html' %}
            {% if not object.is_hidden %}
                {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp object=object %}
            {% endif %}
        </footer>
    </article>
    <section class="b-infographics-paginator j-owl-ajax-paginator" data-graphid="{{ object.pk }}" data-url="{% url 'news:infographic:paginator' %}">
        <header>
            <h3>Смотрите также:</h3>
        </header>
        <div class="b-list-h j-owl-carousel">
            {% include 'news-less/infographic/entries.html' with objects=latest %}
        </div>
        <div class="owl-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal"></div>
        <div class="owl-next jcarousel-next-horizontal jcarousel-next-disabled-horizontal"></div>
    </section>
    <div class="g-grid-column-8">{% comments object %}</div>
{% endblock b-content %}
