{% extends layout %}

{% load staticfiles media_utils str_utils comments_tags thumbnail paginator_utils news_tags pytils_dt date_tags special_tags gallery_tags experts_tags rating_tags utils_tags %}

{% block title %}{{ project.title|typograf:"title"|safe }} | {{ block.super }}{% endblock %}

{% block b-content-parent %}
    <section class="b-content b-special">
        <header class="b-special-header" style="background-color: #{{ project.color }}">
            <h1><span>{{ project.title|typograf:"title"|safe }}</span></h1>
            <div class="description">
                <div>{{ project.description|typograf:"admin"|safe }}</div>
            </div>
        </header>

        <section class="b-special-articles">
            {% if project.html_head %}
                <div class="b-special-video">
                    <div class="container">
                        {{ project.html_head|safe }}
                    </div>
                </div>
            {% endif %}
            <ul class="b-list-v b-special-articles-list{% if not have_article %} g-photo g-centered{% elif not have_photo %} g-centered{% endif %}">
                {% for entry in materials %}
                    {% if entry|classname == 'Article'%}
                        {% spaceless %}
                            <li class="g-article{% if forloop.last %} g-last{% endif %}">
                                {% with entry.image as thumb_img %}
                                    {% thumbnail thumb_img 800x1000 as thumb %}
                                    <header>
                                        <h3><a href="{{ entry.get_absolute_url }}" title="{{ entry.title|typograf }}">{{ entry.title|typograf }}</a></h3>
                                        <small class="g-color-gray">&nbsp;<time>{{ entry.stamp|dates:'%d.%m|%d.%m.%Y' }}</time></small>&nbsp;<small class="g-color-gray">{% comments_cnt entry new_layout=True %}</small>
                                    </header>
                                    <article>
                                        <figure>
                                            <a href="{{ entry.get_absolute_url }}" title="{{ entry.title|typograf }}">
                                                <img src="{{ thumb }}" alt="{{ entry.caption_short|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                                {% if entry.caption %}<figcaption><span>{{ entry.caption|typograf }}</span></figcaption>{% endif %}
                                            </a>
                                        </figure>
                                    </article>
                                {% endwith %}
                            </li>
                        {% endspaceless %}
                    {% elif entry|classname == 'Photo'%}
                        {% spaceless %}
                            <li class="g-photo{% if forloop.last %} g-last{% endif %}">
                                {% with entry.image as thumb_img %}
                                    {% thumbnail thumb_img 800x1000 as thumb %}
                                    <header>
                                        <h3><a href="{{ entry.get_absolute_url }}" title="{{ entry.title|typograf }}">{{ entry.title|typograf }}</a></h3>
                                        <small class="g-color-gray">&nbsp;<time>{{ entry.stamp|dates:'%d.%m|%d.%m.%Y' }}</time></small>&nbsp;<small class="g-color-gray">{% comments_cnt entry new_layout=True %}</small>
                                    </header>
                                    <figure>
                                        <a href="{{ entry.get_absolute_url }}" title="{{ entry.title|typograf }}">
                                            <img src="{{ thumb }}" alt="{{ entry.caption_short|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                            {% if entry.caption_short %}<figcaption><span>{{ entry.caption_short|typograf }}</span></figcaption>{% endif %}
                                        </a>
                                    </figure>
                                    <div>{% gallery entry.gallery.main_gallery|slice:"1:6" "90x70" max=true crop="90x70" class="b-list-v" url=entry %}</div>
                                {% endwith %}
                            </li>
                        {% endspaceless %}
                    {% else %}
                        <li {% if forloop.last %}class="g-last"{% endif %}>
                            {% with entry.preview as thumb_img %}
                                {% thumbnail thumb_img 740x700 as thumb %}
                                <header>
                                    {% spaceless %}
                                        <h3><a href="{{ entry.get_absolute_url }}" title="{{ entry.title|typograf }}">{{ entry.title|typograf }}</a></h3>
                                    {% endspaceless %}
                                    <small class="g-color-gray"><time>{{ entry.stamp|dates:'%d.%m|%d.%m.%Y' }}</time></small>
                                    <small class="g-color-gray">{% comments_cnt entry new_layout=True %}</small>
                                    {% rating_result entry 'ratings/widgets/results/like_special.html' %}
                                </header>
                                <article>
                                    <figure>
                                        <a href="{{ entry.get_absolute_url }}" title="{{ entry.title|typograf }}">
                                            <img src="{{ thumb }}" alt="{{ entry.caption|typograf }}">
                                            {% comment %}
                                    {% if entry.caption %}<figcaption>{{ entry.caption|typograf }}</figcaption>{% endif %}
                                    {% endcomment %}
                                        </a>
                                    </figure>
                                </article>
                            {% endwith %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section class="b-special b-content-block">
            {% if expert %}
            {# Пресс-конференции #}
            <section class="b-special-block">
                <header><h3><a href="{% url 'news:experts:index' %}" title="Конференции">Конференции</a></h3></header>
                <ul class="b-list-v">
                    <li>
                        <header class="g-title">
                            {% thumbnail expert.image 300x900 as thumb %}
                            <h5><a href="{{ expert.get_absolute_url }}" title="{{ expert.image_title|typograf:"title"|safe }}"><img src="{{ thumb }}" alt="{{ expert.image_title|typograf:"title"|safe }}" width="300" style="width: {{ thumb.width }}px">{{ expert.title|typograf|safe }}</a></h5>&nbsp;
                            <small class="g-color-gray">{{ expert.stamp_start|date:"d.m" }}&nbsp;&nbsp;{% comments_cnt expert new_layout=True %}</small>
                        </header>
                        <article>{{ expert.specialist|typograf|safe }}</article>
                        <small class="g-color-gray">ответы даны {{ expert.stamp_publ|ru_strftime:"%d %B %Y"|capfirst }}</small>
                    </li>
                </ul>
            </section>
            {% endif %}
            {% if poll %}
                <section class="b-special-poll" style="border: solid 1px #{{ project.color }};">
                    {% include "polls/tags/poll_block.html" %}
                </section>
            {% endif %}
        </section>
    </section>
{% endblock b-content-parent %}
