{% extends 'newyear2014/layout_cr.html' %}

{% load gallery_tags form_tags staticfiles media_utils staticfiles str_utils %}

{% block title %}Форма заявки участника конкурса | Конкурсы | {{ block.super }}{% endblock title %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.b-table tr:odd').addClass('g-odd')
        })
    </script>
{% endblock %}

{% block b-content-cr %}
    <div class="b-content-block b-breadcrumbs">
        <ul class="b-list-h">
            <li><a href="{% url 'newyear2014.views.index' %}">2015</a></li>
            <li><a href="{% url 'newyear2014.views.contests.index' %}">Новогодние конкурсы</a></li>
            <li><a href="{{ contest.get_absolute_url }}">{{ contest|typograf:'title'|safe }}</a></li>
        </ul>
    </div>
    <header class="g-intend">
        <h1>Форма заявки участника конкурса</h1>
    </header>
    <article class="b-ny2014-contest">
        <form method="POST" enctype="multipart/form-data" id="form-create">{% csrf_token %}
            <table class="b-table">
                {% form_table_row form.name 'title' %}
                {% form_table_row form.title 'title' %}
                {% form_table_row form.content 'description' %}
                {% if not user.is_authenticated %}
                    {% form_table_row form.email 'email' %}
                {% endif %}
                <tr>
                    <th>Галерея<span class="g-color-red">*</span></th>
                    <td>
                        {{ form.image }}
                        <small class="g-color-gray">Загружаемые фотографии должны быть в формате <b>jpeg, gif, png</b>. Максимальный размер фотографии не должен превышать <b>500Кб</b>.</small>
                        <small class="g-color-red">{{ form.image.errors }}</small>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button class="b-button" type="submit">Отправить</button>
                    </td>
                </tr>
            </table>
        </form>
    </article>
{% endblock b-content-cr %}

