{% load adv_tags cache_tags str_utils pytils_numeral pytils_dt polls_tags tourism_tags news_tags %}
{% comment %}
<section class="b-aside-block b-tourism-traveller">
    <a href="{% url 'tourism:companion:search' %}">
        <header>
            <h3>Попутчик</h3>
        </header>
        <div class="container"></div>
    </a>
</section>
{% endcomment %}

{% ibanner ID=579 template='adv/div.html' as banner579 %}
{% if banner579 %}
    <div class="b-aside-block g-desktop">{{ banner579 }}</div>
{% endif %}

<div class="tourism-schedule">
    <nav>
        <h4 class="tourism-schedule__title">Расписание</h4>

        <ul class="tourism-schedule-list">
            <li class="tourism-schedule-list__item">
                {% if etrains %}
                    <span class="tourism-schedule-list__stroke">
                        Электрички
                    </span>
                {% else %}
                    <a class="tourism-schedule-list__link" href="{% url 'tourism:transport_etrains' %}">
                        Электрички
                    </a>
                {% endif %}
            </li>
            <li class="tourism-schedule-list__item">
                {% if trains %}
                    <span class="tourism-schedule-list__stroke">
                        Поезда
                    </span>
                {% else %}
                    <a class="tourism-schedule-list__link" href="{% url 'tourism:transport_trains' %}">
                        Поезда
                    </a>
                {% endif %}
            </li>
            <li class="tourism-schedule-list__item">
                {% if air_board %}
                    <span class="tourism-schedule-list__stroke">
                        Самолеты
                    </span>
                {% else %}
                    <a class="tourism-schedule-list__link" href="{% url 'tourism:airport' %}">
                        Самолеты
                    </a>
                {% endif %}
            </li>
            <li class="tourism-schedule-list__item">
                {% url 'tourism:aviasales' as aviasales_url %}
                {% if request.path == aviasales_url %}
                    <span class="tourism-schedule-list__stroke">
                        Купить авиабилет
                    </span>
                {% else %}
                    <a class="tourism-schedule-list__link" href="{% url 'tourism:aviasales' %}">
                        Купить авиабилет
                    </a>
                {% endif %}
            </li>
            {% get_seasons "is_summer_season" "is_winter_season" %}
        </ul>
    </nav>
</div>

{% if news_index %}
    {% news_sidebar_block 'news' limit=4 %}
{% endif %}

{% ibanner ID=257 template='adv/div.html' as banner257 %}
{% if banner257 %}
    <div class="b-aside-block g-desktop">{{ banner257 }}</div>
{% endif %}

{% if type == 'index' %}
<aside class="b-aside-block">
<script charset="utf-8" src="//www.travelpayouts.com/widgets/51ef8d0921c3df3ec9000009.js?v=1508" async></script>
</aside>
{% endif %}

{% comment %}
<!-- Интерактив - голосование -->
    {% poll %}
<!-- /Интерактив - голосование -->

<!-- Форум -->
<div class="b-aside-block">
</div>
<!-- /Форум -->
{% endcomment %}
