{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils utils_tags thumbnail phones_tags %}
<!DOCTYPE html><html>
<head>
    {% include 'share_meta.html' with url='/memory-yota/' title='Проверка на внимательность' description='Проверка на внимательность' static_image='img/landing_pages/memory/share.jpg' static_image_width=800 static_image_height=420 %}

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--metatextblock-->
    <title>Yota</title>
    <meta property="og:url" content="http://irk.ru/page19226897.html" />
    <meta property="og:title" content="Blank page" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="http://irk.ru/page19226897.html"><!--/metatextblock-->
    <meta property="fb:app_id" content="257953674358265" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="dns-prefetch" href="https://static.tildacdn.com">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
        </script>

        <script type="text/javascript" src="{% static 'js/lib/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        <script src="{% static 'js/lib/jquery.swiper.3.0.5.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/apps-js/landing/memory.js' %}"></script>
    {% endblock js %}

    {% block style %}
        {% less '/less/compile/landings/memory.less' %}
    {% endblock style %}

    {% if settings.DEBUG_ADAPTIVE or request.user_agent.is_gadget %}
        {% block style_adaptive %}
            {% less '/less/compile/adaptive/landings/memory.less' media='all' %}
        {% endblock style_adaptive %}
    {% endif %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

</head>

<body class="j-toggle-target-bodyhide" data-toggle-class="b-main-menu-opened">

{% include 'yandex_metrika.html' %}
{% include 'snippets/header.html' %}


<main class="game">
    <h1 class="game__title">
        Найди все пары!
    </h1>
    <section class="game__cards js-cards">

			<div class="game__card js-card" data-animal="flip1">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people.png' %}" />
                            <div class="people-name">
                                Алиса
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Маркетолог
                            </div>
                            <div class="card__info">
                                Не представляет свою жизнь без телефона. Всегда в курсе всех событий.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip1">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people.png' %}" />
                            <div class="people-name">
                                Алиса
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>1944</b> минуты<br />
                                <b>42</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/y.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/f.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/t.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip2">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

					<div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people2.png' %}" />
                            <div class="people-name">
                                Маша
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Студентка
                            </div>
                            <div class="card__info">
                                Часто зовнит родителям по Skype, а на лекции ходит в Zoom.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip2">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people2.png' %}" />
                            <div class="people-name">
                                Маша
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>997</b> минут<br />
                                <b>21</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/w.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/video.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip3">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people3.png' %}" />
                            <div class="people-name">
                                Вася
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Душа компании
                            </div>
                            <div class="card__info">
                                Всегда старается поддерживать связь со всеми друзьями и знакомыми.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip3">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people3.png' %}" />
                            <div class="people-name">
                                Вася
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>1677</b> минуты<br />
                                <b>25</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/w.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/tg.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/i.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip4">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people4.png' %}" />
                            <div class="people-name">
                                Макс
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Бизнесмен
                            </div>
                            <div class="card__info">
                                Постоянно на связи с коллегами. Zoom, Skype, почта - его лучшие друзья.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip4">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people4.png' %}" />
                            <div class="people-name">
                                Макс
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>1878</b> минуты<br />
                                <b>36</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/video.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/mail.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/auto.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip5">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people5.png' %}" />
                            <div class="people-name">
                                Андрей
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Интроверт
                            </div>
                            <div class="card__info">
                                По телефону разговаривает только по делу. Обожает сериалы.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip5">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people5.png' %}" />
                            <div class="people-name">
                                Андрей
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>62</b> минуты<br />
                                <b>17</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/lenta.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip6">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people6.png' %}" />
                            <div class="people-name">
                                Лена
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Фитнес-тренер
                            </div>
                            <div class="card__info">
                                Ищет новых клиентов в Instagram и мечтает прославиться.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip6">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people6.png' %}" />
                            <div class="people-name">
                                Лена
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>26</b> минут<br />
                                <b>14</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/ti.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/i.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/d.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip7">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people7.png' %}" />
                            <div class="people-name">
                                Илья
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Программист
                            </div>
                            <div class="card__info">
                                Пока пишет код, постоянно слушает музыку. Смотрит игровые стримы.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip7">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people7.png' %}" />
                            <div class="people-name">
                                Илья
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>86</b> минут<br />
                                <b>13</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/tg.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/music.png' %}" />
                                    <img src="{% static '/img/landing_pages/memory/play.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip8">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people8.png' %}" />
                            <div class="people-name">
                                Вика
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__title">
                                Садовод-любитель
                            </div>
                            <div class="card__info">
                                Живет за городом и ведет блог о сельском хозяйстве.
                            </div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="game__card js-card" data-animal="flip8">
				<div class="game__back-card">

                    <img src="https://i.pinimg.com/originals/cf/70/4c/cf704cf9523b60b2c770cb2783e19cc4.png" width="90" height="90" class="t-img" imgfield="img7">

				</div>
				<div class="game__front-card">

                    <div class="card__content">
                        <div class="card__content__left">
                            <img src="{% static '/img/landing_pages/memory/people8.png' %}" />
                            <div class="people-name">
                                Вика
                            </div>
                        </div>
                        <div class="card__content__right">
                            <div class="card__big">
                                <b>1677</b> минут<br />
                                <b>25</b> гигабайт
                            </div>
                            <div class="card__info">

                                <div class="card__social">
                                    <img src="{% static '/img/landing_pages/memory/tg.png' %}" />
                                </div>

                            </div>
                        </div>
                    </div>

				</div>
			</div>

		</section>
    <div class="links js-next">
        <div class="inner">
            <a href="/games/memory-yota/result/">
                Продолжить
            </a>
        </div>
    </div>
</main>

</div>
</div>
</div>
</div>

<script>
   class MemoryGame {

  constructor() {
    this.duration = 1000;
    this.cardsContainer = document.querySelector('.js-cards');
    this.nextLinks = document.querySelector('.js-next');
    this.cards = Array.from(this.cardsContainer.children);
  }

  shuffleCards() {
    this.cards.forEach(card => {
      const randomNumber = Math.floor(Math.random() * this.cards.length) + 1;

      card.classList.remove('has-match');

      setTimeout(() => {
        card.style.order = `${randomNumber}`;
        this.flipCards(card);
      }, 400);
    });
  }

  flipCards(card) {
    card.classList.add('flipped');

    setTimeout(() => {
        card.classList.remove('flipped');
    }, 2500);
  }

  nextScreen() {
	  window.location.replace("/games/memory-yota/result/");
  }

  checkAllCards() {
    if (!this.cards.every(card => card.classList.contains('has-match'))) return;

    setTimeout(() => {
      this.nextScreen();
    }, this.duration);
  }

  stopEvent() {
    this.cardsContainer.classList.add('no-event');

    setTimeout(() => {
      this.cardsContainer.classList.remove('no-event');
    }, this.duration);
  }

  checkIfMatched(firstCard, secondCard) {
    if (firstCard.dataset.animal === secondCard.dataset.animal) {
      firstCard.classList.remove('flipped');
      secondCard.classList.remove('flipped');

      firstCard.classList.add('has-match');
      secondCard.classList.add('has-match');

      this.checkAllCards();
    } else
    {
      setTimeout(() => {
        firstCard.classList.remove('flipped');
        secondCard.classList.remove('flipped');
      }, this.duration);
    }
  }

  flip(selectedCard) {
    selectedCard.classList.add('flipped');

    const flippedCards = this.cards.filter(card => card.classList.contains('flipped'));

    if (flippedCards.length === 2) {
      this.stopEvent();
      this.checkIfMatched(flippedCards[0], flippedCards[1]);
    }
  }}



const game = new MemoryGame();
game.shuffleCards();

game.cards.forEach(card => {
  card.addEventListener('click', game.flip.bind(game, card));
});

</script>

</div>
</div>
</div>
</div>
</div>

{% include 'snippets/footer.html' %}

</body>
</html>