{% comment %}
    Спецпроекты на главной
    input:
        items - список спецпроектов и метаматериалов
{% endcomment %}

{% load str_utils cache_tags thumbnail pytils_numeral comments_tags %}


<section class="g-indent g-clear b-home-special-card-container-outer j-analytics-impression" data-analytics-category="Home Special Block">
    <div class="j-metrika-goal-hover" data-metrika-goal="index_scroll_spec"></div>
    <div class="b-container-inner">
        <div class="b-content">
            <ul class="b-home-special-card-container">
                {% for item in items %}
                    {# поле materials есть только у спецпроектов #}
                    {% if item.materials %}
                        <li class="b-home-special-card-container-item {{ item.view }}">
                            {# поле view определяет как нужно рендерить элемент. Есть 2 вида single и double #}
                            <ul class="b-home-special-card-list {{ item.view }}">
                                {% for material in item.materials|slice:':3' %}
                                    <li class="b-home-special-card-list-item{% if not forloop.first %} small{% endif %}">
                                        {% if forloop.first %}
                                            <article class="b-home-special-card g-relative {{ item.view }}">
                                            <a href="{{ material.get_absolute_url }}" class="g-block j-metrika-goal j-analytics-click" data-metrika-goal="main_spec_article" data-analytics-category="Home Special" data-analytics-label="{{ material.title|escape }}">
                                                {% if item.view == 'single' %}
                                                    {% thumbnail material.standard_image 580x386 quality=90 crop as standard_image %}
                                                    <img class="b-home-special-card-image" src="{{ standard_image }}" alt="" title="{{ material.title|typograf }}" width="{{ standard_image.width }}" height="{{ standard_image.height }}">
                                                {% else %}
                                                    {% thumbnail material.wide_image 880x416 quality=90 as wide_image %}
                                                    <img class="b-home-special-card-image-double" src="{{ wide_image }}" alt="" title="{{ material.title|typograf }}" width="{{ wide_image.width }}" height="{{ wide_image.height }}">
                                                {% endif %}
                                                <div class="b-home-special-card-header">
                                                    {% with text=material.title|truncatechars:'37' %}
                                                        <h3 class="b-home-special-card-title">{{ material.title|typograf }}</h3>
                                                        {% if material.title|length <= text|length %}
                                                            <div class="b-home-special-card-caption g-margin-bottom-5">{{ material.caption|typograf }}</div>
                                                        {% endif %}
                                                    {% endwith %}
                                                    {% comments_cnt material new_layout=True %}
                                                </div>
                                                </a>
                                            </article>
                                        {% else %}
                                            <article class="b-home-special-card-mini g-relative {{ item.view }}">
                                            {% with text=material.title|truncatechars:'55' %}
                                                <a href="{{ material.get_absolute_url }}" class="j-metrika-goal j-analytics-click" data-metrika-goal="main_spec_article" data-analytics-category="Home Special" data-analytics-label="{{ material.title|escape }}">
                                                    <h3 class="b-home-special-card-mini-title">{{ material.title|typograf }}</h3>
                                                </a>
                                                {% if material.title|length <= text|length %}
                                                    <div class="b-home-special-card-mini-caption g-margin-bottom-5">{{ material.caption|typograf }}</div>
                                                {% endif %}
                                            {% endwith %}
                                                {% comments_cnt material new_layout=True %}
                                                <a href="{{ material.get_absolute_url }}" class="g-all-block-link j-metrika-goal j-analytics-click" data-metrika-goal="main_spec_article" data-analytics-category="Home Special" data-analytics-label="{{ material.title|escape }}"></a>
                                            </article>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a class="b-home-special-card-container-item-link j-metrika-goal j-analytics-click" data-metrika-goal="main_spec_article" href="{{ item.get_absolute_url }}" data-analytics-category="Home Special" data-analytics-label="{{ item.title|escape }}">{{ item.title|typograf }} →</a>
                        </li>

                        {% if forloop.counter == 2 %}
                            {# Адаптивный баннер после 2го спецпроекта #}
                            {% include 'home/base/banner/adaptive-banner-under-special_1.html' %}
                        {% elif forloop.counter == 3 %}
                            {# Адаптивный баннер после 3го спецпроекта #}
                            {% include 'home/base/banner/adaptive-banner-under-special_2.html' %}
                        {% elif forloop.counter == 4 %}
                            {# Адаптивный баннер после 4го спецпроекта #}
                            {% include 'home/base/banner/adaptive-banner-under-special_3.html' %}
                        {% endif %}

                    {% else %} {# отображаем метаматериал #}
                        <li class="b-home-special-card-container-item meta {{ item.view }}">
                            <article class="b-home-special-card-meta {{ item.view }}">
                                <header class="b-home-special-card-meta-header">
                                    {% if item.view == 'single' %}
                                        {% if request.user_agent.is_gadget %}
                                            {% thumbnail item.standard_image 620x414 quality=100 crop as standard_image %}
                                        {% else %}
                                            {% thumbnail item.standard_image 460x307 quality=100 crop as standard_image %}
                                        {% endif %}
                                        <img class="b-home-special-card-image" src="{{ standard_image }}" alt="" width="{{ standard_image.width }}" height="{{ standard_image.height }}">
                                    {% else %}
                                        {% thumbnail item.wide_image 940x600 quality=100 as wide_image %}
                                        <img class="b-home-special-card-image-double" src="{{ wide_image }}" alt="" title="{{ material.title|typograf }}" width="{{ wide_image.width }}" height="{{ wide_image.height }}">
                                    {% endif %}
                                </header>
                                <div class="b-home-special-card-meta-content">
                                    <h3 class="b-home-special-card-meta-title">{{ item.title|typograf }}</h3>
                                    <div class="b-home-special-card-caption {{ item.view }}">{{ item.caption|typograf }}</div>
                                </div>
                                <a href="{{ material.get_absolute_url }}" class="g-all-block-link j-metrika-goal" data-metrika-goal="main_spec_article"></a>
                            </article>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
