{% load staticfiles media_utils %}

<script type="text/javascript" src="{% static 'js/lib/jquery.placeholder.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.j-widget-search').each(function () {
            var $that = $(this),
                $searchField = $('input[type="text"]', $that);

            $that.on('click', '.j-search-submit', function (e) {
                e.preventDefault();
                $that.submit();
            });

            $that.on('click', '.j-search-insert', function (e) {
                e.preventDefault();
                $searchField.val($(this).text());
            });

            $searchField.placeholder();
        });
    });
</script>

<a class="icon-inline-svg cinema-search search g-right j-focus j-toggle-button j-toggle-target-cinema-search{% if q %} opened{% endif %}" data-toggle-class="opened" data-toggle-target="cinema-search" data-focus-target="search"></a>

<div class="b-afisha-search-container b-widget-search g-accelerate j-toggle-target-cinema-search{% if q %} show{% endif %}" data-toggle-class="show">
    <form class="b-widget-search j-widget-search" action="{% url 'afisha:search' %}" name="" method="GET">
        <span class="b-widget-search__button j-search-submit"></span>
        <input name="q" type="text" value="{{ q }}" class="j-focus-target-search">
    </form>
</div>
