{% extends 'news-less/layout_cr.html' %}

{% load game_tags pytils_numeral staticfiles media_utils news_tags str_utils paginator_utils comments_tags thumbnail rating_tags date_tags %}

{% block title %}Блоги | {{ block.super }}{% endblock %}

{% block b-content-class %}{{ block.super }} blogs{% endblock %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% treasure 'blogs' %}
{% endblock %}

{% block b-content-cr %}
    <section class="b-content-block b-news-blogs-post-list">
        <h1 class="g-hide">Блоги | Новости Иркутска: экономика, спорт, медицина, культура, происшествия</h1>

        <ul class="b-list-v j-resp-ajax-pag" data-page="{% if objects.has_next %}{{ objects.number }}{% else %}none{% endif %}">
            {% include 'news-less/blogs/snippets/index-entries.html' %}
        </ul>
        {% paginator objects template='paginator/layout.html' %}
    </section>
{% endblock %}

{% block b-aside-r %}
    {% if user_is_author %}
        <div class="g-aside-block">
            <a href="{% url 'news:blogs:create' request.user.username %}" class="b-blogs-add-button">Добавить пост</a>
        </div>
    {% endif %}
    {% include 'news-less/blogs/b-aside-r.html' %}
{% endblock %}
