{% if param.choices %}
<ul id="cities">
    <li id="current_city"><a href="#" class="jsLink" rev="{{ param.value.pk }}">{{ param.value }}</a></li>
    {% for city in param.choices %}
        {% if param.value != city %}
        <li><a href="{{ set_option_url }}?param=utils.city&amp;value={{ city.pk }}&amp;next={{ next }}" rev="{{ city.pk }}">{{ city }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<script type="text/javascript">
    {% if request.csite.slugs == 'map' %}
        var cities = [];
        {% for city in param.choices %}
        cities[{{ city.pk }}] = {'coord': ['{{ city.center.coords.0 }}', '{{ city.center.coords.1 }}'], 'url':'{{ set_option_url }}?param=utils.city&amp;value={{ city.pk }}&amp;next={{ next }}'};
        {% endfor %}
    {% endif %}

    $(document).ready(function () {
        $('#current_city').click(function () {
            $('#cities li').toggleClass('opened').not('#current_city').toggle();
            $('#cities').toggleClass('show');
            return false;
        });
        $(document).keydown(function(e) {
            if (e.keyCode == 27) {
                $('#cities li').removeClass('opened').not('#current_city').hide();
                $('#cities').removeClass('show opened');
            }
        });
    });
</script>
