{% load cache_tags %}
<section class="b-content-block">
    <h1 class="g-hide">Народные новости |  Новости Иркутска: экономика, спорт, медицина, культура, происшествия </h1>
    <ul id="flash-news-list" class="b-news-flash-list">
        {% for entry in main_list %}
            {% cache 86400 'news.flash.main' vary='entry.id,entry.visible,show_hidden' tags='news-flash' %}
                <li id="flash-{{ entry.pk }}" class="b-news-flash-list-item {% if not entry.visible %}deleted{% endif %}">
                    {% if entry.is_tweet %}
                        {% include 'news-less/flash/snippets/tweet.html' %}
                    {% elif entry.is_site %}
                        {% include 'news-less/flash/snippets/site.html' %}
                    {% elif entry.is_sms %}
                        {% include 'news-less/flash/snippets/sms.html' %}
                    {% elif entry.is_vk_dtp %}
                        {% include 'news-less/flash/snippets/vk.html' %}
                    {% endif %}
                </li>
            {% endcache %}
        {% endfor %}
    </ul>
</section>
