{% load cache_tags %}

<section class="g-aside-block b-widget-list-bordered">
    <header class="b-widget-list-bordered-header b-news-flash-dtp-asidelist-header">
        {% if not dtp_page %}
            <span class="right-text">{{ sidebar_list|length }} последних</span>
        {% endif %}
        <h3><a class="g-title-link" href="{{ sidebar_url }}">{{ sidebar_title }}</a></h3>
    </header>
    <ul class="b-widget-list-bordered-ratings b-news-flash-dtp-asidelist">
        {% for entry in sidebar_list %}
            {% cache 86400 'news.flash.sidebar' vary='entry.id,entry.visible,show_hidden' tags='news-flash' %}
                <li class="g-bordered {% if not entry.visible %}deleted{% endif %}" id="flash-{{ entry.pk }}">
                    {% include 'news-less/flash/snippets/sidebar_item.html' %}
                </li>
            {% endcache %}
        {% endfor %}
    </ul>
</section>
