{% load str_utils news_tags thumbnail comments_tags date_tags gallery_tags %}

<p><a href="{{ entry.get_absolute_url }}" class="g-color-black visited">{{ entry.content|typograf }}</a></p>

{% if entry.video_thumbnail %}
    {% thumbnail entry.video_thumbnail 260x96 as thumb %}
    <a class="b-widget-list-cite-item-preview-video icon-block icon-video" href="{{ entry.get_absolute_url }}">
        <img src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
    </a>
{% endif %}

{% if entry.gallery.main_gallery %}
    {% spaceless %}{% gallery entry.gallery.main_gallery "10000x75" class='b-list-h' %}{% endspaceless %}
{% endif %}

<div class="b-news-flash-list-item-info">
    <time datetime="{{ entry.created|date:'Y-m-d H:i' }}" class="g-color-gray">{{ entry.created|dates:'%d %B в %H:%M|%d %B %Y в %H:%M' }}</time>,
    <span class="g-color-gray">vk.com</span>, {% if entry.username %}<b>{{ entry.username }}</b>{% endif %}
    {% if entry.comments_cnt %}{% comments_cnt entry new_layout=True %}{% else %}<a href="{{ entry.get_absolute_url }}?comments=1#comments" class="icon-inline icon-left icon-comment">написать отзыв</a>{% endif %}
	{% if show_hidden %}
		{% if not entry.visible %}
            <a class="g-color-green" href="{% url 'news:flash:toggle' entry.pk %}">восстановить</a>
		{% else %}
            <a class="g-color-red" href="{% url 'news:flash:toggle' entry.pk %}">удалить</a>
		{% endif %}
	{% endif %}
</div>
