{% load cache_tags thumbnail news_tags comments_tags str_utils %}

{% spaceless %}
    {% if objects %}
        <div class="tourism-news">
            <h3 class="tourism-news__title">
                <a href="{% url 'tourism:news:index' %}" title="Новости">
                    Последние новости
                </a>
            </h3>
            <ul class="tourism-news-list">
                {% for object in objects %}
                    <li class="tourism-news-list__item">
                        <a class="tourism-news-list__link" href="{{ object.get_absolute_url }}">
                            {{ object.title|typograf:'title'|safe }}
                        </a>
                        <div class="tourism-news-list__footer">
                            {{ object.created|date:"H:i" }} {% comments_cnt object extra_class="tourism-news-list__comments" new_layout=True %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endspaceless %}
