{% extends 'tourism/layout_cr.html' %}

{% load adv_tags str_utils comments_tags thumbnail paginator_utils date_tags rating_tags %}

{% block title %}Наглядно | {{ block.super }}{% endblock title %}

{% block b-aside-r-class %}b-tourism-index-right-column{% endblock %}

{% block b-content-cr %}
    <header>
        <h1>Наглядно</h1>
    </header>
    <ul class="b-list-v b-infographics-list b-big">
        {% for object in object_list %}
            <li {% if forloop.last %}class="g-last"{% endif %}>
                {% with object.preview as thumb_img %}
                    {% thumbnail thumb_img 740x700 as thumb %}
                    <header>
                        {% spaceless %}
                            <h3><a href="{{ object.get_absolute_url }}" title="{{ object.title|typograf:'title'|safe }}">{{ object.title|typograf:'title'|safe }}</a></h3>
                            <small class="g-color-gray"><time>{{ object.stamp|dates:'%d.%m|%d.%m.%Y' }}</time></small>
                            <small class="g-color-gray">{% comments_cnt object new_layout=True %}</small>
                            {% rating_result object 'ratings/widgets/results/like_special.html' %}
                        {% endspaceless %}
                    </header>
                    <article>
                        <figure>
                            <a href="{{ object.get_absolute_url }}" title="{{ object.title|typograf:'title'|safe }}">
                                <img src="{{ thumb }}" alt="{{ object.caption|typograf:'title'|safe }}">
                                {% comment %}
                                    {% if object.caption %}<figcaption>{{ object.caption|typograf:'title'|safe }}</figcaption>{% endif %}
                                    {% endcomment %}
                            </a>
                        </figure>
                    </article>
                {% endwith %}
            </li>
        {% endfor %}
        <li class="g-last b-news-lastday g-paginator">
            {% paginator objects template='paginator/layout.html' %}
        </li>
    </ul>
{% endblock b-content-cr %}
