{% extends 'tourism/layout.html' %}

{% load adv_tags cache_tags staticfiles media_utils str_utils thumbnail comments_tags share_utils site_utils news_tags rating_tags date_tags %}

{% block title %}{{ object.title|typograf:'title'|safe }} | Наглядно | {{ block.super }}{% endblock title %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'graphics.instance.meta' vary='object.id' tags='graphics' %}{% spaceless %}
        {% include 'share_meta.html' with card='summary_large_image' url=object.get_absolute_url title=object.title description=object.caption image=object.preview %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block b-content %}
    <section class="b-content-block b-infographics">
        {% if object.project %}
            <div class="special__link-container special__link-container_left g-margin-bottom-20">
                {% include 'special/snippets/link.html' with name=object.project.title|typograf url=object.project.get_absolute_url %}
            </div>
        {% endif %}
        <header class="g-title">
            {% spaceless %}
                <h1>{{ object.title|typograf:'title'|safe }}</h1>
                <small class="g-color-gray"><time>{{ object.stamp|dates:'%d.%m|%d.%m.%Y' }}</time></small>&nbsp;
                <small class="g-color-gray j-comments-scroll">{% comments_cnt object new_layout=True %}</small>&nbsp;
                {% rating_result object 'ratings/widgets/results/like_special.html' %}
            {% endspaceless %}
        </header>

        <article class="b-content-block">
            <div class="b-content-block">{{ object.caption|typograf:'admin'|safe }}</div>
            {% if object.image %}
                {% thumbnail object.image 960x10000000 as thumb %}
                <img src="{{ thumb }}" {% if object.gallery.main_image.alt %}alt="{{ object.gallery.main_image.alt|typograf:"title"|safe }}"{% endif %} {% if object.image %}{% else %}style="max-width: 300px;"{% endif %}>
            {% endif %}
            {% if object.iframe_url %}
                <iframe src="{% static object.iframe_url %}" frameborder="0" style="width:960px;height:{{ object.iframe_height }}px;overflow:hidden;"></iframe>
            {% endif %}
        </article>
        <div class="b-content-block b-content-article-social-button b-social">
            {% rating object 'ratings/widgets/like_blogs.html' %}
            {% if not object.is_hidden %}
                {% share object %}
            {% endif %}
        </div>
    </section>
    <footer class="b-infographics">{% comments object %}</footer>
{% endblock b-content %}
