{% extends "tourism/layout_lc.html" %}

{% load staticfiles media_utils str_utils thumbnail tourism_tags field_tags gallery_tags form_tags %}

{% block title %}Организация добавлена | {{ block.super }}{% endblock %}

{% block content %}
    <!-- Хлебные крошки -->
    <div class="b-content-block b-breadcrumbs">
        <nav>
            <ul class="b-list-h">
                <li><a href="{% url 'tourism:index' %}">Туризм</a></li>
                <li><a href="{% url 'tourism:firm:section_firm_list' section_slug=section.slug %}">{{ section|typograf:'title'|safe }}</a></li>
            </ul>
        </nav>
    </div>
    <!-- /Хлебные крошки -->

    <article class="b-content-article g-content-block">
        <header>
            <h1>{% block action %}Спасибо!{% endblock %}</h1>
        </header>

        <div class="b-content-article-text">
            <p>Ваша заявка принята на рассмотрение.</p>
            <p>После проверки введенной информации нашими модераторами, организация появится в каталоге.</p>
        </div>
    </article>
{% endblock %}
