{% extends "tourism/layout_lc.html" %}

{% load staticfiles media_utils str_utils thumbnail tourism_tags field_tags gallery_tags form_tags %}

{% block title %}{% block title_name %}Добавить организацию{% endblock %} {{ object.name|typograf:"title"|safe }} | {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.autocomplete.1.0.2.js' %}"></script>
{% endblock js %}

{% block content %}
    <!-- Хлебные крошки -->
    <div class="b-content-block b-breadcrumbs">
        <nav>
            <ul class="b-list-h">
                <li><a href="{% url 'tourism:index' %}">Туризм</a></li>
                <li><a href="{% url 'tourism:firm:section_firm_list' section_slug=section.slug %}">{{ section|typograf:'title'|safe }}</a></li>
            </ul>
        </nav>
    </div>
    <!-- /Хлебные крошки -->

    <div class="b-content-block">
        <header>
            <h1>{% block h1_title %}Создание организации{% endblock %}</h1>
            {% block look_site %}{% endblock %}
        </header>

        <article>

            <section class="g-adwords-help">
                <h3>Поднять компанию в списке.</h3>
                <p>Для активации платных услуг свяжитесь с менеджером по телефонам: (3952) 488-850 или отправьте запрос на электронную почту: {% filter urlize %}adv@irk.ru{% endfilter %}</p>
            </section>

            {% if user_messages %}
                {% for message in user_messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <table class="b-table b-tourism-form">
                    <colgroup>
                        <col width="110px">
                        <col width="650px">
                    </colgroup>

                    {% form_table_row form.name 'name' %}
                    {% form_table_row form.models %}
                    {% form_table_row form.url 'url' %}
                    {% form_table_row form.mail 'mail' %}
                    {% form_table_row form.skype 'skype' %}
                    {% form_table_row form.description %}
                    {% form_table_row form.season %}
                    {% form_table_row form.logo %}
                    {% form_table_row form.app_comment 'comment' %}

                    <tr>
                        <th>Фото</th>
                        <td>{% gallery_form_new gallery_form 20 %}</td>
                    </tr>
                    <tr>
                        <th>Адреса</th>
                        <td>{% address_set address_form %}</td>
                    </tr>
                    <tr>
                        <td></td>
                            <td><button type="submit" class="b-button">Сохранить</button>

                            {# Нам по-прежнему поле рубрик #}
                            <div style="display:none;">
                                {{ form.section }}
                            </div>

                        </td>
                    </tr>
                </table>
            </form>
        </article>

    </div>
{% endblock %}
