{% extends "admin/change_list.html" %}
{% load i18n staticfiles media_utils %}

{% block extrahead %}
    {{ block.super }}
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
        {% less '/less/compile/apps/recycle.less' %}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            var ARTICLE_URL = '{% url 'recycle:admin_article' %}';
            var ADDED_ARTICLE_URL = '{% url 'recycle:admin_added_article' %}';
            var CHANGE_ARTICLE = '{% url 'recycle:admin_change_article_status' %}';

            $(function() {
                updateList();
                $('.article__button_search').click(function() {
                    $.get(ARTICLE_URL, {'name': $('#article_name').val()}).done(function(data) {
                        if (data.length == 0) {
                            alert('¯\\_(ツ)_/¯ Пуста ¯\\_(ツ)_/¯');
                        }
                        else {
                            $('.article__table_search').empty();

                            for (var i = 0; i < data.length; i++) {
                                $('.article__table_search').append(
                                    '<tr>' +
                                        '<td>' +
                                            '<a href="' + data[i].link + '" target="_blank">' + data[i].title + '</a>' +
                                        '</td>' +
                                        '<td>' +
                                            '<input type="button" id="add_article" value="Добавить" onclick="addToList(' + data[i].id + ')">' +
                                        '</td>' +
                                    '</tr>'
                                );
                            }
                        }
                    });
                });
            });

            function updateList() {
                $('.article__table').empty();
                $.get(ADDED_ARTICLE_URL).done(function(data) {
                    for (var i = 0; i < data.length; i++)
                    {
                        $('.article__table').append(
                            '<tr>' +
                                '<td>' +
                                    '<div><a href="' + data[i].link + '" target="_blank">' + data[i].title + '</a></div>' +
                                '</td>' +
                                '<td>' +
                                    '<input type="button" value="Удалить" onclick="deleteArticle(' + data[i].id +')">' +
                                '</td>' +
                            '</tr>'
                        );
                    }
                });
            }

            function addToList(data) {
                $.get(CHANGE_ARTICLE, {'action': 'Add', 'id': data}).done(function(data) {
                    updateList()
                });
            }
            function deleteArticle(id) {
                $.get(CHANGE_ARTICLE, {'action': 'Delete', 'id': id}).done(function(data) {
                    updateList()
                });
            }
        </script>

{% endblock %}

{% block content %}
    <div class="article__block">
        <div class="article__add">
            <h2>Добавленные статьи</h2>
            <table class="article__table">
            </table>
        </div>
        <div class="article__search">
            <h2> Добавить статью </h2>
            <input type="text" id="article_name">
            <input type="button" class="article__button_search" value="Найти по названию">
            <div class="article__list">
                <table class="article__table_search">
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        var less = {
            javascriptEnabled: true
        };
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
{% endblock %}
