{% load thumbnail site_utils str_utils pytils_dt staticfiles media_utils adv_tags share_utils cache_tags news_tags polls_tags gallery_tags date_tags comments_tags rating_tags admin_utils %}

{% block content %}
    <!-- Контент страницы -->
    {# в новостях туризма выводим другую верстку #}
    {% if is_tourism %}

        <article class="b-content-article g-content-block">
            {% cache 86400 "news.materials.read.head" vary="cache_key,is_moderator" tags="news,object" %}
                <header>
                    {# Баннер 554 Новости и статьи. Мобильный баннер над заголовком. #}
                    {% include 'news-less/base/banner/adaptive_banner_320x100_title.html' %}
                    <h1>
                        {{ object.title|typograf }}
                        {% get_object_admin_link object %}
                    </h1>

                    {% if show_date %}
                        <time class="g-color-lightgray_2 g-subtitle" datetime="{{ object.stamp|date:"Y-m-d" }} {{ object.published_time|date:"H:i" }}">
                            {{ object.stamp|dates:"%d %B|%d %B %Y" }} {{ object.published_time|date:"H:i" }}
                        </time>
                    {% endif %}

                    {% with object.gallery.main_image as main_image %}
                        {% if main_image.image %}
                            {% thumbnail main_image.image 460x1000 x=main_image.watermark as thumb %}
                            {% if object.image and object.gallery.main_gallery_pictures|length == 0 %}
                                {% thumbnail object.image 90x1000 x=main_image.watermark as thumb3 %}
                                {% thumbnail object.image 800x1000 x=main_image.watermark as thumb2 %}

                                <figure>
                                    <a href="{{ thumb2 }}" id="overlay-first" rev="{{ thumb3 }}" class="g-hirez">
                                        <img alt="{{ main_image.alt|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                    </a>
                                    {% if main_image.alt %}<figcaption class="g-color-lightgray_2">{{ main_image.alt|typograf }}</figcaption>{% endif %}
                                </figure>
                            {% else %}
                                <figure>
                                    {% thumbnail main_image.image 800x1000 as thumb3 %}
                                    {% if thumb3.width >= 800 %}
                                        <a href="{{ thumb3 }}" id="overlay-first" rev="{{ thumb3 }}" class="g-hirez">
                                            <img alt="{{ main_image.alt|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                        </a>
                                    {% else %}
                                        <img alt="{{ main_image.alt|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                    {% endif %}
                                    {% if main_image.alt %}<figcaption class="g-color-lightgray_2">{{ main_image.alt|typograf }}</figcaption>{% endif %}
                                </figure>
                            {% endif %}
                            {% gallery object.gallery.main_gallery "140x100" mark_first crop="140x100" %}
                        {% endif %}
                    {% endwith %}
                </header>

                {% if continuation_news %}
                    <article class="b-content-article-previous">
                        <a href="{{ continuation_news.get_absolute_url }}" class="g-nolink">
                            <em>Продолжение новости:</em>
                            <h4>{{ continuation_news.title|typograf }}</h4>
                            <time datetime="{{ continuation_news.stamp|date:"Y-m-d" }} {{ continuation_news.published_time|date:"H:i" }}" class="g-color-lightgray_2">{{ continuation_news.stamp|date:"d.m" }}</time>
                            {% comments_cnt continuation_news new_layout=True %}
                        </a>
                    </article>
                {% endif %}

                <div class="b-content-article-text j-copyright-insert" data-url="http://{% get_site_url 'www' %}{{ object.get_absolute_url }}">{{ object.content|typograf:"admin,image=620x1000" }}</div>

                {% if previous_news %}
                    <article class="b-content-article-previous">
                        <a href="{{ previous_news.get_absolute_url }}" class="g-nolink">
                            <em>Предыдущая новость по этой теме:</em>
                            <h4>{{ previous_news.title|typograf }}</h4>
                            <time datetime="{{ previous_news.stamp|date:"Y-m-d" }} {{ previous_news.published_time|date:"H:i" }}" class="g-color-lightgray_2">{{ previous_news.stamp|date:"d.m" }}</time>
                            {% comments_cnt previous_news new_layout=True %}
                        </a>
                    </article>
                {% endif %}
            {% endcache %}

            {% related_live_news object %}

            {% cache 86400 "news.materials.read.bottom" vary="cache_key" tags="news,object" %}
                <footer>
                    {% if object.author %}<div class="b-content-article-author">{{ object.author|typograf:'admin' }}</div>{% endif %}
                    <div class="g-color-lightgray_2 g-indent g-font-base g-font-size-12 g-not-mobile">
                        <p class="g-margin-bottom-5">URL:&nbsp;http://{% get_site_url www %}{{ object.get_absolute_url }}</p>

                        <p class="MisprintSnippet">Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd></p>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                window.irk.misprintEngine.init();
                            });
                        </script>
                    </div>
                    {% if not object.is_hidden %}
                        {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp %}
                    {% endif %}

                    {% include 'news-less/subjects/snippets/subject_link.html' %}
                </footer>
            {% endcache %}

            {% related_poll object 'polls/snippets/related_poll_less.html' %}
        </article>
        <!-- /Контент страницы -->

        {# Адаптивный баннер  #}
        {% adaptive_banner mobile_id=530 template='adv/adaptive_banner_content.html' as adaptive_banner_320 %}
        {% if adaptive_banner_320 %}
        <div class="b-banners-adaptive_320x320-container g-margin-bottom-20 g-mobile_320 g-mobile_480 g-mobile_768">
            <div class="b-banners-adaptive_320x320">{{ adaptive_banner_320 }}</div>
        </div>
        {% endif %}

        {# irk.subscribe.init #}
        {% if not is_user_subscribed %}
            <section class="b-news-subscription g-indent">
                <header class="b-news-subscription-title j-subscribe-success-hide">
                    <h3>Подписаться на итоги дня</h3>
                </header>
                <form class="b-news-subscription-form j-subscribe j-subscribe-json j-subscribe-success-hide" id="news-subscription-form" method="POST" action="{% url 'news:subscription:ajax' %}">
                    {% csrf_token %}
                    <div class="b-news-subscription-form-container">
                        <input type="email" id="id_subscription_email" name="email" placeholder="Ваш email">
                        <button type="submit" class="button"></button>
                    </div>
                    <div class="j-subscribe-error-block hint g-hide"></div>
                </form>
                <div class="b-news-subscription-success j-subscribe-success-show b-news-subscription-title g-hide">
                    <h3>До встречи в 8 вечера!</h3>
                    <p>Не забудьте подтвердить адрес (письмо у вас на почте)</p>
                </div>
            </section>
        {% endif %}
        {% if under_comments_banner %}
            {% if under_comments_banner == 'news' %}
                {% ibanner ID=502 as banner %}
            {% endif %}
            {% if not is_live and banner %}
                <div class="b-adwords-news-read-banner g-desktop g-margin-bottom-20">
                    <div class="g-font-size-12 g-color-gray g-margin-bottom-15">реклама</div>
                    {{ banner }}
                </div>
            {% endif %}
        {% endif %}
        <div class="j-article-aside-float-target j-article-aside-float-target-comments">
            {% comments object %}

            {% ibanner ID=580 as banner_580 %}
            {% if banner_580 %}
                <div class="g-margin-bottom-20 g-desktop g-mobile_960">
                    {{ banner_580 }}
                </div>
            {% endif %}

            {# Баннер 555 Новости и статьи. Мобильный баннер под комментариями. #}
            {% include 'news-less/base/banner/adaptive_banner_320x100_comments.html' %}
        </div>

    {# обычные новости #}
    {% else %}

        <header class="lenta-article__header">
            {% block lenta-material-label %}{% endblock %}
            <h1 class="lenta-article__title">
                {{ object.title|typograf }}
                {% get_object_admin_link object %}
            </h1>

            {% if show_date %}
                <time class="lenta-article__time" datetime="{{ object.stamp|date:"Y-m-d" }} {{ object.published_time|date:"H:i" }}">
                    {{ object.stamp|dates:"%d %B|%d %B %Y" }} {{ object.published_time|date:"H:i" }}
                </time>
            {% endif %}
            {% if not object.is_hidden %}
                <div class="share-container {% if request.user_agent.is_pc %}j-sticky{% else %}share-container_mobile{% endif %}">
                    {% spaceless %}
                    <span class="b-share-button-group share {% if additional_class %}{{ additional_class }}{% endif %} j-share-buttons" data-url="{{ request.scheme|default:'https' }}://{% get_site_url 'www' %}{{ object.get_absolute_url }}" data-description="{{ object.title|typograf }}" data-stamp="{{ object.stamp.isoformat }}">
                        <span class="b-share-button-container j-share-button-container share__item {% if social_statistic.fb %}counter{% endif %}">
                            <span class="b-share-button b-share-button-fb share__button j-share j-share-fb j-metrika-goal" data-metrika-goal="news_social_share_fb" {% if object.pk %}data-stat-url="{% url 'news:share_click' object.pk 'fb' %}"{% endif %} title="Поделиться в Facebook"></span>
                        </span>
                        <span class="b-share-button-container j-share-button-container share__item {% if social_statistic.ok %}counter{% endif %}">
                            <span class="b-share-button b-share-button-ok share__button j-share j-share-ok j-metrika-goal" data-metrika-goal="news_social_share_ok" {% if object.pk %}data-stat-url="{% url 'news:share_click' object.pk 'ok' %}"{% endif %} title="Поделиться в Одноклассниках"></span>
                        </span>
                        <span class="b-share-button-container j-share-button-container share__item {% if social_statistic.vk %}counter{% endif %}">
                            <span class="b-share-button b-share-button-vk share__button j-share j-share-vk j-metrika-goal" data-metrika-goal="news_social_share_vk" {% if object.pk %}data-stat-url="{% url 'news:share_click' object.pk 'vk' %}"{% endif %} title="Поделиться во Вконтакте"></span>
                        </span>
                        <span class="b-share-button-container j-share-button-container share__item {% if social_statistic.tw %}counter{% endif %}">
                            <span class="b-share-button b-share-button-tw share__button j-share j-share-tw j-metrika-goal" data-metrika-goal="news_social_share_tw" {% if object.pk %}data-stat-url="{% url 'news:share_click' object.pk 'tw' %}"{% endif %} title="Поделиться в Твиттере">{{ social_statistic.tw|default:'' }}</span>
                        </span>
                    </span>
                    {% endspaceless %}
                    {% bookmark object %}
                </div>
            {% endif %}

        </header>
        <div class="material-grid material-grid_article">
            <div class="material-grid__item material-grid__item_article">
                <div class="lenta-material__article">
                    <article class="lenta-article">

                        {% if continuation_news %}
                            <section class="b-content-article-previous">
                                <a href="{{ continuation_news.get_absolute_url }}" class="g-nolink">
                                    <em>Продолжение новости:</em>
                                    <h4>{{ continuation_news.title|typograf }}</h4>
                                    {% comment %}
                                    <time datetime="{{ continuation_news.stamp|date:"Y-m-d" }} {{ continuation_news.published_time|date:"H:i" }}" class="g-color-lightgray_2">{{ continuation_news.stamp|date:"d.m" }}</time>
                                    {% comments_cnt continuation_news new_layout=True %}
                                    {% endcomment %}
                                </a>
                            </section>
                        {% endif %}

                        {% with object.gallery.main_image as main_image %}
                            {% if main_image.image and not object.hide_main_image %}
                                {% thumbnail main_image.image 730x1000 x=main_image.watermark as thumb %}
                                {% if object.image and object.gallery.main_gallery_pictures|length == 0 %}
                                    {% thumbnail object.image 90x1000 x=main_image.watermark as thumb3 %}
                                    {% thumbnail object.image 800x1000 x=main_image.watermark as thumb2 %}
    
                                    <figure class="lenta-article__figure">
                                        <a href="{{ thumb2 }}" id="overlay-first" rev="{{ thumb3 }}" class="g-hirez">
                                            <img alt="{{ main_image.alt|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                        </a>
                                        {% if main_image.alt %}<figcaption class="g-color-lightgray_2">{{ main_image.alt|typograf }}</figcaption>{% endif %}
                                    </figure>
                                {% else %}
                                    <figure class="lenta-article__figure">
                                        {% thumbnail main_image.image 800x1000 as thumb3 %}
                                        {% if thumb3.width >= 800 %}
                                            <a href="{{ thumb3 }}" id="overlay-first" rev="{{ thumb3 }}" class="g-hirez">
                                                <img alt="{{ main_image.alt|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                            </a>
                                        {% else %}
                                            <img alt="{{ main_image.alt|typograf }}" src="{{ thumb }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                        {% endif %}
                                        {% if main_image.alt %}<figcaption class="g-color-lightgray_2">{{ main_image.alt|typograf }}</figcaption>{% endif %}
                                    </figure>
                                {% endif %}
                                {% gallery object.gallery.main_gallery "140x100" mark_first crop="140x100" class="lenta-article__thumbs g-hide" %}
                            {% endif %}
                        {% endwith %}

                        <div class="lenta-article__text j-material-text j-copyright-insert" data-url="http://{% get_site_url 'www' %}{{ object.get_absolute_url }}">
                            {{ object.content|typograf:"admin,image=730x1000" }}
                        </div>

                        {% if object.official_comment_text %}
                            {% include 'news-less/snippets/official_comment.html' %}
                        {% endif %}

                        {% if previous_news %}
                            <article class="b-content-article-previous g-margin-top-20">
                                <a href="{{ previous_news.get_absolute_url }}" class="g-nolink">
                                    <em>Предыдущая новость по этой теме:</em>
                                    <h4>{{ previous_news.title|typograf }}</h4>
                                    {% comment %}
                                    <time datetime="{{ previous_news.stamp|date:"Y-m-d" }} {{ previous_news.published_time|date:"H:i" }}" class="g-color-lightgray_2">{{ previous_news.stamp|date:"d.m" }}</time>
                                    {% comments_cnt previous_news new_layout=True %}
                                    {% endcomment %}
                                </a>
                            </article>
                        {% endif %}

                        {% related_live_news object %}

                        {% cache 86400 "news.materials.read.bottom" vary="cache_key" tags="news,object" %}
                            <footer class="lenta-article__footer">

                                {% if object.author %}
                                    <div class="lenta-article__author">
                                        {{ object.author|typograf:'admin' }}
                                    </div>
                                {% endif %}

                                <div class="g-not-mobile">
                                    <p class="lenta-article__misprint">
                                        Чтобы сообщить об опечатке, выделите текст и нажмите <kbd>Ctrl</kbd>+<kbd>Enter</kbd>
                                    </p>
                                </div>
                                {% include 'news-less/subjects/snippets/subject_link.html' %}
                            </footer>
                        {% endcache %}

                        {% related_poll object 'polls/snippets/related_poll_less.html' %}

                        {# irk.subscribe.init #}
                        {% if not is_user_subscribed %}
                            {% include 'news-less/snippets/subscription_form.html' %}
                        {% endif %}
                    </article>

                    {# Адаптивный баннер  #}
                    {% adaptive_banner mobile_id=530 template='adv/adaptive_banner_content.html' as adaptive_banner_320 %}
                        {% if adaptive_banner_320 %}
                        <div class="b-banners-adaptive_320x320-container g-margin-bottom-20 g-mobile_320 g-mobile_480 g-mobile_768">
                            <div class="b-banners-adaptive_320x320">{{ adaptive_banner_320 }}</div>
                        </div>
                    {% endif %}

                </div>

                {% if under_comments_banner %}
                    {% if under_comments_banner == 'news' %}
                        {% ibanner ID=502 as banner %}
                    {% endif %}
                    {% if not is_live and banner %}
                        <div class="b-adwords-news-read-banner g-desktop g-margin-bottom-20">
                            <div class="g-font-size-12 g-color-gray g-margin-bottom-15">реклама</div>
                            {{ banner }}
                        </div>
                    {% endif %}
                {% endif %}

                <div class="lenta-material__comments">
                    {% comments object preview=True %}
                </div>

                {% ibanner ID=580 as banner_580 %}
                {% if banner_580 %}
                    <div class="g-margin-bottom-20 g-desktop g-mobile_960">
                        {{ banner_580 }}
                    </div>
                {% endif %}

            </div>
            <div class="material-grid__item material-grid__item_aside">
                {% block b-aside-r %}
                    {% include "news-less/news/lenta-aside.html" %}
                {% endblock b-aside-r %}
            </div>
        </div>

    {% endif %}
{% endblock %}
