{% if live %}
    <section class="b-news-live">
    <h2>Онлайн-трансляция</h2>

    <table id="news-live">
        <tbody>
            {% include 'news/snippets/live_table_content.html' %}
        </tbody>
    </table>
    {% if not live.is_finished %}
    <script type="text/javascript">
        $(function() {
            window.setInterval(function() {
                $.get('{% url 'news:live:update' live.pk %}', function(response) {
                    $('#news-live tbody').html(response);
                });
            }, 1000*20);
        });
    </script>
    {% endif %}
    </section>
{% endif %}
