{% load str_utils thumbnail pytils_numeral %}



    <ul class="adv-news-list">
        {% for entry in adwords %}
        <li{% if adwords|length == 3 or adwords|length == 1 %}{% if forloop.counter == 1 %} class="adv-news-list-big"{% endif %}{% endif %}>
            <header class="g-title">
                <h5>
                    <a href="{{ entry.get_url }}">
                        {% if entry.gallery.main_image.image %}
                            {% thumbnail entry.gallery.main_image.image 100x70 upscale as thumb %}
                            <img align="left" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ entry.gallery.main_image.alt|typograf:"title"|safe }}" class="pic" src="{{ thumb }}">
                        {% endif %}
                        {{ entry.title|typograf|safe }}
                    </a>
                </h5>
            </header>
        </li>
        {% endfor %}
    </ul>
