{% load str_utils thumbnail pytils_numeral %}

{% comment %}
<table class="adv-news multiple-{{ adwords|length }}" cellpadding="0" cellspacing="0">
	{% for entry in adwords %}<col/>{% endfor %}
	<tr>
		{% for entry in adwords %}
			<td class="adv-entry">
				{% if entry.gallery.main_image.image %}
					{% thumbnail entry.gallery.main_image.image 100x70 upscale as thumb %}
						<a href="{{ entry.get_url }}">
							<img align="left" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ entry.gallery.main_image.alt|typograf:"title"|safe }}" class="pic" src="{{ thumb }}" />
						</a>
				{% endif %}
				<h3 {% if entry.gallery.main_image.image %}class="with-picture"{% endif %}><noindex><a href="{{ entry.get_url }}" rel="nofollow">{{ entry.title|typograf|safe }}</a></noindex></h3>
				<div>{{ entry.caption|typograf|safe }}</div>
			</td>
		{% endfor %}
	</tr>
</table>
{% endcomment %}
<div class="b-aside-block b-adwords b-adwords-inline b-adwords-aside">
    <h6 class="b-adwords-icon b-adwords-icon-right">на правах рекламы</h6>
    <ul class="b-list-h">
        {% for entry in adwords %}
        <li>
            <header class="g-title">
                <h5>
                    <a href="{{ entry.get_url }}">
                        {% if entry.gallery.main_image.image %}
                            {% thumbnail entry.gallery.main_image.image 100x70 upscale as thumb %}
                            <img width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ entry.gallery.main_image.alt|typograf:"title"|safe }}" class="pic" src="{{ thumb }}">
                        {% endif %}
                        {{ entry.title|typograf:'admin'|safe }}
                    </a>
                </h5>
            </header>
        </li>
        {% endfor %}
    </ul>
</div>