{% load staticfiles media_utils site_utils options adv_tags cache metric_tags pages str_utils utils_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="viewport" content="width=940">
    <title>Ледовые катки в Иркутске | Твой Иркутск</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-touch-icon-114x114.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    {% include 'share_meta.html' with url='/skates/' title='Ледовые катки в Иркутске' description='Ледовые катки в Иркутске' static_image='img/landing_pages/skates/share.jpg' static_image_width=800 static_image_height=420 %}

    {% block style %}
        {% less '/less/compile/landings/skates.less' %}
    {% endblock style %}

    {% if settings.DEBUG_ADAPTIVE or request.user_agent.is_gadget %}
        {% block style_adaptive %}
            {% less '/less/compile/adaptive/landings/skates.less' media='all' %}
        {% endblock style_adaptive %}
    {% endif %}

    {% if settings.DEBUG %}
        <script type="text/javascript">var less = {env: "development"};</script>
        <script type="text/javascript" src="{% static 'js/lib/less/less-1.7.5.js' %}"></script>
    {% endif %}

    {% block js %}
        <script type="text/javascript">
            var DOMAIN_MEDIA = "{{ MEDIA_URL }}";
            var auth_no_redir = {};
            var auth_callback = {};
            var irk = {};
        </script>
        <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/modernizr-2.6.2-bro-fix.js' %}"></script>
        <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
        {% if settings.DEBUG %}<script type="text/javascript" src="{% static 'js/apps-js/debug.js' %}"></script>{% endif %}
        <script type="text/javascript" src="{% static 'js/apps-js/landing/skates.js' %}"></script>
    {% endblock js %}

    {% include 'google_analytics.html' %}
</head>
<body class="j-toggle-target-bodyhide" data-toggle-class="b-main-menu-opened">
{% include 'yandex_metrika.html' %}

{# Топ меню #}
{% include 'snippets/header.html' %}
{#<header class="b-nav b-nav-main">#}
{#    {% simple_header_menu share=True share_url='/skates/' share_description='Ледовые катки в Иркутске' share_metrika='skates_share' %}#}
{#</header>#}

<div class="b-skates-header">
    <div class="b-skates-header-content">
        {% with share_url='/skates/' share_description='Ледовые катки в Иркутске' share_metrika='skates_share' %}
        <div class="share">
            <ul class="b-nav-share-icons j-share-buttons" data-url="http://{% get_site_url 'www' %}{{ share_url }}" data-description="{{ share_description }}">
                <li><span class="icon fb g-cursor-pointer j-share j-share-fb j-metrika-goal" data-metrika-goal="{{ share_metrika }}_fb" title="Поделиться в Facebook"></span></li>
                <li><span class="icon ok g-cursor-pointer j-share j-share-ok j-metrika-goal" data-metrika-goal="{{ share_metrika }}_ok" title="Поделиться в Одноклассниках"></span></li>
                <li><span class="icon vk g-cursor-pointer j-share j-share-vk j-metrika-goal" data-metrika-goal="{{ share_metrika }}_vk" title="Поделиться во Вконтакте"></span></li>
                <li><span class="icon tw g-cursor-pointer j-share j-share-tw j-metrika-goal" data-metrika-goal="{{ share_metrika }}_tw" title="Поделиться в Твиттере"></span></li>
            </ul>
        </div>
        {% endwith %}
        <h1 class="b-skates-title">Ледовые катки в Иркутске</h1>
        <ul class="b-skates-filter-list">
            <li class="b-skates-filter-list-item purple j-skates-filter-link" data-skates-type="purple"><span class="b-skates-filter-dot purple"></span>&nbsp;коммерческие</li>
            <li class="b-skates-filter-list-item blue j-skates-filter-link" data-skates-type="blue"><span class="b-skates-filter-dot blue"></span>&nbsp;дворовые</li>
            <li class="b-skates-filter-list-item orange j-skates-filter-link" data-skates-type="orange"><span class="b-skates-filter-dot orange"></span>&nbsp;дворовые с теплой раздевалкой</li>
        </ul>
    </div>
</div>
{# Зона с контентом #}
<div class="b-skates-yamap-container">
    <div class="b-skates-yamap" id="map" style="width: 100%; height: 100%;"></div>
</div>
{% include 'snippets/footer.html' %}

{% include 'liveinternet_counter.html' %}
</body>
</html>
