{% extends "news-less/layout.html" %}

{% load str_utils pytils_dt news_tags pages %}

{% block title %}Спасибо за подписку на нашем сайте! | {{ block.super }}{% endblock %}

{% block b-content-class %} subscription{% endblock %}

{% block b-content %}

<div class="b-content-block b-title-search">
    <ul class="b-list-h">
        {% spaceless %}
        <li><h1>Рассылка новостей от IRK.ru</h1></li>
        {% endspaceless %}
    </ul>
</div>

<section class="b-subscription arrow-top w-300">
    <p>Спасибо за подписку на нашем сайте!<br/>На адрес <b>{{ email }}</b> отправлено письмо с инструкциями для завершения подписки на рассылку новостей Ирк.ру.</p>
    <a href="{% url 'news:subscription:index' %}" class="b-submit m-t">Продолжить</a>
</section>
{% endblock %}
