{% extends "news-less/layout.html" %}

{% block b-content-class %} subscription{% endblock %}

{% block b-content %}
<div class="b-content-block b-title-search">
    <ul class="b-list-h">
        {% spaceless %}
        <li><h1>Рассылка новостей от IRK.ru</h1></li>
        {% endspaceless %}
    </ul>
</div>

<section class="b-subscription arrow-top w-300">
    <p>Ваша подписка была удалена, так как вы не подтвердили ее в течение двух дней.</p>
    <p><a href="{% url 'news:subscription:index' %}" class="b-submit m-t long-text">Подпишитесь еще раз</a></p>
</section>
{% endblock %}
