{% extends "news-less/layout.html" %}

{% block title %}Отписаться от рассылки новостей | {{ block.super }}{% endblock %}

{% block b-content-class %} subscription{% endblock %}

{% block b-content %}
<div class="b-content-block b-title-search">
    <ul class="b-list-h">
        {% spaceless %}
        <li><h1>Рассылка новостей от IRK.ru</h1></li>
        {% endspaceless %}
    </ul>
</div>

<section class="b-subscription arrow-top w-300">
    <p class="g-color-darkBlue"><strong>{{ email }}</strong></p>
    <p class="m-bot">Адрес  удалён из списка рассылки</p>
    <a href="{% url 'news:index' %}" class="b-submit">На главную</a>
</section>
{% endblock %}
