{% load str_utils comments_tags thumbnail utils_tags cache_tags staticfiles %}

{% cache 3600 'news.tags.material_card_double' vary='material.pk,metrika_goal,request.user_agent.is_gadget' tags='material' %}
    <article class="b-widget-article-double
            {{ material_class_modifier }}
            {% if material.is_hidden %} g-hidden-material{% endif %}"
    >
        <a href="{{ material.get_absolute_url }}" class="b-widget-article-double-link {% if metrika_goal %}j-metrika-goal{% endif %}"
           data-metrika-goal="{{ metrika_goal }}">
            {% if material.wide_image %}
                {% thumbnail material.wide_image 620x250 crop as thumb %}
                <img alt="{{ material.title|typograf }}"
                    {% if is_lazyload %}
                        src="{% static 'img/gag_widget_340x200.gif' %}" class="j-lazy-load"
                        data-original="{{ thumb }}"
                    {% else %}
                        src="{{ thumb }}"
                    {% endif %}
                >
            {% endif %}
            <section>
                <header>
                    <h4>{{ material.title|typograf }}</h4>
                </header>
                <p>{{ material.caption|truncatechars:70|typograf }}
                    {% if label_text %}
                        <br>
                        <span class="b-widget-article-{{ label_class }}">{{ label_text }}</span>
                    {% endif %}
                </p>
            </section>
        </a>
        <footer>
            {% if is_photo %}
                <span class="b-widget-material-label b-widget-article-photos g-margin-right-5">
                    {{ material.gallery.main_gallery_pictures|length }}
                </span>
            {% elif is_contests %}
                <span class="b-widget-material-label b-widget-article-contests g-margin-right-5">
                    конкурсы
                </span>
            {% endif %}
            <span {% if metrika_goal %}class="j-metrika-goal"{% endif %} data-metrika-goal="{{ metrika_goal }}">
                {% comments_cnt material new_layout=True new_card="double" %}
            </span>
        </footer>
    </article>
{% endcache %}
