{% load experts_tags search_utils staticfiles media_utils news_tags adv_tags %}

{# Баннер 240х400 #}
{% if not request.user_agent.is_mobile and not request.user_agent.is_tablet %}
    <div class="g-relative j-float-start-02">
        {% include 'news-less/base/banner/b-banner-240x400-float.html' %}
    </div>
{% endif %}

{% if expert_announce %}
<!-- Анонсы -->
    <div class="b-aside-block">
        {% expert_announce %}
    </div>
<!-- /Анонсы -->
{% endif %}

<!-- Блок - Как стать Экспертом -->
<div class="b-expert-be-it b-aside-block">
    <div class="b-expert-be-it-header">
        Задавайте вопросы специалистам.
        После указанной даты будут опубликованы ответы.
    </div>
    <b>
        Хотите стать экспертом?<br />
        Обращайтесь в редакцию:<br />
        488-850 или <a href="mailto:news@irk.ru">news@irk.ru</a>
    </b>
</div>
<!-- /Блок - Как стать Экспертом -->

<!-- Блок Последних новостей -->
{% last_news %}
<!-- /Блок Последних новостей -->

{% ibanner ID=132  template='adv/div_vert.html' as banner1 %}
{% if banner1 %}
    <div class="b-aside-block">
        {{ banner1 }}
    </div>
{% endif %}

{% comment %} закомменчено до востребования
{% block popular %}
    <!-- Блок популярных конференций -->
    {% experts_popular 3 %}
    <!-- /Блок популярных конференций -->
{% endblock popular %}
{% endcomment %}
