{% extends "tourism/layout_lc.html" %}

{% load staticfiles media_utils options pages field_tags math_utils str_utils thumbnail site_utils adv_tags comments_tags paginator_utils news_tags date_tags %}

{% block title %} Новости туризма | {{ block.super }}{% endblock %}

{% block content %}
    <!-- Хлебные крошки -->
    <div class="b-content-block b-breadcrumbs">
        <nav>
            <ul class="b-list-h">
                <li><a href="{% url 'tourism:index' %}">Туризм</a></li>
            </ul>
        </nav>
    </div>
    <!-- /Хлебные крошки -->

    <div class="b-content-block">
        <header class='g-title'>
            {% block h1 %}<h1>Новости туризма</h1>{% endblock %}
        </header>
    </div>

    <div class="b-content-block b-tourism-news-list">
        <ul class="b-list-v">
            {% for news in objects.object_list %}
                <li>
                    <header class="g-title">
                        <small class="g-color-gray">{{ news.stamp|dates:'%d.%m|%d.%m.%Y' }}</small>
                        <h3>
                            {% if news.gallery.main_image.image %}
                                {% if forloop.first %}
                                    {% thumbnail news.gallery.main_image.image 218x100000 as thumb %}
                                {% else %}
                                    {% thumbnail news.gallery.main_image.image 86x100000 as thumb %}
                                {% endif %}
                                <a href="{{ news.get_absolute_url }}" title="{{ news.gallery.main_image.alt|default:news.title|typograf:"title"|safe }}">
                                    <img src="{{ thumb }}" alt="{{ news.gallery.main_image.alt|default:news.title|typograf:"title"|safe }}" style="width:{{ thumb.width }}px;height={{ thumb.height }}px">
                                    {{ news.title|typograf:'title'|safe }}</a>
                            {% else %}
                                <a href="{{ news.get_absolute_url }}" title="{{ news.gallery.main_image.alt|default:news.title|typograf:"title"|safe }}">{{ news.title|typograf:'title'|safe }}</a>
                            {% endif %}
                        </h3>
                        <small class="g-color-gray">{% comments_cnt news new_layout=True %}</small>
                    </header>
                    <p>{{ news.caption|typograf|safe }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Пагинатор -->
    {% paginator objects template='paginator/layout.html' name='новостей' %}
    <!-- /Пагинатор -->
{% endblock %}
