{% extends 'weather/layout.html' %}

{% load game_tags weather_tags str_utils staticfiles media_utils static pytils_dt profile_utils adv_tags adwords_tags staticfiles news_tags cache_tags thumbnail comments_tags %}

{% block title %}
    Лунный календарь | {{ block.super }}
{% endblock %}

{% block b-container-first-header %}
    <header class="b-content-header g-margin-bottom-20 g-relative">
        {% weather_rubricator %}
    </header>
{% endblock %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% treasure 'moonday' %}
{% endblock %}

{% block b-container-second %}
    <div class="b-container-padding b-weather-moonday-through g-relative" data-origin="{{ wish.origin }}">
        <div class="g-overflow">
            <div class="b-weather-moonday-through-container b-container">
                <h1 class="b-weather-moonday-through-title">{{ moon_day.title|capfirst }} <span>{% now 'j E' %}</span></h1>
                {% if moon_phase %}
                    <div class="b-weather-moonday-through-subtitle">Фаза луны: {{ moon_phase }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block b-content %}
    <aside class="b-aside-r g-desktop g-mobile_768 j-transform-container j-transform-container-aside-mobile_768 j-transform-container-aside-desktop j-article-aside-float" data-float-target="content">
        <div class="j-transform g-text-align-left j-article-aside-float-block g-accelerate" data-transform-target="aside">
        {% include 'weather/base/b-aside-r.html' %}
        </div>
    </aside>
    <div class="b-content-cr j-article-aside-float-target j-article-aside-float-target-content">
        <article class="g-font-serif">
            <div class="b-weather-moonday-symbols g-font-size-18 g-margin-bottom-25">
                <div class="g-margin-bottom-5"><b>Символ</b> &mdash; {{ moon_day.symbol }}.</div>
                <div><b>Камни</b> &mdash; {{ moon_day.stones }}.</div>
            </div>

            {% with moon_day.content|truncatechars:700 as text %}
            <div class="b-content-article-text limited j-weather-expand-text-container j-weather-expand-text-content g-font-size-18 g-margin-bottom-30 g-relative">
                {{ text|typograf:"admin,image=620x1000" }}
            </div>
            {% if moon_day.content|length > 700 %}
                <div class="g-margin-bottom-20 b-content-article-text-readmore g-font-size-18">
                    <span class="g-jlink j-weather-expand-text" data-expand-target="j-weather-expand-text-content">Читать полностью</span>
                </div>
                <div class="g-hide j-weather-expand-text-cargo j-weather-expand-text-content">{{ moon_day.content|typograf:'admin,image=620x1000' }}</div>
            {% endif %}
            {% endwith %}

            <div class="b-weather-moonday-summary">
                <h3 class="g-font-size-28 g-margin-bottom-20">Рекомендации</h3>
                <table class="b-weather-moonday-summary-table" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        <th class="b-weather-moonday-summary-table-th" width="290px">Сфера жизни</th>
                        <th class="b-weather-moonday-summary-table-th">Действие луны</th>
                    </tr>
                    {% if moon_day.for_undertaking %}
                        <tr>
                            <td class="b-weather-moonday-summary-table-td first"><span class="b-weather-moonday-icon"></span>&nbsp;Начинания</td>
                            <td class="b-weather-moonday-summary-table-td first"><span class="b-weather-moonday-dot counter-{{ moon_day.for_undertaking }}"></span> {{ moon_day.get_for_undertaking_display }}</td>
                        </tr>
                    {% endif %}
                    {% if moon_day.for_money %}
                    <tr>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-icon money"></span>&nbsp;Денежные операции</td>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-dot counter-{{ moon_day.for_money }}"></span> {{ moon_day.get_for_money_display }}</td>
                    </tr>
                    {% endif %}
                    {% if moon_day.for_dream %}
                    <tr>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-icon dream"></span>&nbsp;Сны</td>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-dot counter-{{ moon_day.for_dream }}"></span> {{ moon_day.get_for_dream_display }}</td>
                    </tr>
                    {% endif %}
                    {% if moon_day.for_housework %}
                    <tr>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-icon homework"></span>&nbsp;Домашние дела</td>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-dot counter-{{ moon_day.for_housework }}"></span> {{ moon_day.get_for_housework_display }}</td>
                    </tr>
                    {% endif %}
                    {% if moon_day.for_haircut %}
                    <tr>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-icon haircut"></span>&nbsp;Стрижка</td>
                        <td class="b-weather-moonday-summary-table-td"><span class="b-weather-moonday-dot counter-{{ moon_day.for_haircut }}"></span> {{ moon_day.get_for_haircut_display }}</td>
                    </tr>
                    {% endif %}
                    {% if moon_day.for_drink %}
                    <tr>
                        <td class="b-weather-moonday-summary-table-td last"><span class="b-weather-moonday-icon tableful"></span>&nbsp;Застолье</td>
                        <td class="b-weather-moonday-summary-table-td last"><span class="b-weather-moonday-dot counter-{{ moon_day.for_drink }}"></span> {{ moon_day.get_for_drink_display }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="g-color-gray j-article-aside-float-target j-article-aside-float-target-end g-margin-bottom-20">
                    Информация предоставлена сайтом <a class="g-text-underline" href="http://www.life-moon.pp.ru">www.life-moon.pp.ru</a>
                </div>
            </div>
        </article>
    </div>
    <div class="g-centered-div g-clear g-mobile_320 g-mobile_480 g-indent j-transform-container j-transform-container-aside-mobile_320 j-transform-container-aside-mobile_480 j-transform-container-aside-mobile_620">

    </div>
{% endblock b-content %}
