{% load cache_tags thumbnail news_tags comments_tags str_utils date_tags %}

{% spaceless %}
    {% if news %}
        <section class="b-aside-block b-adwords-news">
            <header>
                <h3>
                    <a href="">Новости компаний</a>
                </h3>
            </header>
            <ul class="b-list-v">
                {% for object in news %}
                    <li>
                        <header class="g-title"><h5><a href="{{ object.get_absolute_url }}">{% if object.gallery.main_image.image %}{% thumbnail object.gallery.main_image.image 140x90 as thumb %}<img style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;" alt="{{ object.gallery.main_image.alt|typograf:'title'|safe }}" src="{{ thumb }}">{% endif %}{{ object.title|typograf:'title'|safe }}</a></h5>&nbsp;<small class="g-color-gray">{{ object.stamp|dates:'%d.%m|%d.%m.%Y' }}&nbsp;{% comments_cnt object new_layout=True %}</small></header>
                        {% if show_title %}<article>{{ object.caption|typograf:'admin'|safe }}</article>{% endif %}
                        <div class="g-clear"></div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endspaceless %}
