{% extends "adwords/layout.html" %}

{% load staticfiles media_utils news_tags str_utils paginator_utils %}
{% block title %}Рекламные новости | {{ block.super }}{% endblock %}
{% block b-content %}
	{% if objects.paginator.count %}
        <section class="b-content b-adwords">
            <header>
                <h1>Рекламные новости</h1>
            </header>
            <ul class="b-list-v b-adwords-list">
                {% for adword in objects.object_list %}
                <li>
                    <header>
                        {% if not adword.content %}
                            <h4>{{ adword.title|typograf:'admin'|safe }}</h4>
                        {% else %}
                            <h4><a href="{{ adword.get_absolute_url }}">{{ adword.title|typograf:'title'|safe }}</a></h4>
                        {% endif %}
                    </header>
                    <article>
                        {{ adword.caption|typograf:'admin'|safe }}
                    </article>
                    <br clear="all">
                </li>
                {% endfor %}
            </ul>

		    {% if objects.paginator.num_pages > 1 %}
		    <div class="paginator">
                {% paginator objects limit template='paginator/layout.html' name='Новостей' %}
		  	</div>
		  	{% endif %}
        </section>
   {% endif %}
{% endblock %}
