{% extends "adwords/layout.html" %}

{% load str_utils thumbnail staticfiles media_utils gallery_tags %}

{% block title %}{{ adword.title|typograf }} | {{ block.super }}{% endblock %}

{% block b-content %}
	<section class="b-content-article g-content-block">
		{% if adword.gallery.main_image.image %}
		{% thumbnail adword.gallery.main_image.image 300x100000 as thumb %}
		<div class="g-adwords-img">
			<img src="{{ thumb }}" alt="{{ adword.gallery.main_image.alt|default:adword.title|typograf }}" title="{{ adword.gallery.main_image.alt|default:adword.title|typograf }}" width="{{ thumb.width }}" height="{{ thumb.height }}" class="border" />
		</div>
		{% endif %}
		<header class="g-title">
            <h1>{{ adword.title|typograf }}</h1>
		</header>
		<article class="b-content-article-text">{{ adword.content|typograf:"admin" }}</article>
		<br clear="all">
	    <footer>
            <span class="g-color-gray">Публикуется на правах рекламы.</span>
	    </footer>
    </section>

{% endblock %}
