{% extends 'newyear2014/layout_cr.html' %}

{% load horoscope_tags %}

{% block title %}Гороскопы | {{ block.super }}{% endblock title %}

{% block b-content-cr %}
    <header class="g-intend">
        {% horoscope_menu object %}
    </header>
    <article class="b-ny2014-horoscope">
        <p>2015 год проходит под знаком зеленой деревянной Козы (Овцы). Практически все астрологи сходятся во мнении о том, что в год Козы, достаточно целеустремленного животного, можно легко изменить свою жизнь к лучшему, исполнить заветные желания и воплотить поставленные цели. Коза своенравна, но активно поддержит тех, кто не станет сидеть на месте и будет упорно работать.</p>
        <p>Любовный прогноз на 2015 год обещает положительным для всех знаков зодиака. Любовь может найти вас даже в самый неожиданный момент. Забудьте о негативе, любите и наслаждайтесь жизнью! В этом году вероятность того, что ваша пассия станет именно вашей второй половинкой, очень высока.</p>
        <p>В денежном плане год Козы будет довольно успешным, если только вы перестать «зацикливаться» на своем финансовом положении. Думайте "правильно" и все у вас с деньгами будет в порядке, но исключите пустые траты.</p>
        <p>Ваша работоспособность и общее самочувствие в 2015 году будут напрямую зависеть от того, какой образ жизни вы ведете. Займитесь  спортом и больше находитесь на свежем воздухе. Физическая нагрузка поможет вам обрести тонус мышц и подтянуть фигуру, благотворно повлияет на вашу карьеру. Еще астрологи советуют не бояться менять сферу деятельности, если вам надоела или наскучила работа. Коза поможет вам найти себя, и заодно хорошую, интересную вакансию! Счастливого Нового 2015 года!</p>
    </article>
{% endblock b-content-cr %}
