{% load thumbnail comments_tags str_utils rating_tags %}
<article class="b-partaker-text">
    <h3 class="g-clear g-indent"><a href="{% url 'afisha:contests:participant_read' participant.contest.slug participant.pk %}">{{ participant.title|typograf:"title"|safe }}</a></h3>
    {% with participant.description|truncate_words_to_str_length:"335"|strip_forum_tags as text %}
        <div class="g-flatten-text">
            {{ text|typograf:'user'}}
            {% if comment.text|length > text|length %}
                <a href="{% url 'afisha:contests:participant_read' participant.contest.slug participant.pk %}" class="g-link">читать&nbsp;далее</a>
            {% endif %}
        </div>
    {% endwith %}
    <footer class="b-partaker-text-footer">
        {% if not participant.contest.is_blocked %}
            {% if not participant.contest.is_closed and participant.is_active %}
                {% rating participant 'ratings/widgets/like_fb_small.html' %}
            {% else %}
                {% rating participant 'ratings/widgets/like_fb_small.html' closed %}
            {% endif %}
        {% else %}
            {% rating participant 'ratings/widgets/like_fb_small.html' closed %}
        {% endif %}
        <small class="g-color-gray">{% comments_cnt participant new_layout=True %}</small>
    </footer>
</article>
