{% extends 'afisha/contests/participant/read.html' %}

{% load paginator_utils str_utils thumbnail gallery_tags comments_tags share_utils rating_tags staticfiles media_utils cache_tags %}

{% block style %}
    {{ block.super }}
    {% less '/less/compile/apps/contests.less' %}
{% endblock %}

{% block b-content-cr %}
    <section class="b-contests b-like-small-block-nobackground">
        <header class="g-subtitle">
            <h1>{% if participant.contest.type == 'ig' %}<a href="http://instagram.com/{{ participant.username }}">
                {{ participant.username }}</a>{% else %}{{ participant.title|typograf:"title"|safe }}{% endif %}</h1>
        </header>

        <div class="b-contests-mainImg inner">{% gallery participant.gallery.main_gallery "300x1000" %}</div>

        {# Описание участинка #}
        <div class="b-contests-partaker-descript">
            {% if participant.contest.type == 'ig' %}{{ participant.title|typograf:"admin"|safe }}{% endif %}
            <div class="b-content-article-text">{{ participant.description|typograf:"admin"|safe }}</div>
            {% if is_moderator %}
                <div class="g-font-serif g-font-size-18 g-margin-bottom-20">Контакт: {{ participant.full_name|typograf }} {% if participant.phone %}({{ participant.phone|typograf }}){% endif %}</div>
            {% endif %}
        </div>

        <div class="g-indent clearfix">
            {% if not participant.contest.is_blocked %}
                {% if not participant.contest.is_closed and participant.is_active %}
                    {% rating participant 'ratings/widgets/like_fb_big.html' %}
                {% else %}
                    {% rating participant 'ratings/widgets/like_fb_big.html' closed %}
                {% endif %}
            {% else %}
                {% rating participant 'ratings/widgets/like_fb_big.html' closed %}
            {% endif %}
        </div>

        <div class="g-indent">
            {% share_custom obj_pk=participant.pk url=participant.get_absolute_url description=participant.description stamp=participant.stamp %}
        </div>
        <div class="b-prev_next">
            {% if previous %}
                <a href="{{ previous.get_absolute_url }}">&larr; предыдущий</a>
            {% endif %}
            {% if next %}
                <a href="{{ next.get_absolute_url }}">следующий &rarr;</a>
            {% endif %}
        </div>
        {% if other|length > 0 %}
            <div class="b-contests-members type2">
                <h2>Другие участники:</h2>
                {% for participant in other %}
                    {% include 'afisha/contests/snippets/participant_text.html' %}
                {% endfor %}
            </div>
        {% endif %}

        {% comments participant %}
        <br clear="all">
    </section>
{% endblock %}
