{% load staticfiles cache_tags thumbnail str_utils pytils_numeral comments_tags pytils_dt news_tags %}

<ul class="b-magazine-list">
    {% for material in materials %}
        {% cache 3600 'magazine.material' vary='material.pk' tags='material' %}
        {% if forloop.counter == 4 %}
            <li class="b-magazine-list-item">
                {% thumbnail material.magazine_image 280x132 quality=90 as magazine_image %}
                <a href="{% url 'magazine:router' magazine.slug material.pk %}" class="b-magazine-card-container type2">
                    <div class="b-magazine-card h500">
                        <div class="b-magazine-card-info">
                            <h3 class="b-magazine-card-label">{{ material.label }}</h3>
                            <img class="b-magazine-card-image-small j-lazy-load" data-original="{{ magazine_image }}" />
                            <h3 class="b-magazine-card-title_sans">{{ material.title|typograf }}</h3>
                            <div class="b-magazine-card-caption">
                                {{ material.caption|typograf }}
                            </div>
                        </div>
                        <div class="b-magazine-card-author">
                            <time class="b-magazine-card-author-gray">{{ material.stamp|ru_strftime:'%d %B %Y г.' }}</time>
                        </div>
                    </div>
                </a>
            </li>
        {% elif forloop.counter == 5 %}
            <li class="g-hide"></li>
            <li class="g-hide"></li>
            <li class="b-magazine-list-item">
                {% thumbnail material.magazine_image 1920x600 quality=90 as magazine_image %}
                <a href="{% url 'magazine:router' magazine.slug material.pk %}" class="b-magazine-card-container type3">
                    <div class="b-magazine-card-image j-lazy-load" data-original="{{ magazine_image }}"></div>
                    <div class="b-magazine-card">
                        <div class="b-magazine-card-info">
                            <h3 class="b-magazine-card-label type2">{{ material.label }}</h3>
                            <h3 class="b-magazine-card-title">{{ material.title|typograf }}</h3>
                            <div class="b-magazine-card-caption">
                                {{ material.caption|typograf }}
                            </div>
                        </div>
                        <div class="b-magazine-card-author">
                            {% thumbnail material.magazine_author.image 50x50 as author_image %}
                            {% if author_image %}
                                <img src="{{ author_image }}" alt="" width="50" height="50" class="b-magazine-card-author-photo">
                            {% endif %}
                            <h4 class="b-magazine-card-author-name">{{ material.magazine_author.name }}</h4>
                            <div class="b-magazine-card-author-position">{{ material.magazine_author.position }}</div>
                        </div>
                    </div>
                </a>
            </li>
        {% else %}
            <li class="b-magazine-list-item">
                {% thumbnail material.magazine_image 1920x600 quality=90 as magazine_image %}
                <a href="{% url 'magazine:router' magazine.slug material.pk %}" class="b-magazine-card-container">
                    <div class="b-magazine-card-image j-lazy-load" data-original="{{ magazine_image }}"></div>
                    <div class="b-magazine-card">
                        <div class="b-magazine-card-info">
                            <h3 class="b-magazine-card-title">{{ material.title|typograf }}</h3>
                            <div class="b-magazine-card-info-footer">
                                {{ material.stamp|ru_strftime:'%d %B %Y г.' }} {% if material.comments_cnt > 0 %} · {{ material.comments_cnt|get_plural:'комментарий, комментария, комментариев' }}{% endif %} ·  около {{ material.content|time_to_read|get_plural:"минуты,минут,минут" }} на чтение
                            </div>
                        </div>
                        <div class="b-magazine-card-author">
                            {% thumbnail material.magazine_author.image 50x50 as author_image %}
                            {% if author_image %}
                                <img src="{{ author_image }}" alt="" width="50" height="50" class="b-magazine-card-author-photo">
                            {% endif %}
                            <h4 class="b-magazine-card-author-name">{{ material.magazine_author.name }}</h4>
                            <div class="b-magazine-card-author-position">{{ material.magazine_author.position }}</div>
                        </div>
                    </div>
                </a>
            </li>
        {% endif %}
        {% endcache %}
    {% endfor %}
</ul>

{% if withInterestinStory %}
    <div class="b-story-any-container">
        <div class="b-story-any">
            <h3 class="b-story-any-title">Есть интересная история?</h3>
            <div class="b-story-any-caption">Расскажите нам, а мы напишем</div>
            <a href="//docs.google.com/forms/d/e/1FAIpQLSdVdbNxJh-PKzTBdxqGC1rWyXkBkySLgeJZvit998XgDQmD1Q/viewform" class="b-story-any-button">Предложить тему</a>
        </div>
    </div>
{% endif %}
