{% extends "tourism/layout.html" %}

{% load staticfiles media_utils str_utils thumbnail comments_tags tourism_tags gallery_tags news_tags pytils_dt cache_tags %}

{% block title %}{{ object.title|typograf:"title"|safe }} | Статьи туризма | {{ block.super }}{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'news.instance.meta' vary='object.id' tags='news' %}{% spaceless %}
        {% include 'share_meta.html' with card='summary_large_image' url=object.get_absolute_url title=object.title description=object.caption image=object.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/ifvisible.js' %}"></script>
{% endblock %}

{% block b-content %}
    {{ block.super }}
    <div class="b-tourism-article g-font-base">
        {% include 'tourism/blog/read_base.html' %}
    </div>
{% endblock %}
