{% extends "admin/base_site.html" %}

{% load i18n admin_static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block content %}
    <fieldset class="module aligned" id="entry-form">
        <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-row">
                <div{% if form.date.errors %} class="errors"{% endif %}>
                    <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
                    {{ form.date }}
                </div>
            </div>
            <div class="form-row field-created">
                <div{% if form.created.errors %} class="errors"{% endif %}>
                    <label for="{{ form.created.id_for_label }}">{{ form.created.label }}</label>
                    {{ form.created }}
                    <p class="help">Оставьте пустым, чтобы сохранить с текущим временем, или напишите что-нибудь вроде 14:29</p>
                </div>
            </div>
            <div class="form-row">
                <div{% if form.text.errors %} class="errors"{% endif %}>
                    <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                    {{ form.text }}
                </div>
            </div>
            <div class="form-row">
                <div{% if form.is_important.errors %} class="errors"{% endif %}>
                    <label for="{{ form.is_important.id_for_label }}">{{ form.is_important.label }}</label>
                    {{ form.is_important }}
                </div>
            </div>
            <div class="form-row">
                <div{% if form.image.errors %} class="errors"{% endif %}>
                    <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                    {{ form.image }}
                </div>
            </div>


            <div class="form-row">
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </fieldset>
{% endblock %}