{% extends "admin/base_site.html" %}

{% load i18n admin_static admin_urls admin_utils staticfiles %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.2.min.js' %}"></script>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <style type="text/css">
        #online-form textarea { width: 50%; height: 120px; }
        #online-form div.form-submit {padding-left: 120px;}

        #loader {display: none;}
        #id_history {width: 100%;}
        #id_history th:first-child {width: 100px;}
        #id_history th:last-child {width: 100px;}
    </style>
    <script type="text/javascript" src="{% static 'js/apps-js/admin.js' %}"></script>
    <script type="text/javascript">
        var iconYes = '<img src="{% static "admin/img/icon-yes.svg" %}" alt="">';
        var iconNo = '<img src="{% static "admin/img/icon-no.svg" %}" alt="">';
        window.setInterval(function() {
            $('#loader').show();
            $.getJSON('./update/', function(response) {
                var content = '';
                for (var i=0, ii=response.length; i<ii; i++) {
                    content += '<tr>'
                        + '<td>'+response[i].date+'</td>'
                        + '<td><a href="./'+response[i].id+'/">'+response[i].created+'</a></td>'
                        + '<td>'+response[i].text+' '+response[i].image+'</td>'
                        + '<td>'+ (response[i].is_important ? iconYes : iconNo) +'</td>'
                        + '<td><a href="" onclick="deleteEntry(' + response[i].id + ');">Удалить</a></td>'
                        + '</tr>';
                }
                $('#id_history tbody').html(content);
                $('#loader').hide();
            });
        }, 5000);

        function deleteEntry(entryId) {
            var sure = confirm('Точно удалить?');
            if (sure) {
                $.getJSON(entryId + '/delete/');
            }
        }

    </script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="../../../">Новости</a>
        &rsaquo; <a href="../../">Онлайн-трансляции</a>
        &rsaquo; {{ object.news }}
    </div>
{% endblock %}

{% block content %}
    <fieldset class="module aligned" id="online-form">
        <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-row">
                <div{% if form.date.errors %} class="errors"{% endif %}>
                    <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
                    {{ form.date }}
                </div>
            </div>
            <div class="form-row">
                <div{% if form.created.errors %} class="errors"{% endif %}>
                    <label for="{{ form.created.id_for_label }}">{{ form.created.label }}</label>
                    {{ form.created }}
                    <p class="help">Оставьте пустым, чтобы сохранить с текущим временем, или напишите что-нибудь вроде 14:29</p>
                </div>
            </div>
            <div class="form-row">
                <div{% if form.text.errors %} class="errors"{% endif %}>
                    <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                    {{ form.text }}
                </div>
            </div>
            <div class="form-row">
                <div{% if form.is_important.errors %} class="errors"{% endif %}>
                    <label for="{{ form.is_important.id_for_label }}">{{ form.is_important.label }}</label>
                    {{ form.is_important }}
                </div>
            </div>
            <div class="form-row">
                <div{% if form.image.errors %} class="errors"{% endif %}>
                    <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                    {{ form.image }}
                </div>
            </div>
            <div class="form-row form-submit">
                <div>
                    <input type="submit" value="Сохранить">
                </div>
            </div>
        </form>
    </fieldset>
    <div style="height:24px;">
        <img src="{% static 'img/ajax-load.gif' %}" alt="" id="loader">
    </div>
    <fieldset class="module aligned">
        <table id="id_history">
            <thead>
                <th>Дата</th>
                <th>Время</th>
                <th>Текст</th>
                <th>Важное</th>
                <th>Действия</th>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.date|date:'Y-m-d' }}</td>
                    <td><a href="./{{ entry.pk }}/">{{ entry.created|date:'H:i' }}</a></td>
                    <td>{{ entry.text }} <code>{% if entry.image %} {{ entry.image.url }}{% endif %}</code></td>
                    <td>
                        {% if entry.is_important %}
                            <img src="{% static "admin/img/icon-yes.svg" %}" alt="">
                        {% else %}
                            <img src="{% static "admin/img/icon-no.svg" %}" alt="">
                    {% endif %}
                    </td>
                    <td><a href="" onclick="deleteEntry({{entry.pk}})">Удалить</a></td>
                </tr>
                {% endfor %}
        </table>
    </fieldset>
{% endblock %}
