{% extends 'obed/layout.html' %}

{% load staticfiles media_utils thumbnail news_tags str_utils comments_tags paginator_utils date_tags pytils_dt paginator_utils %}

{% block title %}Статьи | {{ block.super }}{% endblock %}

{% block obed-search-filter %}{% endblock %}

{% block b-content-parent %}
    <article class="b-content-block b-articles-index b-articles-index-old">
        <div class="b-content-block b-articles-list">
            <h1 class="g-font-size-30">Статьи</h1>
            <ul class="b-list-h b-article-list-with-img">
            {% spaceless %}
                {% for object1 in object_list %}
                    <li class="b-{{ object1.source_site.slugs }}">
                        <figure>
                            {% thumbnail object1.gallery.main_gallery.0.image 300x225 as thumb %}
                            <a href="{{ object1.get_absolute_url }}" title="{{ object1.title|typograf:'title'|safe }}">
                                <img src="{{ thumb }}" alt="{{ object1.caption|typograf:'title'|safe }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
                            </a>
                        </figure>
                        <header>
                            <h3><a href="{{ object1.get_absolute_url }}" title="{{ object1.title|typograf:'title'|safe }}">{{ object1.title|typograf:'title'|safe }}</a>&nbsp;</h3>
                            <small class="g-color-gray"><time>{{ object1.stamp|dates:'%d.%m|%d.%m.%Y' }}</time>&nbsp;&nbsp;{% comments_cnt object1 new_layout=True %}</small>
                        </header>
                        <article>
                            <p>
                                {{ object1.caption|typograf:'title'|safe }}
                                <a href="{{ object1.get_absolute_url }}" title="{{ object1.title|typograf:'title'|safe }}" class="g-color-orange">&#62;&#62;&#62;</a>
                            </p>
                        </article>
                    </li>
                {% endfor %}
            {% endspaceless %}
            </ul>
        </div>

        {% paginator objects template='paginator/layout.html' %}
    </article>
{% endblock b-content-parent %}
