{% extends "afisha/layout_cr.html" %}

{% load event_admin thumbnail str_utils pytils_dt widgets profile_utils site_utils comments_tags adv_tags staticfiles media_utils paginator_utils news_tags date_tags %}

{% block title %}Новости | {{ block.super }}{% endblock %}

{% block city %}{% endblock %}

{% block b-content-cr %}
<section class="b-content-block">
	<header class="b-content-block">
        <h1>Новости афиши</h1>
	</header>
    <ul class="b-list-v b-content-block b-afisha-news">
        {% for entry in objects.object_list %}
        <li>
            <header class="g-title">
                <h3>
                    {% if forloop.first %}{% thumbnail entry.gallery.main_image.image 230x100000 as thumb %}{% else %}{% thumbnail entry.gallery.main_image.image 140x100000 as thumb %}{% endif %}
                    {% if entry.content %}<a href="{{ entry.get_absolute_url }}">{% endif %}{% if thumb %}<img src="{{ thumb }}" alt="{{ entry.gallery.main_image.image.alt }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/>{% endif %}{{ entry.title|typograf:"title,False"|safe }}{% if entry.content %}</a>{% endif %}
                </h3>
                <small class="g-color-gray">{{ entry.stamp|dates:'%d.%m|%d.%m.%Y' }}&nbsp;{% comments_cnt entry %}</small>
            </header>
            <article>{{ entry.caption|typograf|safe }}</article>
            <div class="g-clear"></div>
        </li>
        {% endfor %}
    </ul>

    {% paginator objects template='paginator/layout.html' name='новостей' %}
</section>
{% endblock %}
