{% extends "afisha/layout_cr.html" %}

{% load thumbnail str_utils news_tags staticfiles media_utils cache_tags %}

{% block title %}{{ object.title|typograf:"title"|safe }} | Новости | {{ block.super }}{% endblock %}

{% block meta %}
    {#  Мета-данные для социальных сетей и поисковиков #}
    {% cache 86400 'news.instance.meta' vary='object.id' tags='news,article,photo' %}{% spaceless %}
        {% include 'share_meta.html' with url=object.get_absolute_url title=object.title description=object.content image=object.gallery.main_image.image %}
    {% endspaceless %}{% endcache %}
{% endblock %}

{% block b-content-cr %}
{#    <div class="b-content-block b-breadcrumbs">#}
{#        <ul class="b-list-h">#}
{#            <li><a href="{% url 'afisha:index' %}">Афиша</a></li>#}
{#            <li><a href="{% url 'afisha.news.index' %}">Новости афиши</a></li>#}
{#        </ul>#}
{#    </div>#}
    {% render_news_cool object %}
{% endblock %}
