{% load profile_utils comments_tags staticfiles  %}

{% if not object.hide_comments and not comments_disabled %}
    {% if object.disable_comments %}
        <div class="b-comments-closed g-relative">
            <div class="b-comments-closed-title">Здесь 24 часа ничего не писали, поэтому обсуждение закрыто <img class="b-comments-closed-title-icon" src="{% static 'img/comments_emodzi.png' %}" width="41" height="20"></div>
            <a class="b-comments-closed-rules" href="/comments/rules/">правила публикации отзывов</a>
        </div>
    {% endif %}

    <!--comments-->
    {% option_value 'comments.commentssortoption' as sort %}
    <section class="comments j-comments-container" id="comments" data-link="{% url 'comments:list' ct_id object.pk %}?sort={{ sort }}" data-sort="{{ sort }}">

        {% if preview_comment %}
            <ul class="lenta-material__comments__list">
                {% include 'comments/comment/list_item.html' with request=request comment=preview_comment is_preview=True %}
            </ul>
        {% endif %}

        <a data-href="{% url 'comments:list' ct_id object.pk %}?sort={{ sort }}" class="comments__loading j-comments-loader">
            Загрузить комментарии
        </a>
    </section>
    <!--comments-->

{% endif %}
