{% load thumbnail str_utils experts_tags %}

<div class="annonce">
	{% if item.picture %}
		{% thumbnail item.picture 50x10000 as thumb %}
		<a href="{{ item.get_absolute_url }}" title="{{ item.image_title|typograf:"title"|safe }}">
		    <img width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ item.image_title|typograf:"title"|safe }}" src="{{ thumb }}" />
		</a>
	{% endif %}
	<h2><a href="{{ item.get_absolute_url }}">{{ item.title|typograf|safe }}</a></h2>
	<p>{{ item.specialist|typograf|safe }}</p>
</div>
