{% load str_utils experts_tags thumbnail %}
{% if objects %}
<section class="b-aside-block b-news-aside-press-conf-block">
        <header>
            <h3><a href="{% url 'news:experts:index' %}" title="Пресс-конференции">Пресс-конференции</a></h3>
        </header>
        <ul class="b-list-v">
            {% for object in objects %}
            <li>
                <header class="g-title">
                    <h5>
                        <a href="{{ object.get_absolute_url }}" title="{{ object.title|typograf:'title'|safe }}">
                            {% if object.image %}
                                {% thumbnail object.image image_size as thumb %}
                                    {% if thumb %}
                                    <img src="{{ thumb }}" alt="{{ object.image_title|typograf:'title'|safe }}" style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;">
                                    {% endif %}
                            {% endif %}
                            {{ object.title|typograf:'title'|safe }}
                        </a>
                    </h5>&nbsp;
                    <small class="g-color-gray">{% if object.created %}<time>{{ object.created|date:'d.m' }}</time>&nbsp;&nbsp;{% endif %}{% questions_count object 'new_layout' %}</small>
                </header>
                <article><p>{{ object.specialist|typograf:'title'|safe }}</p></article>
                <a class="g-coloured-button green" href="{{ object.get_absolute_url }}">
                    Задать вопрос
                </a>
            </li>
            {% endfor %}
        </ul>
</section>
{% endif %}
