{% load thumbnail str_utils experts_tags widgets %}

<article{% if not expert.stamp_end >= now.date and not expert.is_answered %} class="b-expert-waiting-for-answers"{% endif %}>
    <header>
        <h4><a href="{{ expert.get_absolute_url }}" title="{{ expert.image_title|typograf:"title"|safe }}">
            {% if expert.image and show_image %}
                {% thumbnail expert.image 120x10000 as thumb %}
                {% if thumb %}
                    <img class="main gallery_img" style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;" alt="{{ expert.image_title|typograf:'title'|safe }}" src="{{ thumb }}" />
                {% endif %}
            {% endif %}
            {{ expert.title|typograf|safe }}</a>
        </h4>
        {% questions_count expert %}
    </header>
    <p>{{ expert.specialist|typograf|safe }}</p>
    {% if show_date %}{% expert_status expert %}{% endif %}
</article>
