{% extends "obed/layout.html" %}

{% load staticfiles media_utils paginator_utils str_utils thumbnail date_tags pytils_dt %}

{% block style %}
    {{ block.super }}
    {% less '/less/compile/apps/contests.less' %}
{% endblock style %}

{% block title %}Конкурсы | {{ block.super }} {% endblock %}

{% block b-content-parent %}
    <section class="b-contests b-content-block">
        <header>
            <h1>Все конкурсы от Ирк.ру</h1>
        </header>
        {% if opened|length > 0 %}
        <section class="b-contests-opened">
            <header>
                <h2>Открытые</h2>
            </header>
            {% for contest in opened %}
                <section class="b-content-block">
                    <header>
                        {% thumbnail contest.image 300x100000 as thumb %}
                        <a href="{% url 'obed:contests:read' contest.slug %}"><img src="{{ thumb }}" alt="{{ contest.title|typograf:"title"|safe }}">
                            {{ contest.title|typograf:"title"|safe }}</a>
                        <span class="g-color-gray date"><time datetime="{{ contest.date_end|ru_strftime:"%Y-%m-%d" }}">до {{ contest.date_end|dates:'%d.%m|%d.%m.%Y' }}</time></span>
                    </header>
                    <article>
                        {{ contest.caption|typograf:"admin"|safe }}
                    </article>
                </section>
            {% endfor %}
        </section>
        {% endif %}

        {% if closed|length > 0 %}
            <section class="b-contests-closed">
                <header>
                    <h2>Закрытые</h2>
                </header>
                {% for contest in closed %}
                    <section class="b-content-block">
                        <header>
                        {% if contest.image %}
                            {% thumbnail contest.image 140x100000 as thumb %}
                            <a href="{% url 'obed:contests:read' contest.slug %}" class="closePromo_link"><img src="{{ thumb }}" alt="{{ contest.title|typograf:"title"|safe }}" style="width:{{  thumb.width }}px;height:{{  thumb.height }}px;"></a>
                            <a href="{% url 'obed:contests:read' contest.slug %}">{{ contest.title|typograf:"title"|safe }}</a>
                        {%  endif %}
                        </header>
                        <article>
                            {{ contest.caption|typograf:"admin"|safe }}
                        </article>
                    </section>
                {% endfor %}
                <footer>
                    {% paginator page_obj limit template='paginator/layout.html' name='конкурсов' %}
                </footer>
            </section>
        {% endif %}
        <br clear="all">
    </section>
{% endblock %}
