(function(doc) {
    var sites = {{ sites|safe }};
    doc.write(
        '<style type="text/css"> \
            #irkru{background-color:#fff;width:100%;padding:8px 0 10px 0;font-size:12px;font-family:Tahoma,Arial,sans-serif;} \
            #irkru-wrapper{width:1000px;margin:0 auto;} \
            #irkru a,#irkru a:hover,#irkru a:visited{display:inline-block;*display:inline;zoom:1;margin-left:8px;color:#0e5aaa;text-decoration:underline;} \
            #irkru strong {display:inline-block;*display:inline;zoom:1;margin-left:9px;color:#000;font-weight:bold;} \
            #irkru .active{background:#fff;} \
        </style> \
        <div id="irkru"><div id="irkru-wrapper">\
            <a style="text-decoration:none;" title="IRK.ru" href="http://www.irk.ru"><b><span style="color:#1587af;">IRK</span><span style="color:#dcb900;">.RU</span></b></a>'
    );
    var currHost = doc.location.host.replace('www.', '');
    var currApplication = doc.location.href.replace('www.', '').replace('http://', '').replace('https://', '').split('/')[1];
    
    (function(force){
        var str = '';

        for (var i=0, ii=sites.length; i < ii; i++) {
            var site = sites[i];
            var linkHost = site.url.replace('www.', '').split('/');
            var application = linkHost[1];
            linkHost = linkHost[0];
            var isCurrentHost = currHost == linkHost;
            var isCurrentApplication = currApplication == application;
            var current = false;
			if (application != '' && application != undefined) {
			    current = isCurrentHost && isCurrentApplication;
			} else {
			    current = isCurrentHost;
			}
			str += (current ?
			('<strong>' + site.name + '</strong>'):
			('<a href="http://www.irk.ru'+site.url+'" title="'+site.title+'">'+site.name+'</a>')
			);
        }
        doc.write(str);
    })(false);
    doc.write('</div></div>');
})(document);