{% load str_utils staticfiles media_utils thumbnail %}

<article class="b-news-blogs-author {% if view == 'author' %}g-content-block{% else %}g-aside-block{% endif %}">
    <header>
        {% if view != 'author' %}<a href="{% url 'news:blogs:author' author.username %}">{% endif %}
        <figure>
            {% thumbnail author.profile.avatar 168x168 as thumb %}
            <img src="{{ thumb }}" alt="{{ author.get_full_name|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
        </figure>
        {% if view == 'author' %}<h1>{{ author.get_full_name|typograf }}</h1>{% else %}<h3>{{ author.get_full_name|typograf }}</h3>{% endif %}
        {% if view != 'author' %}</a>{% endif %}
    </header>
    <div class="b-news-blogs-author-info">
        <p class="icon-inline icon-left icon-write">постов: {{ author.entries_cnt }}</p>
        <p class="g-color-black icon-inline icon-left icon-comment-black">отзывов к постам: {{ author.comments_cnt }}</p>
        {% if view != 'author' %}<p class="b-news-blogs-author-info-posts"><a href="{% url 'news:blogs:author' author.username %}">все записи &rarr;</a></p>{% endif %}
    </div>
    {{ author.profile.description|typograf:'user' }}
    <div class="b-news-blogs-author-shadow g-clear"></div>
</article>
