{% extends "guide/place.html" %}

{% load str_utils thumbnail share_utils afisha_tags %}

{% block establishment %}
    <ul class="place-list">
        {% if schedule %}
            <li class="place-list__item j-sked-open g-first {% if not review and not comments %}g-active{% endif %}">
                {% if review or comments %}
                    <a href="{% url 'guide:read' firm_id=object.id %}">
                        {% if request.user_agent.is_gadget %}
                            Вечеринки ({{ schedule|length }})
                        {% else %}
                            Ближайшие вечеринки ({{ schedule|length }})
                        {% endif %}
                    </a>
                {% else %}
                    {% if request.user_agent.is_gadget %}
                        Вечеринки ({{ schedule|length }})
                    {% else %}
                        Ближайшие вечеринки ({{ schedule|length }})
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}

        {% if not schedule %}
            <li class="place-list__item{% if not comments %} g-active{% endif %}">
                {% if not comments %}
                    Описание
                {% else %}
                    <a href="{% url 'guide:read' firm_id=object.id %}?review=1">Описание</a>
                {% endif %}
            </li>
            {% else %}
                <li class="place-list__item{% if review %} g-active{% endif %}">
                {% if review %}
                    Описание
                {% else %}
                    <a href="{% url 'guide:read' firm_id=object.id %}?review=1">Описание</a>
                {% endif %}
            </li>
        {% endif %}
        <li class="place-list__item j-comment-open g-last  {% if comments %}g-active{% endif %}">
            {% if not comments %}
                <a href="{% url 'guide:read' firm_id=object.id %}?comments=1">
                    Отзывы{% if object.comments_cnt %} ({{ object.comments_cnt }}){% endif %}
                </a>
            {% else %}
                Отзывы{% if object.comments_cnt %} ({{ object.comments_cnt }}){% endif %}
            {% endif %}
        </li>
    </ul>
    {% if review or not schedule and not comments %}
        <article class="b-afisha-establishment-review g-indent">
            {% if object.article %}
                {{ object.article|typograf:'admin'|safe }}
            {% else %}
                {% if object.description %}<p>{{ object.description|typograf:'admin'|safe }}<p>{% endif %}
            {% endif %}
            {% if object.gallery.main_image.alt %}<small class="g-color-gray">{{ object.gallery.main_image.alt|typograf:"title"|safe }}</small>{% endif %}
        </article>
        <div class="g-indent">
            {% if not object.is_hidden %}
                {% share_custom obj_pk=object.pk url=object.get_absolute_url description=object.title stamp=object.stamp %}
            {% endif %}
        </div>
    {% endif %}
{% endblock establishment %}

{% block sked %}
    {% if schedule and not review and not comments %}
        <div class="b-content-block">
            <ul class="grid-list">
                {% with schedule as object_list %}
                    {% include "afisha/event/list.html" %}
                {% endwith %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% comment %}
{% block b-aside-r %}
    {{ block.super }}
    <section class="b-aside-block b-afisha-aside-sameclub">
        <header><h3><a href="#" title="#">Похожие клубы</a></h3></header>
        <ul class="b-list-v">
            <li>
                <header class="g-title">
                    <h5><a href="#" title="">
                        <img src="http://freebieblog.ru/uploads/posts/2012-02/1329145302_8a7e8cf5e00439e3565873583c32c7c9_full.jpeg" alt="" style="width:200px;">
                        Мегаполис</a></h5>
                </header>
            </li>
            <li>
                <header class="g-title">
                    <h5><a href="#" title="">
                        <img src="http://freebieblog.ru/uploads/posts/2012-02/1329145302_8a7e8cf5e00439e3565873583c32c7c9_full.jpeg" alt="" style="width:200px;">
                        Мегаполис</a></h5>
                </header>
            </li>
            <li>
                <header class="g-title">
                    <h5><a href="#" title="">
                        <img src="http://freebieblog.ru/uploads/posts/2012-02/1329145302_8a7e8cf5e00439e3565873583c32c7c9_full.jpeg" alt="" style="width:200px;">
                        Мегаполис</a></h5>
                </header>
            </li>
        </ul>
    </section>
{% endblock %}
{% endcomment %}
