{% load math_utils pytils_numeral %}


{% if paginator.paginator.num_pages > 1 %}
<div class="nav-page">
	{% if context.ppp %}
	    {% with context.ppp|slice:"1:"|first|first as min_limit %}
	        {% if paginator.paginator.count|gt:min_limit %}

	            Страница:
	            {% if first %}
	                <a href="./{% if context.order %}?order={{ context.order }}{% endif %}{% if context.direction %}&amp;dir={{ context.direction }}{% endif %}{% if context.state %}&amp;state={{ context.state }}{% endif %}{% if s %}{{ s }}{% endif %}">первая</a>
	            {% endif %}

	            {% if paginator.has_previous %}
	                <a id="prevPage" href="./?page={{ paginator.previous_page_number }}{% if context.order %}&amp;order={{ context.order }}{% endif %}{% if context.direction %}&amp;dir={{ context.direction }}{% endif %}{% if context.state %}&amp;state={{ context.state }}{% endif %}{% if s %}{{ s }}{% endif %}">&laquo;</a>
	            {% endif %}

	            {% for page in paginator.page_range %}
	                {% ifequal page paginator.number %}
	                    <span class="curr-page">{{ page }}</span>
	                {% else %}
	                	{% if page == 1  %}
		                	<a href="./{% if context.order %}?order={{ context.order }}{% endif %}{% if context.direction %}&amp;dir={{ context.direction }}{% endif %}{% if context.state %}&amp;state={{ context.state }}{% endif %}{% if s %}{{ s }}{% endif %}">{{page}}</a>
	                	{% else %}
		                    <a href="./?page={{page}}{% if context.order %}&amp;order={{ context.order }}{% endif %}{% if context.direction %}&amp;dir={{ context.direction }}{% endif %}{% if context.state %}&amp;state={{ context.state }}{% endif %}{% if s %}{{ s }}{% endif %}">{{page}}</a>
	                    {% endif %}
	                {% endifequal %}
	            {% endfor %}

	            {% if paginator.has_next %}
	                <a id="nextPage" href="./?page={{ paginator.next_page_number }}{% if context.order %}&amp;order={{ context.order }}{% endif %}{% if context.direction %}&amp;dir={{ context.direction }}{% endif %}{% if context.state %}&amp;state={{ context.state }}{% endif %}{% if s %}{{ s }}{% endif %}">&raquo;</a>
	            {% endif %}

	            {% if last %}
	                <a href="./?page={{ paginator.paginator.num_pages }}{% if context.order %}&amp;order={{ context.order }}{% endif %}{% if context.direction %}&amp;dir={{ context.direction }}{% endif %}{% if context.state %}&amp;state={{ context.state }}{% endif %}{% if s %}{{ s }}{% endif %}">последняя</a>
	            {% endif %}

	        {% endif %}

	    	{% endwith %}
		{% else %}
	            Страница:
	            {% if first %}
	                <a href="./?page=1{% if s %}{{ s }}{% endif %}">первая</a>
	            {% endif %}

	            {% if paginator.has_previous %}
	                <a id="prevPage" href="./?page={{ paginator.previous_page_number }}{% if s %}{{ s }}{% endif %}">&laquo;</a>
	            {% endif %}

	            {% for page in paginator.page_range %}
	                {% ifequal page paginator.number %}
	                    <span class="curr-page">{{ page }}</span>
	                {% else %}
	                    <a href="./?page={{page}}{% if s %}{{ s }}{% endif %}">{{page}}</a>
	                {% endifequal %}
	            {% endfor %}

	            {% if paginator.has_next %}
	                <a id="nextPage" href="./?page={{ paginator.next_page_number }}{% if s %}{{ s }}{% endif %}">&raquo;</a>
	            {% endif %}

	            {% if last %}
	                <a href="./?page={{ paginator.paginator.num_pages }}{% if s %}{{ s }}{% endif %}">последняя</a>
	            {% endif %}

	{% endif %}

    {% if context.ppp %}
        {% if context.ppp|slice:"1:"|first|first|lt:paginator.paginator.count %}
            Выводить по:
            <select class="pageLimit" name="limit">
                {% for choice in context.ppp|slice:"1:"|first %}
                <option value="{{ choice }}"
                {% ifequal context.ppp|slice:"0:"|first choice %}
                    selected='selected'
                {% endifequal %}>{{ choice }}</option>
                {% endfor %}
            </select> {{ name_plural }}
        {% endif %}
    {% endif %}

</div>
<script type="text/javascript">
    $(document).ready(function () {
        function moveWithCtrlKey(e) {
            var link = null;
            if (e.ctrlKey && e.keyCode == 37) {
                link = $('#prevPage').attr("href");
            }
            if (e.ctrlKey && e.keyCode == 39) {
                link = $('#nextPage').attr("href");
            }
            if (link) document.location = link;
        }
        function bindMovingWithCtrlKey() {
            $(document).bind('keydown', moveWithCtrlKey);
        }
        function unbindMovingWithCtrlKey() {
            $(document).unbind('keydown', moveWithCtrlKey);
        }

        window.irk.shadowLayer.onOpen = unbindMovingWithCtrlKey;
        window.irk.shadowLayer.onClose = function() {
            bindMovingWithCtrlKey();
            try{ $(document).unbind('keydown', $.imgView.moveWithCtrlKey); } catch(e) {}
        }

        bindMovingWithCtrlKey();
        $('.pageLimit').change(function () {
            var link = './?page={{context.page}}{% if context.order %}&amp;order={{ context.order }}{% endif %}&amp;limit=' + $(this).val() + '{% if context.direction %}&amp;dir={{ context.direction }}{% endif %}{% if s %}{{ s }}{% endif %}';
            if (link) document.location = link;

        });
    });
</script>
{% endif %}