{% load staticfiles media_utils str_utils %}

<section class="b-tourism-place-resort-block b-tourism-abroad-resorts-block">

    <ul class="b-list-h">
        {% for column in objects %}
        {% spaceless %}
        <li class="b-list-column">
            <ul class="b-list-v b-letter-list">
                {% for letter,places in column %}
                    <li class="b-list-title-letter"><span class="g-color-green">{{ letter }}</span></li>
                        <nav>
                            <ul class="b-list-v b-list-country">
                                {% for place in places %}
                                    <li class="b-list-title-country"><a href="{{ place.get_absolute_url }}">{% if place.flag %}<img src="{{ place.flag.url }}" alt="{{ place.title|typograf|safe }}">{% endif %}{{ place.title|typograf|safe }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                {% endfor %}
            </ul>
        {% endspaceless %}
        {% endfor %}
    </ul>
</section>
