{% extends "tourism/layout.html" %}

{% load game_tags staticfiles media_utils str_utils adv_tags tourism_tags %}

{% block title %}
    {% if type_slug == 'russia' %}
        Отдых в России
    {% elif type_slug == 'baikal' %}
        Отдых на Байкале
    {% elif type_slug == 'abroad' %}
        Отдых за рубежом
    {% endif %} | {{ block.super }}
{% endblock %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% if type_slug == 'baikal' %}
        {% treasure 'place_baikal' %}
    {% endif %}
{% endblock %}

{% block b-content %}

    <!-- Меню раздела Туризм -->
    <div class="b-content-block">
        {% include 'tourism/base/tourism-menu.html' %}
    </div>
    <!-- /Меню раздела Туризм -->

    <!-- Меню со списком регионов и стран отдыха -->
    <div class="b-content-block">
        <section class="b-tourism-places-resorts-block">

            {% places_menu type_slug %}

            <div class="b-tourism-places-resorts-shadows-block">
                <div class="b-tourism-places-resorts-shadows-opacity"></div>
                <!--[if lte IE 8]><div class="b-tourism-places-resorts-shadows-ie"></div><![endif]-->

                {% if type_slug == 'russia' %}
                    {% include 'tourism/place/list_russia.html' %}
                {% elif type_slug == 'baikal' %}
                    {% include 'tourism/place/list_baikal.html' %}
                {% elif type_slug == 'abroad' %}
                    {% include 'tourism/place/list_abroad.html' %}
                {% endif %}
            </div>
        </section>
    </div>
    <!-- /Меню со списком регионов и стран отдыха -->

{% endblock b-content %}
