{% load staticfiles media_utils str_utils %}

<section class="b-tourism-place-resort-block b-tourism-russia-resorts-block">

    <ul class="b-list-h">
    {% for place in objects %}
        <li>
            <header class="g-title">
                <h3><a href="{{ place.get_absolute_url }}" class="g-color-green">{{ place.title|typograf|safe }}</a></h3>
            </header>
            {% if place.children.all.count %}
            <ul class="b-list-v">
                {% for child in place.children.all %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child.title|typograf|safe }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</section>
