{% if not field.is_hidden %}
    <div{% if field.errors %} class="errors"{% endif %}>
        <label for="{{ field.id_for_label }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }} {% if field.field.required %}<span class="g-color-red">*</span>{% endif %}</label>
        <div {% if class_name %} class="{{ class_name }}"{% endif %}>
            {{ field }}
            {% if field.help_text %}
                <div class="help_text">{{ field.help_text }}</div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div style="display:none;">
        {{ field }}
    </div>
{% endif %}
