{% load staticfiles media_utils %}
<tr {% if field.errors %}class="errors"{% endif %}>
	<th>
        <label for="id_section_0_autocomplete"{% if field.field.required %} class="required{% endif %}">{{ field.label }} {% if field.field.required %}<span class="g-color-red">*</span>{% endif %} </label>
	</th>
	<td>
		<script type="text/javascript">
			var current_id = 0;
			var section_items = {};
			var section = {
		    	count_items : 6,
		    	count_show : 0,
		    	show : function () {
		    		 
		    		for (var id in section_items) {		
		    			
		    			if (section_items[id] == 'hide') {
		    				$('#ajax-block-' + id).show();
		    				section_items[id] = 'show';
		    				section.count_show++;
		    				if (section.count_show == section.count_items) $('#add-section').hide();
		    				break;
		    			}
		    			
		    		}
		    		
		    	},
		    	
		    	hide : function (id) {
		    		
		    		$('#ajax-block-' + id + ' input').val('');
		    		$('#ajax-block-' + id).hide();
		    		section_items[id] = 'hide';
		    		if (section.count_show == section.count_items) $('#add-section').show();
		    		section.count_show--;

		    	},
		    	
		    	init : function () {
			    	
		    		if (window.section_items == undefined) return false;
		    		
		    		for (var id in section_items) {	
		    			if (section_items[id] == 'show') section.count_show++;
		    		}
		    		
		    		$('#add-section a').click(function () {
		    			section.show();
		    			return false;
		    			
		    		});
		    		$('a.del-section').click(function () {
		    			
		    			var id = parseInt(this.rev);
		    			section.hide(id);
		    			return false;
		    			
		    		});
		    	}
		    		
		    };
			$(document).ready(function() {
				section.init();
			});
		</script>	
		<fieldset id="{{ field.name }}" class="{% if field.field.required %} required{% endif %}">{{ field }}</fieldset>
		{% if field.help_text %}<small class="g-color-gray">{{ field.help_text }}</small>{% endif %}
		<div id="add-section">
			<a class="noLink" href="" rev="{{ forloop.counter }}"><img alt="" src="{% static 'tourism/img/action-add.png' %}" align="absmiddle" /> <span class="jsLink">Добавить ещё одну специализацию</span></a>
		</div>		

	</td>
</tr>
