{% comment %}
Входящие параметры:
    gallery - галерея фоторепа
    mobileShowLimit -
    other - связанные фоторепы
{% endcomment %}

{% load str_utils thumbnail share_utils news_tags %}

{% for item in gallery %}
    {% thumbnail item.image 940x660 quality=92 x=item.watermark as thumb %}
    {% if not request.user_agent.is_gadget %}
        <figure class="slides j-photo-slide-{{ forloop.counter }}" data-item-id="{{ item.id }}" rev="{{ forloop.counter }}" style="height: {{ thumb.height }}px">
            <img {% if forloop.counter > 2 %}class="owl-lazy swiper-lazy" data-src="{{ thumb }}"{% else %}src="{{ thumb }}"{% endif %} width="{{ thumb.width }}px" alt="{% if item.alt %}{{ item.alt|typograf }}{% endif %}" />
            {% if item.alt %}
                <figcaption>{{ item.alt|typograf }}</figcaption>
            {% endif %}
        </figure>
        {% if forloop.last %}
            <div class="b-wide-slider-last j-photo-slide-{{ forloop.counter|add:1 }}" data-item-id="{{ item.id }}">
                {% if not object.is_hidden %}
                    <h6>Поделитесь с друзьями, соберите кучу лайков</h6>
                    {% share_custom url=object.get_absolute_url description=object.title additional_class='size_64' %}
                {% endif %}
                <div class="g-relative">
                    <span class="b-wide-slider-reset j-wide-slider-reset">Посмотреть еще раз<span class="g-arrow-reload"></span></span>
                    <h6 class="b-wide-slider-last-other{% if not other %} g-hide{% endif %}">А еще у нас есть:</h6>
                </div>
                <ul class="b-wide-slider-last-widget-list">
                    {% for article in other %}
                        <li class="item-{{ forloop.counter }}">
                            {% material_card article is_light=True is_wide=True is_photorep=True %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <figure id="slide-{{ forloop.counter }}" class="{% if forloop.counter > mobileShowLimit %}g-hide{% endif %}">
            <img {% if forloop.counter > mobileShowLimit %}data-src="{{ thumb }}"{% else %}src="{{ thumb }}"{% endif %} alt="{% if item.alt %}{{ item.alt|typograf }}{% endif %}">
            {% if item.alt %}
                <figcaption>{{ item.alt|typograf }}</figcaption>
            {% endif %}
        </figure>
    {% endif %}
{% endfor %}
