{% extends 'news-less/layout.html' %}

{% load game_tags staticfiles media_utils str_utils comments_tags thumbnail gallery_tags paginator_utils news_tags date_tags %}

{% block title %}Фоторепортажи | {{ block.super }}{% endblock title %}

{# удалить этот блок после игры #}
{% block game2020 %}
    {% treasure 'photo' %}
{% endblock %}

{% block b-content %}
    <article class="b-content-block b-photoreports-index">
        <ul class="b-list-v j-resp-ajax-pag" data-page="{% if objects.has_next %}{{ objects.number }}{% else %}none{% endif %}">
            {% for object in objects %}
            <li class="b-content-block">
                <header>
                    <h3 class="g-margin-right-5"><a href="{{ object.get_absolute_url }}" title="{{ object.title|typograf }}">{{ object.title|typograf }}</a></h3>
                    <time class="g-color-gray g-margin-right-5">{{ object.stamp|dates:'%d %B|%d %B %Y' }}</time>
                    {% comments_cnt object new_layout=True %}
                </header>
                <article>
                    {% spaceless %}
                    {% if object.image %}
                        {% with object.image as thumb_img %}
                            {% thumbnail thumb_img 1020x1000 as thumb %}
                            <figure class="b-photo-big g-bigger">
                                <a href="{{ object.get_absolute_url }}" title="{{ object.title|typograf }}">
                                    <img src="{{ thumb }}" alt="{{ object.caption_short|typograf }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px">
                                    {% if object.caption_short %}<figcaption>{{ object.caption_short|typograf }}</figcaption>{% endif %}
                                </a>
                            </figure>
                        {% endwith %}
                    {% endif %}
                    {% gallery object.gallery.main_gallery|slice:"1:6" "90x70" max=true crop="90x70" class="b-list-v" url=object %}
                    {% endspaceless %}
                </article>
            </li>
            {% endfor %}
            {% paginator objects template='paginator/layout.html' name='новостей' %}
        </ul>
    </article>
{% endblock b-content %}
