{% extends "tourism/layout_lc.html" %}

{% load staticfiles media_utils str_utils form_tags gallery_tags %}

{% block title %} {{ title|typograf:"title"|safe }} | {{ block.super }}{% endblock %}

{% block b-aside-l %}
    {% if section.slug %}
    <div class="b-aside-block">
        <ul class="b-list-v">
            <li><a href="{% url 'tourism:firm:read' section_slug=section.slug firm_id=firm.pk %}">О компании</a></li>
            {% if tour %}
            <li><a href="{% url 'tourism:firm:add_tour' section_slug=section.slug firm_id=firm.pk %}">Добавить тур</a></li>
            {% else %}
            <li class="selected"><span>Добавить тур</span></li>
            {% endif %}
            <li><a href="{% url 'tourism:firm:edit' section_slug=section.slug firm_id=firm.pk %}">Редактировать</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock b-aside-l %}

{% block content %}
    <!-- Хлебные крошки -->
    <div class="b-content-block b-breadcrumbs">
        <nav>
            <ul class="b-list-h">
                <li><a href="{% url 'tourism:index' %}">Туризм</a></li>
                <li><a href="{% url 'tourism:firm:section_firm_list' section_slug=section.slug %}">{{ section|typograf:'title'|safe }}</a></li>
                {% if tour.title %}<li><a href="{% url 'tourism:tour:read' tour.pk %}">{{ tour.title|typograf:'title'|safe }}</a></li>{% endif %}
            </ul>
        </nav>
    </div>
    <!-- /Хлебные крошки -->

    <div class="b-content-block">
        <header>
            <h1>{{ title|typograf:'title'|safe }}</h1>
        </header>

        <article>
            <div class="g-adwords-help">
                <p><span class="j-sales-info">Свяжитесь с менеджером</span>, чтобы отметить тур как лучший.</p>
                <span class="j-sales-descript">Свяжитесь с отделом продаж по&nbsp;тел.: <strong>(3952) 488-850</strong> или напишите на почту: <a href="mailto:adv@irk.ru">adv@irk.ru</a> <span class="close"></span></span>
                <div class="adwords-help">Свяжитесь с отделом продаж по тел. <strong>(3952) 488-850</strong> или напишите на почту <a href="mailto:adv@irk.ru">adv@irk.ru</a><img src="{% static 'img/close-dark.png' %}"></div>
            </div>

            {% if form.errors %}
            <div class="g-label-block-orange">{{ form.errors }}</div>
            {% endif %}

            <form method="post" enctype="multipart/form-data" id="form-add-tour">{% csrf_token %}
                <table class="b-table b-tourism-form">
                    <colgroup>
                        <col width="200px">
                        <col width="560px">
                    </colgroup>

                    <tbody>
                        {% form_table_row form.title 'title' %}
                        {% form_table_row form.place %}
                        {% form_table_row form.dates 'dates' %}
                        {% form_table_row form.nights 'nights' %}
                        {% form_table_row form.price 'price' %}
                        {% form_table_row form.short 'short' %}
                        {% form_table_row form.description %}
                        {% form_table_image_row form.image %}
                        {% tr_field_file form.file %}
                    </tbody>
                </table>

                <button class="b-button" type="submit">Сохранить</button>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $(".b-tourism-form tr:nth-child(odd)").addClass("g-odd");
                        var req_input = $('#id_title, #id_nights, #id_price, #id_description, #id_dates'),
                            inp_lenght = $('#id_title, #id_short'),
                            req_inp_foto = $('input[type="file"]'),
                            submit = $('button:submit');

                        inp_lenght.each(function() {
                            $(this).on('keydown', function(e) {
                                if ( $(this).attr('maxlength') < $(this).val().length ) {
                                    $(this).parents('tr').addClass('errors');
                                } else {
                                    $(this).parents('tr').removeClass('errors');
                                }
                            });
                        });
                        submit.on('click',function(){
                            req_input.each(function(){
                                $(this).val().length == 0 ? $(this).parents('tr').addClass('errors') : $(this).parents('tr').removeClass('errors');
                            });

                            if($('tr.errors').length == 0) {
                                return true;
                            } else {
                                return false;
                            }
                        });
                        req_inp_foto.on('change', function(){
                            $(this).parent().parent().parent().parent().removeClass('errors');
                        })
                    });
                </script>
            </form>
        </article>
    </div>

{% endblock content %}

{% block col1 %}
{% if section.slug %}
<div class="menu-list">
	<ul>
		<li><a href="{% url 'tourism:firm:read' section_slug=section.slug firm_id=firm.pk %}">О компании</a></li>
		{% if tour %}
			<li><a href="{% url 'tourism:firm:add_tour' section_slug=section.slug firm_id=firm.pk %}">Добавить тур</a></li>
		{% else %}
			<li class="selected"><span>Добавить тур</span></li>
		{% endif %}
		<li><a href="{% url 'tourism:firm:edit' section_slug=section.slug firm_id=firm.pk %}">Редактировать</a></li>
	</ul>
</div>
{% endif %}
{% endblock %}

{% block col2 %}

	{# Быстрая навигация #}
    <div class="fast-nav">
        <a href="{% url 'tourism:index' %}">Туризм</a> /
    </div>

<div class="add-tour">

	<h1>{{ title|typograf|safe }}</h1>

	<div class="beige-block">
	    <div class="t">
	        <div class="l"></div>
	        <div class="r"></div>
	    </div>
	    <div class="body">
			<p><a href="/tourism/payment/">Свяжитесь с менеджером</a>, чтобы отметить тур как горящий</p>
		</div>
	    <div class="b">
	        <div class="l"></div>
	        <div class="r"></div>
	    </div>
	</div>
    <div class="form-block">
		<form method="post" enctype="multipart/form-data" id="form-add-tour">{% csrf_token %}
		<table>
			<col width="16%" />
			<col width="84%" />
			{% tr_field form.title 'title' %}
			{% tr_field form.place %}
			{% tr_field form.dates 'dates' %}
			{% tr_field form.nights 'nights' %}
			{% tr_field form.price 'price' %}
			{% tr_field form.short 'short' %}
			{% tr_field form.description %}
			{% if tour.is_hot or hot_tours < 5 and tours_paid %}{% tr_field form.is_hot %}{% endif %}
			<tr>
				<td>Галерея</td>
				<td>{% gallery_form_new galley_form %}</td>
			</tr>
			{% tr_field_file form.file %}
			<tr>
				<td></td>
				<td><button type="submit">Сохранить</button>
				</td>
			</tr>
		</table>
		</form>
	</div>
	<script type="text/javascript">
	$(document).ready(function () {
		$('#form-add-tour').validForm();
	});
	</script>
</div>
{% endblock %}
