{% load staticfiles media_utils str_utils comments_tags thumbnail gallery_tags paginator_utils news_tags date_tags %}
{% for object in objects %}
    <li class="b-content-block">
        <header>
            <h3><a href="{{ object.get_absolute_url }}" title="{{ object.title|typograf:'title'|safe }}">{{ object.title|typograf:'title'|safe }}</a></h3>
            <small class="g-color-gray">{{ object.stamp|dates:'%d.%m|%d.%m.%Y' }}&nbsp;&nbsp;{% comments_cnt object new_layout=True %}</small>
        </header>
        <article>
            {% spaceless %}
                {% if object.image %}
                    {% with object.image as thumb_img %}
                        {% thumbnail thumb_img 800x1000 as thumb %}
                        <figure class="b-photo-big g-bigger">
                            <a href="{{ object.get_absolute_url }}" title="{{ object.title|typograf:'title'|safe }}">
                                <img src="{{ thumb }}" alt="{{ object.caption_short|typograf:'title'|safe }}">
                                {% if object.caption_short %}<figcaption>{{ object.caption_short|typograf:'title'|safe }}</figcaption>{% endif %}
                            </a>
                        </figure>
                    {% endwith %}
                {% endif %}
                {% gallery object.gallery.main_gallery|slice:"1:6" "90x70" max=true crop="90x70" class="b-list-v" url=object %}
            {% endspaceless %}
        </article>
    </li>
{% endfor %}
