{% extends "auth/layout.html" %}

{% load profile_utils staticfiles %}

{% block h1 %}Изменение пароля{% endblock %}
{% block title %}Изменение пароля{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.validate.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $("#auth-form").validate({
                rules: {
                    new_password1: {
                        required: true
                    },
                    new_password2: {
                        required: true,
                        equalTo: "#password"
                    }
                },
                messages: {
                    new_password1: {
                        required: "Введите пароль."
                    },
                    new_password2: {
                        required: "Подтвердите пароль.",
                        equalTo: "Вы указали неправильный пароль. Он должен совпадать с набранным ранее."
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block main_content %}
    <form id="auth-form" method="post" action="">{% csrf_token %}
        <ul class="b-list-v b-auth-form">
            <li>
                <label class="g-column w200" for="password">Новый пароль *</label>
                <input id="password" type="password" name="new_password1" autocomplete="off" class="required">
            </li>
            <li><label class="g-column w200" for="confirm_password">Подтвердите пароль *</label>
                <input id="confirm_password" type="password" name="new_password2" autocomplete="off" class="required">
            </li>
            <li><div class="g-column w200"></div><button type="submit" class="b-button" id="login">Изменить пароль</button></li>
        </ul>
    </form>

    <p>
        Мы рекомендуем вам <a href="{% url 'authentication:register:index' %}">зарегистрироваться</a>.
    </p>
    <p class="g-color-gray">
        Регистрация на сайте позволяет оставлять отзывы к <a href="{% url 'news:index' %}">новостям</a>, задавать вопросы <a href="{% url 'news:experts:index' %}">экспертам</a>, размещать организации в наших <a href="{% url 'map.views.index' %}">каталогах</a>, писать <a href="{% url 'news:flash:index' %}">собственные новости</a>, оформлять подписку на рассылку <a href="{% url 'news:index' %}">новостей</a>, сохранять индивидуальные настройки сайта, голосовать в <a href="{% url 'contests:contests_list' %}">конкурсах</a>, <a href="{% url 'polls:index' %}">опросах</a> и многое другое.
    </p>

{% endblock %}

<form method="post">
    <table class="b-table">
        {{ password_form }}
        <tr>
            <th></th>
            <td>
                <button type="submit" class="b-button">OK</button>
            </td>
        </tr>
    </table>
</form>
