{% extends 'admin/base_site.html' %}

{% load static staticfiles str_utils media_utils %}

{% block extrastyle %}
    {% less '/less/compile/admin/apps/utils.less' media='all' %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jplayer/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apps-js/admin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/owl.carousel.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            var errors_container = $('#try-errors');

            $('.j-sandbox-form').submit(function(event) {
                event.preventDefault();
                var self = $(this);
                var button = self.find('input');
                button.val('Обрабатываем текст…');
                errors_container.html('');
                $.post('{% url 'admin_sandbox' %}', {
                    content: self.find('textarea').val()
                }, function(response) {
                    button.val('Обработать текст →');
                    $('.j-sandbox-result').html(response.content);

                    var errors = response.errors;
                    for (var i=0; i<errors.length; i++) {
                        var e = errors[i];
                        var item = $('<li/>');
                        item.append(e[0] + '&nbsp;');
                        item.append($('<strong/>').text(e[1]));
                        item.append($('<blockquote/>').html(e[2].replace('\n', '<br>').replace(' ', '&nbsp;')));
                        errors_container.append(item);
                    }
                });
            });

            var $owlCarousels = $('.j-owl-carousel');
            $owlCarousels.each(function () {
                var $thisSlider = $(this);
                $thisSlider.owlCarousel({
                    nav: true,
                    navRewind: false,
                    dots: false,
                    navText: ['',''],
                    items: 1
                });

                var $counter = $('<div/>');
                $counter.addClass('owl-counter').text('1 из ' + $('.owl-item', $thisSlider).length);
                $('.owl-nav', $thisSlider).append($counter);

                $thisSlider.on('changed.owl.carousel', function (e) {
                    $counter.text((e.item.index + 1) + ' из ' + e.item.count);
                });
            });

            // инициализация плеера
            $("#j-audio-id-sandbox").jPlayer({
                ready: function () {
                  $(this).jPlayer("setMedia", {
                    mp3: '/static/img/admin/sandbox/winxp.mp3'
                  });
                },
                cssSelectorAncestor: "#jp_container_sandbox",
                swfPath: "/static/js/lib/jplayer",
                supplied: "mp3",
                wmode: "window",
                globalVolume: true,
                verticalVolume: true,
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                remainingDuration: true,
                toggleDuration: true
            });

        });
    </script>
{% endblock %}

{% block content %}
    <h3>Оглавление</h3>
    <ul>
        <li><a href="#decoration">Оформление текста</a></li>
        <li><a href="#links">Ссылки</a></li>
        <li><a href="#images">Изображения и файлы</a></li>
        <li><a href="#video">Видео</a></li>
        <li><a href="#try-n-buy">Экспериментарий</a></li>
    </ul>

    <h2 id="decoration">Оформление текста</h2>
    <table class="b-sandbox-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Пример</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Полужирный текст</td>
                <td>Объем задолженности составляет [b]37[/b] миллионов</td>
                <td>Объем задолженности составляет <strong>37</strong> миллионов</td>
            </tr>
            <tr>
                <td>Курсив</td>
                <td>[i]Евгений Чуйков, начальник технического отдела[/i]:</td>
                <td><em>Евгений Чуйков, начальник технического отдела</em>:</td>
            </tr>
            <tr>
                <td>Подчеркнутый текст</td>
                <td>Выступивший на процессе [u]специалист областной службы[/u] эксплуатации дорог</td>
                <td>Выступивший на процессе <u>специалист областной службы</u> эксплуатации дорог</td>
            </tr>
            <tr>
                <td>Зачеркнутый текст</td>
                <td>Вооруженные грабители ограбили [s]почтовый дилижанс[/s] ювелирный салон</td>
                <td>Вооруженные грабители ограбили <del>почтовый дилижанс</del> ювелирный салон</td>
            </tr>
            <tr>
                <td>Мелкий текст</td>
                <td>Это текст [small]меньшего размера[/small], в сравнении с обычным</td>
                <td>Это текст <small>меньшего размера</small>, в сравнении с обычным</td>
            </tr>
            <tr>
                <td>Надстрочный текст</td>
                <td>Надстрочный текст может использоваться при написании сносок[sup]1[sup]</td>
                <td>Надстрочный текст может использоваться при написании сносок<sup>1</sup></td>
            </tr>
            <tr>
                <td>Подстрочный текст</td>
                <td>H[sub]2[sub]SO[sub]4[sub]</td>
                <td>H<sub>2</sub>SO<sub>4</sub></td>
            </tr>
            <tr>
                <td>Неразрывный пробел</td>
                <td>30[nbsp]мая что-то произошло</td>
                <td>30 мая что-то произошло</td>
            </tr>
            <tr>
                <td>Отдельный блок с цитатой</td>
                <td>[q]Теперь наркозависимого могут отправить на диагностическое обследование[/q]</td>
                <td>
                    <blockquote>Теперь наркозависимого могут отправить на диагностическое обследование</blockquote>
                </td>
            </tr>
            <tr>
                <td>Заголовок 2 уровня</td>
                <td>[h2]Комплексный подход[/h2]</td>
                <td><h2>Комплексный подход</h2></td>
            </tr>
            <tr>
                <td>Заголовок 3 уровня</td>
                <td>[h3]Комплексный подход[/h3]</td>
                <td><h3>Комплексный подход</h3></td>
            </tr>
            <tr>
                <td>Список</td>
                <td>
                    [list]<br/>
                        &nbsp;&nbsp;&nbsp;[*]И раз;<br/>
                        &nbsp;&nbsp;&nbsp;[*]и два;<br/>
                        &nbsp;&nbsp;&nbsp;[*]и три.<br/>
                    [/list]<br/>
                </td>
                <td>
                    <ul>
                        <li>И раз;</li>
                        <li>и два;</li>
                        <li>и три.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Введение для статей</p>
                    <p>Введение вырезается из текста и выводится отдельно в предусмотренном для этого месте страницы</p>
                </td>
                <td>
                    [intro]Из ближнего круга моих знакомых, наверное, каждый попробовал открыть ресторан.[/intro]
                    Открыл-закрыл, выбросил деньги или сумел продать… Когда ко мне приходят за помощью и говорят: у меня
                    есть проект, я сразу осекаю: только не говори мне про ресторан!
                </td>
                <td>Открыл-закрыл, выбросил деньги или сумел продать… Когда ко мне приходят за помощью и говорят: у меня
                    есть проект, я сразу осекаю: только не говори мне про ресторан!</td>
            </tr>
            <tr>
                <td>Карточки без меню</td>
                <td>[cards]<br/>
                    [h2]Это заголовок карточки[/h2]<br/>
                    На Ирк.ру появились карточки как на медузе<br/>
                    [/cards]<br/>
                    [cards]<br/>
                    [h2]Почему нет меню?[/h2]<br/>
                    Потому, что в теге нет индекса<br/>
                    [/cards]<br/>
                </td>
                <td>
                    <img src="{% static 'img/admin/sandbox/example-cards.png' %}" alt="" width="400px">
                </td>
            </tr>
            <tr>
                <td>Спойлер</td>
                <td>
                [spoiler Подробнее о чем-либо]<br/>
                Длинный текст<br/>
                [b]Можно BB коды[/b]<br/>
                [/spoiler]<br/>
                <br/>Можно использовать параметр <b>small</b><br/><br/>
                [spoiler small Подробнее о чем-либо]<br/>
                Длинный текст<br/>
                [/spoiler]<br/>
                </td>
                <td>
                    <img src="{% static 'img/admin/sandbox/example-spoiler-closed.png' %}" alt="" width="200px"><br>
                    <img src="{% static 'img/admin/sandbox/example-spoiler-opened.png' %}" alt="" width="200px">
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="links">Ссылки</h2>
    <table class="b-sandbox-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Пример</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ссылка</td>
                <td>[url http://www.irk.ru/news/]Новости на IRK.ru[/url]</td>
                <td><a href="http://www.irk.ru/news/">Новости на IRK.ru</a></td>
            </tr>
            <tr>
                <td>Ссылка на адрес E-mail</td>
                <td>Напишите нам на [email news@irk.ru]почту[/email]</td>
                <td>Напишите нам на <a href="mailto:news@irk.ru">почту</a></td>
            </tr>
        </tbody>
    </table>

    <h2 id="links">Афиша</h2>
    <table class="b-sandbox-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Пример</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Кнопка "Купить билет"</td>
                <td>
                    <p>
                        <code>[ticket xxx]</code><br>
                        <code>[ticket https://www.irk.ru/afisha/cinema/20200204/48803/]</code>
                    </p>
                    <p>Где xxx - айди события. Можно вставить ссылку целиком.</p>
                </td>
                <td>
                    <img src="{% static 'img/admin/sandbox/example-ticket.png' %}" alt="" width="400px">
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="links">Сноски</h2>
    <table class="b-sandbox-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Пример</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Обычная сноска</td>
                <td>
                    [ref]Джон Барлоу утверждает, что постиндустриальная экономика напрямую копирует устройство жизни.[/ref]
                </td>
                <td>
                    <div class="g-reference">
                        Джон Барлоу утверждает, что постиндустриальная экономика напрямую копирует устройство жизни.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Сноска с указанием источника</td>
                <td>
                    [ref wikipedia]Джон Барлоу утверждает, что постиндустриальная экономика напрямую копирует устройство жизни.[/ref]
                </td>
                <td>
                    <div class="g-reference">
                        Джон Барлоу утверждает, что постиндустриальная экономика напрямую копирует устройство жизни.
                        <span class="g-reference-source">wikipedia</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Сноска с сылкой на источник</td>
                <td>
                    [ref wikipedia http://wikipedia.org]Джон Барлоу утверждает, что постиндустриальная экономика напрямую копирует устройство жизни.[/ref]
                </td>
                <td>
                    <div class="g-reference">
                        Джон Барлоу утверждает, что постиндустриальная экономика напрямую копирует устройство жизни.
                        <a href="http://wikipedia.org" class="g-reference-source">wikipedia</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="images">Изображения и файлы</h2>
    <table class="b-sandbox-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Пример</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Изображение из галереи</td>
                <td>
                    <p>[image 12345]</p>
                    <p>После загрузки изображения в галерею вы получите код для вставки его в текст.</p>
                </td>
                <td>
                    <img src="{% static 'img/admin/sandbox/example-image.jpg' %}" alt="" width="420px" height="280px">
                </td>
            </tr>
            <tr>
                <td>Изображение из галереи с сылкой на 3D тур</td>
                <td>
                    <p>[image 12345 3d_tour=http://example.com/3d_tour]</p>
                    <p>После загрузки изображения в галерею вы получите код для вставки его в текст.</p>
                    <p>Параметр 3d_tour - ссылка на сам 3D тур </p>
                </td>
                <td>
                    <img src="{% static 'img/admin/sandbox/example-image-3d.jpg' %}" alt="" width="420px" height="280px">
                </td>
            </tr>
            <tr>
                <td>Несколько изображений из галереи.</td>
                <td>
                    <p>[images 12345,6789,5647]</p>
                    <p>
                        <b>Важно! Изображения должны быть одной высоты и не менее 620 пикселей в ширину.</b><br>
                        В текст страницы будет вставлен слайдер с указанными изображениями.
                    </p>
                </td>
                <td>
                    <div class="b-sandbox-owl-carousel j-owl-carousel">
                        <figure><img src="{% static 'img/admin/sandbox/example-gallery-1.jpg' %}" width="420px" height="280px"></figure>
                        <figure><img src="{% static 'img/admin/sandbox/example-gallery-2.jpg' %}" width="420px" height="280px"></figure>
                        <figure><img src="{% static 'img/admin/sandbox/example-gallery-3.jpg' %}" width="420px" height="280px"></figure>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Слайдер до-после</td>
                <td>
                    <p>
                        [diff 12345,6789]<br>[vladiff 12345,6789 before="2009" after="2015"]
                    </p>
                    <p>
                        <b>Важно! Изображения должны быть одной высоты и не менее 620 пикселей в ширину.</b><br>
                        В текст страницы будет вставлен слайдер до-после с указанными изображениями.
                    </p>
                </td>
                <td>
                    <div class="juxtapose g-clear-left" data-startingposition="50%" data-showlabels="false"
                         data-showcredits="true" data-animate="true">
                        <img src="https://juxtapose.knightlab.com/static/img/Sochi_11April2005.jpg" data-label="2009"
                             data-credit="Alex Duner/Northwestern Knight Lab"/>
                        <img src="https://juxtapose.knightlab.com/static/img/Sochi_22Nov2013.jpg" data-label="2015"
                             data-credit="Alex Duner/Northwestern Knight Lab"/>
                    </div>
                    <script type="text/javascript" src="{% static 'js/lib/juxtapose.js' %}"></script>
                </td>
            </tr>
            <tr>
                <td>Файл</td>
                <td>
                    <p>[file 123]</p>
                    <p>Внимание, работает только для <a href="http://www.irk.ru/adm/pages/page/">текстовых страниц</a>!</p>
                </td>
                <td>
                    <img src="{% static 'img/admin/sandbox/example-file.jpg' %}" alt="" width="300px" height="200px">
                </td>
            </tr>
            <tr>
                <td>Аудиофайл</td>
                <td>
                    <p>
                        <code>[audio 123]</code><br>
                        <code>[audio img/site/uploads/2018/12/xxx.mp3]</code><br>
                        <code>[audio http://example.com/song.mp3]Анна Суркова и Галина Солонина о сесси ЗС[/audio]</code>
                    </p>
                    <p>Код с идентификатором показывается после  <a href="/adm/uploads/upload/">загрузки файла</a>.</p>
                </td>
                <td>
                    {% spaceless %}
                    <div id="j-audio-id-sandbox" class="j-audio jp-jplayer" data-id="sandbox"></div>
                    <figure id="jp_container_sandbox" class="player jp-audio" role="application" aria-label="media player">
                        <div class="player__controls">
                            <button class="player__button player__button_play jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="player__information">
                            <div class="player__time jp-time-holder">
                                <span class="player__time__current jp-current-time" role="timer" aria-label="time"></span>
                                <span class="player__time__duration jp-duration" role="timer" aria-label="duration"></span>
                            </div>
                            <div class="player__progress jp-progress">
                                <div class="player__progress__line jp-seek-bar">
                                    <div class="player__progress__active jp-play-bar"></div>
                                </div>
                            </div>
                            <figcaption class="player__title">Пример описания аудиозаписи в плеере</figcaption>
                        </div>
                        <div class="player__volume jp-volume-controls">
                            <div class="player__volume__bar jp-volume-bar">
                                <div class="player__volume__active jp-volume-bar-value"></div>
                            </div>
                        </div>
                    </figure>
                    {% endspaceless %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="video">Вставка видео</h2>
    <table class="b-sandbox-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Примеры</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>Для всех видео используется код [video] и ссылка на страницу с видео.</p>
                    <p>Тег будет работать с видео, размещенными на этих сайтах:</p>
                    <ul>
                        <li>YouTube</li>
                        <li>ВКонтакте</li>
                        <li>Vimeo.com</li>
                        <li>Smotri.com</li>
                    </ul>
                </td>
                <td>
                    <p>[video http://www.youtube.com/watch?v=xVXL2Kd5_tM]</p>
                    <p>[video http://vk.com/video194524705_164599841]</p>
                    <p>[video http://vimeo.com/17687260]</p>
                    <p>[video http://smotri.com/video/view/?id=v25948547cd9]</p>
                </td>
                <td>
                    <iframe width="420" height="315" src="//www.youtube.com/embed/xVXL2Kd5_tM?rel=0" frameborder="0" allowfullscreen></iframe>
                </td>
            </tr>

        </tbody>
    </table>

    <h2 id="embed">Вставка виджетов</h2>
    <table class="b-sandbox-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Примеры</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>Для всех виджетов используется bb-код [card] и ссылка на страницу с информацией.</p>
                    <p>Пока тег поддерживает только виджет Твиттера</p>
                </td>
                <td>
                    <p>[card https://twitter.com/tvoyirkutsk/status/559906582885310465]</p>
                </td>
                <td>
                    <blockquote class="twitter-tweet" lang="en"><p>Котиков нельзя обижать <a href="http://t.co/UyPt0iBudA">http://t.co/UyPt0iBudA</a></p>&mdash; Сайт IRK.ru (@tvoyirkutsk) <a href="https://twitter.com/tvoyirkutsk/status/559906582885310465">January 27, 2015</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>

        </tbody>
    </table>

    <h2 id="try-n-buy">Экспериментарий</h2>
    <p>Вы можете попрактиковаться с ББ кодами здесь. Напишите их в текстовое поле ниже и нажмите кнопку:</p>
    <form action="." method="post" class="j-sandbox-form">
        <textarea class="b-sandbox-test"></textarea>
        <p>
            <input type="submit" value="Обработать текст &rarr;"/>
        </p>
    </form>

    <ul id="try-errors"></ul>

    <div id="results" class="b-sandbox-result j-sandbox-result">
        Здесь появится обработанный текст.
    </div>
{% endblock %}
