{% load thumbnail str_utils pytils_dt %}

<figure class="b-announces-carousel-item">
    {% thumbnail event.wide_image 805x380 as thumb %}
    <img class="image" src="{{ thumb }}" alt="{{ event.title }}"
         width="{{ thumb.width }}px" height="{{ thumb.height }}px" />
    <figcaption class="b-announces-carousel-item-info {% if event.title|length > 75 %}long-title{% endif %}">
        <h3>{{ event.title|typograf }}</h3>

        <div class="b-announces-carousel-item-desc">
            <p>{{ event.caption_text|typograf|truncatechars:250 }}</p>
        </div>

        <div class="labels">
            {% if event.schedule.first.date %}
                <time datetime="{{ event.schedule.first.date|ru_strftime:"%Y-%m-%d" }}" class="time g-font-bold">
                    <span class="time__num">
                        {{ event.schedule.first.date|ru_strftime:"%e" }}
                    </span>
                    <span class="g-inline-block">
                        <span class="time__month">
                            {{ event.schedule.first.date|ru_strftime:"%B" }}
                        </span>
                        <span class="time__day">
                            {{ event.schedule.first.date|ru_strftime:"%A"|capfirst }}
                        </span>
                    </span>

                    {% if event.schedule.first.time %}
                        <span class="time__timer">
                            {{ event.schedule.first.time|time:"H:i" }}
                        </span>
                    {% endif %}
                </time>
            {% endif %}

            {% if event.schedule.first.kassy_session %}
                {% include 'afisha/snippets/buy_button.html' with afisha='afisha-button' session=event.schedule.first metrika='afisha_buy_click' %}
            {% else %}
                {% if event.type %}
                    <span class="genre">{{ event.type|lower }}</span>
                {% endif %}
            {% endif %}
            {# <span class="age">18 +</span> #}
        </div>
        <a href="{{ event.get_absolute_url }}" class="g-all-block-link"></a>
    </figcaption>
    <a href="{{ event.get_absolute_url }}" class="g-all-block-link"></a>
</figure>
