{% load thumbnail str_utils utils_tags %}

<figure class="b-announces-carousel-item">
    {% thumbnail material.wide_image 805x380 as thumb %}
    <img class="image" src="{{ thumb }}" title="{{ material.image_label }}"
         alt="{{ material.image_label }}" width="{{ thumb.width }}px" height="{{ thumb.height }}px"/>
    <figcaption class="b-announces-carousel-item-info {% if material.title|length > 75 %}long-title{% endif %}">
        <h3>{{ material.title|typograf }}</h3>

        <div class="b-announces-carousel-item-desc">
            <p>{{ material.caption|typograf|truncatechars:250 }}</p>
        </div>

        <div class="labels labels_pointer-events">
            <span class="genre">
                {% if material.type %}
                    {{ material.type|lower }}
                {% else %}
                    {{ material|verbose_name }}
                {% endif %}
            </span>
        </div>
        <a href="{{ material.get_absolute_url }}" class="g-all-block-link"></a>
    </figcaption>
    <a href="{{ material.get_absolute_url }}" class="g-all-block-link"></a>
</figure>
