{% load staticfiles media_utils options pages field_tags math_utils str_utils thumbnail site_utils adv_tags comments_tags paginator_utils map_tags search_utils phones_tags %}

<!-- Хлебные крошки -->
<div class="b-content-block b-breadcrumbs">
    <nav>
        <ul class="b-list-h">
            <li><a href="{% url 'tourism:index' %}">Туризм</a></li>
            <li>Результат поиска по организациям</li>
        </ul>
    </nav>
</div>
<!-- /Хлебные крошки -->

<section class="b-content-block b-tourism-search-places-block">
    <ul class="b-list-h">
        {% if random_place %}
        <li>
            <div class="b-search-places-block">
                <h3>Места</h3>
                <article>
                    <header class="g-title">
                        <h5>
                            {% thumbnail random_place.gallery.main_image.image 89x100000 as thumb %}
                            <a href="{{ random_place.get_absolute_url }}" title="{{ random_place.gallery.main_image.alt|typograf:"title"|safe }}">
                                {% if thumb %}<img src="{{ thumb }}" alt="{{ random_place.gallery.main_image.alt|typograf:"title"|safe }}" style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;">{% endif %}
                                {{ random_place.title|typograf:'title'|safe }}
                            </a>
                        </h5>
                    </header>
                    {% if random_place.short %}<p>{{ random_place.short|typograf|safe }}</p>{% endif %}
                    <div class="b-search-places-all-block">
                        <a href="{% url 'tourism:search' %}?q={{ q }}&type=place">Все места</a>
                    </div>
                </article>
            </div>
        </li>
        {% endif %}
        {% if random_tour %}
        <li>
            <div class="b-search-tour-block">
                <h3>Туры</h3>
                <article class="b-tourism-company-list">
                    <header class="g-title">
                        <h5>
                            {% thumbnail random_tour.main_gallery.0.image 89x100000 as thumb %}
                            <a href="{{ random_tour.get_absolute_url }}" title="{{ random_tour.gallery.main_image.alt|typograf:"title"|safe }}">
                            {% if thumb %}<img src="{{ thumb }}" alt="{{ random_tour.gallery.main_image.alt|typograf:"title"|safe }}" style="width:{{ thumb.width }}px;height:{{ thumb.height }}px;">{% endif %}
                            {{ random_tour.title|typograf:'title'|safe }}
                            </a>
                        </h5>
                    </header>
                    <p>Стоимость тура: <span class="price">{{ random_tour.price }} руб.</span></p>

                    <div class="b-search-places-all-block"><a href="{% url 'tourism:search' %}?q={{ q }}&type=firm">Все туры</a></div>
                </article>
            </div>
        </li>
        {% endif %}
    </ul>
</section>

<section class="b-content-block b-tourism-company-list">
    <header class='b-content-block'>
        <h1>Организации</h1>
    </header>
    <ol class="b-list-v" start="{{ objects.object_list.start_index }}">
        {% for firm in objects.object_list %}
        <li>
            <section>
                <header>
                    <h5 class="g-title">
                        <a href="{{ firm.get_absolute_url }}" title="{{ firm.name|typograf:'title'|safe }}">
                        {{ firm.name|typograf:'title'|safe }}</a>
                    </h5>
                </header>

                {% for address in firm.address_set.all|slice:"1" %}
                <article class="b-company-info">
                    <div class="b-company-address">
                        {% show_address address 'False' %}
                    </div>
                    {% if address.phones %}
                    <div class="b-company-phones">
                        {{ address.phones|typograf|safe }}
                    </div>
                    {% endif %}
                </article>
                {% endfor %}
            </section>
        </li>
        {% endfor %}
    </ol>
</section>
