<ul class="g-rating-value-group">
    <li>
        <span class="g-left{% if rating_form %} j-obed-vote-kitchen{% endif %}">{{ rating.kitchen|floatformat }}</span>
        <span class="g-right">кухня</span>
        <span class="g-rating-value-group-bar type_{{ type }}">
            <span{% if rating_form %} class="j-obed-vote-progress-kitchen"{% endif %} style="width: {% widthratio rating.kitchen 5 100 %}%;"></span>
        </span>
    </li>
    <li>
        <span class="g-left{% if rating_form %} j-obed-vote-service{% endif %}">{{ rating.service|floatformat }}</span>
        <span class="g-right">сервис</span>
        <span class="g-rating-value-group-bar type_{{ type }}">
            <span{% if rating_form %} class="j-obed-vote-progress-service"{% endif %} style="width: {% widthratio rating.service 5 100 %}%;"></span>
        </span>
    </li>
    <li>
        <span class="g-left{% if rating_form %} j-obed-vote-environment{% endif %}">{{ rating.environment|floatformat }}</span>
        <span class="g-right">интерьер</span>
        <span class="g-rating-value-group-bar type_{{ type }}">
            <span{% if rating_form %} class="j-obed-vote-progress-environment"{% endif %} style="width: {% widthratio rating.environment 5 100 %}%;"></span>
        </span>
    </li>
</ul>
