{% extends "magazine/layout.html" %}

{% block title %}Подписка успешно оформлена | {{ block.super }}{% endblock %}

{% block b-content %}
    <div class="b-content-article-text">
        <h1>Подписка успешно оформлена</h1>

        <p>О выходе нового номера вы узнаете первым,
        а пока можете почитать <a class="g-color-link" href="{% url 'news:index' %}">новости</a> или пройти
        пару <a class="g-color-link" href="{% url 'testing:index' %}">тестов</a>.</p>

        <p><small><a href="{% url 'magazine.views.subscription_unsubscribe' %}?hash={{ hash }}" class="b-submit m-t">Отменить подписку?</a></small></p>
    </div>
{% endblock %}
